[2016-01-07 17:54] VinitSandesara opened #3 "Getting "java.io.IOException: Cannot run program "adb": error=2, No such file or directory""
Hi Sai, Thanks for sharing this awesome parallel execution solution however when i tried to run your project on Mac OS i am getting "java.io.IOException: Cannot run program "adb": error=2, No such file or directory" on "adb" command run thru Java program, can you please provide some solution so i can give it a try and apply this same login in my work project.

Note : When i try to run project thru

[2016-01-08 05:23] saikrishna321 commented on #3
@VinitSandesara to run the tests from eclipse, u need to set the ANDROID_HOME in environment of eclipse. Right Click in Runner.java --> Run Configuration --> Set ANDROID_HOME under environment  please refer the screenshot.

![screen shot 2016-01-08 at 10 53 49 am](https://cloud.githubusercontent.com/assets/4045041/12191064/04580240-b5f6-11e5-8608-bd6145a862ef.png)

[2016-01-12 20:26] VinitSandesara commented on #3
Thanks you so much Sai for your time to replied on my question, Yes, it has resolved the issue.

I tried to execute @test method thru "parallel" and "distribute" both works the way it was implemented however for distribute instead of distributing per class can we distribute per @test method

- Lets say i have 2 class each are having total 6 @test method ( class 1 with 6 @test method and class 2 wi

[2016-01-13 05:02] saikrishna321 commented on #3
@VinitSandesara so what i understand from your above question is you want all the @Test methods from all classes to get distributed across devices ? If Yes, then yeah this feature will be a part of the framework soon.As there is a bug in java_client

Please take a look at this issue link below
https://github.com/appium/java-client/issues/283

Can you please open a new issue with  the above request

[2016-01-13 16:31] VinitSandesara opened #4 "How to distribute all the @Test methods from all classes across all connected devices in parallel ?"
I tried to execute @test method thru "parallel" and "distribute" both works the way it was implemented however for distribute instead of distributing per class can we distribute per @test method

Lets say i have 2 class each are having total 6 @test method ( class 1 with 6 @test method and class 2 with 6 @test method) so total 12 @test method are available to execute on lets say 3 connected androi

[2016-01-13 16:32] VinitSandesara commented on #3
Hi Sai, I have raised new issue with subject "How to distribute all the @Test methods from all classes across all connected devices in parallel ?".

Thanks
Vinit

[2016-01-13 18:13] #3 closed

[2016-01-15 18:25] VinitSandesara opened #5 "Need testcase step logs for manual qa to identify an issue and before reporting it as an issue manually test it in application, also need some modification in report"
Hi Sai, Can you please add below points in your framework

(1) It would be great along with "AppiumServerLogs" and "AdbLogs" if there would be "testCaseStepsLogs" (using log4j logs) for manual QA to identify the issue looking at the testcase steps and before reporting it as an issue they can give it a try using steps log manually in application
           Example :
                    Enter userna

[2016-01-15 18:42] VinitSandesara opened #6 "testcase retry before deciding it's an application issue"
Hi Sai, Can you please add "retry" on test method (max 3 times) before considering it's an actual application issue. What i mean to say is lets say LoginTest has test method "loginWithValidUser()" which started executing and some reason it failed (not due to an application issue) lets say network issue so that's not an application issue in this case it should execute same test  "loginWithValidUser

[2016-01-16 07:39] saikrishna321 commented on #5
@VinitSandesara w.r.t to Log4J you can still implement it from your test run, so that u can specify the test description.

i have made the changes to the report which shows the @Test method name for both pass and failure,

<img width="757" alt="screen shot 2016-01-16 at 1 08 33 pm" src="https://cloud.githubusercontent.com/assets/4045041/12371206/264116b4-bc52-11e5-8a6c-2013f9a01cdb.png">

for your

[2016-01-16 09:19] saikrishna321 commented on #5
@VinitSandesara i have worked on the Adding Logs to the report, take a look at the screen below does this look good ..

<img width="1008" alt="screen shot 2016-01-16 at 2 42 14 pm" src="https://cloud.githubusercontent.com/assets/4045041/12371629/0d9fe4a2-bc5f-11e5-929f-f467996bdeef.png">

[code]

[2016-01-16 09:48] saikrishna321 commented on #6
@jaydeepc @thotegowda do you this should b a part of the framework ?

[2016-01-17 00:35] VinitSandesara commented on #5
Yes Sai, it looks good, Thank you very much for adding these enhancements and release it very soon. For 3rd point mentioned in my question i will soon raise an issue  on extent report repo.

Thanks
Vinit

[2016-01-17 03:21] saikrishna321 commented on #5
No I don't that would work well, may b for u to differentiate u need to prefix the logging with your method name or className. ..

[2016-01-18 05:14] saikrishna321 commented on #5
@VinitSandesara all that u can do is prefix the class/method name to the logger. You would see the logs in sequence. This is should help.

[2016-01-18 15:08] VinitSandesara commented on #5
Thanks Sai, Can you please provide some example so i can try or can you please add in your sample test "https://github.com/saikrishna321/PageObjectPatternAppium". Really need this as my manager really liked this concept that you have provided.

Thanks
Vinit

[2016-01-18 15:08] VinitSandesara commented on #6
Hi Sai, Any updates on this ?

Thanks
Vinit

[2016-01-18 15:09] VinitSandesara commented on #4
Hi Sai, Any updates on this enhancement ? like what is an ETA we should expect.

Thanks
Vinit

[2016-01-18 16:56] saikrishna321 commented on #4
There is bug on java_client Appium end, Appium server deadlocks when we trigger on method level.

 I had raised an issue seems its fixed but I can still reproduce it.

Will be able to get it implemented once that issue is fixed

[2016-01-18 17:44] thote commented on #6
Looks like a good to have feature machha.

[2016-01-19 03:47] saikrishna321 commented on #6
@thote thanks buddy ... @VinitSandesara this will be implemented in the next release

[2016-01-19 03:51] saikrishna321 commented on #5
@VinitSandesara sample code snippet

[code]

![d9d93b76-bc88-11e5-829f-fae0799d36f4](https://cloud.githubusercontent.com/assets/4045041/12409215/04b4608a-be8e-11e5-8f94-ea934d1b5f29.png)

This will be a part of the next release

[2016-01-19 16:10] VinitSandesara commented on #5
Thank you so much Sai, appreciated for your help on this one, So curious to know when will be the next release ? if possible can you please release out this enhancement sooner ?

Thanks
Vinit

[2016-01-19 16:12] VinitSandesara commented on #6
Thanks you so much @thote  and Sai for taking this an an consideration, appreciated guys. Sai what is your plan to release out this new enhancement in new release ?

Thanks
Vinit

[2016-01-19 19:56] VinitSandesara opened #7 "Not able to run project from eclipse even after setting ANDROID_HOME variable in runner.java class"
Hi Sai, Can you please help here, I am trying to make some modification in your sample test for debugging purpose in eclipse but even after setting ANDROID_HOME variable in runner.java class, i am not able to run from eclipse.

In Below screenshot you can see i have added "ANDROID_HOME" variable in runner.java class

![screen shot 2016-01-19 at 1 48 47 pm](https://cloud.githubusercontent.com/asset

[2016-01-20 01:03] saikrishna321 commented on #7
@VinitSandesara  please recheck if you have set the  ANDROID_HOME under Runner.java

[2016-01-20 01:03] saikrishna321 commented on #7
@VinitSandesara you had mentioned under this issue that it was resolved
https://github.com/saikrishna321/AppiumTestDistribution/issues/3

[2016-01-20 01:36] VinitSandesara commented on #7
Yes Sai, i said it resolved in https://github.com/saikrishna321/AppiumTestDistribution/issues/3 but i didn't run in eclipse that day, i tired on terminal only, Actually when i first tried to run project on terminal using maven command it didn't work so i raised an issue and after you have provided me solution i just tried on terminal and didn't try in eclipse. I should have tried in eclipse that d

[2016-01-20 04:43] saikrishna321 commented on #7
@VinitSandesara can u see if the Runner class is set under the Test tab ?

[2016-01-20 15:04] VinitSandesara commented on #7
Yes Sai, my runner class is set under the Test tab, you can see it in below screenshot.

![screen shot 2016-01-20 at 9 01 26 am](https://cloud.githubusercontent.com/assets/12589206/12452526/8db04b4e-bf54-11e5-8daf-048c0a15d8f3.png)

Does it allow you to run this sample project from eclipse at your end ? If so why am i not able to run from eclipse and you do even though having same configuration ?

[2016-01-20 17:05] VinitSandesara commented on #7
Hi Sai, I have fixed the issue setting environment variable "PATH" under configuration tab, along with ANDROID_HOME variable PATH variable also needed to set.

![screen shot 2016-01-20 at 10 59 53 am](https://cloud.githubusercontent.com/assets/12589206/12456474/a0040590-bf65-11e5-9528-d246cbee4f15.png)

Thanks
Vinit

[2016-01-20 17:13] saikrishna321 commented on #7
@VinitSandesara Awesome..

[2016-01-20 17:13] #7 closed

[2016-01-20 17:50] VinitSandesara commented on #5
Hi Sai, Can you please give ETA for this release ? eagerly waiting for this release.

Thanks
Vinit

[2016-01-20 17:50] VinitSandesara commented on #6
Hi Sai, Can you please give ETA for this release ? eagerly waiting for this release.

Thanks
Vinit

[2016-01-21 09:51] saikrishna321 commented on #5
@VinitSandesara i have pre-release 3.0.4 version ... You can log the output to the report by

[code]

Which ever class you're using the above code snippet, the report will hold the respective  ClassName and MethodName

[2016-01-21 10:20] rajendraalagundi opened #8 "How to enable Extent reporting"
HI Sai,

I was able to run the tests in parallel on two emulators but I donot see any report generated.
How to enable reporting?

Also if I run the tests in distributed mode the tests are running on only one device.Is there any thing I missed.

Thanks,
Rajendra

[2016-01-21 10:57] saikrishna321 commented on #8
@rajendraalagundi
you should see the reports under target folder by default.

[2016-01-22 11:49] saikrishna321 commented on #6
@VinitSandesara I have the implementation, please check the below code

https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/test/java/com/test/site/HomePageTest3.java#L14-L15

Does this look good ?

[2016-01-24 20:21] VinitSandesara commented on #6
Hi Sai, I have tried Retry in my test same way you have explained above in your reply but what i have noticed is with Retry ExtentReport is generating with 0 bytes (Blank report), when i try without Retry it is generating as expected. PFB screenshot

(1) @Test with Retry which generate ExtentReport blank (0 Bytes) hightailed in red

![screen shot 2016-01-24 at 2 14 43 pm](https://cloud.githubuserc

[2016-01-24 22:09] VinitSandesara commented on #6
Hi Sai, Thank you so much for implementing this enhancement however what i have noticed is report is not clear (easy to understand) with Retry implementation, can the report with Retry be enhanced (implement) like below for end user like Manual QA, Management can easily understand ? I didn't mean to say to implement same way described in below screenshot but this is well organized way to present t

[2016-01-24 22:36] VinitSandesara commented on #5
Hi Sai, This still doesn't looks good, all the test suite test cases are at one common place from where it can be access, lets say i have 20 Test Suite which are having total 400 test cases and i wanna search for 250 test case logs for which i have to start from Top to bottom or i can search by that test case name but how about instead of this if we can generate and attach "Step Logs(using log4j"

[2016-01-25 05:09] saikrishna321 commented on #6
@VinitSandesara this looks really good.. But you need to raise this on the extent report end.

[2016-01-25 05:09] #6 closed

[2016-01-25 08:00] saikrishna321 commented on #5
@VinitSandesara

The best you can do is

[code]

This will log the steps above the specific method .

![screen shot 2016-01-25 at 1 32 23 pm](https://cloud.githubusercontent.com/assets/4045041/12545372/981ff34c-c367-11e5-961d-b4d8fd23f807.png)

[2016-01-26 18:27] VinitSandesara commented on #4
Hi Sai, Any updates on this ?  any ETA from java_client side to fix the bug and release it out ?

Thanks
Vinit

[2016-01-26 21:23] VinitSandesara opened #9 "Regarding extentReport in your awesome framework"
Hi Sai, extentReport Api has already parent child relationship between test suite and test cases, can you please add this enhancement in your framework like below i have shown in diagram. One of the sample provided by Anshoo (extentReport Dev) which has this parent child relationship. Your framework is really helping out if the report can be improved it will be like your feeding the needy people.

[2016-01-26 21:29] VinitSandesara commented on #5
Hi Sai, Yes this is working as expected the soltuion you have provided however in my requirement it does't looks good, as per my requirement i need to generate step logs (using log4j) and attach them in each test case. Can you please provide the solution on this ?

How can i generate Step logs of every test cases i have in my test suite and attach them in report like you have done for "Appium logs

[2016-02-04 17:46] VinitSandesara commented on #4
Hi Sai, Any updates on this ?

Thanks
Vinit

[2016-02-08 01:49] VinitSandesara opened #10 "Switching from Native to WebView, test hangs and logcat should not be captured when tests in switched to chromedriver"
Hi Sai, After upgrading framework i am seeing an issue in extentReport, PFB screenshot with comment added in. I have added Retry with Test method which is causing below issue, if i remove Retry and run i don't see an issue.

![screen shot 2016-02-07 at 7 40 05 pm](https://cloud.githubusercontent.com/assets/12589206/12877132/df36a44e-cdd3-11e5-9f56-ae51b10f3ef9.png)

![screen shot 2016-02-07 at 7 4

[2016-02-08 02:36] saikrishna321 commented on #10
Did u build project locally or using dependency v3.0.4 ?

[2016-02-08 04:00] VinitSandesara commented on #10
i build project locally ? i copied "src/main/java" in my project and also your pom.xml.

Thanks
Vinit

[2016-02-08 06:27] jaydeepc commented on #10
@VinitSandesara can you please share a  sample project were ur facing this issue ? I'm unable to reproduce ..

[2016-02-08 10:58] saikrishna321 commented on #10
@VinitSandesara i have new version, can you  please try with this

https://github.com/saikrishna321/PageObjectPatternAppium/blob/master/pom.xml

https://github.com/saikrishna321/PageObjectPatternAppium/blob/master/src/test/java/com/appium/tests/LoginTest.java#L29

[2016-02-08 20:38] VinitSandesara commented on #10
HI Sai, When i try with "https://github.com/saikrishna321/PageObjectPatternAppium.git"  it works fine but lets say if one of the class test gets stuck it mess up the report (in this case it combines the class which test stucked into another class).

Also, when i copy "src/main/java" from "https://github.com/saikrishna321/AppiumTestDistribution.git" in my project i am getting below error msg at the

[2016-02-08 23:48] saikrishna321 commented on #10
What you mean by test got stuck ? And can u provide sample  project so that I could reproduce this issue ...

[2016-02-09 00:05] VinitSandesara commented on #10
Hi Sai, Please find below sample project i am working on (it's a zip folder). You might need to make some changes in config.properties file. About Test got stuck : i meant to say is that when you 2 class, Runner = distribute, 2 android devices connected, it will distribute both classes on each device, now lets say one of the class (xyz.java) has 2 test method among 1st Test method started executin

[2016-02-09 01:03] VinitSandesara commented on #10
Hi Sai, Thanks for your quick reply, I have resolved above error by upgrading “com.relevantcodes” jar file from 2.40 to 2.40.1 in pom.xml which has resolved the issue however i am still not getting expected result in extentReport.

About Test got stuck in my previous msg was : Please find below sample project i am working on, if you run this project thru mvn command on terminal, you will notice Lo

[2016-02-09 16:20] saikrishna321 commented on #10
@VinitSandesara i tried with the sample project and i didn't notice any test hang nor any issues with the report.

<img width="1440" alt="screen shot 2016-02-09 at 9 52 54 pm" src="https://cloud.githubusercontent.com/assets/4045041/12922342/0ba2f416-cf77-11e5-9976-29d49be79b0c.png">

<img width="1440" alt="screen shot 2016-02-09 at 9 53 03 pm" src="https://cloud.githubusercontent.com/assets/404504

[2016-02-09 21:19] VinitSandesara commented on #10
Hi Sai, It is still not working, Here i am attaching same project after some modification please find below in which for LoginTest.Java - test method "loginWithInValidUser" - i have added "validateErrorMessage" if you go to that method, you will notice i have intentionally made "Element not found" to replicate an issue. So now if you run this project using mvn on terminal you will see the issue in

[2016-02-10 05:09] saikrishna321 commented on #10
@VinitSandesara i was able to reproduce the issue. From the appium server logs i see ChromeDriver quitting

[code]

And i potentially see a bug as well in the way once we switch to webView, will debug this.

Can you please try your code without the parallel code just on a single device n see if it works fine?

[2016-02-10 05:28] saikrishna321 commented on #10
@VinitSandesara would b good if you can come on gitter chat

https://gitter.im/saikrishna321/AppiumTestDistribution?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2016-02-10 05:29] saikrishna321 commented on #8
Not active, closing the ticket

[2016-02-10 05:29] #8 closed

[2016-02-11 00:11] VinitSandesara commented on #10
Hi Sai, thank you so much for sharing me gitter chat access. I have joined the group. About this bug how long it will take you fix it and release it ? also as i have mentioned in my last message that after upgrading extentReport dependency in pom.xml from 2.40 to 2.40.1 i am NOT able to run the project from eclipse thru testing.xml, have you also came across this issue ? if i keep 2.40 i am gettin

[2016-02-15 04:34] VinitSandesara opened #11 "extentReport with parent child test which can expand and collapse"
Hi Sai, Can you please make changes in framework to give extentReport better look.

This is the current look

![screen shot 2016-02-14 at 10 26 38 pm](https://cloud.githubusercontent.com/assets/12589206/13039910/23d70c0a-d36b-11e5-9692-678457a20a1f.png)

Can you please replace it with below look, here you can expand and collapse retry test in class which looks good compare to above.

![screen shot

[2016-02-15 07:26] jimmy9gag opened #12 "Parallel testing support for iOS"
hey, thanks for the cool framework.

i just noticed that in AppiumParallelTest class, when the property for "APP_TYPE" is native, it sets a capabilities to android.

Are there any ways to parellely distribute iOS testings also? or do i have to manually set an ios setup like one in your sample?

thanks!

[2016-02-15 07:45] saikrishna321 commented on #12
@jimmy9gag Thanks for trying out the AppiumTestDistribution :)  i'm working on getting Parallel Run for iOS devices. Will keep you posted once i have a stable test framework.

[2016-02-15 07:48] saikrishna321 commented on #11
@VinitSandesara can  please send a pull request let me take a look at this

[2016-02-15 07:53] jimmy9gag commented on #12
Sure! Once again, thanks for the great framework!

will be waiting for the updates!

[2016-02-15 11:35] saikrishna321 commented on #10
@VinitSandesara w.r.t to FreeMarker template its a Bug with Extent reports

https://github.com/anshooarora/extentreports/issues/310

[2016-02-15 20:25] VinitSandesara commented on #12
I am also eagerly waiting on this. Hope it comes out soon to us.

Thanks
Vinit

[2016-02-15 22:08] VinitSandesara commented on #11
Hi Sai, I didn't make any modification in your existing framework but what i have done is created sample project PFB attached if you run it you will see it generates extentReport with parent child test. If you can please take this as an enhancement and add it in your framework.

[extent_reports.zip](https://github.com/saikrishna321/AppiumTestDistribution/files/131500/extent_reports.zip)

Thanks
Vi

[2016-02-16 08:49] saikrishna321 commented on #12
@jimmy9gag Some updates, we were able to  run Parallel iOS test on real devices without any issues, right now the tests are running in distributed way. Looking to see how it can be handle to run tests concurrently.

You can find the code at (branch:parallel_ios) :+1:

Thanks to @SrinivasanTarget(https://github.com/SrinivasanTarget) for helping me debug the tests.

[2016-02-16 15:51] VinitSandesara commented on #12
Sai, Is this new update available in  AppiumTestDistribution ? i am not able to find parallel_ios in this branch.

Thanks
Vinit

[2016-02-16 16:19] VinitSandesara commented on #11
Hi Sai, Any update on this ?

Thanks
Vinit

[2016-02-16 16:27] saikrishna321 commented on #12
@VinitSandesara its still not merged with master, its on another branch
https://github.com/saikrishna321/AppiumTestDistribution/tree/parallel_ios

[2016-02-16 17:35] VinitSandesara commented on #12
Thanks Sai.

[2016-02-16 18:12] VinitSandesara commented on #9
Hi Sai, Since you have started working on rewriting framework, can you please add this as an enhancement in report. To the end user this looks better, when you expand the test it will have Step log attached (using log4j), screenshot attached so end user can easily track the issue.

Thanks
Vinit

[2016-02-17 01:23] jimmy9gag commented on #12
@saikrishna321 AWESOME! i'll check it out today!

great work!

[2016-02-17 04:59] saikrishna321 opened #14 "Remove allocating device with respect to Thread Name"
@thotegowda @SrinivasanTarget  currently we are retrieving the device UDID from the arraylist w.r.t to the ThreadName, this fails when we have parallel test for iOS as TestNG is just sending the ThreadName as "TestNG"

[2016-02-17 16:16] divyanshugarg commented on #12
@saikrishna
When you are talking about parallel test on iOS real devices, then these
devices are connected to same Mac machine or different.
As per I know, on single Mac machine, even we connect multiple devices but
we can execute test only one of them at a time due to limitation of
instrumentation.
Correct my understanding, if i am wrong somewhere or aware of latest change.
On 17-Feb-2016 6:53 am

[2016-02-17 17:33] saikrishna321 commented on #12
@divyanshugarg - One or more iOS devices are connected to the same mac machine and it works across devices. Tested on 3 devices and it works fine.

As  of Xcode 6.3.2, multiple instruments sessions can be started from a single host

[2016-02-17 18:13] VinitSandesara commented on #12
https://github.com/divyanshugarg FYI runmode using distribute way it is working as expected, Sai is working on to make it happen for parallel as well. Let's hope he release it out soon to us.

Thanks
Vinit

[2016-02-18 04:48] divyanshugarg commented on #12
@saikrishna - Thanks for the update. To achieve the same, I just need to
start Appium server on different ports with different UDID or anything else
also require (may be at xocde/instruments side)?

On Wed, Feb 17, 2016 at 11:03 PM, Sai Krishna <notifications@github.com>
wrote:

[2016-02-18 06:11] saikrishna321 commented on #12
@divyanshugarg

appium --session-override -p 62488 -bp 56556 --tmp /tmp/ios6s/
appium --session-override -p 62775 -bp 55942 --tmp /tmp/ios5s/

you need to specify a different tmp path ...

[2016-02-18 18:21] VinitSandesara opened #15 "Getting some unknown error and execution gets stuck on it, doesn't move further (Branch :parallel_ios)"
Hi Sai, i am getting below error highlighted in red in below screenshot, what happens is after it uninstall apps using "deleteAppIOS("");" and come back to @BeforeMethod where it fails on "driver = startAppiumServerInParallel(name.getName());", FYI i tried using distribute way.

![screen shot 2016-02-18 at 12 15 57 pm](https://cloud.githubusercontent.com/assets/12589206/13153478/f48c3fa2-d639-11e5

[2016-02-19 00:10] #15 closed

[2016-02-19 02:59] VinitSandesara opened #16 "Getting some unknown error and execution gets stuck on it, doesn't move further (Branch :parallel_ios)"
Hi Sai, I am using your framework (branch:parallel_os) with sample iOS apps "UICatalog.app" but even with this sample apps i am getting same error that i get with our company apps. can you please help

![screen shot 2016-02-18 at 9 02 17 pm](https://cloud.githubusercontent.com/assets/12589206/13165428/2b7e420a-d683-11e5-8bbf-115a9068d675.png)

Thanks
Vinit

[2016-02-19 04:52] VinitSandesara commented on #16
Sai, PFB attached project in which i have used sample iOS apps UICatalog.app, if you run this in eclipse you will notice above mentioned error once you are on @Beforemethod 2nd time.

[AppiumTestDistribution-parallel_ios.zip](https://github.com/saikrishna321/AppiumTestDistribution/files/137431/AppiumTestDistribution-parallel_ios.zip)

Thanks.
Vinit

[2016-03-02 18:31] saikrishna321 commented on #12
@VinitSandesara @jimmy9gag i have merged iOS parallel to master .. can u give it a try with your test

[2016-03-02 18:32] saikrishna321 commented on #16
@VinitSandesara can you please try with the latest version and test it ..

[2016-03-02 18:39] #10 closed

[2016-03-04 02:06] jimmy9gag commented on #12
@saikrishna321 ahh, thanks for the update. I currently paused in using Appium for iOS due to the low performances in pages with complex UI architecture, so we moved on to using the native-automator, XCUITest. We'll prob pick up Appium back when its around 1.6 version (if they implement the xcui-driver). I'll still check it out for my personal projects and give you feedbacks when i get some time!!

[2016-03-04 08:03] #12 closed

[2016-03-05 04:20] #16 closed

[2016-03-08 02:36] VinitSandesara opened #19 "Need to add listener in testing.xml programmatically, like com.test.ios classes are getting added in testing.xml"
Hi Sai, we need to handle multiple failure and for that we have implemented listener extending IInvokedMethodListener interface and implementing afterInvocation method.

so when we run the project thru maven it creates the testng.xml programmatically but it doesn’t add the listener in it

so if it doesn’t add the listener in testng.xml how implemented listner will invoked.

[2016-03-08 08:25] saikrishna321 commented on #19
3c2d219

You can add all yours listeners in the config.properties as below

[code]

Your testng.xml will look as below

[code]

[2016-03-08 10:20] jimmy9gag opened #20 "Parallel Testing support for CI"
Hey @saikrishna321, I'm currently looking into your framework and trying to find a way to integrate the parallel testing for Android with the CI to increase the efficiently in delivery pipeline of the product. Or i'm even thinking of running a local server in the office to make this happen.

Before i start going through the framework, i just wanted to check if you have any ideas or implementations

[2016-03-08 10:31] jimmy9gag commented on #20
I am thinking of simply adding one line in the config.properties file to write the IP address of the host server, and one more line for a flag to turn on and off the REMOTE_TESTING_MODE. And just before the AppiumParallelTest is initialized (before it calls 'adb' to get the device IDs), open a simple web socket server that waits for a trigger. And then after the test run is finished in the CI or t

[2016-03-08 13:36] saikrishna321 commented on #20
@jimmy9gag i don't really see any changes required when running your tests on CI pipeline as all the android devices will be hooked to the slave and the slave will trigger the test across the devices.

I didn't get your second comment about web socket server ? Can you pls elaborate on that

[2016-03-08 16:10] VinitSandesara commented on #19
Thanks much Sai, i will give it a try and will close after that.

Thanks
Vinit

[2016-03-08 17:08] VinitSandesara commented on #19
Yes Sai, it is working as expected i have confirmed the changes, Again thank you so much for your help on this. Closing the issue as it is resolved now.

Thanks
Vinit

[2016-03-08 17:08] #19 closed

[2016-03-09 01:33] jimmy9gag commented on #20
@saikrishna321 Oh, sorry for being unclear. The ultimate goal that i want to do is to make the test run on both local and remote servers. But after reading what you said, I guess i don't have to change anything!

Can you please elaborate more on how to setup the "hooked to the slave and the slave will trigger the test"? The slave would be the macbook i use currently, so my question is how would i

[2016-03-09 02:12] jimmy9gag commented on #20
So for example, xCode has a xCode server that could be integrated with the repositories. So whenever a teammate makes some changes to the iOS app and makes a commit to the master branch, it triggers a tests in the xCode Server. So what I'm trying to do is same with Android.

I know there are few discussions in the appium discussion about Appium Remote Server. Just run the appium server, and put th

[2016-03-09 09:07] saikrishna321 commented on #14
Implemented with v4.0

[2016-03-09 09:07] #14 closed

[2016-03-13 04:34] VinitSandesara opened #22 "All test methods under class in report doesn't look good, need something like when you click on test method it expand and collapse"
Hi Sai, Can you please make the modification in your framework for the extentReport, rightnow in report when you click on Class name it shows all the Test method in one go (including pass, fail, appium log, failure reason, and screenshot).

In below Screenshot you can see Class which ran on device which has been assigned under the device category as expected and looks good

![screen shot 2016-03-1

[2016-03-13 06:14] saikrishna321 commented on #22
Looks good :-) Pull request is most welcome for this :-)

[2016-03-15 16:49] saikrishna321 opened #23 "Add Device Art for screenshot captured"

[2016-03-16 08:13] saikrishna321 commented on #22
@VinitSandesara i have implemented this  please take a look 430668c635d882b1ba1cfe88057ece490cd23d54

![screen shot 2016-03-16 at 1 07 53 pm](https://cloud.githubusercontent.com/assets/4045041/13805738/1096fc84-eb7d-11e5-8d11-d5cb99c69a08.png)

<img width="1435" alt="screen shot 2016-03-16 at 5 58 23 am" src="https://cloud.githubusercontent.com/assets/4045041/13805741/142a6e1c-eb7d-11e5-804d-10005

[2016-03-16 08:21] #22 closed

[2016-03-16 08:21] saikrishna321 commented on #11
https://github.com/saikrishna321/AppiumTestDistribution/commit/430668c635d882b1ba1cfe88057ece490cd23d54

[2016-03-16 08:21] #11 closed

[2016-03-16 20:36] VinitSandesara commented on #22
Hi Sai, First of all Thank you so much for your valuable time to make this enhancement in framework, i have tested it and it is working like a charm however i have noticed with Retry it is not grouping in same test method, PFB screenshot in which you can see there are 2 methods among one pass and one failed, failed one has Retry on it "InvalidSearchKeyword" which is not grouping in "InvalidSearchK

[2016-03-16 20:42] VinitSandesara opened #24 "Parent child relationship is NOT getting maintained when there is a Retry with Test method"
Hi Sai, This issue is similar to "https://github.com/saikrishna321/AppiumTestDistribution/issues/22" (Thank you so much for the enhancement you have made for this issue) but instead of reopening closed issue i have created new one,

i have noticed with Retry it is not grouping in same test method, PFB screenshot in which you can see there are 2 methods among one pass and one failed, failed one has

[2016-03-17 00:21] saikrishna321 commented on #24
@VinitSandesara its of different state skip/ fail and at the same time, number of retry count should hold number of child objects ..... so we cant put skip and fail into the same child node.

[2016-03-17 00:21] #24 closed

[2016-03-18 11:54] saikrishna321 opened #26 "Run both android and iOS tests concurrently"
Should be able to run both ios and android tests at the same time in single mac OSX host

Support for Android and iOS native hybrid and android - web

[2016-03-18 11:55] saikrishna321 commented on #26
@SrinivasanTarget

[2016-03-18 12:54] SrinivasanTarget commented on #26
:+1:

[2016-03-18 17:32] saikrishna321 commented on #23
added support for nexus5,nexus5x,nexus6,nexus6p and htconeM8 . Samsung device frames pending

![testmethod1_framed](https://cloud.githubusercontent.com/assets/4045041/13886571/7e04cab2-ed5d-11e5-92cb-19ba1307cd71.png)

![testmethod4_framed](https://cloud.githubusercontent.com/assets/4045041/13886579/87cf69bc-ed5d-11e5-8269-ba552a17b5fb.png)

[2016-03-19 04:35] #9 closed

[2016-03-20 12:34] saikrishna321 opened #28 "Device frames not getting generated when deviceSerial holds slash"

[2016-03-20 14:53] #28 closed

[2016-03-21 08:11] saikrishna321 opened #29 "Device frame for iOS"

[2016-03-21 08:58] saikrishna321 opened #30 "Create a Ignore annotation with value android and iOS"
When running in parallel/distributed mode concurrently for both android and iOS at the same time, if a specific Test needs to be ignored for android/iOS

[code]

@SrinivasanTarget @jaydeepc thoughts?

[2016-03-21 20:24] VinitSandesara opened #32 "Getting an error while switching context from Native to WebView"
Hi Sai, Recently we got new feature added in existing apps which has some webView, while switching context from Native to Webview i am seeing below highlighted error in red, can you please help here, we have deadline to complete implementing this feature by this week Wen.

![screen shot 2016-03-21 at 3 19 11 pm](https://cloud.githubusercontent.com/assets/12589206/13932984/de0d4138-ef78-11e5-931e-4

[2016-03-22 00:43] saikrishna321 commented on #32
@VinitSandesara this is something to do on the appium end and not anything on parallel execution stuff

[2016-03-22 00:43] #32 closed

[2016-03-23 09:50] saikrishna321 commented on #30
@SrinivasanTarget can you pls test this on IOS tests ?

[2016-03-23 11:11] SrinivasanTarget commented on #30
Sure

[2016-03-26 07:31] saikrishna321 commented on #30
[code]

[2016-03-26 07:31] #30 closed

[2016-03-26 07:34] #26 closed

[2016-03-26 07:57] #29 closed

[2016-03-26 15:41] #5 closed

[2016-03-27 23:12] VinitSandesara opened #37 "iOS hybrid apps web element doesn't trigger once switched from Native to Webview using webkit proxy server"
Hi Sai, It's been last 2 days i have been trying to find out the root cause of why am i not able to click, send keys etc of web element once switched from Native to web view and i noticed that something that you need to modify in your framework for hybrid iOS apps web part to work.

When i commented out iOS Webkit proxy part from framework and manually started iOS wekitkit proxy server using below

[2016-03-28 05:39] saikrishna321 commented on #37
Can u pls post the server logs ?

[2016-03-28 05:39] saikrishna321 commented on #37
Can u pls post the server logs ?

[2016-03-28 18:10] VinitSandesara commented on #37
Sai, There are multiple issues i have found with this iOS webkit proxy server with any port assigned, Please find them all below with logs and screenshot.

(1) Issue 1 :

- Execution is getting stuck and taking forever until it manually killed on "  driver.context(contextName);" once it found web view and going to switch the context from native to web view

Appium server log :
[Issue1.txt](https:/

[2016-03-31 17:56] SrinivasanTarget commented on #37
https://github.com/saikrishna321/AppiumTestDistribution/pull/38

[2016-04-02 02:07] VinitSandesara commented on #37
@SrinivasanTarget , @saikrishna321 , This change is still not working, PFB complete debug logs

[1fb95ac900359617add8ffbb41dfdba33668e2a9__cartPageTest.txt](https://github.com/saikrishna321/AppiumTestDistribution/files/200637/1fb95ac900359617add8ffbb41dfdba33668e2a9__cartPageTest.txt)

by looking a the above debug logs you must be thinking that page for which i am trying to switch the context is n

[2016-04-02 09:14] saikrishna321 opened #40 "Create loggers for debugging issues"

[2016-04-02 19:08] saikrishna321 opened #42 "ios-webkit-proxy not getting killed after test completion"

[2016-04-02 20:14] VinitSandesara commented on #37
Sai, i tried with the version "4.0.1" but getting same error.

PFB server debug logs in gist

https://gist.github.com/anonymous/bb6e1192bca46bf60c956d25baf2a481

PFB server debug logs in gist of one of my sample test which is working as expected, switching the context to webview from native.

https://gist.github.com/anonymous/303aa27d20576e7ce75391a517c4f58d

Thanks
Vinit

[2016-04-03 05:50] saikrishna321 commented on #37
Please check if ios_webkit_proxy gets triggered when running yours tests

[2016-04-03 07:27] VinitSandesara opened #43 "While switching the context to webview from native, execution at some line taking forever until it manually killed"
Sai, There are multiple issues i have found with this iOS webkit proxy server with any port assigned, Please find them all below with logs and screenshot.

(1) Issue 1 :

- Execution is getting stuck and taking forever until it manually killed on "  driver.context(contextName);" once it found web view and going to switch the context from native to web view

Appium server log :
[Issue1.txt](https:/

[2016-04-03 07:45] VinitSandesara commented on #43
Closing the issue as it is webkit issue and raised against to it

https://github.com/appium/appium/issues/6334

Thanks
Vinit

[2016-04-03 07:45] #43 closed

[2016-04-03 07:46] VinitSandesara commented on #37
Yes Sai it was not getting triggered so i built appium from source and it worked but some webkit issue is still there for which i have raised an issue against it to fix.

https://github.com/appium/appium/issues/6334

Thanks
Vinit

[2016-04-03 07:46] #37 closed

[2016-04-03 10:47] saikrishna321 commented on #42
@SrinivasanTarget fixed it : 81acd91bfb92bc11fb106ce85b1b9ac93ad174f0

can you please test it once n close this

[2016-04-05 04:27] saikrishna321 opened #44 "iPhone 6 device frame not aligned to centre"
![failed_gotostorefinderpage_from_homepage_framed](https://cloud.githubusercontent.com/assets/4045041/14271256/b5bd5536-fb14-11e5-9fb5-532cede73026.png)

[2016-04-05 04:38] saikrishna321 commented on #44
@VinitSandesara i have it fixed here
https://github.com/saikrishna321/DeviceFrames/commit/00c880d1adffaa51e14cc21817a98c374f0defb7

![framed6sears](https://cloud.githubusercontent.com/assets/4045041/14271392/4557b078-fb16-11e5-86b3-608131fa2d28.png)

[2016-04-05 04:38] #44 closed

[2016-04-06 03:28] VinitSandesara opened #45 "iOS apps which left open in device due to some reason does NOT relaunch once killed on next execution"
Hi Sai, iOS apps which left open in device due to some reason doesn't relaunch once killed on next execution, can you please check and make the modification in script so it first check if the apps is open before relaunching killed it first.

Thanks
Vinit

[2016-04-06 04:47] saikrishna321 commented on #45
@VinitSandesara can you please post logs and the BaseTest

[2016-04-06 16:06] VinitSandesara commented on #45
Nevermind Sai, it is working now.

Thanks
Vinit

[2016-04-06 16:07] #45 closed

[2016-04-06 16:11] VinitSandesara opened #46 "Enhancement : Can you please implement "ExtentX" in framework to track an extentReport from ExtentX dashboard"
Hi Sai, There is good feature from Anshoo "ExtentX" if we an utilize that in framework, thru this we can track each extentReport from ExtentX dashboard, it's cool feature to consider.

PFB link of ExtentX demo which is there in http://extentreports.relevantcodes.com/

Demo: http://extentx.herokuapp.com/

Thanks
Vinit

[2016-04-06 18:03] saikrishna321 commented on #42
Works fine with commit 81acd91

[2016-04-06 18:03] #42 closed

[2016-04-09 18:22] VinitSandesara commented on #46
Sai, Can you please give your thought on this

Thanks
Vinit

[2016-04-11 02:50] jimmy9gag commented on #20
got it working! 👍

[2016-04-11 02:50] #20 closed

[2016-04-15 18:35] VinitSandesara opened #49 "When there are 2 or more failure screenshot generates, device frame takes only one and append in all frames"
Sai, there is a device frame issue that we came to know today, when there are 2 or more failure, it takes only one screenshot and append in all frame, PFB zip where you can see i have 2 failures but both frames took only one screenshot and appended in both.

[1fb95ac900359617add8ffbb41dfdba33668e2a9.zip](https://github.com/saikrishna321/AppiumTestDistribution/files/221542/1fb95ac900359617add8ffbb4

[2016-04-17 17:06] #49 closed

[2016-04-17 18:45] VinitSandesara commented on #49
Changes working as expected.

Thanks
Vinit

[2016-04-19 07:00] saikrishna321 opened #50 "Dont' check for iOS device when running on Windows/Linux"

[2016-04-19 09:15] #50 closed

[2016-04-19 13:27] #46 closed

[2016-04-19 13:28] saikrishna321 commented on #46
@VinitSandesara http://extentreports.relevantcodes.com/extentx/ please follow the setup

[2016-04-19 13:29] saikrishna321 opened #51 "ScreenPath is broken when running the extentX dashboard"

[2016-04-20 08:29] ansonliao opened #53 "[Suggestion] Add test step in ExtentReports"
Dear sir,
Thanks provide such wonderful integration tools and shared it.

In my integration roadmap of Appium, I also use TestNG, ExtentReport, also image tool SikuliX, and YAML to manage the page object (reduce the hard code in test script).

I would like to know, whether you can add test step information into ExtentReports, not just `@BeforeClass`, `@BeforeMethod`, `@AfterMethod`, `@AfterClass`

[2016-04-20 10:11] saikrishna321 commented on #53
@ansonliao sorry, i completely couldn't get what you asking for. What i understand is that you want to add loggers to the step name as part of the method as below

![screen shot 2016-04-20 at 3 41 23 pm](https://cloud.githubusercontent.com/assets/4045041/14671203/3f30b8a8-070e-11e6-9c5d-9de93167f9eb.png)

Your test would look like
[code]

[2016-04-21 04:11] qileilove opened #55 "Run the PageObjectPatternAppium demo issue"
hi saikrishna, when i use the demo for PatternAppium, i get some issue,i don't know why. can you give me some help on it?

[code]

[2016-04-21 06:19] qileilove commented on #55
ok, it works now. I used the wrong configuration file.  but still have same issue,but don't affect use. i don't konw why it happened.

[2016-04-21 06:46] saikrishna321 commented on #55
@qileilove r u running your test on windows / mac ?

[2016-04-21 06:47] saikrishna321 commented on #55
https://github.com/saikrishna321/AppiumTestDistribution/issues/50

[2016-04-21 07:55] qileilove commented on #55
@saikrishna321 i running the test on mac and os x with Appium version 1.5.1

[2016-04-21 09:53] saikrishna321 commented on #55
@qileilove https://github.com/saikrishna321/AppiumTestDistribution/wiki/Prerequisites#ios-real-device

if your running your tests over mac, the FW looks if iOS devices are connected as well. If yes it will pick iOS devices and android devices and run the tests in parallel .

brew install libimobiledevice libplist libtasn1 usbmuxd openssl ideviceinstaller

[2016-04-22 06:56] saikrishna321 opened #56 "Create sample test project for cucumber-jvm parallel run"

[2016-04-22 15:13] saikrishna321 commented on #56
https://github.com/saikrishna321/PageObjectPatternAppium/commit/7c5ef753d181570bdea5c6662c325d2426de1854

[2016-04-22 15:13] #56 closed

[2016-04-25 05:12] #55 closed

[2016-04-25 05:13] qileilove commented on #55
thanks @saikrishna321

[2016-04-25 05:13] saikrishna321 commented on #55
@qileilove did that help u run the tests ?

[2016-04-27 06:03] qileilove opened #57 "can i use this tools for appium grid ?"
@saikrishna321
Hi, buddy.
i want to run the test on different PC, Most of the solution is that use selenium grid and support the parallel processing testing framework. Does  this repo support use the selenium grid to run the test on different node?

[2016-04-27 07:01] saikrishna321 commented on #57
@qileilove right now no .. its just runs locally ... This FW helps you trigger the test in parallel without much setup.

when u say different node, is it different machine ?

[2016-04-27 07:26] saikrishna321 commented on #20
@jimmy9gag do give some info on how you got this worked or a PR would help :)

[2016-04-27 07:59] qileilove commented on #57
@saikrishna321 yes, is different machine.  thanks agains. hope this repo will be supported grid in future.
BTW,I'm a thoughtworker too. I'm working In Xi'an office.

[2016-04-27 08:25] saikrishna321 commented on #57
@qileilove thats awesome...

I'm still curious to know whats the use-case where u want to run the tests in different machine not in the local-machine ?

[2016-04-28 15:30] VinitSandesara commented on #57
Hi Sai, Even i am interested on this, so for our case we have 3 mac machines and we wanna distribute test cases per mac machine connected with 3 iOS devices each. So lets say one mac machine where the code is if i run the project on that machine how the test cases will be distribute on connected mac machines.

Reason for keeping 3 mac machine is not to load all test cases on one mac machine, also

[2016-05-04 03:16] qileilove commented on #57
@saikrishna321 I'm sorry to reply you so late, I just want to know about how the selenium grid works. may be i can develop the mobile cloud testing framework.

[2016-05-04 03:18] qileilove commented on #57
@VinitSandesara  you can use testng to distribute test cases for different mac machine.

[2016-05-09 12:26] rajguptaolx opened #58 "Does this framework have support for Rerunning failed testcases in Cucumber?"

[2016-05-09 12:31] saikrishna321 commented on #58
Nope ... Not yet....

[2016-05-09 16:32] rajguptaolx commented on #58
Yes it would work and assuming final reporting would be as per re-run status of failed testcases.

[2016-05-09 22:17] Subrahmanyam83 commented on #19
Hi.. Which config.properties are we talking about here. Could somebody please let me know. I am creating listeners like this, but listeners are not shown in the testng.xml:

//Create an instance on TestNG
        TestNG myTestNG = new TestNG();

        /*Adding Listeners*/
        TestListenerAdapter tla = new TestListenerAdapter();
        List<Class> listenerClasses = new ArrayList<Class>()

[2016-05-10 02:59] saikrishna321 commented on #19
You don't have to add it to XML file .... The framework takes care when you have LISTENERS=com.listener.test

Are your using AppiumTestDistribution to run tests ?

[2016-05-10 03:02] Subrahmanyam83 commented on #19
No.. I am using Geb using gradle. Where exactly does this configuration
needs to be given :
LISTENERS=com.listener.test
On May 9, 2016 19:59, "Sai Krishna" <notifications@github.com> wrote:

[2016-05-10 12:07] saikrishna321 opened #60 "Add retry listener for TestNG"

[2016-05-10 12:13] #60 closed

[2016-05-11 10:46] ShilpaGopal opened #61 "[Suggestion] Capture the screenshot for every action."
Hi,

It would be helpful to debug If we can capture the screenshot before and after the every action and possibly displaying it in the execution report or we can have the debug report as well.

[2016-05-11 12:04] saikrishna321 commented on #61
@SrinivasanTarget @ShilpaGopal Don't you think, capturing screenshot for every action will be time consuming, if its in ms fine.. Your thoughts ?

[2016-05-11 13:58] SrinivasanTarget commented on #61
Will degrade performance esp. in iOS but still if needed we can have it as a flag.

Also there are screenshots issues already in iOS which has been reported on appium server by few users.

[2016-05-11 20:11] VinitSandesara commented on #57
@qileilove, How in this Sai's framework  ?

Thanks
Vinit

[2016-05-12 03:12] qileilove commented on #57
@VinitSandesara sorry for that.... , this framework  just runs locally, selenium grid + appium+testng will be meet your demand.

[2016-05-12 03:31] saikrishna321 commented on #57
@qileilove its possible to tweak this FW to run on remote machines, but just thinking how do we trigger the appium server on the remote machine

[2016-05-12 03:33] saikrishna321 commented on #61
[code]

![3](https://cloud.githubusercontent.com/assets/4045041/15203357/5d89a026-1820-11e6-881d-12ff689038bb.gif)

[2016-05-12 04:36] ansonliao opened #62 "[Issue] in version 4.0.2 from maven dependency, class 'AndroidDeviceConfiguration' no method "removeApkFromDevices""
Hi Sai,
I updated `AppiumTestDistribution` from `4.0.1` to `4.0.2` in my test project's `POM.xml`, but after downloaded 4.0.2 jar, get error and message is class `AndroidDeviceConfiguration` without method `removeApkFromDevices`.

I checkout `AppiumTestDistribution` source code from `Github` and found that method `removeApkFromDevices` was existed in class `AndroidDeviceConfiguration`.

could you

[2016-05-12 04:44] saikrishna321 commented on #62
@ansonliao removeApkFromDevices is not as a part of 4.0.2, yet to tag a version.. Can you try with the below dependency and check if you can see the method.

[code]

[2016-05-12 04:44] saikrishna321 commented on #53
@ansonliao ping.. if this looks good. we can close this issue

[2016-05-12 05:00] ansonliao commented on #62
@saikrishna321
thanks Sai's dependency, it is work.
BTW, in my case, I am use TestRail to manage the test result, so I need to upload test result to TestRail to the mapping test case (TestRail SDK provided).
so I would like to extend the class `AppiumParallelTest` and then rewrite method `endLogTestResults` for adding TestRail upload code.

Also need the device UDID/device_name in test result comm

[2016-05-12 05:43] saikrishna321 commented on #62
@ansonliao i haven't worked on TestRail , can you please brief out what format the TestRail expect the results or how do you manually do

[2016-05-12 06:18] ansonliao commented on #53
@saikrishna321
Sorry Sai, long time no reply.

I just what to know, how to log some information of test during test, for example the basic usage of ExtentReport from official:

[code]

[2016-05-12 06:37] saikrishna321 commented on #53
@ansonliao you can do this way, give it try and get back pls

[code]

[2016-05-12 06:47] ansonliao commented on #62
@saikrishna321
for uploaded test result to TestRail, I have my SDK to upload it, and the upload code is simply, for example, for PASS result:

[code]

so I need to do is just add TestRail handle code in method `endLogTestResults` in three test result handler code.

I tried to extend class `AppiumParallelTest` but found that some necessary variables in class `AppiumParallelTest` are private.

[2016-05-12 06:53] saikrishna321 commented on #62
@ansonliao can you please send me a PR on this. As you almost have some implementation

That would be great..

[2016-05-12 07:11] ansonliao commented on #62
@saikrishna321
I created a class `AppiumParallelTest4AL` which extent class `AppiumParallelTest`, and added my end test log result method `myEndTestResults(ITestResult iTestResult)`, this method code almost is same as the method `endLogTestResults(ITestResult iTestResult)` of class `AppiumParallelTest` but beside TestRail upload code:

[code]

and going on I would like to add TestRail code in the

[2016-05-12 07:17] ansonliao commented on #62
@saikrishna321
Maybe another choice is create a interface to TestRail test result uploading named "TestRailResult", and then class `UserBaseTest` extend class `AppiumParallelTest` and implements interface `TestRailResult`, and the finally, add TestRail test result upload method in `@AfterMethod`.

[2016-05-12 15:09] VinitSandesara commented on #57
@qileilove, do you have any framework you can provide us that we can give it a try ?

Thanks
Vinit

[2016-05-13 04:32] ansonliao commented on #62
@saikrishna321
Please closed this issue.
About how to integrate the third party report test result, I will open a new issue to discuss.
thanks for your help.

[2016-05-13 08:18] #62 closed

[2016-05-13 08:19] saikrishna321 opened #63 "Json should be rendered in the right format to fetch for debug report"
[code]

[2016-05-13 15:36] Jtramey opened #64 "Testing framework issues Null pointer when devices is "offline" from ADB"

[2016-05-13 15:37] Jtramey commented on #64
Found this today,

Connect a device through adb.
Do not accepts the adb debugging prompt.
This will put the devices in an "offline" mode for ADB.

When trying to run tests, it will throw a null pointer.

[code]

[2016-05-13 17:04] saikrishna321 commented on #64
@Jtramey thanks for reporting. Do you have just one device connected and device is offline or multiple devices and one off them is offline ?

[2016-05-13 17:06] Jtramey commented on #64
I had 3 devices connected.  2 were online and one was offline.
On May 13, 2016 1:04 PM, "Sai Krishna" <notifications@github.com> wrote:

[2016-05-13 17:11] saikrishna321 commented on #64
if you look at this line
https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/AndroidDeviceConfiguration.java#L78

Device UDID will be picked only when they are Online, but in your case 2 devices should be pushed to the device pool, but its throwing null thats weird.

Let me try this when i get access to real devices. Will keep you posted

[2016-05-13 17:34] saikrishna321 commented on #64
@Jtramey i tried to put the device to offline, but when i don't accept the debug prompt i get device as unauthorized, not offline ..

[2016-05-13 17:35] Jtramey commented on #64
Haha I am also trying to figure out how I got a device in the offline
state.  Looking now.
On May 13, 2016 1:34 PM, "Sai Krishna" <notifications@github.com> wrote:

[2016-05-14 14:48] qileilove commented on #57
@saikrishna321 maybe we can use CI(go_cd,jenkins) to monitor the appium server on remote, if server not working, just ssh command to restart the services.

[2016-05-14 14:54] qileilove commented on #57
@VinitSandesara Unfortunately, I didn't find any framework.... but some mobile testing cloud  platform(such as saucelabs testdroid) support what you want, it need to spend some money.

[2016-05-16 08:43] saikrishna321 commented on #64
@Jtramey were you able to reproduce this? i'm not able to

[2016-05-16 15:18] Jtramey commented on #64
Having issues getting a device into the offline state to check this out
again. Ill update you in the gitter if i find out how to do this. Should be
fine to close.

On Mon, May 16, 2016 at 4:43 AM, Sai Krishna <notifications@github.com>
wrote:

[2016-05-16 17:02] saikrishna321 commented on #64
@Jtramey Thanks.. closing for now.. please reopen if you could reproduce.

[2016-05-18 09:27] ansonliao commented on #53
@saikrishna321

Log information during testing by code below is works, I inserted the code in Page class, thanks Sai.

[code]

[2016-05-18 09:28] ansonliao commented on #53
@saikrishna321
Please help to close this issue.

[2016-05-18 11:46] #53 closed

[2016-05-20 08:08] saikrishna321 commented on #63
#65

[2016-05-25 13:58] vikramvi opened #66 "Handling Multiple User credentials when tests in parallel"
@saikrishna321  can you please clarify parallel execution approach in app like gmail , where I launch browser on each of the devices with same id and do actions like creating mail , deleting etc.

how do you make sure each of the action is thread safe and don't mingle with others

Thanks in advance.

[2016-05-25 14:20] saikrishna321 commented on #66
@vikramvi TestNG does take care of the parallel thread thingy and i'm bit scared when the tests run with the same user-id. For example (Grocery app)

When your running your tests across 2 devices and Test1 does adding something to item to cart and Test2 is removing item from cart, in this case there are high chances where the tests would fail and would be flaky .. I would look for having different

[2016-05-25 15:22] vikramvi commented on #66
exactly , only solution is using different id for each of the threads.
Did you try this approach in your project ? I'm also trying to find a solution for this.

Thanks,
Vikram

[2016-05-25 16:07] SrinivasanTarget commented on #66
We will look into this asap... anyways nice question.
On 25-May-2016 8:55 PM, "Vikram Ingleshwar" <notifications@github.com>
wrote:

[2016-05-25 16:54] saikrishna321 commented on #66
@vikramvi haven't tried in ma project but its good to have feature...

[2016-05-26 08:07] vikramvi commented on #66
Thanks guys @SrinivasanTarget @saikrishna321  , I thought of one option is using unique user id & pwd for each of the classes. ( provided each class runs on individual thread )

If someone wants to run test cases in single class in parallel model then it's still open question. Please let me know if I could of any help in resolving this query

Regards,
Vikram

[2016-05-28 11:16] saikrishna321 commented on #66
@vikramvi does this looks good ?

[2016-05-30 10:06] vikramvi commented on #66
This is awesome , thanks a ton for quick fix. You should address this issue and solution during seleconf presentation.

[2016-05-30 10:06] #66 closed

[2016-05-30 10:09] saikrishna321 commented on #66
@vikramvi thanks buddy for reporting this ..... we proposed but couldn't get a slot ..

[2016-05-30 10:17] vikramvi commented on #66
Thats sad to hear, may be you can update on discuss.appium.io and can put this into commercial use through https://testobject.com/blog/2016/05/testobject-box-your-smart-in-house-mobile-test-lab.html just IMHO. Can be useful to hundreds of companies

[2016-05-30 10:36] saikrishna321 commented on #66
@vikramvi sure will do that buddy.. i already have it on discuss.io
https://discuss.appium.io/t/android-java-client-solution-trigger-test-in-parallel-without-using-grid/7078

[2016-05-31 14:48] RatkoD opened #67 "Print the @Test description instead of the method name"
It would look much nicer if in the extent report we are able to see the @Test description instead of the method name or maybe along with the method name. It could allow the users to add more descriptive names for the extent results.

[2016-06-07 08:36] saikrishna321 commented on #67
@RatkoD you can do it this way

[code]

[2016-06-07 12:42] RatkoD opened #68 "Implement ExtentX reporting for the test results"
Hey @saikrishna321,

I have 4 nodes which are executing tests using the AppiumTestDistribution framework, and the problem is that I get 4 separate reports from the nodes. The idea is to implement ExtentX reporting, because it's really easy to setup ExtentX server with MongoDB and that all 4 nodes are sending the results to the DB and that way we'll have single place for analysing the test results

[2016-06-07 13:06] saikrishna321 commented on #68
@RatkoD when u say 4 nodes, do u mean 4 instance of appium server or how is your setup ?

[2016-06-07 13:14] RatkoD commented on #68
I'm starting the tests from 4 different PCs (2 mac and 2 linux) and I have 5 or 6 devices attached to each PC. The idea is to start the test execution from Jenkins on all 4 nodes and have only one combined report.
One thing that I'm not sure about is what happens with the logs and screenshots? Are they stored in the DB? If yes, that's very nice, if not... it will be a problem. Then the option will

[2016-06-07 13:42] #67 closed

[2016-06-07 13:43] #63 closed

[2016-06-07 13:46] RatkoD opened #69 "Implement the passing of the noReset flag when creating the driver"
Currently, the framework resets the app before every test which make impossible to test some scenarios for features like, intro screen is presented only once at first login, or scenario where email filed value is preserved after logout and on next start. One option is to pass the noReset flag to the driver at creation time so the app is not reseted.

Can this be done?

[2016-06-08 20:59] priyankshah217 commented on #69
`
import io.appium.java_client.AppiumDriver;
import io.appium.java_client.android.AndroidDriver;
import io.appium.java_client.remote.AndroidMobileCapabilityType;
import io.appium.java_client.remote.MobileCapabilityType;
import io.appium.java_client.service.local.AppiumDriverLocalService;
import io.appium.java_client.service.local.AppiumServiceBuilder;
import org.openqa.selenium.remote.DesiredCapab

[2016-06-08 21:57] RatkoD commented on #69
Hey @priyankshah217,
I've worked on this with a colleague and shared the code with @saikrishna321, I hope that soon it will be available here in the framework. It's minor change, but still needs to be testes for impact on other aspects of the framework.

[2016-06-09 02:29] saikrishna321 commented on #69
@priyankshah217 driver.quit() does work, if your using v1.5.3 and using session-override.

[code]

So we let the users send the desireCaps as part of startAppiumServerInParallel and its left to the users to handle the driver.quit n stuff

@SrinivasanTarget thoughts ?

[2016-06-09 02:44] priyankshah217 commented on #69
Yes, I was using latest appium+Java client. So it's a good if you provide
flexibility to set driver object and also to quit object.
Because when I tried with driver.closeApp() it was not able to continue
next time. But I think it's a major change if we incorporate this to
existing framework.
On Jun 9, 2016 7:59 AM, "Sai Krishna" <notifications@github.com> wrote:

[2016-06-09 05:31] saikrishna321 commented on #69
@priyankshah217 so if the users starts the server and starts the driver instance in @BeforeClass then they should quit only @AfterClass, this is default behaviour.
* if a users does driver.closeApp in after method, they should call driver.launchApp @BeforeMethod

shouldn't the user handle this?

But as part of letting the user send they desiredCaps it good to provide

[2016-06-09 13:35] RatkoD commented on #68
As a workaround, I've moved instance.x(); out of the if statement.

public class ExtentManager {
    public static ExtentReports instance;

    public synchronized static ExtentReports getInstance() {
        if (instance == null) {
            System.out.println(System.getProperty("user.dir"));
            instance =
                new ExtentReports(System.getProperty("user.dir") + "/target/Exte

[2016-06-09 17:41] saikrishna321 commented on #68
@RatkoD PR welcome :)

[2016-06-13 09:37] RatkoD opened #70 "Screenshots not shown in ExtentReport"
There is a bug with the links to the screenshots in the extentreport. The problem is that the timestamp is not concatenated to the screenshot filename. Screenshots are taken and in folder, but the links to them are wrong.

<img width="1100" alt="screen-shot-2016-06-13-at-08 25 00" src="https://cloud.githubusercontent.com/assets/18040695/16003073/30fd3064-315b-11e6-80b7-04e063207156.png">

<img wid

[2016-06-15 05:34] #68 closed

[2016-06-20 09:08] YagneshShah opened #73 "Can you give control to user to turn on/off text file appiumlogs since it is breaking execution"
For Windows 8,
Error: EPERM: operation not permitted, stat 'C:\Users\Qapitol QA\IdeaProjects\flipkartSampleWithoutPageObjectMaven\target\appiumlogs\0123456789ABCDEF__validLoginTest.txt'
    at Error (native)

Can't delete the file manually also even though we have admin access. The only way to delete file is by sign-out from the system and log-in again.

Current file permission are:
-rw-r--r--
##

[2016-06-20 09:11] YagneshShah opened #74 "Execution is blocked due to java.lang.NumberFormatException: For input string: """
In Windows 8,
For the first time execution the "extent.xml" file doesn't exist, then following warning is encountered and execution is stopped.

Jun 15, 2016 5:40:58 PM com.relevantcodes.extentreports.ExtentReports loadConfig
WARNING: Unable to perform report configuration. The file C:\Users\Qapitol QA\IdeaProjects\flipkartSampleWithoutPageObjectMaven\extent.xml was not found.

java.lang.NumberFor

[2016-06-20 09:13] saikrishna321 commented on #73
@YagneshShah Error: EPERM: operation not permitted is something to do with your system permissions.

When re-executing the same test, currently the old data will be removed from your target folder and will b replaced to the newest one.

But don't you think when you have retained the previous execution data it gonna take a lot of your space

[2016-06-20 09:16] saikrishna321 commented on #74
@YagneshShah from your screenshot i see your udid is 12345678ABCDE- which i feel is not your real device UDID serial, how r u sending this ?

[2016-06-20 09:16] saikrishna321 commented on #74
can you give the server logs pls

[2016-06-20 10:29] YagneshShah commented on #74
2016-06-20 09:15:05:829 - info: [Appium] Welcome to Appium v1.5.2
2016-06-20 09:15:05:838 - info: [Appium] Non-default server args:
2016-06-20 09:15:05:844 - info: [Appium]   port: 59322
2016-06-20 09:15:05:845 - info: [Appium]   bootstrapPort: 59324
2016-06-20 09:15:05:846 - info: [Appium]   sessionOverride: true
2016-06-20 09:15:05:849 - info: [Appium]   log: 'C:\\Users\\Qapitol QA\\IdeaProjects

[2016-06-20 10:33] YagneshShah commented on #73
@saikrishna321
For case 1:
Old data is not being removed for some reason in windows in-spite of me being an admin.
Yes it might take a lot of space but we can delete the logs manually

For case 2: If writing to new log file each time is not advisable then at-least the control should be provided to turn off/on the logs, since it is blocking the execution currently.

[2016-06-20 11:38] saikrishna321 commented on #74
Can u post adb devices what it shows ?

[2016-06-21 13:45] saikrishna321 commented on #74
Closing this issue as the two devices got  the same UDID

[2016-06-21 13:45] #74 closed

[2016-06-21 13:47] #69 closed

[2016-06-23 11:49] priyankshah217 commented on #61
@saikrishna321 , capturing screenshots will degrade performance but it will also increase report size also. We can externalize this feature like serenity, to config.properties.

SCREENSHOT_ON_EACH_STEP
SCREENSHOT_ON_FAILURE

whats your view on that?

[2016-06-23 13:01] saikrishna321 commented on #61
@priyankshah217 SCREENSHOT_ON_EACH_STEP can be externalize, i'm okay with that ..

But SCREENSHOT_ON_FAILURE should be captured by default, that helps users debug the issue

[2016-06-24 05:45] saikrishna321 commented on #64
@Jtramey

[2016-06-24 10:52] #64 closed

[2016-06-24 15:22] raveendaranugu opened #76 "Where to keep "Main Runner class" in Maven project"
Hi @saikrishna321  ,
I am bit confused where to keep this Main Runner class. Bit confused about maven structure as I recently shifted to Maven.

Regards,
Ravi.

[2016-06-24 17:10] saikrishna321 commented on #76
@raveendaranugu you can keep this in any package under your src/test/java

[2016-06-27 06:37] #76 closed

[2016-06-28 09:45] raveendaranugu opened #77 "InvalidNodeJSInstance exception while launching the Appium server"
Hi @saikrishna321.
While executing the script I am getting following exception though Node.js is already installed on my machine and path was set to Environment variables.

Below are the exception details.

**io.appium.java_client.service.local.InvalidNodeJSInstance: Node.js is not installed!
    at io.appium.java_client.service.local.AppiumServiceBuilder.findDefaultExecutable(AppiumServiceBuilder

[2016-06-28 10:06] saikrishna321 commented on #77
@raveendaranugu if your running the tests from eclipse then u need to set PATH and ANDROID_HOME

https://cloud.githubusercontent.com/assets/12589206/12456474/a0040590-bf65-11e5-9528-d246cbee4f15.png

[2016-06-28 13:40] raveendaranugu commented on #77
Thank you @saikrishna321 .
For time being I am executing the script thru command prompt. It's working fine but when I execute it for second time the .apk file is getting deleted from its location.Below is the appium logs.

**2016-06-28 13:34:57:413 - warn: UiAutomator did not shut down fast enough, calling it gone
2016-06-28 13:34:57:420 - error: Failed to start an Appium session, err was: Error:

[2016-06-28 15:52] raveendaranugu commented on #77
@saikrishna321

Connected 3 Android devices to the machine. But able to execute on only 2 devices.On 3rd devices it is giving the below error .
**error: Failed to start an Appium session, err was: Error: EPERM: operation not permitted, rename 'C:\Users\RAVIND~1\AppData\Local\Temp\116528-6744-js843f\appium.tmp' ->**

The 3rd device is Rooted device. is this the reason for getting the above error?

[2016-06-28 16:45] saikrishna321 commented on #77
@raveendaranugu no this is issue is something to do with your system permission

[2016-06-29 06:40] raveendaranugu commented on #77
I am running the script as Administrator .There is no issue with other 2 devices.but why this kind of issue is  with only 1 device.
@saikrishna321  And I have a doubt that what is the difference between **"RUNNER=distribute and RUNNER=parallel"**   ?Could you please clarify this?

[2016-06-29 10:01] nkrishnac-rpx commented on #70
@saikrishna321
This issue is because in screenShotAndFrame method status is passed as 1 from calling method and we have to update failedScreen string variable to
System.getProperty("user.dir") + "/target/screenshot/" + platform + "/"
                + device_udid.replaceAll("\\W", "_") + "/" + className + "/" + methodName + "/" + model + "_"
                + methodName + "_failed" + ".png";

Can

[2016-06-29 11:12] saikrishna321 commented on #70
@nkrishnac-rpx
https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/AppiumParallelTest.java#L329

this line picks the status from the test execution run.

The reason for sending the status as 1 in this method(https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/AppiumParallelTest.java#L568) is because u

[2016-06-29 11:44] RatkoD commented on #70
Nope, it's working now, the screenshot is displayed.

[2016-06-30 06:34] #70 closed

[2016-07-03 18:23] Balhindi opened #80 "New way to handle UUID for Appium 4.0.0"
Is there any plan to refactor the code so that it can work with Appium java client 4.0.0?

As you know UUID has been deprecated for a while, and in 4.0.0 the appium java client took support away entirely.

release in 4.0.0 said this.
 all code marked @Deprecated was removed. Java client won't support old servers (v<1.5.0) anymore.

I am particularly having a hard time with the driver swipe issue f

[2016-07-03 18:51] Balhindi commented on #80
Never mind, I found a workaround.

Thank you. Closing.

[2016-07-03 18:51] #80 closed

[2016-07-03 22:01] shaynl opened #81 "Running tests in a loop"
Hi Sai,
Great job!
Can I run my tests with this tool in a loop?
for example, If I have 50 tests scripts, It will start running test 1 till test 50 and repeat them over and over again till I stop.
thanks.

[2016-07-03 23:10] Jtramey commented on #81
You could just put that mvn command in a shell or batch file and use a
while true loop to run them an infinite amount of times.  Quick and simple!
On Jul 3, 2016 6:01 PM, "shaynl" <notifications@github.com> wrote:

[2016-07-04 05:03] saikrishna321 commented on #81
@shaynl you do can as @Jtramey suggested

[code]

[2016-07-04 05:03] #81 closed

[2016-07-06 10:40] ansonliao opened #82 "Could release screenshot path/appium log/adb log path to parameter in config.properties?"
Hi @saikrishna321,
In ExtentReport, the screenshot, appium log, adb log, etc. are all use local machine's project path, for example the code below:

[code]

after ExtentReport generated, the screenshot/adb log/appium log path will be such as `img src=file://Users/test/appium_parallel_project/target/screenshot/.../.../fail.png`

it is no problem for open ExtentReport in local machine, but fail to o

[2016-07-06 17:25] saikrishna321 opened #83 "Don't check for ADB when iOS tests alone"

[2016-07-07 10:58] akhilbojedla commented on #57
@saikrishna321 @qileilove  Yes Sai we can tweak this framework to distribute tests on different machines. I already designed a framework and its running flawlessly. But only requirement is that we need ssh access (I'm using linux and mac) to the remote machine where devices are connected. My framework users appium+selenium grid+mongodb+testng. And I must thank you for the Extent report help. 👍

[2016-07-07 11:01] akhilbojedla commented on #57
@saikrishna321  Currently I'm working on dockerizing the Appium server to make life easier as we can start and stop appium server container if we dockerize it.. Will share the docker image soon.. :)

[2016-07-07 11:19] saikrishna321 commented on #57
@akhilbojedla  thats a great news 👍  if we really need to run tests on distributed machine then having ssh access should not be a problem. I'm interesting in seeing this dude..

i had a discussion with @qileilove yesterday on dockerizing it, but that would work only for android tests not iOS tests. Correct me if i'm wrong ?>

[2016-07-07 11:30] akhilbojedla commented on #57
@saikrishna321 Distributing tests on remote machine is nothing but a virtual cloud (If not real). And is there any reason you think dockerizing appium server wouldn't support IOS? Because I do not see a blockage as of now. Please let me know if you see any...

And ssh is not a problem if we use Linux/Mac machines.. But is a problem if the remote machine is windows(And not a problem if windows is t

[2016-07-07 11:44] saikrishna321 commented on #57
@akhilbojedla can we talk about this on gitter

https://gitter.im/saikrishna321/AppiumTestDistribution?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2016-07-08 02:00] qileilove commented on #57
@akhilbojedla I means that the docker images have such Ubuntu and other linux images, but have no os x and windows images, for the ios simulator can only run on os x. so appium server can run all the os.but the script can only run on the virtual machine or real device.

[2016-07-08 02:07] qileilove commented on #57
@akhilbojedla  Did you finish your work about framework and docker?

[2016-07-08 04:09] akhilbojedla commented on #57
@qileilove I think you are getting my point wrong.  Obviously we cannot run scripts on Windows/Linux machine even if the appium is running in docker container.

My target is to run tests on target machine.  So if the target machine is Mac..  We can run tests on IOS too..

[2016-07-08 13:05] RatkoD opened #84 "Sending the desiredCapabiliteis makes the framework platform dependant"
I've started using the new feature, to send desiredCapabilities to the tests but there is a problem. Here is how it goes:

If I set
[code]
and connect only Android devices it works. If I connect iOS devices it fails with

[code]

If I connect mix of android and ios devices, it runs only on android devices.

If I set
[code]
and connect only iOS devices it works. If I connect Android devices it fail

[2016-07-08 13:37] saikrishna321 commented on #84
@SrinivasanTarget check this bro

[2016-07-15 10:53] RatkoD opened #85 "Ghost devices shown by idevice_id and mobiledevice"
Very often ghost devices are listed using this tools so this causes failed tests in appium. The suggested solution is to use system_profiler to list connected iPhones/iPads instead of idevice tool  and use that result later on for the tests. Device's UDIDs can be listed with:
system_profiler SPUSBDataType | sed -n -E -e '/(iPhone|iPad)/,/Serial/s/ Serial Number: (.+)/\1/p'

[2016-07-16 12:53] #84 closed

[2016-07-18 16:02] SrinivasanTarget commented on #84
👍

[2016-07-19 09:47] Pushpank opened #86 "getTreeForXML command leads memory leak in app and resulting in app crash if the page has huge objects"
[debug] [Instruments] [INST] 2016-07-19 08:07:45 +0000 Debug: evaluation finished
[debug] [UIAuto] Socket data received (27 bytes)
[debug] [UIAuto] Got result from instruments: {"status":0,"value":true}
[debug] [iOS] Setting initial orientation to PORTRAIT
[debug] [UIAuto] Sending command to instruments: au.setScreenOrientation('PORTRAIT')
[debug] [Instruments] [INST] 2016-07-19 08:07:45 +0000 Deb

[2016-07-20 06:43] saikrishna321 commented on #86
@Pushpank this should be raised at the appium server end..

[2016-07-20 06:43] #86 closed

[2016-07-24 23:57] RatkoD commented on #85
Hey @saikrishna321, it seems like you fix only works if only one device is connected, if I connect two or more devices, it doesn't work, it concatenates the UDIDs, here is a log from what I get

`creating directory: Logs
No Device Connected
a55460712308b368e035ad4b61d065460f8966eb

a55460712308b368e035ad4b61d065460f8966ebc205d576285a38492cce0f8580c007f0abf37fac

/usr/local/lib/node_modules/appium/

[2016-07-25 05:13] saikrishna321 commented on #85
@RatkoD good catch .. i don't have devices right now with me.. would be able to send a PR with the fix

If not i may need 2 days time to fix this

[2016-07-25 15:19] dkjha52 opened #87 "Scripts are not executing Parallely on Android"
Hi Sai,

I executed the sample scripts but scripts are not executing parallely on android devices. Scripts are executing only on single devices. However I have connected 2 android devices. Please let me know if there is any other steps which I need to follow.

-Dhirendra

[2016-07-25 16:55] RatkoD commented on #87
Hey @dkjha52, can you list the devices using adb devices command? Are you running the tests from command line or from Eclipse/IntelliJ etc? If you run the tests from editor, only one device will  be used, but if you run the tests from cli it will run the tests in distribute/parallel.

[2016-07-26 11:41] akhilbojedla commented on #82
@ansonliao Could you please elaborate the enhancement so that i can start working on this.

[2016-07-26 13:51] ansonliao commented on #82
Hi @akhilbojedla ,
My question is in extentreport, the logs/failure screeshot's URL whether can be defined by personal in a property file (for example config.properties), for example, for TestNG framework, AppiumParallelTest.java, we can find ExtentReport log code such as below.

for adblogs:

[code]

for screenshot of failure:

[code]

as we can find that, the URL start with the system property v

[2016-07-26 13:57] akhilbojedla commented on #82
@ansonliao So basically what you want to do is you want to upload these files to a file server and access it from there. May I know the exact use case that you find this enhancement useful.

[2016-07-26 14:12] RatkoD opened #89 "idevice_id still used for folder creation"
It seems like idevice_id is still used for creating log folders plus device's UDIDs are stil concatenated when printing the detected device:
[code]

3 log folders are created:
[code]

And it says that 3 devices are detected:
[code]
And after that, the tests are run on the 2 actual devices:

[code]
And the tests are run only on the actually conected devices:
[code]

[2016-07-26 14:33] ansonliao commented on #82
@akhilbojedla
grade to hear from you that it is basically to implement it, could you advise how to achieve it?

[2016-07-26 15:52] ansonliao commented on #82
@akhilbojedla
User case of Jenkins:
1. Jenkins Master computer (Jenkins Server) named `Computer A`.
2. Publish ExtentReport.html in Jenkins Job of Appium Parallel test project, slave machine of jenkins named `Computer B`.
3. Review test result of ExtentReport, named those computers `Computer C`.

Scenario:
1.
`Computer C` login Jenkins and check the published extentreport, and will find that the l

[2016-07-26 16:37] akhilbojedla commented on #82
@ansonliao May I know how are you publishing extent report in slave machine?

[2016-07-26 16:41] akhilbojedla commented on #82
If you use this [plugin](https://wiki.jenkins-ci.org/display/JENKINS/HTML+Publisher+Plugin) in jenkins you can access the report from jenkins job with all the screenshots and logs. If you need anything in additional then we can go with centralised server approach.

[2016-07-26 16:58] saikrishna321 commented on #82
Even if we use the Jenkins HTML plugin , extent report currently logs the path of the screenshot and logs of the locally machine. . this should be centralised

[2016-07-26 17:00] akhilbojedla commented on #82
@saikrishna321 Completely agree... But when we open the report from running jenkins server.. something like http://jenkins-node:8080/jobs/jobname/10/Htmlreport.html.. It does show the report with screenshots and logs... Correct me if im wrong

[2016-07-26 18:50] brtu opened #90 "Test executed on wrong device in parallel Android + iOS setup"
I have 3 tests that I am running in parallel on an Android and iOS tablet.  Test1 and Test2 get run on both Android and iOS devices.  However, Test3 runs twice on the Android device and zero times on the iOS device.

My Android test takes around 1 minute, while the iOS test (same test) takes 1.5-2 minutes.  What happens is that the Android device finishes all 3 of its tests, while the iOS device i

[2016-07-27 03:56] ansonliao commented on #82
@akhilbojedla
I use HTML publisher plugin in Jenkins for publishing ExtentReport, please check below once I check published extentreport of Jenkins.

failure screenshot with `System.getProperty("user.dir")` value, please note `src =` of screenshot, displayed screenshot fail.
![image](https://cloud.githubusercontent.com/assets/6060224/17163265/1ec04320-53f0-11e6-906c-d780b2d2a845.png)

failure scre

[2016-07-27 06:07] saikrishna321 commented on #89
@RatkoD did u try this from master ?

[2016-07-27 08:27] RatkoD commented on #89
I've just tried it and it seems to work fine except for this part, where it sill prints concatenated UDIDs.

[code]

[2016-07-27 10:35] saikrishna321 commented on #89
i have merged your changes. can u try now.. guess that would have fixed it .

[2016-07-27 16:49] dkjha52 commented on #87
I am running the test from Eclipse and shows the correct number of devices. Now this issue has been resolved and working fine. After that getting different issue. After completed the test, shows below exception -
FAILED: testRunner
java.lang.NullPointerException
	at com.appium.utils.ImageUtils.creatResultsSet(ImageUtils.java:63)
	at com.appium.executor.MyTestExecutor.runMethodParallelAppium(MyTest

[2016-07-27 17:09] saikrishna321 commented on #87
@dkjha52 can you run the tests from commandline mvn clean -Dtest=Runner test and see if it goes well

[2016-07-27 18:20] dkjha52 commented on #87
Thanks. Its working fine using the command you mentioned.
I am not using maven. I have explicitly added all the required jars and run the Runner. In that case I am getting issue. Please let me know how I can fix this issue without using maven.

[2016-07-27 23:05] RatkoD commented on #87
It cannot run in other way rather than using maven. As I said before and Sai, if you use multiple devices, you need to run the tests from maven.

[2016-07-28 10:02] saikrishna321 commented on #90
@brtu does this happen consistently ?

[2016-07-28 10:03] saikrishna321 commented on #89
@RatkoD ping ?

[2016-07-29 19:10] brtu commented on #90
Yes, it is consistent behavior.  I think I've narrowed it down more - whenever the iOS device is unavailable, then the test that was supposed to run on it gets sent to the Android device instead.

I had 3 tests set to run in parallel on both Android and iOS.  The iPad had a software update popup which prevented Instruments from launching.  The first iOS test did not run and was skipped.  Then five

[2016-08-02 13:23] rajguptaolx opened #92 "TestNG Tests Run Count after Retry is showing incorrect test count"
@saikrishna321 @SrinivasanTarget
After retry in testng, when we see the extentreport, it shows the incorrect count.
For example, I have 1 test which got failed and Max retry count is 1. So failed testcase will be executed 1 more time.
Now after execution, Extent Report shows Total tests as 2 out of which 1 got failed and 1 in skip, but my total testcases is only 1

[2016-08-02 19:07] brtu commented on #90
Just saw his happen while running tests on 2 Android devices.  Looks like a problem with running tests in parallel.  If one device finishes a set of tests first, then it gets more tests scheduled to it.

[2016-08-02 20:10] brtu commented on #90
Definitely looks like a problem with using Cucumber in AppiumTestDistribution.  In the MyTestExecuter file and parallelTests method, there is no logic that specifies how the tests are split between the different devices.

[2016-08-02 23:49] saikrishna321 commented on #90
So your tests in parallel or distributed mode ? Can u reproduce this with sample project provided.

[2016-08-03 00:03] brtu commented on #90
The tests are in parallel mode.  I spent some time looking through the source code today.  I think the problem might be here:

https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/AppiumParallelTest.java#L123

At this line, the thread just gets the next available deviceId that is free instead of a dedicated deviceId.  I think this allows tests to be

[2016-08-03 08:23] saikrishna321 commented on #90
@brtu i'm unable to reproduce this.

For ex: Test1,Test2,Test3 -- 2 android devices -- i see all three tests cases are running on both the devices..

[2016-08-03 21:56] brtu commented on #90
@saikrishna321

I forked and modified the PageObjectAppium project to demonstrate the bug.

Fork: https://github.com/brtu/PageObjectPatternAppium

Changes: https://github.com/saikrishna321/PageObjectPatternAppium/compare/master...brtu:master

I had to change the AppiumTestDistribution dependency because the current one included in the project doesn't work with 5.0.1 release, so I forked AppiumTest

[2016-08-04 04:35] saikrishna321 commented on #90
@brtu thanks a lot for sample tests... will take a look this weekend, bit busy with project work.

If its reproducible in cucumber then it should b on TestNG as well..

[2016-08-04 04:39] saikrishna321 commented on #92
@rajguptaolx this issue is still open on extentreport repo
https://github.com/anshooarora/extentreports-java/issues/106

[2016-08-04 13:08] saikrishna321 commented on #90
@brtu i could reproduce.. Thanks for reporting 👍

[2016-08-04 14:42] brtu commented on #90
@saikrishna321 Great to hear that you could reproduce it!!  I am trying to fix the bug as well but am still unfamiliar with a lot of the AppiumTestDistribution project.  Thank you for your work on building AppiumTestDistribution, it is really a great project and I am happy to contribute to it.

[2016-08-09 18:53] geoHeil opened #93 "failed configuration"
Hi, I try to follow along for the example from https://github.com/saikrishna321/PageObjectPatternAppium but for Appium Version 1.5.3 this is the exeption after setting the following configuration:

[code]

[code]

[2016-08-10 04:35] saikrishna321 commented on #93
@geoHeil pls make sure you have ANDROID_APP_PATH & IOS_APP_PATH absolute.

APPIUM_JS_PATH should point to the below
## For appium 1.5.X users (If appium installed using npm)
APPIUM_JS_PATH=/usr/local/lib/node_modules/appium/build/lib/main.js

[2016-08-10 04:36] geoHeil commented on #93
Indeed appium doctor tells me that everything is fine. I use nvm so my path
is a little bit different.
Sai Krishna <notifications@github.com> schrieb am Mi., 10. Aug. 2016 um
06:35:

[2016-08-10 11:51] saikrishna321 commented on #93
@geoHeil

can u run this /Users/myUser/.nvm/versions/node/v4.4.7/lib/node_modules/appium/lib/server/main.js and see if appium server starts ?

[2016-08-10 12:10] geoHeil commented on #93
From appium version 1.5 onwards the server folder is non existing. The main js resided directly in the library folder ![](http://i.imgur.com/NsAlQDC.jpg)

[2016-08-10 12:29] saikrishna321 commented on #93
Can u run the entire path ? Not just the main.js

[2016-08-10 12:37] geoHeil commented on #93
I am not sure how to do that.

Should I run the gulp file? If yes which path?

[2016-08-10 13:57] saikrishna321 commented on #93
Can u hit this command n see if Appium server starts

 /Users/myUser/.nvm/versions/node/v4.4.7/lib/node_modules/appium/lib/server/main.js

To me this looks incoreecr, as it should be /nkde_modules/appium/build/lib/main.js

[2016-08-10 16:09] geoHeil commented on #93
Indeed this command including the /server is not correct.

But the one without it should work as shown in the picture. But as you can see there, it seems to throw an error.

I didn't get that error when experimenting with appium 1.4x but didn't get it to work either.

[2016-08-10 16:27] saikrishna321 commented on #93
@geoHeil try to uninstall appium and install it with npm install -g appium and then give it a try

[2016-08-11 04:44] geoHeil commented on #93
@saikrishna321 I uninstalled and re-installed appium.
This is the result:
![2__bash_und_1__bash](https://cloud.githubusercontent.com/assets/1694964/17578872/f2adc4ec-5f8e-11e6-84d0-66d2a168140a.jpg)
so executing the main.js still fails

[2016-08-11 05:50] saikrishna321 commented on #93
@geoHeil you should have the main.js under the path /usr/local/lib/node_modules/appium/build/lib/main.js if you have installed over npm install -g appium

@SrinivasanTarget any help here

[2016-08-11 05:53] geoHeil commented on #93
@saikrishna321 so you suggest to use "default node" and not `nvm` installed node? because in the latter case appium or any package is installed in ~/.nvm/version/node/_node_version/node_modules folder

[2016-08-11 05:55] SrinivasanTarget commented on #93
Hey @geoHeil

You have to run the main.js through node in terminal

i.e ``` node /usr/local/lib/node_modules/appium/build/lib/main.js```

[2016-08-11 05:59] geoHeil commented on #93
Thanks. This was a misunderstanding on my side. Executing a `node main.js` unfortunately brings up the same error. I use node v4.4.7

[code]

[2016-08-11 06:00] SrinivasanTarget commented on #93
@geoHeil How did you executed? ping the entire command that you ran? or the gist of it or the screenshot of it.

[2016-08-11 06:00] saikrishna321 commented on #93
@geoHeil just run the entire path

node /usr/local/lib/node_modules/appium/build/lib/main.js

[2016-08-11 06:06] geoHeil commented on #93
running the whole absolute path like
`node /Users/geoHeil/.nvm/versions/node/v4.4.7/lib/node_modules/appium/lib/main.js`
still fails with the same error:
[code]

[2016-08-11 06:08] SrinivasanTarget commented on #93
Ok I dont get whats wrong here. So uninstall everything and install appium via this command: ```npm install -g appium```

[2016-08-11 10:15] geoHeil commented on #93
I tried it on a different computer. Seems to work there.
Strange.

[2016-08-11 10:55] #93 closed

[2016-08-11 11:34] #82 closed

[2016-08-11 13:34] ansonliao commented on #82
@saikrishna321
Thanks for your work on CI URl, could you also apply CI URI to `ExtentCucumberFormatter.java`?, the cucumber framework.

https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/cucumber/listener/ExtentCucumberFormatter.java

[2016-08-12 04:31] johnChnia opened #94 "whats wrong? DISTRIBUTE mode happen?"
2016-08-12 04:28:40:008 - error: [MJSONWP] Encountered internal error running command: Error: Error executing adbExec. Original error: Command 'D:\Android\sdk\platform-tools\adb.exe -P 5037 -s 192.168.85.102:5555 pull G:\data\local\tmp\screenshot.png C:\Users\john\AppData\Local\Temp\appium116712-10644-1ovgriu.png' exited with code 1{"stdout":"","stderr":"remote object 'G:\data\local\tmp\screenshot

[2016-08-12 10:45] johnChnia commented on #94
i connected two android simulator， only one can run nomal, the other one start the app, then report the above error

code of  HomePageTest2:

@Description("This Test validates swipe scenarios")
public class HomePageTest2
    extends UserBaseTest {

    @Test
    @Author(name = "John") public void testMethodOne_2() throws Exception {
        System.out.println(
            "ThreadName1: " + Thread.

[2016-08-12 14:45] anshooarora commented on #82
v3 pre-release is available now, and it has a feature to automatically create relative path for images.  So, with this feature, folders will be created and place all files next to the report and the updated relative paths will be used:

[code]

[2016-08-13 03:54] saikrishna321 commented on #82
@anshooarora thanks a lot .. will take a look ..

[2016-08-13 03:55] saikrishna321 commented on #94
@johnChnia can you pls point to the appium version your running ?

hit this command in your commandline
D://nodejs//node_modules//.npminstall//appium//1.5.3//appium//build//lib//main.js and post the stack

[2016-08-15 05:59] johnChnia commented on #94
@saikrishna321  when  i hit this command in commandline, then, report a error:

![image](https://cloud.githubusercontent.com/assets/12187260/17656785/6dc00b40-62f0-11e6-95b7-0967c69dc1a0.png)

[2016-08-15 06:01] johnChnia commented on #94
@saikrishna321  but i can start appium
![image](https://cloud.githubusercontent.com/assets/12187260/17656809/af3b0a2a-62f0-11e6-8abb-6b9107eeb497.png)

[2016-08-15 06:50] saikrishna321 commented on #94
You have the incorrect path to main.js

Can u tell me how u installed Appium ?

[2016-08-15 12:17] ansonliao commented on #82
@saikrishna321
thanks for your work, as vacation days, I will check the latest version of AppiumTestDistribution soon.

[2016-08-16 08:35] johnChnia commented on #94
i installed Appium like blow:

1、npm install -g cnpm --registry=https://registry.npm.taobao.org

2、cnpm install -g appium

because i am in china, so i use this command "npm install -g appium" is not work well, so i use taobao mirror

[2016-08-16 08:46] saikrishna321 commented on #94
@johnChnia you need to give the right appium server path, i'm not sure in windows where it resides..

[2016-08-16 08:46] saikrishna321 commented on #94
@priyankshah217 @SrinivasanTarget

[2016-08-16 09:28] priyankshah217 commented on #94
@johnChnia , are you launching appium using gui?

[2016-08-16 09:34] SrinivasanTarget commented on #94
@johnChnia  you can find the path of node modules in windows using ```echo $(npm root -g)```

Then actual path would be:  ``` node path_found_using_above_command/appium/build/lib/main.js```.

[2016-08-17 02:15] johnChnia commented on #94
@saikrishna321

![image](https://cloud.githubusercontent.com/assets/12187260/17722251/596c71e6-6463-11e6-8127-7c94e57e2283.png)

and  i use this command "echo $(npm root -g)", the output like blow:

![image](https://cloud.githubusercontent.com/assets/12187260/17722261/73edd604-6463-11e6-865b-d7f70067f21b.png)

[2016-08-18 06:57] saikrishna321 commented on #94
Give the full path of the main.js which is shown in first screenshot in the above comment .... that will work

[2016-08-18 07:00] saikrishna321 commented on #77
Distribute -- 3 test cases and 3 devices each test case will go to each device ... TC1 -- Device 1, TC2 -- Device 2, TC3 -- Device 3

Parallel -- TC1,TC2,TC3 will go device1,device2,device3 which will give u device coverage

[2016-08-19 09:51] ansonliao opened #95 "[Enhancement] Automatically get IPA bundle ID from IPA file"
@saikrishna321
I note that we need to hardcode bundle ID of IPA in `config.properties` before the test run, and I found that have a solution to get bundle ID from IPA file, the `info.plist`, please considering the following code.

In Java, have a library name `dd-plist` to parse plist file, please check more details about this library via the link: [dd-plist](https://github.com/3breadt/dd-plist).

[2016-08-19 10:04] ansonliao commented on #95
Also for APK, the `package name` and `launch_activity` can be fetched by Android SDK embed tools `aapt`, but this `tools` is need to be added in system path.

### Get Package Name of APK
To get `package name` of APK, the command is:

[code]

### Get Launch Activity of APK
To get `launch activity` of APK, the command is:

[code]

currently, I no a good solution to run the complex shell command in J

[2016-08-19 10:20] ansonliao opened #96 "[Enhancement] config.properties: let ANDROID_APP_PATH or IOS_APP_PATH are supported download URL"
@saikrishna321
From Appium official document, app's capability in path is support download URL, but actually seems that download URL is out of support.

I have a implemented to support download link for `AppiumTestDistribution` in `config.properties`, and the download code in Java, please check below:

[code]

so next step we can use automatically parse IPA information to get `BUNDLE_ID` of IPA, a

[2016-08-19 10:31] saikrishna321 commented on #96
@ansonliao but not every user would have the apk hosted ?

[2016-08-19 10:42] ansonliao commented on #96
@saikrishna321
yes, not every user would have the apk/ipa hosted, so maybe need to add a step to check whether the `APP_PATH` value read from `config.properties` whether is a valid URL, or it is local machine path.

[2016-08-19 23:31] shaynl opened #97 "How to change report folder and keep all previous reports?"
Hi Sai,
How I can change ExtentReports report default location and keep all reports.
I want to use Google drive to store all output report so I can access them from anywhere.
Is it also possible to send the report by email in the end?
Thanks.

[2016-08-20 22:47] saikrishna321 commented on #97
http://extentreports.relevantcodes.com/extentx/ the framework supports ExtentX which helps u store reports remotely.

Check the WiKi under Running TestNg test and config.properties section

Email able reports will be available in extent reports v3

[2016-08-21 15:52] shaynl commented on #97
thanks Sai. I installed the extentX and I can see all my reports there but without any screenshots or logs. also all the filters from the standalone extent report are gone.
In my other framework (without your tool) I implement extent reports so it save reports with dynamic name (with timestamp) to a google drive folder like this:
instance = new ExtentReports(reportFile, true, NetworkMode.OFFLINE);

[2016-08-22 12:30] saikrishna321 commented on #97
@shaynl i'm aware that screenshots and logs are getting attached on ExtentX, which needs to be fixed on extent report end.

how is this line sending your reports to google driver ?

[2016-08-22 13:27] shaynl commented on #97
in my code:

reportFile = resultDirectory + fileName + ".html";

resultDirectory = System.getProperty("user.home") + "/GoogleDrive/Automation/reports/" + System.getProperty("user.name");

so it save to the local GoogleDrive folder and from there it automatically sync to the drive on the web. Now I can also generate link to the report and send it by email with the unique folder ID:

reportLink = "h

[2016-08-22 13:31] saikrishna321 commented on #97
@shaynl when u have your reports syncing from google driver folder, where does your screenshots and logs locate? In the same google drive folder ?

[2016-08-22 13:39] shaynl commented on #97
Yes. I generate them in a function to the same folder under "screenshots":
String imagePath = "/screenshots/screenshot_" + dateTimeGenerator() + Thread.currentThread().getId() + ".jpg";
            File scrFile = driver.getScreenshotAs(OutputType.FILE);
            FileUtils.copyFile(scrFile, new File(reportsPath + imagePath));
            return "." + imagePath;

[2016-08-22 14:11] saikrishna321 commented on #97
when u have extentX support do you still see a point to use google driver ?

[2016-08-22 14:20] shaynl commented on #97
extentX seems to be better solution... this is just till extentX will have screenshots and log.
If it's to complicated i'll wait for the next release.

[2016-08-22 14:25] saikrishna321 commented on #97
ah . i dont think so ..  let me see a way for this ...

[2016-08-22 14:26] saikrishna321 commented on #97
https://github.com/saikrishna321/AppiumTestDistribution/issues/51

[2016-08-22 15:14] shaynl commented on #97
Thanks Sai. It's also be good to have an option to change the default report name from ExtentReport.html to something else. I'm using a dynamic name depending on what i'm tasting. It's easier to track the reports that way.

[2016-08-22 16:46] saikrishna321 commented on #97
@shaynl so how do you name the reports dynamically, would help understand before looking into this

[2016-08-22 17:41] shaynl commented on #97
fileName = appVersion + "_" + suiteName + "_" + dateTimeGenerator();
appVersion is a string i'm updating manually in the code when new app build is out (can I read this from the apk/ipa file?).
suiteName i'm taking from TestNG XML file like this: testContext.getCurrentXmlTest().getSuite().getName();
(This can be: Sanity, Regression, Full Cycle etc... )
dateTimeGenerator - generate the current date

[2016-08-25 07:35] shaynl commented on #97
@saikrishna321 In the meantime, can I do something to keep all previous reports with screenshots and logs locally?

[2016-08-25 08:33] saikrishna321 commented on #97
@shaynl if you want to keep all reports and logs locally, then you need to move the folders to a separate location locally ?

[2016-08-25 16:55] shaynl commented on #97
@saikrishna321 So for now I created a function that copy the target folder to Google Drive and rename it dynamically based on current date and time. I call it at AfterSuite:

`public void saveReportFolder() throws IOException {
        File srcDir = new File(System.getProperty("user.home")+"/Automation/target");
        File destDir = new File(System.getProperty("user.home")
                + "/Go

[2016-08-27 05:11] ssrikantasahoo opened #98 "Cannot run program "adb": error=2, No such file or directory Failed to initialise framework issue after set ANDROID_HOME in run config environment."
java.io.IOException: Cannot run program "adb": error=2, No such file or directory
Failed to initialize framework
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048)
	at java.lang.Runtime.exec(Runtime.java:620)
	at java.lang.Runtime.exec(Runtime.java:450)
	at java.lang.Runtime.exec(Runtime.java:347)
	at com.appium.utils.CommandPrompt.runCommand(CommandPrompt.java:21)
	at com.appium.manager

[2016-08-27 06:16] ssrikantasahoo opened #99 "How to run in iOS if i connected device only iOS it say no android device online"

[2016-08-28 09:49] saikrishna321 commented on #99
@ssrikantasahoo https://github.com/saikrishna321/AppiumTestDistribution/issues/83

[2016-08-28 09:51] saikrishna321 commented on #95
@ansonliao if you already have this implementation, can you pls send a pull request. Can help you if you need anything :-)

[2016-08-28 09:52] saikrishna321 commented on #90
@brtu were u able to fix the issue ? if not i will start working on it

[2016-08-28 10:55] ansonliao commented on #95
@saikrishna321
Actually, I don't know how to create a PR, for comparison, for `base` and `compare`, what branch I should select?

[2016-08-28 13:34] brtu commented on #90
@saikrishna321 No, I wasn't able to fix the issue.  Got sidetracked and was working on other stuff.  Yes, it would be great if you can fix it!

[2016-08-28 14:19] shaynl commented on #95
@ansonliao Is it also possible to automatically get the app version from IPA/APK with this?

[2016-08-28 14:58] ansonliao commented on #95
@shaynl
normally, we can get all information which existed in info.plist, and I notice that, mini OS version and platform OS version strings are existed in info.plist.

[2016-08-28 17:04] saikrishna321 commented on #90
@brtu your runner is testNG or cucumber ?

[2016-08-28 17:09] saikrishna321 commented on #95
@ansonliao fork AppiumTestDistribution to your repo and make changes and push.Then you need to create a PR , pls look at this link https://help.github.com/articles/creating-a-pull-request/
create the PR to master branch

[2016-08-28 17:34] brtu commented on #90
Cucumber

[2016-08-29 01:48] ansonliao commented on #95
@saikrishna321
thanks for your reply, I will try to create RP.

[2016-08-30 14:46] aryak93 commented on #98
Any progress on this. I'm also facing the same issue.

[2016-08-30 16:20] saikrishna321 commented on #98
@aryak93 are you running your test from eclipse?

[2016-09-01 13:58] raveendaranugu opened #102 "Failed to execute goal - Unable to delete the appium logs file"
Hi @saikrishna321 ,
While executing I am facing the below issue.I have executed 3-4 times that time it was working fine.But all of suddenly it stopped working and giving me the below error which is saying **"Failed to clean project: Failed to delete C:\Users\xxxxxxxxxx\git\AppiumTestDistribution\target\appiumlogs"**
Below is the stacktrace.I am executing this thru command prompt only.

INFO] BUILD

[2016-09-05 08:22] shaynl commented on #95
Is this already implemented in the code?
what version should I set in pom.xml to have the latest code?

[2016-09-05 08:31] saikrishna321 commented on #95
shanyl this has not been merged to master ... some reviews

waiting for @ansonlion

[2016-09-05 23:51] wildercs opened #103 "How to run in gradle - android studio - testng"
I'm trying to run the Runner class with Gradle via console, using TestNG, but have failed to make it work, the commands you use are: gradlew test, Gradle -Dtest.single = Runner test
Here my build.gradle project
[code]

my build.gradle app

[code]

Here my class Runner:

[code]
I have tried everything without being able to run the Runner class via console because jenkins does not work on me.
I apol

[2016-09-06 08:01] saikrishna321 commented on #103
@wildercs you can remove  the below two dependencies, as they are part of the AppiumTestDistriubution.jar

testCompile 'io.appium:java-client:4.0.0'
testCompile 'org.testng:testng:6.9.10'

Can you please tell me how are you running the test? From IDE or commandline? If commandline can you please provide the command and can you also post the error logs your getting

@shwetahe

[2016-09-06 14:50] wildercs commented on #103
@saikrishna321 hi, thanks for answering, so I'm running via console:

[code]

[2016-09-06 16:15] saikrishna321 commented on #103
@wildercs can you please provide your sample code on github...

[2016-09-06 17:12] wildercs commented on #103
@saikrishna321 Hello, My code https://github.com/wildercs/ejemploAndroidTest

[2016-09-06 17:45] saikrishna321 commented on #103
@wildercs thanks.. will get back soon

[2016-09-07 20:53] shaynl commented on #69
@saikrishna321
How to set the "noReset" with this fix?

[2016-09-08 10:44] KumarNellore commented on #98
@aryak93 For this we have to set Android tool and tool path in path variable of Eclipse.

[2016-09-08 10:47] KumarNellore opened #104 "Getting "Arguments to path.resolve must be strings" when running test case"
TypeError: Arguments to path.resolve must be strings
    at Object.win32.resolve (path.js:146:13)
    at [object Object].Device.configure (C:\Program Files (x86)\Appium\node_modules\appium\lib\devices\device.js:41:31)
    at [object Object].androidCommon.configure (C:\Program Files (x86)\Appium\node_modules\appium\lib\devices\android\android-common.js:25:8)
    at [object Object].Appium.configure

[2016-09-08 12:44] saikrishna321 commented on #104
@KumarNellore this is something to do with appium server .. can u install 1.5.3 and give a try

[2016-09-08 13:00] saikrishna321 commented on #69
@shaynl you can send your capabilities

https://github.com/saikrishna321/AppiumTestDistribution/blob/5aded86663a96ac152d1b163f7079bd8245bf3b4/src/test/java/com/test/site/UserBaseTest.java#L24

[2016-09-09 08:35] KumarNellore commented on #104
@saikrishna321  Resolved by Pointing to 1.5.3 version of Appium.

[2016-09-09 09:10] #104 closed

[2016-09-09 14:09] shaynl commented on #69
@saikrishna321  Thanks. It's running now with noRest.
In your code tests runs only on Android. I removed ,androidNative() so tests will run also on IOS. driver should be:
`driver = startAppiumServerInParallel(name.getName());`

[2016-09-09 14:27] saikrishna321 commented on #69
@shaynl yah it works for both android and iOS with default capabilities.

[2016-09-09 17:02] shaynl commented on #69
@saikrishna321 Sorry my bad. driver should be:
`driver = startAppiumServerInParallel(name.getName(),iosNative(),androidNative()); `
to run on both platforms with new capabilities.

[2016-09-10 20:27] shaynl opened #105 "How to run tests based on groups with the runner class?"
The following code run all tests from the added test classes:

`@Test public void testRunner() throws Exception {
        ParallelThread parallelThread = new ParallelThread();
        List<String> tests = new ArrayList<String>();
        tests.add("HomeTests");
        tests.add("RegLoginTests");
        parallelThread.runner("com.appium.tests.chosen",tests);
    }`

On each test I set groups like

[2016-09-11 03:49] saikrishna321 commented on #90
@brtu i have made fixes for testNG runner, will do it for cucumber next ..

[2016-09-12 05:14] saikrishna321 commented on #105
@shaynl i'm working on it.. Will push by EOD.

[2016-09-12 08:45] shaynl opened #106 "How to continue run tests when app crash?"
I found out that if the app crash with one of my tests it stop running all the rest of the tests on same device (other devices continue to run). I think this is only for IOS.
When this happens I see the following error:

Is there any way to catch that error and restart the driver to continue run the rest of my tests?

[2016-09-12 09:05] saikrishna321 commented on #106
@shaynl i don't this would happen, in the @BeforeMethod we are creating the driver instance and that should bring the crashed app. Is there any sample project which we can reproduce ..

[2016-09-12 10:42] shaynl commented on #106
I can't share the app but this is my @BeforeMethod and @AfterMethod setup:

@BeforeMethod() public void startApp(Method name) throws Exception {
        driver = startAppiumServerInParallel(name.getName(),iosNative(),androidNative());
        startLogResults(name.getName());
    }
@AfterMethod() public void killServer(ITestResult result)
        throws InterruptedException, IOException, URISyntaxE

[2016-09-13 19:54] shaynl commented on #97
@saikrishna321
 I just noticed that when copying the target folder to different location, images not show in the reports. I see that you are using the project path for the image location. it should replaced by "./"
so instead of:

it should be:

[2016-09-13 22:01] Shashikant86 opened #107 "Cucumber feature file supported yet ?"
Hi @saikrishna321 Good job mate, you have created an awesome tool. Just wondering if it still supports Cucumber feature files? Currently Cucumber runner doesn't seems to be doing anything ..

Line 139[ here] parallel thread .java (https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/ParallelThread.java) is commented

Have you tries it with Cucumber F

[2016-09-14 06:39] shaynl commented on #105
@saikrishna321 thanks so much for adding this.
on the same topic, will also "alwaysRun" will work when running on distribution mode?
I didn't test it yet but I have some tests that must be run on all devices like passing the intro screen and login.

[2016-09-14 10:34] saikrishna321 commented on #107
@Shashikant86 thanks mate 👍

Yeah the framework works with cucumber feature in parallel. Currently the master is broken as there was an issue https://github.com/saikrishna321/AppiumTestDistribution/issues/90, i have fixed the testng runner now, will need to do it for cucumber as well.

Please take a look at the sample test project, which has capabilities to run cucumber tests in parallel

https://

[2016-09-14 10:35] saikrishna321 commented on #106
@SrinivasanTarget ping

[2016-09-14 10:38] saikrishna321 commented on #105
@shaynl there won't be any changes the way Parallel and Distribute works. startAppiumServer(getClass().getSimpleName()); method will be moved into AppiumParallelTest class and you will no longer need to call this in your @BeforeClass

You need to run the tests as INCLUDE_GROUPS="smoke" EXCLUDE_GROUPS="ignore" mvn clean -Dtest=Runner test

Reason to have groups passed from commandline is, if you ha

[2016-09-14 11:45] Shashikant86 commented on #107
@saikrishna321 I have tried that project with my own ios app. It seems to be working with TestNG setup but with FRAMEWORK=cucumber I am getting following error

               Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.708 sec <<< FAILURE! - in                  com.appium.steps.RunnerCukes
                   testCukesRunner on testCukesRunner(com.appium.steps.RunnerCukes)

[2016-09-14 12:05] saikrishna321 commented on #107
@Shashikant86 can you tell me how r u running the tests ? from commandline, if yes the command.

Let me also try

[2016-09-14 12:20] Shashikant86 commented on #107
@saikrishna321 I am running from command line with maven as you suggested

              mvn clean -Dtest=RunnerCukes test
but planning to move to Gradle once got it working

[2016-09-14 12:29] shaynl commented on #105
@saikrishna321 sounds good solution. will it work with more than one group? like: INCLUDE_GROUPS="smoke,sanity".

about what I asked above:
 in TestNG there is an option to set for tests @Test (alwaysRun = true) - will this work with Distribute mode and run those tests on all devices?

[2016-09-14 12:51] saikrishna321 commented on #107
@Shashikant86 can you please <pluginManagement> tag in your pom.xml. Try with the below pom.xml it works.

[code]

[2016-09-14 12:54] saikrishna321 commented on #105
yah it will work with multiple groups.

If you want all tests in all devices, then u need to set the RUNNER=parallel, Distribute works at class level not method level.

[2016-09-14 13:13] saikrishna321 commented on #105
@shaynl you need to run tests as below
[code]
Make sure yours UserBaseTest looks like this(https://github.com/saikrishna321/AppiumTestDistribution/blob/a6602adf9ed15198412f7d070c5aa962ae122fd0/src/test/java/com/test/site/UserBaseTest.java)

Add this as your dependency to see the feature implementation.

[code]

Please revert if it works.

[2016-09-14 13:58] SrinivasanTarget commented on #106
@shaynl We will investigate and get back to you on the behavior of Appium

[2016-09-14 14:45] Shashikant86 commented on #107
@saikrishna321 Working now :)  Just wondering What has changed from existing POM in the demo project ?
It would be great if you can update POM in the demo project  :) Thanks a lot

[2016-09-14 14:46] #107 closed

[2016-09-14 14:57] Shashikant86 commented on #107
@saikrishna321 I haven't wrote java before in my life .. so might be dumb question.. How would you run this tests without maven from plain command line. Just wondering where are the binaries :)

[2016-09-15 05:46] shwetahe commented on #103
@wildercs  I added following things to your project and it started executing your tests(it failed for me with compilation errors though) . Try it out.
1. Add a testng.xml to point your tests
I added a simple one inside test folder.
[code]

2. Edited your project build.gradle a li'l bit
[code]

Lemme know if it helps.

[2016-09-15 15:45] saikrishna321 commented on #105
@shaynl ping

[2016-09-15 16:19] saikrishna321 commented on #106
@shaynl i'm unable to reproduce it on android. I forced killed the app manually and went ahead with debugging and i got the below error.

org.openqa.selenium.NoSuchElementException: An element could not be located on the page using the given search parameters. (WARNING: The server did not provide any stacktrace information)

@SrinivasanTarget can you try with iOS?

[2016-09-15 16:38] shaynl commented on #105
@saikrishna321 thanks! I'll test it soon and report...

[2016-09-15 16:52] shaynl commented on #106
@saikrishna321 I also didn't see this on Android. It seems to happened only with IOS.

[2016-09-17 05:55] saikrishna321 commented on #103
@shwetahe thanks :) @wildercs closing for now.. If you don't get it working. Pls reopen

[2016-09-17 05:55] #103 closed

[2016-09-17 06:04] #83 closed

[2016-09-17 06:04] #99 closed

[2016-09-17 06:04] saikrishna321 commented on #98
Closing as inactive

[2016-09-17 06:04] #98 closed

[2016-09-17 06:06] #89 closed

[2016-09-17 06:07] saikrishna321 commented on #85
https://github.com/saikrishna321/AppiumTestDistribution/pull/88

[2016-09-17 06:07] #85 closed

[2016-09-17 21:34] shaynl commented on #105
@saikrishna321 It didn't work :(
this is the error I get:

{28aa002d=true, 1xb3x4301xxcx0d45007919c07fx7f0xf270e4fx=true}
Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 2.886 sec <<< FAILURE! - in com.appium.tests.Runner
testRunner(com.appium.tests.Runner)  Time elapsed: 2.474 sec  <<< FAILURE!
java.lang.IndexOutOfBoundsException: Index: 1, Size: 1
	at java.util.ArrayList.rangeChe

[2016-09-18 05:34] saikrishna321 commented on #105
@shaynl will look at this, master is broken on this

[2016-09-19 04:39] saikrishna321 opened #108 "Fail build when test failure occurs"

[2016-09-19 12:59] saikrishna321 commented on #105
@shaynl  can you try with this version 93e1a9d1f9

[2016-09-19 15:50] ssrikantasahoo opened #109 "[ADB] The ANDROID_HOME environment variable is not set to the Android SDK root directory path. ANDROID_HOME is required for compatibility with SDK 23+. Checking along PATH for adb. [ADB] Error: Could not find adb Please set the ANDROID_HOME environment variable with the Android SDK root directory path."
Setting Android Desired Capabilities:
Android API Level::19
[HTTP] --> POST /wd/hub/session {"desiredCapabilities":{"app":"/Users/srikantakumarsahoo/Downloads/AndroidCalculator.apk","appPackage":"com.android2.calculator3","appActivity":"com.android2.calculator3.Calculator","platformVersion":"5.X","browserName":"","platformName":"Android","deviceName":"Android"}}
[MJSONWP] Calling AppiumDriver.crea

[2016-09-19 16:18] saikrishna321 commented on #109
you need to set ANDROID_HOME in your env

[2016-09-19 20:24] shaynl commented on #105
@saikrishna321  it fail again. It say that no device connected...

[2016-09-19 20:36] shaynl commented on #82
@saikrishna321 can I start use extent reports 3 in my project?

[2016-09-20 00:10] saikrishna321 commented on #82
nope ... I think they are still on SNAPSHOT

[2016-09-20 00:11] saikrishna321 commented on #105
I tried with the same version and works for me. Can you pls post the entire stack trace ..

[2016-09-20 05:48] ssrikantasahoo commented on #109
i have already set ANDROID_HOME

[2016-09-20 05:58] ssrikantasahoo opened #110 "Cannot run program "adb": CreateProcess error=2, The system cannot find the file specified at java.lang.ProcessBuilder.start(Unknown Source)"
![image](https://cloud.githubusercontent.com/assets/10594917/18659026/8c7a43d8-7f25-11e6-9a3d-86b25d516f14.png)
After i set PATH in eclipse cant start adb

[2016-09-20 08:56] saikrishna321 commented on #110
you need to ANDROID_HOME as well

[2016-09-20 08:57] saikrishna321 commented on #110
https://github.com/saikrishna321/AppiumTestDistribution/issues/3

[2016-09-20 08:57] #110 closed

[2016-09-20 08:57] saikrishna321 commented on #109
https://github.com/saikrishna321/AppiumTestDistribution/issues/3

[2016-09-20 08:57] #109 closed

[2016-09-20 09:17] shaynl commented on #105
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for com.pagepattern.appium:ChosenAutomation3:jar:0.0.1-SNAPSHOT
[WARNING] 'build.plugins.plugin.version' for org.apache.maven.plugins:maven-compiler-plugin is missing. @ line 132, column 21
[WARNING]
[WARNING] It is highly recommended to fix these problems because they threaten the

[2016-09-20 12:23] saikrishna321 commented on #105
@shaynl it says no devices connected

[2016-09-20 12:24] #108 closed

[2016-09-20 12:44] shaynl commented on #105
@saikrishna321 This is the bug. 1 android device is connected and can be found when running adb devices. It also work fine with the other version I use: 3baa0dc

[2016-09-20 13:41] shaynl commented on #82
@saikrishna321 The only issue I have now with the reports is when copy the target folder to different location I can't see screenshots and logs. I tried to use the CI_BASE_URI in config file and set it to "." to create a relative path but it didn't work because of the "/target". Is there a way to remove it?

[2016-09-20 16:10] saikrishna321 commented on #105
@shaynl there was a bug when one android and one iOS device was connected. which was fixed
https://github.com/saikrishna321/AppiumTestDistribution/commit/93e1a9d1f93e4abdef5eed60255b84b4cc64b657

Let me update the sample project, try with that

[2016-09-20 16:43] saikrishna321 commented on #105
@shaynl i have updated the sample project(https://github.com/saikrishna321/PageObjectPatternAppium)

Run Command: INCLUDE_GROUPS="smoke,regression" mvn clean -Dtest=Runner test

[2016-09-20 20:32] shaynl commented on #105
@saikrishna321 yes it's working with the sample project. How I can make it work also with my project?

[2016-09-21 00:04] saikrishna321 commented on #105
pls look at the BeforeClass and AfterClass methods in the UserBaseTest....

[2016-09-21 08:50] da-peng opened #111 "DistributeTests get package all classes param “output" can not use"
I replace  like this  "com.appium.tests"  can be used

[2016-09-21 14:36] saikrishna321 commented on #111
@GraTester please give a detailed description of what your issue is. With this summary i'm not able to understand

[2016-09-21 14:37] #105 closed

[2016-09-22 07:38] saikrishna321 commented on #82
@shaynl pls try with this version its fixed

        <dependency>
            <groupId>com.github.saikrishna321</groupId>
            <artifactId>AppiumTestDistribution</artifactId>
            <version>8d8c700</version>
        </dependency>

[2016-09-22 08:01] shaynl commented on #82
@saikrishna321 this version have the issue that say "no device connected" when connecting 1 or 2 Android devices (can tests only on Android at the moment). How to fix that? any other changes I need to do?

[2016-09-22 10:00] saikrishna321 commented on #82
@shaynl nope.. wierd .. Can u check adb devices

[2016-09-22 10:58] shaynl commented on #82
@saikrishna321 yes. This is the first thing I checked. I can see all the connected devices....
what else should I check?

[2016-09-22 19:26] kskrishnan opened #113 "Ability to capture screenshots in the midst of a test"
I would like to add a feature, where in we need a method possibly in 'AppiumParallelTest' that takes the screenshot and writes the same to the Extent Report. Currently, the 'captureScreenShot' does not write to ExtentReport, it would be great to have this feature.

This would enable more interactive test execution where in one can take screenshots from a test method. Alternatively it is best to ge

[2016-09-23 06:33] ansonliao opened #114 "Disabled android properties in config.properties, also will start android test session once android device connected"
Hi Sai,
I found a problem on single mobile platform enabled but connected two android and iOS devices during test run.

I removed/commented `ANDROID_APP_PATH`, `APP_PACKAGE`, `APP_ACTIVITY` properties from `config.properties`,
and then connected one Android device, and one iOS device,
and then run the test.

and the test will start Android test session to run the test but fail, as no Android test

[2016-09-23 07:28] saikrishna321 commented on #114
@ansonliao do you see any kind of errors on this ?

[2016-09-23 08:04] ansonliao commented on #114
@saikrishna321
As disabled `ANDROID_APP_PATH`, `APP_PACKAGE`, `APP_ACTIVITY`, when android test session stated to initial appium Capabilities will be threw error such as the app file was not found message.

[2016-09-24 15:42] jawlitkp opened #115 "Appium v1.4.16 dose not recognize "--webkit-debug-proxy-port""
Hello,

You have mentioned in your precondition document to use Appium v1.4.16 but it is not recognizing "--webkit-debug-proxy-port" server argument.

Please suggest

[2016-09-24 15:50] saikrishna321 commented on #115
@jawlitkp  i have tested with 1.4.16 and it works. It starts the webkit proxy .. Can you please tell me the error u see ?

[2016-09-24 16:27] jawlitkp commented on #115
Here is method which is starting appium service in your code,i have tried to execute seperatly to see whats going on.

Also i don't see main.js file in Appium version 1.4.16 so i am using appium.js

	public void startAppium(){

		ServerArgument webKitProxy = new ServerArgument() {
			@Override public String getArgument() {
				return "--webkit-debug-proxy-port";
			}
		};

		System.out.println("**

[2016-09-24 16:28] jawlitkp commented on #115
Appium 1.5.3 has slowness issue so i don't want to rollout in my company ,i have to work with 1.4.16 for iOS parallel execution

[2016-09-24 18:15] saikrishna321 commented on #115
with 1.4.16 ios-web-kit proxy was not implemented on the server side, that's the reason ur seeing this.

This framework was WIP for web view iOS coz of this reason. with appium 1.5 it works on parallel web view

[2016-09-24 18:41] jawlitkp commented on #115
Thanks Sai.make sense.

btw are you seeing slowness while executing iOS web view test using 1.5 ? in my case i am seeing significant slowness .and as soon as i downgrade to 1.4.16 problem disappears.

Any help would be appreciated.

[2016-09-24 18:46] saikrishna321 commented on #115
my app is Native, so can't comment on the web view performance

[2016-09-24 18:46] #115 closed

[2016-09-26 16:15] kskrishnan opened #116 "How do I run tests on iOS Simulator?"
I started a iOS simulator and set RUNNER=parallel in config.properties. Even then the tests are not launching on iOS Simulator. Should I provide some flag to get the framework to start iOS Simulator?

I know multiple iOS simulators are not supported, but tests are not running even on one simulator. Kindly revert back if I am missing anything?

[2016-09-26 16:46] saikrishna321 commented on #116
this framework supports only running test on real devices not on simulators,untill appium server supports fbsimctl

[2016-09-27 07:02] #116 closed

[2016-09-27 07:04] saikrishna321 commented on #113
@kskrishnan do you want this to be attached to the report as well for debugging purpose

[2016-09-27 14:34] aryak93 opened #117 "Which appium version is compatible with AppiumTestDistribution?"
My appium server version is 1.5.3 and I am trying to run tests on both Android and iOS devices. For android (both emulator and device) everything runs fine. But for iOS, I am only able to run tests on the simulator and not on an actual device.

Is there anything I'm missing? I read on an Appium forum that with the latest version of appium, there is some problem for running tests on iOS devices. Pl

[2016-09-27 14:38] shaynl opened #118 "Unable to run tests from IDE"
@saikrishna321 I'm getting errors when trying to run tests directly from the intelliJ IDE (with command line it works fine). This was working before and with the latest code update it stopped working. I tried it also with your sample project and this is what i'm getting:
Adding iOS devices
Adding Android devices
{28aa123d=true}
[TestNG] Running:
  /Users/shayn/Library/Caches/IdeaIC2016.2/temp-test

[2016-09-27 15:52] saikrishna321 commented on #118
How r u running this from IDE, which file are you triggering ?

[2016-09-27 15:54] saikrishna321 commented on #117
@aryak93 running parallel on iOS device is possible provided your OS level is < 10.0

[2016-09-27 16:54] shaynl commented on #118
I run a specific @test method. Next to every @test method there is a play button to run it.
This is very useful when creating new test and want to quickly run it to see that it's working well.

[2016-09-27 17:41] saikrishna321 commented on #118
@shaynl its not gonna work this way ... You can keep a breakpoint in your @Test method and start the debug from Runner class

[2016-09-27 17:42] #118 closed

[2016-09-27 19:05] shaynl commented on #118
@saikrishna321 it did work this way before the last changes in the code.
You can see it's working on 3baa0dc.
did you remove this option?

[2016-09-28 04:53] saikrishna321 commented on #118
@shaynl yah  i have changed the way it starts the test..

[2016-09-28 08:01] kskrishnan commented on #116
Sai, I noticed that Appium by default supports iOS simulator. I am able to run tests on iOS Simulators using plain Appium outside of this framework. Is there anything (fbsimctl) that this framework specifically needs for this? I would assume you need this to check the status of the simulator, etc. (similar to adb), but can you confirm if my assumption is right?

Also, I am planning to write a thin

[2016-09-28 12:08] kskrishnan commented on #113
Hi @saikrishna321 , Yes that is the intention. The screenshots could be showed inline in the ExtentReports.html.

[2016-09-28 16:25] saikrishna321 commented on #113
@kskrishnan i'm working on video capturing for each tests, wouldn't that be more help rather than the screens for debugging

[2016-09-29 06:05] kskrishnan commented on #113
Hi @saikrishna321 - Video recording is very good, but in order to give the choice, I believe it would be good to create a function that can just take interim screenshots. Its more for debugging purposes (I mean debugging the test code), and could be turned off in favor of video recording for the production version.

I believe we could just strip the code from AppiumParallelTest.java > public void

[2016-09-29 06:24] kskrishnan opened #119 "Cucumber tests do not have the ability to pass desiredCapabilities"
Hi @saikrishna321 - I know for testNG tests we can pass the desired caps to startAppiumServerInParallel method. However, this does not work (not available) for ExtentCucumberFormatter > startOfScenarioLifeCycle method. Can we add this?

This aside, the Cucumber tests (both parallel & distributed) seem to be broken now, is it something that would be fixed soon? The below details should help -

In E

[2016-09-29 06:47] saikrishna321 commented on #113
@kskrishnan will expose a method captureScreenshot("FileName") which will capture the screenshot at that point

This works ?

[2016-09-29 08:09] KumarNellore opened #120 "Can we run Mobile web test case with AppiumTestDistribution"
I tried running web related test case, but getting error while running test case because of failure in line 270 of AppiumParallelTest.java

@saikrishna321  Could you Please check and reply on this.

Thanks
Krishna

[2016-09-29 08:59] saikrishna321 commented on #120
@KumarNellore pls provide the error stack and also which version are u using ?

[2016-09-29 10:31] KumarNellore commented on #120
@saikrishna321

Version detail:
appium = 1.5.3
AppiumTestDistribution = 5.0.0
Mobile Android Version = 6.0.1

Please find below error message text:

java.lang.NullPointerException
	at com.appium.manager.AppiumParallelTest.startAppiumServerInParallel(AppiumParallelTest.java:178)
	at com.imaginea.base.WebBaseTest.beforeClass(WebBaseTest.java:45)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Nativ

[2016-09-29 10:34] saikrishna321 commented on #120
can u pls show your UserBaseTest and config.properties and also how r u running the test? IDE or command line

[2016-09-29 10:38] KumarNellore commented on #120
UserBaseTest.java

public class UserBaseTest extends AppiumParallelTest {

    @BeforeMethod()
    public void startApp(Method name) throws Exception {
        driver = startAppiumServerInParallel(name.getName());
        startLogResults(name.getName());
    }

    @AfterMethod()
    public void killServer(ITestResult result) {
        try {
            endLogTestResults(result);
        } catch (

[2016-09-29 11:36] saikrishna321 commented on #120
APPIUM_JS_PATH is complete is path right.   .

[2016-09-29 11:38] KumarNellore commented on #120
yes..
actual value of APPIUM_JS_PATH = D:\appium153\node_modules\appium\build\lib\main.js
Just to avoid full path display in github i updated like above.

[2016-09-30 13:48] kskrishnan commented on #113
@saikrishna321 - I don't think we need to pass the filename as a parameter. The method could automatically define the filename, perhaps add the platform, class, method & date-timestamp to the filename by default.

[2016-10-14 14:42] karthikbhatnagar commented on #82
@saikrishna321 - can you pls integrate v3 of extentreports? it was released 2 days ago.

[2016-10-14 16:59] saikrishna321 commented on #82
@karthikbhatnagar can u pls raise  issue for this, easy to track

[2016-10-14 18:08] karthikbhatnagar opened #121 "Upgrade extentreports version to 3.0 latest"
hi Sai
Please update the extentreports version to latest 3.0.  it was released 2 days ago on the website.
Note:  i have used to test with it and a few things:
1. the group id has changed
   com.aventstack
2. each reporter is separate and we can choose to add
3. the new shortcuts feature is very nice
4. No need to end tests
5. better category and exception views

cc @anshooarora

[2016-10-15 04:24] saikrishna321 commented on #121
@karthikbhatnagar is there any difference in v2 and v3 implementation?

[2016-10-17 20:25] karthikbhatnagar commented on #121
@saikrishna321 - sorry for the late reply, yes, it has several changes but they are 80% setup related i believe.  i checked https://github.com/anshooarora/extentreports-java/issues/652, pls let me know if any help is needed.

[2016-10-18 04:53] saikrishna321 commented on #121
@karthikbhatnagar i got it working.. will be making the changes soon to the master, i don't see a way to attache videologs to the report in v3.

[2016-10-18 05:12] gaurabhi1986 opened #122 "How can I run mobile web app test parallel using this framework"
Hi,

I need to execute my mobile web app test on multiple devices.

Can you please help me for below queries:
- How can I use this framework to execute my mobile web test parallel ?
- How can I run my test on remotely hosted devices ?

Thanks,
Abhishek Gaur

[2016-10-18 06:50] saikrishna321 commented on #122
@gaurabhi1986 you need have your config.properties as below

[code]

[2016-10-19 14:27] DanielSaganome opened #123 "RunnerCukes stalls out v. 93e1a9d1f9"
Hey man awesome project you got here, really useful.

I'm trying to run the cucumber tests from your PageObjectPatternAppium project, with the latest commit of this project (93e1a9d1f9) but when it starts the tests, it reads the feature file, prints the feature description and then stalls indefinitely.

Running project through command line
mvn clean -Dtest=RunnerCukes test

This is the line where

[2016-10-19 15:53] saikrishna321 commented on #123
@DanielSaganome Thanks a lot for trying out the repo, pls user v 5.0.1 for cucumber, the master is broken on cucumber runner.

The issue is fast and hard rule, still needs to be fixed. Will look into it ASAP, stuck with project work.

Give it a try with v5.0.1 and ping back if any help is needed

[2016-10-20 15:41] karthikbhatnagar commented on #121
Sai
i think most people require snapshots so until video support is added it shouldn't be a big miss. what do you think?
are lots of ppl using video?

[2016-10-20 16:47] saikrishna321 commented on #121
@karthikbhatnagar i have implemented and having minor issues, will merge to master in a day ..

[2016-10-25 18:18] Vishnu1067 commented on #121
Can we make dynamic screenshots using timestamp? I cannot use getter setter
for storing device id to make dynamic ss... pls suggest me
On Thu, Oct 20, 2016 at 11:47 PM Sai Krishna <notifications@github.com>
wrote:

[2016-10-26 03:25] saikrishna321 commented on #121
@Vishnu1067 can you please open a new issue and provide more details what is that your looking for ... This thread is just to track the extent report v3

[2016-10-27 12:06] shaynl opened #124 "App not launching with Appium 1.6"
@saikrishna321  I can't run my test with the latest Appium ver 1.6, xcode8, IOS10
I tried it without AppiumTestDistribution and it worked well but when run it with AppiumTestDistribution the app not launching after WebDriverAgent is loading.
I'm using your latest code c6ff6ac. please advice.

[2016-10-27 14:58] shaynl commented on #124
got this fixed when I removed my app bundle ID from DesiredCapabilities so it will be like this:
iOSCapabilities.setCapability(IOSMobileCapabilityType.BUNDLE_ID, "");
very strange...

[2016-10-28 11:13] Vishnu1067 commented on #121
Hello Sai, I did some mistake assigning thread. Now it is working fine.
Thank you
On Wed, Oct 26, 2016 at 10:25 AM Sai Krishna <notifications@github.com>
wrote:

[2016-10-29 04:54] saikrishna321 commented on #124
if it's real device then BundleID is mandatory flag ....

[2016-10-29 07:05] shaynl commented on #124
yes it's real device but with your tool it's work well only if BundleID is empty.
If I'll enter my app BundleID it will remove the app from the device if it's exist, then reinstall it but will not launch it when the test should start.

[2016-10-30 08:33] saikrishna321 commented on #124
can you pls post logs when u pass the BundleID

[2016-10-30 10:09] shaynl commented on #124
sorry, when I checked the log again I noticed that the BundleID was wrong. It strange that it did work without your tool...
anyway all is good now. thanks :)

[2016-10-30 10:09] #124 closed

[2016-10-30 11:19] saikrishna321 commented on #124
can you pass the BundleID empty and then send the logs ... interested to see how it picks

[2016-10-30 11:45] shaynl commented on #124
here is the log with bundleID empty: https://gist.github.com/shaynl/8766c63b03b095ebb31bff67dc2d5607

[2016-10-30 13:33] saikrishna321 commented on #124
what's the logs with BundleID, so that I can see what's the error

[2016-10-30 15:04] shaynl commented on #124
with BundleID: https://gist.github.com/shaynl/5e53566fefba3fba396ed7e3862a64e2

[2016-10-30 16:46] saikrishna321 commented on #124
@shaynl i dont see any error on the server logs ..

[2016-11-02 22:57] MemoRuan opened #125 "Not detecting iOS Simulators running"
Hi Sai, @saikrishna321

I was not able to run a test on iOS Simulator, the execution throws this comments:
-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
 parallel
creating directory: Logs
No Device Connected
 NoDevicesConnected

Looks The frame

[2016-11-03 05:30] saikrishna321 commented on #125
@MemoRuan until appium supports handling parallel sim, this framework won't

[2016-11-03 05:30] #125 closed

[2016-11-03 08:04] raveendaranugu opened #126 "Launching App on every @test method"
Hi @saikrishna321 ,
Currently while running the scripts the app is getting launched on every @test method. (what if we have 50-100 testcases ) . Can we able to run the scripts without closing and opening the app for every @test methd.

[2016-11-03 11:29] saikrishna321 commented on #126
@raveendaranugu we are doing this coz we should have a clean state application for the next test, so that u would not end up with flaky test/ test dependency.

It just quit's the app and recreate a new instance for the next test

[2016-11-03 16:13] #126 closed

[2016-11-06 16:35] saikrishna321 commented on #121
@karthikbhatnagar master now has the Extent v3 support. Use the below dependency version and give it a try ...

[code]

the methods have been moved within the dependency, make sure you make these changes

[code]

Give it a try n let me know if it works

[2016-11-06 16:35] saikrishna321 commented on #120
@KumarNellore is it working for you ?

[2016-11-06 17:10] saikrishna321 opened #128 "Screenshot on failure broken, when no device frames"
<img width="1437" alt="screen shot 2016-11-06 at 10 43 37 pm" src="https://cloud.githubusercontent.com/assets/4045041/20039854/e7f290f0-a471-11e6-9362-94a4aed1ca2d.png">

[2016-11-07 06:50] KumarNellore commented on #120
@saikrishna321
Its still not working . Getting below error message in console.

[HTTP] --> POST /wd/hub/session {"desiredCapabilities":{"browserName":null,"takesScreenshot":true,"platformName":"Android","deviceName":"Android","platformVersion":"5.0.X"}}
[MJSONWP] Calling AppiumDriver.createSession() with args: [{"browserName":null,"takes...
[Appium] Creating new AndroidDriver session
[Appium] Capa

[2016-11-07 06:52] saikrishna321 commented on #120
@KumarNellore can you please provide complete error stack

[2016-11-07 06:53] KumarNellore commented on #120
@saikrishna321
Please find below error stack:

[Appium] Appium REST http interface listener started on 0.0.0.0:50861
[HTTP] --> GET /wd/hub/status {}
[MJSONWP] Calling AppiumDriver.getStatus() with args: []
[MJSONWP] Responding to client with driver.getStatus() result: {"build":{"version":"1.5.3"...
[HTTP] <-- GET /wd/hub/status 200 38 ms - 83
Nov 07, 2016 12:16:50 PM com.relevantcodes.extentrepor

[2016-11-07 09:02] saikrishna321 commented on #120
@KumarNellore broweserName is going as null, which should be chrome,

can you share your config.properties ?

[2016-11-07 09:09] KumarNellore commented on #120
@saikrishna321
Please find below config.properties file content.

APP_ACTIVITY=com.material.activity.MaterialMainActivity
APPIUM_JS_PATH=D\:\\appium153\\node_modules\\appium\\build\\lib\\main.js
ANDROID_APP_PATH=F\:\\appium\\sdqa\\src\\test\\resources\\com.XXXX.main-2.apk
APP_PACKAGE=com.XXXX.main
RUNNER=distribute
APP_TYPE=web
FRAMEWORK=testng

[2016-11-07 09:27] saikrishna321 commented on #120
@KumarNellore can you please add the below property and then try

BROWSER_TYPE=chrome

[2016-11-07 09:52] KumarNellore commented on #120
@saikrishna321  I think its resolved. I'm not able to run test case as 5.0.X version is referred in capabilities

Below message is shown
[AndroidDriver] Error: Unable to find an active device or emulator with OS 5.0.X.

[2016-11-07 09:59] saikrishna321 commented on #120
Make these changes to your BaseTest class and give it a try
[code]
[code]

[2016-11-07 11:12] KumarNellore commented on #120
@saikrishna321

Session is get killed with below error message.

[AndroidDriver] We're going to run a Chrome-based session
[AndroidDriver] Chrome-type package and activity are com.android.chrome and com.google.android.apps.chrome.Main
[ADB] Checking whether adb is present
[ADB] Using adb.exe from C:\Users\krishnakumarnellore\AppData\Local\Android\android-sdk\platform-tools\adb.exe
[AndroidDriver]

[2016-11-07 11:52] saikrishna321 commented on #120
@KumarNellore can you pls post sample project and provide git link

[2016-11-07 15:11] SrinivasanTarget commented on #128
Could be path issue :)

[2016-11-07 15:35] #128 closed

[2016-11-07 15:46] saikrishna321 commented on #97
@shaynl its relative now ..

[2016-11-07 15:46] #97 closed

[2016-11-07 17:02] DanielSaganome commented on #123
Hey so I decided to fork to the project and play around and I got cucumber running using your latest commit (a12b29d9d3).

I narrowed the problem down to only a couple lines of code in AppiumParallelTest.java in startAppiumServer(String device) method. Basically the issue is that the device UDID was being set to the parameter of this method but this method is called by feature() in ExtentCucumberF

[2016-11-07 17:35] SrinivasanTarget commented on #123
@DanielSaganome Awesome 👍 We will review this soon. Thanks for your work.

[2016-11-07 18:38] DanielSaganome commented on #123
Sure, would you guys like me to make a pull request?

[2016-11-07 19:24] Balhindi commented on #90
Sai, any update on this sir? I also run into the same problem. Thank you so much for all of your work

[2016-11-08 04:14] saikrishna321 commented on #123
@DanielSaganome initially this was the implementation, which had the bug. When tests are completed on device3 and device2 is still running and has pending one testcase, then the getNextAvailableDevices() checks and pulls the pending test-cases, so when running in parallel we need to allocate the device UDID to set of test cases...

[2016-11-08 04:14] saikrishna321 commented on #123
Myself and @SrinivasanTarget are looking into it.. @DanielSaganome if you have any ideas pls chip in

[2016-11-08 06:20] Vishnu1067 commented on #120
@saikrishna321 , Is webTest working for you? I have configured your project and seems i got the same issue as above.

[2016-11-08 06:41] Vishnu1067 commented on #120
`[Appium] Welcome to Appium v1.6.0
[Appium] Non-default server args:
[Appium]   port: 52168
[Appium]   bootstrapPort: 52171
[Appium]   sessionOverride: true
[Appium]   loglevel: 'info'
[Appium]   selendroidPort: 52172
[Appium]   chromeDriverPort: 52170
[Appium]   suppressAdbKillServer: true
[Appium] Appium REST http interface listener started on 0.0.0.0:52168
[HTTP] --> GET /wd/hub/status {}
[MJSO

[2016-11-08 06:42] Vishnu1067 commented on #120
[Appium] Welcome to Appium v1.6.0
[Appium] Non-default server args:
[Appium]   port: 52168
[Appium]   bootstrapPort: 52171
[Appium]   sessionOverride: true
[Appium]   loglevel: 'info'
[Appium]   selendroidPort: 52172
[Appium]   chromeDriverPort: 52170
[Appium]   suppressAdbKillServer: true
[Appium] Appium REST http interface listener started on 0.0.0.0:52168
[HTTP] --> GET /wd/hub/status {}
[MJSON

[2016-11-08 06:55] Vishnu1067 commented on #120
Found the solution. @KumarNellore  Please update the latest chromedriver.exe (Version 54+)  `D:\appium153\node_modules\appium\node_modules\appium-android-driver\node_modules\appium-chromedriver\chromedriver\win\chromedriver.exe`

[2016-11-08 06:56] Vishnu1067 commented on #120
@saikrishna321 @KumarNellore It works for me well.

[2016-11-09 11:06] Vishnu1067 opened #129 "How to access ExtentReport via MongoDb"
Hello Everyone,

I have installed Mongodb locally and provide the address and port details in config properties. After run the test case How to share the extentreport to everyone with visible screenshots.

When i access http://localhost/27017 it shows

It looks like you are trying to access MongoDB over HTTP on the native driver port.

Best Regards,
Vish.

[2016-11-09 17:36] saikrishna321 commented on #129
@Vishnu1067 what is the error your getting or anything is going wrong on reports ?

[2016-11-10 01:57] Vishnu1067 commented on #129
@saikrishna321 , There were no errors on the execution and report as well. I provided localhost details as

MONGODB_SERVER=127.0.0.1
MONGODB_PORT=27017

After run the test case, result files can see thro' this address right? http://127.0.0.1/27017

Please correct me if it's wrong.

[2016-11-10 02:10] Vishnu1067 commented on #129
FYI, I am still using Extent V2 because i can add the screenshots for each test step.

![image](https://cloud.githubusercontent.com/assets/13374564/20162135/8d32b21a-a725-11e6-8415-41bab4c9a1c0.png)

[2016-11-10 04:22] saikrishna321 commented on #129
No it should be localhost:1337

[2016-11-10 04:25] Vishnu1067 commented on #129
@saikrishna321 , Have modified the config file and i am facing following issue:

[TestRunner] Starting executor for test TestNG Test with time out:2147483647 milliseconds.
Parallel Thread is::Thread_0
****************Device*************EUYPVK6D6T7S4DSK
Before Class called11
com.test.site.HomePageTest2
After Class11
**************ClosingAppiumSession****************11
FAILED CONFIGURATION: @BeforeC

[2016-11-10 04:29] saikrishna321 commented on #129
no don't modify the config, just hit the localhost:1337 in browser .. thats the port sails is running http://extentreports.relevantcodes.com/extentx/

[2016-11-10 04:30] saikrishna321 commented on #121
@karthikbhatnagar ping

[2016-11-10 06:20] Vishnu1067 commented on #129
@saikrishna321 Thank you

[2016-11-10 06:20] #129 closed

[2016-11-14 01:30] karthikbhatnagar commented on #121
Thanks Sai
Sorry I was in holiday. I checked and it runs smoothly. The new report looks so good
Thanks for your efforts

[2016-11-14 01:30] #121 closed

[2016-11-14 20:17] ShamaUgale opened #130 "A Question - How do i run tests on ios simulators?"
1. Can i run tests on ios simulators/android emulators?
2. Tests on ios mobile web apps?

[2016-11-15 00:21] saikrishna321 commented on #130
You can run test on android emulators not iOS simulator.
Yes, you can run mobile  web tests

[2016-11-18 11:36] #130 closed

[2016-11-18 14:35] vikramvi opened #133 "handling of ANDROID_APP_PATH and IOS_APP_PATH in case only 1 type of device is present"
Please refer to https://github.com/saikrishna321/PageObjectPatternAppium/issues/19

Filing here so that it won't be lost in sample project.

Thanks & Regards,
Vikram

[2016-11-20 18:42] shaynl opened #134 "Is screenshots and log links should work now with ExtentX 0.2.2?"
I'm on the latest code and I still don't see screenshots and logs in ExtentX (only in ExtentReport.html). Is there any fix/workaround for that?

[2016-11-21 00:42] saikrishna321 commented on #134
@shaynl haven't give it a try .. will look into

[2016-11-23 14:44] saikrishna321 commented on #123
@DanielSaganome its fixed in the below version. Pls give it a try and update

[code]

[2016-11-23 14:45] saikrishna321 commented on #90
@brtu @Balhindi its fixed now, try the below version
[code]

[2016-11-24 01:24] #122 closed

[2016-11-24 01:25] saikrishna321 commented on #119
@kskrishnan its fixed now
[code]

[2016-11-24 01:27] #94 closed

[2016-11-24 01:28] #77 closed

[2016-11-25 13:38] eugenjeno opened #136 "How do we get new frames?"
is there a specific way to get other frames?

[2016-11-25 14:24] saikrishna321 commented on #136
is there any specific device frame your looking for ??

[2016-11-25 14:36] eugenjeno commented on #136
hi, for the moment while I'm trying out the tool, I'm looking for Samsung S4 and Samsung S5 mini frames
thx

[2016-11-26 11:27] saikrishna321 commented on #136
@eugenjeno i pick them from http://facebook.design/devices and resize them as per the device screenshots captured

[2016-12-02 08:34] dkjha52 opened #137 "Result by category does not consider the failed test case"
See the attached screen shot. Total no of passed test cases is 5 and one fail. But Category shows the passed test cases is 6.
![screen shot category result](https://cloud.githubusercontent.com/assets/5102438/20827482/35d5909e-b898-11e6-9010-72c278e13b90.png

[2016-12-02 09:35] saikrishna321 commented on #137
@dkjha52 what is the AppiumTestDistribution version your using ?

[2016-12-02 11:26] dkjha52 commented on #137
I am using latest one (downloaded master zip) including the latest version of ExtentReports.

[2016-12-02 12:13] saikrishna321 commented on #137
So you build from master and building into your project ?

[2016-12-03 18:35] dkjha52 commented on #137
Yes. I build from master and using in the project.

[2016-12-03 18:58] saikrishna321 commented on #137
can you run mvn clean -Dtest=Runner test from master project and check, i'm unable to reproduce it

[2016-12-05 08:21] dkjha52 commented on #137
I executed mvn clean -Dtest=Runner test from master project and getting the same result. Total no of passed test cases is 5 and one fail. But Category shows the passed test cases is 6

[2016-12-05 12:45] saikrishna321 commented on #137
@dkjha52 i'm not able to reproduce check the screen shot

<img width="705" alt="screen shot 2016-12-05 at 6 14 29 pm" src="https://cloud.githubusercontent.com/assets/4045041/20885436/d5893436-bb01-11e6-9f50-726e18eeba02.png">

[2016-12-05 15:31] DanielSaganome commented on #123
@saikrishna321 That's awesome, Im trying it out right now but when I try to run cucumber it defaults to the TestNG runner for some reason. Running the command mvn clean -Dtest=RunnerCukes test. Besides the dependency change, nothing else in my project has changed so I don't think its on my end. I'm looking into it right now, just thought I'd let you know. Again awesome work 👍

[2016-12-05 15:36] saikrishna321 commented on #123
pls check the config.properties if the FRAMEWORK=cucumber

[2016-12-05 15:45] DanielSaganome commented on #123
Found the issue, looks like it was in my pom file. I had <useTestNG>false</useTestNG> but ironically it works when it's set to true. Testing it now

[2016-12-05 16:17] saikrishna321 commented on #123
@DanielSaganome awesome ... waiting to hear back

[2016-12-05 16:33] DanielSaganome commented on #123
Everything looks good! Thanks man appreciate it 👍

[2016-12-05 16:33] saikrishna321 commented on #123
@DanielSaganome Great :) Glad it worked :) I'm happy this library is helping

[2016-12-05 16:33] #123 closed

[2016-12-05 19:18] brtu opened #138 "Maven build reports success even when Cucumber feature files failed"
I am using the Cucumber test runner with Maven build system.  When I run the command  "mvn clean -Dtest=RunnerCukes test", the feature file test fails, but the maven build still succeeds.  This is causing trouble with my CI system because it reports all jobs as a success (even if they have failing tests).  I thought I saw a fix for this that was committed before, does this work for TestNG but not

[2016-12-06 09:35] dkjha52 commented on #137
Now I am using the same testcases. I took the fresh code and still getting the same. The only difference I can see in pom file. I am skipping the line 145-298 from the pom file you mentioned in the distribution. Due to that am i getting this issue?

[2016-12-06 11:32] saikrishna321 commented on #137
@dkjha52 connect two devices and give it try .. i got the above results from master tests

[2016-12-06 11:44] saikrishna321 opened #139 "Getting more done in GitHub with ZenHub"
Hola! @saikrishna321 has created a [ZenHub](http://www.zenhub.com) account for the **saikrishna321** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_sour

[2016-12-06 11:45] #139 closed

[2016-12-06 11:47] saikrishna321 commented on #138
@brtu i came across this issue on ma CI pipeline as well, fixed it for TestNG guess it should work for cucumber as well . Will tests n update.

[2016-12-06 12:14] saikrishna321 commented on #138
@brtu i went through the code, this needs to be fixed. Will do that

[2016-12-06 12:28] dkjha52 commented on #137
I tried with two devices and getting the same. See the attached screen shot. I will try again and will update you.
![categoryscreenshot](https://cloud.githubusercontent.com/assets/5102438/20925536/9c40fb1e-bbdd-11e6-876c-35c3700087fa.png)

[2016-12-06 12:51] saikrishna321 commented on #137
@dkjha52 you need to provide a sample project, i'm unable to reproduce from master

[2016-12-06 18:40] Balhindi commented on #90
I have tried to run the project with the instructions you have given (It worked before in previous versions), but with the newest snapshot I can't run any cucumber project. I left a runner in the test folder. Have any ideas?

[2016-12-06 20:59] brtu commented on #90
@saikrishna321 Thanks Sai!

@Balhindi Try setting <useTestNG>true</useTestNG> in the pom.xml

[2016-12-07 04:30] saikrishna321 commented on #90
@brtu can you pls raise a new defect for this will look into it ..

[2016-12-07 09:09] dkjha52 commented on #137
Please find the attached sample project zip.
[AppiumDistribution.zip](https://github.com/saikrishna321/AppiumTestDistribution/files/636132/AppiumDistribution.zip)

[2016-12-07 12:41] saikrishna321 commented on #137
<img width="1376" alt="screen shot 2016-12-07 at 6 10 30 pm" src="https://cloud.githubusercontent.com/assets/4045041/20968074/9e6f95a6-bc93-11e6-8cb4-a6a4fafcbd17.png">

this issue is with extent-report 3.0.1 works fine with 3.0.0.

Please raise issue on extent-report repo

[2016-12-07 12:42] #137 closed

[2016-12-07 15:32] #138 closed

[2016-12-07 15:34] saikrishna321 commented on #138
@brtu try with below version

[code]

you runner should be

https://github.com/saikrishna321/AppiumTestDistribution/blob/add5b9143ea3e0b91ef7563684032296d930367b/src/test/java/com/test/cucumber/cukesrunner/RunnerCukes.java#L14-L15

[2016-12-07 15:47] #133 closed

[2016-12-07 15:48] zhuchuji opened #140 "how to run parallel test with testng on ios physical devices"
Hi, Could you explain how to run parallel test on ios physical devices?
I work with appium and want to run parallel test on ios devices. But It always happen that when the second device start, the first started one shutdown or the first one doesn't work anymore.
I try to create new appium session with different port, and run parallel test with testng. There are two frequently happened situations:

[2016-12-07 15:52] saikrishna321 commented on #140
@zhuchuji this library helps you run tests in parallel for iOS, you need to create different tmp folder for each instance of instruments.trace and also make sure your server session are thread safe

[2016-12-07 15:57] Vishnu1067 opened #141 "iOS basic configuration"
Hello Guys,

Sorry for this question. I would like to purchase MacBook and want to know configuration for that. Is there any specific requirements for running automation ? Because in windows, emulators will work only for intel processor. Since MacBook price is too expensive, I would buy the correct one which suites for testing purpose as well.

Thanks in advance.

[2016-12-07 16:00] saikrishna321 commented on #141
@Vishnu1067 google search should help you on this.

[2016-12-07 16:00] #141 closed

[2016-12-07 16:01] #90 closed

[2016-12-07 16:11] brtu commented on #138
@saikrishna321 I tried with add5b9143e and this issue seems to be fixed.  Awesome job!

[2016-12-07 16:18] brtu opened #142 "Cucumber runner - No ExtentReport.html is generated for tests"
I am using AppiumTestDistribution on commit add5b9143e and the Cucumber test runner.  When I run my Cucumber tests, no ExtentReport file is generated at the end.  I think the problem may be due to the previous commit, 5d1ed9602e (?).

[2016-12-08 03:53] saikrishna321 commented on #142
@brtu i just ran with the latest and i get to see the ExtentReports.html, refer the screenshot

<img width="1374" alt="screen shot 2016-12-07 at 8 58 13 pm" src="https://cloud.githubusercontent.com/assets/4045041/20997024/e3d9e892-bd12-11e6-9e59-13833e10179c.png">

[2016-12-08 04:12] brtu commented on #142
@saikrishna321 Hm... I will recheck and report back.

[2016-12-08 21:17] brtu commented on #142
@saikrishna321 My mistake, I see it now.  I think the filename changed.  Sorry for the false bug report

[2016-12-08 21:17] #142 closed

[2016-12-09 01:41] zhuchuji commented on #140
@saikrishna321 hi, below is how I start the appium server session:
	@BeforeClass
	@Parameters({ "tempDir" })
	public void setup(final String tempDir) {
		this.service = AppiumDriverLocalService.buildService(new AppiumServiceBuilder()
				.withAppiumJS(new File("/Applications/appium.app/Contents/Resources/node_modules/appium/build/lib/main.js"))
				.withArgument(GeneralServerFlag.TEMP_DIRECTORY, t

[2016-12-09 03:11] zhuchuji commented on #140
@saikrishna321 hi. It finally could run parallel tests on ios devices. But devices still will crash after run a few test cases. The error is: abnormal instruments termination

[2016-12-09 04:24] saikrishna321 commented on #140
@zhuchuji not sure why instruments is terminating, is there any reasons your trying to implement it your way? as this frameworks helps you run tests in parallel across ios devices..

[2016-12-10 05:40] zhuchuji commented on #140
@saikrishna321 I also want to find out what's wrong with appium service, instruments or testng. But not a clue for present.

[2016-12-10 15:08] saikrishna321 commented on #140
@zhuchuji  https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/AppiumManager.java#L79

[2016-12-10 15:09] #120 closed

[2016-12-11 04:06] zhuchuji commented on #140
@saikrishna321 I compare it with my code, and find out there are only one difference: you have set webkitProxy argument. But I search it on appium.io to find out it's for automation test on safari

[2016-12-11 04:35] saikrishna321 commented on #140
@zhuchuji yah its for web proxy ... Did you try running with this framework ?

[2016-12-11 06:43] zhuchuji commented on #140
@saikrishna321 sorry, I didn't run it, but I downloaded the source code to find out there's any point I miss in my codes...

[2016-12-12 03:49] Vishnu1067 opened #143 "iOS Web application test run fail"
Hi,

I am trying to execute the test case on iPhone web application but i am facing some challenges. When i choose web, it is directly going to Android driver on start instance

` public void startingServerInstance() throws Exception {
        if (prop.getProperty("APP_TYPE").equalsIgnoreCase("web")) {
            **driver = new AndroidDriver<>(appiumMan.getAppiumUrl(), androidWeb());**
        }

[2016-12-12 04:03] saikrishna321 commented on #143
@Vishnu1067 i have mentioned in ReadMe that iOS WebTest using Safari is WIP. I haven't got enough time to work on it .. as ios-webkit-proxy is flaky and gets killed we need a place where we should reinitialize it when killed with the same deviceUDID and port. There is a node module which we can use ( monit or pm2 ) which does it .. Would welcome a PR for this

[2016-12-16 09:10] shyam27 opened #145 "Cannot run program "flick": error=2, No such file or directory, for iOS devices"
Hi,

Getting below error when tried to record video on iOS devices

**************Starting Video Recording**************
flick video -a start -p ios -u 26d94f19699415d4e66c6bac8ebc059bf9492ed6
java.io.IOException: Cannot run program "flick": error=2, No such file or directory
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048)
	at java.lang.Runtime.exec(Runtime.java:620)
	at java.lang.Run

[2016-12-16 09:23] #140 closed

[2016-12-16 09:25] saikrishna321 commented on #119
@kskrishnan merged the PR from @brtu which helps you send caps, please refer the sample
https://github.com/saikrishna321/AppiumTestDistribution/blob/40f7692eacbc858cffc9923b6208a3541d78a5e1/src/test/java/com/test/cucumber/stepdefinitions/Hooks.java#L21-L22

[2016-12-16 09:25] #119 closed

[2016-12-16 09:26] #111 closed

[2016-12-16 09:27] #102 closed

[2016-12-16 09:28] saikrishna321 commented on #61
have video logs implented, so closing

[2016-12-16 09:28] #61 closed

[2016-12-16 09:34] #73 closed

[2016-12-16 09:55] #87 closed

[2016-12-16 09:59] shyam27 commented on #145
No Sai, Thanks for the above command to install flick.

[2016-12-16 10:08] #145 closed

[2016-12-19 10:48] RatkoD opened #146 "Error running tests: Connection refused"
Hi @saikrishna321
Attached is full [log](https://gist.github.com/RatkoD/0d54324948fe3279db28045be3dbac22) from running the tests.

I'm truing to run tests on Appium 1.6.3 on latest MacOS and iOS 10+. I have installed all the dependencies. Here is my [POM.xml](https://gist.github.com/RatkoD/9c84a9e7f4cced9d3ddaaaa8a1ea8ddd).

[2016-12-19 11:00] saikrishna321 commented on #146
@RatkoD i have never tested the framework working with ios 10.

You need to provide the deviceconsole path not xcpretty path

https://gist.github.com/RatkoD/0d54324948fe3279db28045be3dbac22#file-fullatdlog-L126

[2016-12-19 11:04] RatkoD commented on #146
Changed the path to /usr/local/lib/node_modules/deviceconsole and it's completely same :(

[2016-12-19 11:12] RatkoD commented on #146
I get the same with iOS 9.3.5 device.

[2016-12-19 12:49] RatkoD commented on #146
I get the same error with PageObjectPatternAppium demo project. But the framework works for Android devices...

[2016-12-19 12:54] RatkoD commented on #146
But both don't work when started from IntelliJ

`
Adding iOS devices
Adding Android devices
{4d0040148bb83015=true}
[TestNG] Running:
  /Users/ratkododevski/Library/Caches/IdeaIC2016.3/temp-testng-customsuite.xml

org.testng.TestNGException:
Parameter 'device' is required by @Configuration on method startAppiumServer but has not been marked @Optional or defined
in /Users/ratkododevski/Library/Cach

[2016-12-19 13:21] senthilkasiqa opened #147 "Couldnot able run test passing test data using credentials.json file"
Hi Sai,
I have been trying to run parallel execution with passing multiple user credentials using credentials.json file, but it is giving me the below error,

FAILED: loginWithValidUser on [MultiLoginTest passed=0 failed=0 skipped=0]
java.lang.ArrayIndexOutOfBoundsException: 1
	at com.appium.config.UserBaseTest.getUserName(UserBaseTest.java:46)
	at com.appium.tests.MultiLoginTest.loginWithValidUse

[2016-12-19 13:27] saikrishna321 commented on #146
@RatkoD it should be /usr/local/lib/node_modules/deviceconsole/deviceconsole

Are you able to run the tests on 9.3.5 outside the framework ?

[2016-12-19 13:28] saikrishna321 commented on #147
https://github.com/saikrishna321/AppiumTestDistribution/commit/b730151fe1518216de1cf650d4bfa5895f1d04fc

[2016-12-19 13:28] #147 closed

[2016-12-19 13:45] RatkoD commented on #146
I get the same result with /usr/local/lib/node_modules/deviceconsole/deviceconsole

[2016-12-19 14:37] saikrishna321 commented on #146
@RatkoD are you able to run the tests outside the parallel framework ?

[2016-12-20 01:48] saikrishna321 commented on #146
@RatkoD its more appium side issue, you need to raise it on appium repo.

[2016-12-20 13:02] pchowdek opened #148 "After execution of one test, instrument crashes with exit code 0"
appium version : 1.5.3
node.js version 6.9.2
npm version 3.10.9

command used : INCLUDE_GROUPS="sanity" mvn clean -Dtest=Runner test

After execution of first test, suddenly the instruments crash and exit with error code 0,
attaching the console log with the issue.

[Issue_AppiumParallel.docx](https://github.com/saikrishna321/AppiumTestDistribution/files/663739/Issue_AppiumParallel.docx)

[2016-12-20 16:36] saikrishna321 commented on #148
@pchowdek make sure you don't have ANDROID_APP_PATH as your running only the iOS.

Pls share your config.properties

[2016-12-20 18:31] pchowdek commented on #148
@saikrishna321
I have commented out the android App path.. but still the null pointer is thrown for android

please find the config.properties below.

#ANDROID_APP_PATH=/Users/saikrisv/git/PageObjectPatternAppium/build/wordpress.zip
#APP_PACKAGE=org.wordpress.android
#APP_ACTIVITY=org.wordpress.android.ui.WPLaunchActivity
#RUNNER=distribute
#APPIUM_JS_PATH=/usr/local/lib/node_modules/appium/build/

[2016-12-21 03:45] saikrishna321 commented on #148
@pchowdek can you try with the below version

[code]

its more an xcode issues, i run on multiple ios devices and it works fine.

[2016-12-28 12:35] senthilkasiqa opened #149 "i couldn't able to run the appiumparallel execution using both android and ios capablities."
I have used to start startappiumparallel using "driver = startAppiumServerInParallel(name.getName(), iOSCapabilities,androidCap);", in current maven version "fd455e6b1f" to till dwon version " 0ba46c7 " getting error, below this version working fine.
Below the error details,
**************ClosingAppiumSession****************11
FAILED CONFIGURATION: @BeforeMethod startApp(public void com.package.te

[2016-12-28 12:57] RatkoD commented on #149
Can you share the UserBaseTest file?

[2016-12-28 13:06] senthilkasiqa commented on #149
Thanks sai!!
It is working fine, i followed your steps.. created separate capabilities for both platforms and passed those capabilities :)

[2016-12-28 13:06] #149 closed

[2016-12-29 10:56] dkjha52 opened #150 "Issue while executing tests with extentX logging"
I am getting below error in log (This happens when test fail) while executing test with extentX logging -
**************ClosingAppiumSession****************10
FAILED CONFIGURATION: @AfterMethod killServer([TestResult name=addComment on [AddCommentTest passed=0 failed=0 skipped=0] status=FAILURE method=AddCommentTest.addComment()[pri:0, instance:[AddCommentTest passed=0 failed=0 skipped=0]] output=

[2016-12-29 11:41] saikrishna321 commented on #150
@dkjha52 i tried with latest extentX it works fine. command to run ExtentX="true" mvn clean -Dtest=Runner test

[2016-12-29 16:16] dkjha52 commented on #150
I have also used the same command and extentX works fine when no screen shot attached. But when test fails and generates screenshot then I am getting this issue. Please give some highlight so I can resolve this issue.

[2017-01-01 09:44] test666qa opened #151 "Adding new test class to the XML & to the runner doesn't work"
How to add my own tests to the distribution ? , Iv'e tried every single way !!
It will escape the whole tests if test classes added to the package
Can someone help me please !!

[2017-01-01 12:36] test666qa commented on #151
Hi sai ,
Thanks for the fast respond , Im following your instruction
Iv'e Tried  :
1) Importing my tests to the package com.tests.site where is the Runner Class
    Running : " mvn clean -Dtest=Runner test "
2) Changing the tests names listed on the testng.xml manually to the new tests !!

*The weird thing is when Im not changing the class name "HomePageTest.." the test is runnable &
  work perfec

[2017-01-01 14:43] dkjha52 commented on #150
@saikrishna321 I got the solution. Actually ExtentManager.jave contains this code block -
// server URL
        // ! must provide this to be able to upload snapshots
        String url = host + ":" + port;
        if (!url.isEmpty()) {
           extentx.config().setServerUrl(url);
        }

The port created the problem. This port value should not be the mongodb_port (27017). The above code shoul

[2017-01-01 14:57] saikrishna321 commented on #150
@dkjha52 thanks for looking into it ... does this get the screenshots on ExtentX ?

[2017-01-02 05:12] dkjha52 commented on #150
@saikrishna321 No, screenshots are still not showing on ExtentX. Will update you once I got success on this issue.

[2017-01-04 03:36] saikrishna321 commented on #151
@test666qa  ping

[2017-01-04 09:22] test666qa commented on #151
For some reason , it's not running all the added tests , Inserting my code :

Runner :
`ParallelThread parallelThread = new ParallelThread();
        List<String> tests = new ArrayList<String>();
        tests.add("Install_Test");
        tests.add("ScanTest");
        tests.add("DetectTest");
        tests.add("ReportBugTest");
        boolean hasFailures = parallelThread.runner("com.test.allandr

[2017-01-04 09:57] test666qa commented on #151
@saikrishna321
It's working like charm , my mistake (It didn't added it because the package name on the class wasn't correct )

Sorry !!

[2017-01-04 09:58] #151 closed

[2017-01-04 10:15] RatkoD opened #152 "Support XCUITest and UIAutomation at once"
Is it possible to make the framework to support both test platforms? We need to do some of the tests on iOS 10+ devices and the same tests on on some older devices.

[2017-01-04 10:19] saikrishna321 commented on #152
@RatkoD you can just send the caps for iOS and it should work.

[2017-01-04 10:21] RatkoD commented on #152
The things is that I have connected the different devices on the same node.

[2017-01-04 16:21] saikrishna321 commented on #152
@RatkoD does that work now ?

[2017-01-06 17:11] RatkoD opened #153 "Cannot run tests from IntelliJ IDE while tests run from cli"
When I try to run a test from IntelliJ i get error, while the same tests run successfully when started from terminal. The error I get is [here](https://gist.github.com/RatkoD/f298ae3795343131e69e82462f26e487).

[2017-01-06 17:23] saikrishna321 commented on #153
@RatkoD you need to trigger the Runner class

[2017-01-06 17:25] RatkoD commented on #153
You want to say that I need to run entire runner and cannot run just one test?

[2017-01-06 17:33] saikrishna321 commented on #153
@RatkoD if you want to run a single test for debugging just extend it to your BaseTest which will have appium instance creation.

[2017-01-06 17:35] saikrishna321 commented on #153
https://github.com/saikrishna321/PageObjectPatternAppium/blob/master/src/test/java/com/appium/config/Utils.java

[2017-01-06 17:35] #153 closed

[2017-01-09 03:39] priyankshah217 opened #154 "Tags name needs to be added in cucumber extent report"
As per our requirement, we need to include tags name as a part of cucumber extent report. Will you please consider this as an enhancement in subsequent release?

[2017-01-11 10:17] dkjha52 commented on #150
@saikrishna321 Yes I am getting the screenshot on ExtentX. Now you can close this issue.

[2017-01-11 10:31] saikrishna321 commented on #150
@dkjha52 would you want to raise a PR on the changes ? that would help

[2017-01-11 11:01] saikrishna321 commented on #154
@priyankshah217 can you try with the below

[code]

[2017-01-12 10:58] priyankshah217 commented on #154
@saikrishna321 , I am able to see tags in cucumber report, so closing this issue.

[2017-01-12 10:58] #154 closed

[2017-01-13 06:08] peteroid opened #155 "CI | update versioning tool"

[2017-01-13 06:09] #155 closed

[2017-01-13 21:04] brtu commented on #152
We have iOS 10+ and iOS 7/8/9 devices connected to the same node and working with AppiumTestDistribution.  iOS 10+ requires Xcode 8 while iOS 7-9 uses Xcode 9.  You need to switch between the Xcode versions using xcode-select and then launch the tests.

[2017-01-14 17:09] saikrishna321 commented on #152
@brtu thats a must have feature as part of framework, glad to accept PR on this. How are you providing the deviceId's ?

[2017-01-14 22:07] brtu commented on #152
@saikrishna321

In our CI system we pass in the device ids through the maven command as an environment variable of comma separated IDs, i.e. mvn -Dtest=runner test -Dudid=deviceId1,deviceId2,deviceId3

In our Runner class we read and parse the device id param and pass it as a parameter into the ParallelThread class, which then sets a list field of valid device ids in the Android deviceConf and ios

[2017-01-15 03:19] saikrishna321 commented on #152
@brtu

We should be able to fetch the deviceId's from config file, when there are changes in the device list we need make changes to CI back to back. Thoughts?

For sure we are looking to have such a feature as part of this framework, which helps running not only IOS tests across iOS10/9 device, but also android.( CI-usecase: 2 slave running on mac mini and 10 devices connected to the host machine

[2017-01-15 04:46] brtu commented on #152
@saikrishna321

I think it is easier to pass in via command line parameter because sometimes I need to change the device list depending on what tests need to be run, and editing the config.properties file for different device lists during runtime may be "bad practice".

Yes, I do this check for both iOS and Android.

[2017-01-15 06:20] saikrishna321 commented on #152
Perfect, looking forward for a PR on this

[2017-01-17 10:54] dkjha52 commented on #150
Yes. Please

[2017-01-17 16:18] saikrishna321 commented on #150
@dkjha52 will keep this open till you raise the PR

[2017-01-18 11:57] anandbagmar commented on #152
Having an ability to provide information via environment variables, or command line properties when running the tests is very powerful. You do not want to keep updating config files with test runtime / execution time data. Keep Test execution config separate from Test execution data - will help in the long run.

Now - if certain information is missing - there are 2 ways of responding - either fall

[2017-01-20 17:35] saikrishna321 opened #156 "Not able to run test only on iOS"

[2017-01-20 17:52] SrinivasanTarget commented on #156
Oops when did this happened?

[2017-01-22 13:07] saikrishna321 commented on #152
@brtu any updates on the PR ?

[2017-01-23 07:05] saikrishna321 commented on #156
@SrinivasanTarget missed adding the BundleID to the caps

[2017-01-23 07:05] #156 closed

[2017-01-23 19:00] ChethanGKC commented on #7
@saikrishna321 @VinitSandesara : I am also facing the same issue as above.. can you please suggest which path i need to pass is PATH variable....

[2017-01-23 19:01] ChethanGKC commented on #7
Adding iOS devices
java.io.IOException: Cannot run program "adb": error=2, No such file or directory
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048)
	at java.lang.Runtime.exec(Runtime.java:620)
	at java.lang.Runtime.exec(Runtime.java:450)
	at java.lang.Runtime.exec(Runtime.java:347)
	at com.appium.utils.CommandPrompt.runCommand(CommandPrompt.java:21)
	at com.appium.manager.AndroidDevi

[2017-01-24 05:13] saikrishna321 commented on #7
@ChethanGKC pls set as show in the image

https://cloud.githubusercontent.com/assets/12589206/12456474/a0040590-bf65-11e5-9528-d246cbee4f15.png

[2017-01-24 09:12] ChethanGKC commented on #7
@saikrishna321 i tried with the PATH yesterday but not working. Can you please resend the fully qualified PATH, as the image in the link doesn't show the full PATH.

[2017-01-24 09:25] saikrishna321 commented on #7
@ChethanGKC it has the full path, can you pls share the screenshot of your PATH

[2017-01-24 14:07] ChethanGKC commented on #7
@saikrishna321
https://cloud.githubusercontent.com/assets/20571390/22250275/52b53194-e26c-11e6-9206-fd548d75ddfc.png

[2017-01-24 15:24] ChethanGKC commented on #7
@saikrishna321 - i am not sure with the path specified in the above screenshot after  /usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Use...???? after "Users" i am unable to get which path i should set can you please elaborate on this please... i am new to appium grid...

[2017-01-25 16:22] ChethanGKC commented on #7
@VinitSandesara can you please let me know which path i need to specify in path variable.

[2017-01-25 17:08] saikrishna321 commented on #7
@ChethanGKC your supposed to give your ANDROID_HOME and PATH, to get the PATH just do echo $PATH

[2017-01-25 23:20] brtu commented on #152
@saikrishna321 Sorry was pretty busy with work this past week.  I have a PR ready for review @ https://github.com/saikrishna321/AppiumTestDistribution/pull/158

I added the ability to pass in a list of device udids in the test runner.  The user can get this list from the environment variables or hardcode it or parse it from a properties file, whichever they prefer.  Also fixed some other small mis

[2017-01-26 16:16] RatkoD opened #159 "Tests on iOS sometimes stop working for no apparent reason"
I have one iOS device connected and I get this error:

If I connect Android device, the tests are running with the same config. This happens quite often, just an hour ago, I was able to run tests on iOS and Android, not at the same time, but now I've tried to run tests on both devices, and first got this error, then disconnected the Android, still the same, disconnected the iOS and connected the A

[2017-01-26 16:18] RatkoD commented on #159
While I was submitting this issue, the framework healed it self. Now detected only one ios device and started working.

[2017-01-26 19:04] #23 closed

[2017-01-27 08:53] RatkoD commented on #89
This is still an open issue, but now, tests wont start because of ghost devices and previously they were shown as failed on a ghost device. Now when my test starts i get
[code]
idevice is clearly showing two devices connected:
[code]
while system profiler is showing the actual connected device
[code]

[2017-01-27 08:55] RatkoD commented on #89
I think this is related to #159

[2017-01-27 10:31] RatkoD commented on #89
I think I found a workaround, but still think that this should be fixed within the framework.
Disabling the mDNS seems to solves the issue with ghost devices which are actually connecting to the PC if they are on the same network.

[code]

[2017-01-27 18:35] brtu opened #160 "Appium server instance gets spawned for each tag in feature file"
Hi Sai,

I think there is a bug with a recent commit, https://github.com/saikrishna321/AppiumTestDistribution/commit/393b01779a93f72fac8bfbeb6ac905b51966f118

At https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/cucumber/listener/ExtentCucumberFormatter.java#L173

there is an appium server that is getting spawned for each tag within a feature file.

My feature f

[2017-01-28 00:21] saikrishna321 commented on #160
appium server starting for every tag is a defect .... we are just starting server node for every feature file, similar to testNG before Class

[2017-01-28 00:24] saikrishna321 commented on #159
I see idevice is picking cached devices, but I remember we changed to system profiler to pick the devices. let me check abt this on Monday

[2017-01-30 04:34] saikrishna321 commented on #152
@brtu thanks for that.. I have some feedbacks on the PR. Pls review the PR https://github.com/saikrishna321/AppiumTestDistribution/pull/158

[2017-01-30 18:15] #117 closed

[2017-01-30 18:16] saikrishna321 commented on #150
@dkjha52 any updates on the PR?

[2017-01-30 22:00] brtu commented on #160
Made a bug fix here in the latest PR:

https://github.com/saikrishna321/AppiumTestDistribution/pull/158

[2017-01-31 12:22] RatkoD commented on #89
Hey @saikrishna321, I remember the fix, but please see the logs that I've attached.

[2017-01-31 13:15] saikrishna321 commented on #160
@brtu i have merged the changes, with extent-version 3.0.1 there is defect https://github.com/anshooarora/extentreports-java/issues/757

So i will revert to v 3.0.0 till this fixes and this also blocks the  tag been added to report

[2017-01-31 16:46] saikrishna321 commented on #89
@RatkoD we missed in other place, i have fixed it now.

[2017-01-31 16:49] RatkoD commented on #89
I'll try it in a few hours and let you know. BTW when do you plan a new release?

[2017-01-31 17:04] saikrishna321 commented on #89
Once this PR is merged https://github.com/saikrishna321/AppiumTestDistribution/pull/157

[2017-02-01 08:34] RatkoD commented on #89
@saikrishna321 where did you fixed it? Master?

[2017-02-01 14:22] RatkoD opened #161 "Not able to use test description for the reports"
In the previous versions I was able to use test description that were shown in the report:
[code]

Now I get error and I can only use name.getName() which looks bad in the reports.

[2017-02-01 15:11] brtu commented on #160
@saikrishna321 Ah.. I see.  I did not notice that bug in 3.0.1

[2017-02-01 22:31] brtu opened #162 "Android UiAutomator2 not working for devices in parallel"
Using the new UiAutomator2 included in Appium 1.6.3, I am unable to run tests on Android devices in parallel.  I am able to run tests one at a time, but not with two devices at once.  UiAutomator2 installs a server on the device and communicates with it.  I think the client/server ports are getting confused somewhere.

[2017-02-01 23:32] brtu commented on #162
Bug is actually with Appium here:

https://github.com/appium/appium/issues/7745

Specifying a systemport capability allows it to work.

[2017-02-01 23:34] brtu opened #163 "Cucumber - passing in desired capabilities bug"
There's a bug with the PR I made with passing in desired caps with Cucumber.  I thought before that you could specify the caps in the @before method of the steps file, but that method actually gets executed after the Appium server instance is already created.  There needs to be another entry point where the user can specify the caps and pass it into the AppiumTestDistribution library.

[2017-02-01 23:35] #162 closed

[2017-02-02 05:44] saikrishna321 commented on #162
@brtu this needs to be added to the FAQ

[2017-02-02 05:45] saikrishna321 commented on #161
@RatkoD can you please show the previous version screenshot with Description ?

[2017-02-02 10:39] RatkoD commented on #161
Here is a [print screen](https://i.imgur.com/mvj8Dcp.png) from extentx report from the previous version where description could be used. If you remember, this was a feature that I proposed a while ago. Reports are much much much better looking with a description instead of long camel sentences.

[2017-02-02 12:14] saikrishna321 commented on #161
@RatkoD yah i remember, but i dont see any issues in the code. Can tell me what is the error your getting ?

[2017-02-02 12:23] saikrishna321 commented on #161
https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/AppiumParallelTest.java#L310

[2017-02-02 12:51] RatkoD commented on #161
When I use description, I get this error:
[code]

[2017-02-02 15:35] dkjha52 commented on #150
@saikrishna321 I am not able to push the changes. Getting error - remote: Permission to saikrishna321/AppiumTestDistribution.git denied to dkjha52.

Once I get the permission then will created the PR.

[2017-02-02 16:35] saikrishna321 commented on #150
@dkjha52 you need to fork the repo and push your changes to your forked repo and create a PR from there

[2017-02-03 06:22] saikrishna321 commented on #161
@RatkoD try with this version, its fixed.
[code]

[2017-02-03 06:22] #161 closed

[2017-02-03 06:24] saikrishna321 commented on #152
@anandbagmar @priyankshah217 its on master now

[code]

[2017-02-03 06:24] #152 closed

[2017-02-03 06:26] saikrishna321 opened #164 "Expose uiautomator2 port to run in parallel"
If automation name is given as UiAutomator2 then we need to expose "systemport" to run tests in parallel

[2017-02-03 06:26] saikrishna321 opened #165 "Expose WDA port to run iOS 10 tests in parallel"

[2017-02-03 06:34] saikrishna321 commented on #160
https://github.com/saikrishna321/AppiumTestDistribution/pull/157

[2017-02-03 06:34] #160 closed

[2017-02-03 07:22] dkjha52 commented on #150
@saikrishna321 Created pull request.

[2017-02-03 09:05] RatkoD commented on #161
Now I get this error, no matter if I use description or test name.
[code]

[2017-02-03 12:11] saikrishna321 commented on #161
<img width="965" alt="screen shot 2017-02-03 at 5 40 33 pm" src="https://cloud.githubusercontent.com/assets/4045041/22590935/e9ceafba-ea37-11e6-8384-cbc9361496eb.png">

[2017-02-03 12:14] saikrishna321 commented on #161
@RatkoD can you update the dependency in the sample project and try https://github.com/saikrishna321/PageObjectPatternAppium

[2017-02-03 22:46] RatkoD commented on #161
Strange thing, I get the log from above only when I run the tests on iOS, but when I connect Android device it works just fine.

[2017-02-05 16:53] saikrishna321 opened #167 "Not able to run test in iOS alone"
[code]

[2017-02-06 06:04] #167 closed

[2017-02-06 09:31] saikrishna321 commented on #161
@RatkoD can you try with below version, it works for me. Only iOS device connected

[code]

[2017-02-06 11:26] #165 closed

[2017-02-06 11:27] #92 closed

[2017-02-06 11:27] #136 closed

[2017-02-06 11:55] #164 closed

[2017-02-06 11:55] #146 closed

[2017-02-06 14:10] RatkoD commented on #161
It doesn't work with c9f7243 but it  works just fine c9f7243. I saw that you fixed it.

Thanks Sai!

[2017-02-06 16:24] RatkoD opened #168 "Class Cast Exception"
With the latest release i get the following error, only on iOS devices:
[code]

[2017-02-06 16:26] saikrishna321 commented on #168
@RatkoD can you try outside the framework. Looks like java-client issue

[2017-02-06 16:28] saikrishna321 commented on #168
https://discuss.appium.io/t/ios-android-driver-casting-on-a-shared-test-code-base/1095

[2017-02-06 16:29] #168 closed

[2017-02-06 16:32] RatkoD opened #169 "Wrong print of comparison results"
Since a while, every time when I do comparison of text I get the wrong print of the expected and actual result. For example, in my test I expect "Not found" and I get "Username is not found" but in the log i have the opposite result
[code]

Here is my test:
[code]
Here is a [pic](https://i.imgur.com/2NgXq4L.png) from the report.

Also, there are som strange []

[2017-02-06 16:32] saikrishna321 commented on #114
closing, fixed on master

[2017-02-06 16:32] #114 closed

[2017-02-06 16:39] saikrishna321 commented on #169
@RatkoD not sure how come you have junit assertions, this framework supports TestNG

Assert.assertEquals(actual:"sai", expected:"sai k");

Results:

java.lang.AssertionError: expected [sai k] but found [sai]
Expected :sai k
Actual   :sai

Check with TestNG assertions. It works fine

[2017-02-06 16:39] #169 closed

[2017-02-07 10:01] RatkoD commented on #169
Thanks @saikrishna321 !

[2017-02-07 13:53] RatkoD commented on #168
Hey @saikrishna321, can you help me a bit more? I don't quite get what I need to do.

[2017-02-09 04:54] Vishnu1067 commented on #143
Hi @saikrishna321 ,

I have made changes to launch iOS web Safari,

[code]

[2017-03-07 08:47] test666qa opened #171 "The desired capabilities must include either an app, appPackage or browserName"
In some test scenarios I'm trying to open the device ( Android ) settings , sending capabilities without an APP (capability) !! & it's return an error :
"The desired capabilities must include either an app, appPackage or browserName"
My capabilities :

public synchronized DesiredCapabilities androidcapabilities() {
        System.out.println("Setting Android Desired Capabilities:");
        Desire

[2017-03-07 09:24] saikrishna321 commented on #171
@test666qa this is something to deal with appium and should b raised under appium repo. With the latest appium server you should not get this error. Pls try with the latest version and also make sure you provide the server logs that would help.

[2017-03-07 09:24] #171 closed

[2017-03-14 15:31] brtu opened #172 "TestNG XML file throws parsing exception when being read"
https://github.com/cbeust/testng/issues/1385

TestNG changed its DTD and it is now present in a redirect which Xerces can't read.  They suggest using a different DTD resolver or using an ISuiteListener to get the values from the XML file.

[2017-03-17 22:04] xingxing888 opened #173 "Can I use AppiumTestDistribution with SeleniumGrid"
Hello! I love AppiumTestDistribution a lot and think it's a great idea. Thank you for your work! It's perfectly fine with local multiple simulators. However, in my project I want to run the test against multiple emulators both locally and remotely. I wonder how should I do that. Thank you!

[2017-03-20 05:37] saikrishna321 commented on #173
@xingxing888

Thanks, glad that this framework is helping you. Remotely  we cannot run the tests with this framework.

[2017-03-20 05:38] saikrishna321 commented on #172
@brtu you got it working ?

[2017-03-20 14:53] brtu commented on #172
@saikrishna321 The guys over at TestNG fixed the URL redirect so I think this is no longer a problem.  Closing this issue.

[2017-03-20 14:53] #172 closed

[2017-04-13 07:59] aloksingh15 opened #176 "unable to run test on windows"
Hi,
I followed all the instructions given to use your framework for appium test. I have just changed the package name.
I am unable to run test.
[errorlog.txt](https://github.com/saikrishna321/AppiumTestDistribution/files/918827/errorlog.txt)

[2017-04-13 09:31] saikrishna321 commented on #176
@aloksingh15 Feature directory is not present.Make sure you the features inside resources folder

[2017-04-13 12:20] winrad commented on #109
Hi, I am sorry to take your time. I am totally new in Test Automation and I am facing the same problem as you did "ssrikantasahoo". Could you solve the problem? If you did then may you please tell me how you did it? Below is the problem:
[ADB] The ANDROID_HOME environment variable is not set to the Android SDK root directory path. ANDROID_HOME is required for compatibility with SDK 23+.

[2017-04-16 16:07] saikrishna321 opened #177 "Ignore webtest"
Create Annoation to skip test if its web

[2017-04-20 07:53] alexander-poulikakos opened #178 "missing Code formating in testng example"
Some of the code formating is missing in this link: https://github.com/saikrishna321/AppiumTestDistribution/wiki/Configure-tests-for-TestNG

[2017-04-20 12:12] alexander-poulikakos opened #179 "Does AppiumTestDistribution support running test on multiple iOS devices running on older platform versions, that require UiAutomation?"
How can I use this framework to run tests on iOS devices with older platform versions, that requires UiAutomation to be used (NOT XCUITest)?

[2017-04-20 12:47] saikrishna321 commented on #179
@alexander-poulikakos this framework supports running tests across ios devices. It really does not matter if its XCUI or UIAutomation, it depends on the caps you send

[2017-04-20 12:47] saikrishna321 commented on #178
@alexander-poulikakos thanks for reporting, will fix the doc

[2017-04-21 07:24] alexander-poulikakos commented on #179
According to [this](https://github.com/appium/appium/issues/7373) Appium kills all instruments processes, which is only solved in xcuitest.

How are you dealing with the "Kill instruments" that appium sends occasionally (when something goes wrong)?

[2017-04-21 08:09] saikrishna321 commented on #179
@alexander-poulikakos we are not dealing anything explicitly.

[2017-04-23 16:22] saikrishna321 commented on #178
@alexander-poulikakos done ..

[2017-04-23 16:22] #178 closed

[2017-04-24 14:00] shapovalovei opened #180 "Can I get browser console log from real device ?"

[2017-04-24 14:01] saikrishna321 commented on #180
@shapovalovei can you please describe more on the requirement

[2017-04-24 14:03] shapovalovei commented on #180
@saikrishna321
I run test on mobile safari.
after fail tests I want get my safari javascript logs.

[2017-04-24 15:33] saikrishna321 commented on #180
@shapovalovei no we have not supported ios Web completely. Will mark this as enhancement

[2017-04-24 16:19] shapovalovei commented on #180
@saikrishna321 Thanks for quick answer

[2017-04-25 14:56] brtu opened #181 "Taking a failure screenshot needs check that app did not crash"
Right now, if the app crashes then the test will fail.  AppiumTestDistribution will then attempt to take a failure screenshot.  Taking a screenshot will throw an exception because the driver can't connect to the app session.

I think a fix would be to check that the driver session still exists and is valid before taking the screenshot.  I also started using flick https://github.com/isonic1/flick t

[2017-04-25 16:22] saikrishna321 commented on #181
@brtu i have seen some crashes in my CI and still the framework takes screenshot, do you have error stack? We use flick as part of framework, if needed then we can add that to capture screenshot

[2017-04-25 16:47] brtu commented on #181
Unfortunately I think the exception error stack (from AppiumTestDistribution taking the screenshot) was getting swallowed up and did not appear in the logs.  Only the Appium webdriver exception appears.

Here is a snippet:
`uild	02-Apr-2017 02:40:12	[debug] [UIAuto] Socket data received (8192 bytes)
build	02-Apr-2017 02:40:12	[debug] [UIAuto] Socket data received (7508 bytes)
build	02-Apr-2017 02:

[2017-04-25 16:50] saikrishna321 commented on #148
closing as inactive

[2017-04-25 16:50] #148 closed

[2017-05-03 16:24] eearif opened #183 "o.appium.java_client.service.local.InvalidServerInstanceException: Invalid server instance"
after installing the appium with npm install -g appium

when I try to execute the project, it builds fine but when it runs the tests ..
it fails with this exception..

android real device ..

===========

io.appium.java_client.service.local.InvalidServerInstanceException: Invalid server instance exception has occured: The invalid appium node /Users/tthsa1/.nvm/versions/node/v6.7.0/bin/appium/build

[2017-05-03 16:46] SrinivasanTarget commented on #183
Seems like something to do with your main.js path. Try it out manually ```node <path of your main.js>```.  Update the server logs here in form of gist. You can raise this in discuss forum.

[2017-05-06 00:20] hemano opened #184 "getting java.lang.NullPointerException at com.cucumber.listener.ExtentCucumberFormatter.step"
Referencing : https://github.com/saikrishna321/PageObjectPatternAppium

FAILED: feature(Booking confirmation)
        Runs Cucumber Feature
java.lang.NullPointerException
        at com.cucumber.listener.ExtentCucumberFormatter.step(ExtentCucumberFormatter.java:244)
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeM

[2017-05-06 08:38] hemano opened #185 "Unable to execute with Scenario Outline and Example"
FAILED: feature(Booking confirmation asfasdfsdjhkjhk)
        Runs Cucumber Feature
java.lang.NullPointerException
	at com.cucumber.listener.ExtentCucumberFormatter.step(ExtentCucumberFormatter.java:244)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invok

[2017-05-08 13:53] shyam27 opened #186 "Unable to run tests with cucumber framework"
Hi,

I am unable to run tests with cucumber framework getting below error

[code]

[2017-05-09 13:32] hemano commented on #185
Is this project capable of doing data driven execution?

[2017-05-13 07:01] ssrikantasahoo opened #188 "NullPointerException when run through terminal ExtentX="true" mvn clean -Dtest=Runner test"
estApp(com.test.site.Runner)  Time elapsed: 0.014 sec  <<< FAILURE!
java.lang.NullPointerException
	at com.test.site.Runner.testApp(Runner.java:16)

Results :

Failed tests:   testApp(com.test.site.Runner)

Tests run: 1, Failures: 1, Errors: 0, Skipped: 0

[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] -----------------------------------

[2017-05-13 07:48] saikrishna321 commented on #188
can u post your config.properties and Runner.java code snippet

[2017-05-13 08:56] ssrikantasahoo commented on #188
config.propperties
#APP_PATH=/Users/saikrisv/Downloads/***.ipa
APP_PACKAGE=com.android2.calculator3
APP_ACTIVITY=com.android2.calculator3.Calculator
RUNNER=distribute
APPIUM_JS_PATH=/usr/local/lib/node_modules/appium/build/lib/main.js
BROWSER_TYPE=chrome
APP_TYPE=NA
#BUNDLE_ID=com.tesco.grocery
#IOS_APP_PATH=/Users/srinivasansekar/Downloads/Grocery-iOS-LIVE-debug-293.ipa
ANDROID_APP_PATH=
FRAMEWOR

[2017-05-13 09:18] saikrishna321 commented on #188
@ssrikantasahoo you have not provided the ANDROID_APP_PATH, pls provide that

[2017-05-13 09:46] ssrikantasahoo commented on #188
can you tell i have to run only on ios parallel and distributed test???please

[2017-05-14 06:30] saikrishna321 commented on #188
@ssrikantasahoo you can connect both android and iOS devices to the same host mac and run the tests parallely, same set of tests will run on all devices connected

[2017-05-14 14:19] benz-philip commented on #184
Trying to run cucumber test by doing prerequisites for cucumber test run, with the same wordpress application test - just for a trial
getting error --
![screen shot 2017-05-14 at 6 16 05 pm](https://cloud.githubusercontent.com/assets/18724283/26034713/bf7a0654-38d1-11e7-8ae0-f1df6d361365.png)

please help me resolve this.

[2017-05-14 16:49] saikrishna321 commented on #186
https://github.com/saikrishna321/AppiumTestDistribution/issues/184#issuecomment-301316288

[2017-05-14 16:50] saikrishna321 commented on #186
duplicate to #184

[2017-05-14 16:50] #186 closed

[2017-05-14 16:51] saikrishna321 commented on #184
@benz-philip just gave it a try, can reproduce it.. will fix it soon

[2017-05-15 10:24] benz-philip commented on #184
@saikrishna321 : should i attach complete console log if it helps to debug?

[2017-05-15 11:45] saikrishna321 commented on #184
@benz-philip nope, not needed ....

[2017-05-15 13:20] benz-philip commented on #184
Thank you! Is it the issue with the 'AppiumTestDistribution' dependency? Or i can debug it from the test case level?

[2017-05-15 13:50] saikrishna321 commented on #184
it's at the AppiumTestDistribution library

[2017-05-15 14:16] benz-philip commented on #184
Okay Sai, Waiting for a resolution. Thank you

[2017-05-16 05:11] saikrishna321 commented on #184
@benz-philip can u share your config.properties and also your pom.xml

[2017-05-16 06:40] saikrishna321 commented on #184
@benz-philip
can you please try with the below version

[code]

make sure its testNG in your pom.xml as runner and config.properties

[2017-05-16 06:44] saikrishna321 commented on #183
closing as java-client side issue

[2017-05-16 09:30] benz-philip commented on #184
Sure. Thank you! I will update you once I give it a try.