[2017-05-16 09:47] saikrishna321 commented on #184
@benz-philip i have fixed this issue for cucumber and tried with PageObjectAppium repo it works fine now.. Give it a try

[2017-05-16 10:38] benz-philip commented on #184
I updated the POM with the given dependency version and below is the POM file
![screen shot 2017-05-16 at 2 32 37 pm](https://cloud.githubusercontent.com/assets/18724283/26102169/e95c71f4-3a44-11e7-827d-f74342a7abd0.png)

and below is the config.properties,
![screen shot 2017-05-16 at 2 33 01 pm](https://cloud.githubusercontent.com/assets/18724283/26102180/f62dd364-3a44-11e7-90ba-3031623dbc61.png)

[2017-05-16 10:48] benz-philip commented on #184
And by keeping
<useTestNG>true</useTestNG> in pom
and
FRAMEWORK=cucumber

Output:
![cucumber](https://cloud.githubusercontent.com/assets/18724283/26102577/9c2c3818-3a46-11e7-88a6-ed1d32aa485f.png)
Test is not triggering

[2017-05-16 10:48] saikrishna321 commented on #184
mark your FRAMEWORK as cucumber in properties file

[2017-05-16 10:53] benz-philip commented on #184
Thank you,

And by keeping
useTestNG - true in pom
and
FRAMEWORK=cucumber, ITS WORKING!

RESOLVED!

[2017-05-16 14:48] #184 closed

[2017-05-17 05:31] benz-philip opened #189 "Failed to execute test in iOS devices with version 10.x.x"
Tested by using latest refactor build, Found that, the test executes in iOS device with os version 9.x. But failed to start run/install app in iOS device with version 10.x.

Gets the below error while triggering cucumber test.
![screen shot 2017-05-17 at 9 29 43 am](https://cloud.githubusercontent.com/assets/18724283/26139702/a2cf2d40-3ae3-11e7-9741-cba3bdc11591.png)
![screen shot 2017-05-17 at 9

[2017-05-20 00:02] #183 closed

[2017-05-25 13:17] hemano opened #192 "Appium's IosDriver does not support xcode version 8.3.2"
@saikrishna321 Please help as it's a show stopper for now.

Do I need to downgrade the xcode and appium version according to this article?
 @https://github.com/saikrishna321/AppiumTestDistribution/wiki/Prerequisites

Mac Sierra
Xcode: 8.3.2
iPhone real device: 10.3.1

Possible Cause of failure:
[iOS] SessionNotCreatedError: A new session could not be created. Details: Appium's IosDriver does not s

[2017-05-31 06:29] #192 closed

[2017-06-06 05:46] saikrishna321 commented on #163
@brtu i have this fixed on master, can you give it a try... you can send desired caps from json file
create a folder caps -> android.json

[2017-06-18 11:26] sunyujiang commented on #173
Hi, it's really thanks for your work! one request about the caps/android.json and IOSs' format, could you help provide this file format? thanks a lot, my mail is sun-yujiang@163.com

[2017-06-18 11:52] saikrishna321 commented on #173
https://github.com/saikrishna321/PageObjectPatternAppium/blob/master/caps/android.json

[2017-06-22 11:31] raveendaranugu opened #194 "Unable to log the Appium logs"
Hi @saikrishna321 ,
I am getting exception while executing the scripts.Unable to log the Appium logs.
Below is the line where I am getting the exception.
`public void startLogResults(String methodName)
        throws FileNotFoundException, FileNotFoundException {
    	String driverInstanceName=driver.toString().split("\\(")[0].trim();
        if (driverInstanceName.contains("AndroidDriver:  on LIN

[2017-06-29 13:48] hemano opened #195 "How can I run the testng test in this project in debug mode?"
Can you share the testng suit xml ?

[2017-06-30 00:42] saikrishna321 commented on #195
can u pls be more specific I'm not getting it right sorry..

[2017-07-03 19:12] hemano commented on #195
Apologies for being not clear..

I was trying to get the below testng suit to execute a specific test in debug mode. It works for me now, hence can mark it resolved.

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="2" name="TestNG Forum" parallel="classes">
    <listeners>
        <listener class-name="com.appium.ma

[2017-07-03 19:12] #195 closed

[2017-07-03 19:16] hemano opened #196 "Is it possible to execute same test in parallel, on different devices with different app versions?"
Is it possible to execute same test in parallel on different devices with different app versions?

I tried below android config, but find that it picks the app specified in first set only.

[
  {
    "platformName": "android",
    "platformVersion": "7.0",
    "app": "./build/xyz.apk",
    "appPackage":"com.asdf.od.app",
    "appActivity": "com.asdf.od.app.activity.SplashScreenActivity",
    "devi

[2017-07-04 05:34] hemano opened #197 "Getting error on ExtentX="true" Platform="android" mvn clean -Dtest=Runner test"
ExtentX="true" Platform="android" mvn clean -Dtest=Runner test

config.properties
RUNNER=distribute
APPIUM_JS_PATH=/usr/local/lib/node_modules/appium/build/lib/main.js
BROWSER_TYPE=chrome
APP_TYPE=NA
FRAMEWORK=testng

## For remote logging the reports using ExtentX(http://extentreports.relevantcodes.com/extentx/)
MONGODB_SERVER=127.0.0.1
MONGODB_PORT=1337

Runner.java

    @Test()
    public void

[2017-07-04 06:39] hemano commented on #150
I'm also facing the same issue. Until I don't do CI execution, can I make changes in the PR to the my fork?
https://github.com/saikrishna321/AppiumTestDistribution/pull/166

[2017-07-04 07:11] saikrishna321 commented on #150
@hemano if you send  a PR for this fix i can merge it .. @dkjha52 raised PR has conflicts

[2017-07-04 07:13] saikrishna321 commented on #196
@hemano we can run the same application in parallel on multiple devices, but not multiple applications in parallel. If you want to run multiple applications in parallel then you should allocate the devices to the test runner.

For Ex:
Application-1 runs on Device1 Device2 Device 3
Application-2 runs on Device4 Device5

This is possible

[2017-07-04 07:14] saikrishna321 commented on #189
@benz-philip can you pls try with the latest master commit version

[2017-07-04 07:18] #179 closed

[2017-07-04 10:05] hemano commented on #150
@saikrishna321 Raised a new PR.
https://github.com/saikrishna321/AppiumTestDistribution/pull/198

[2017-07-04 11:18] hemano commented on #134
@saikrishna321 Will this PR solve this issue?

https://github.com/saikrishna321/AppiumTestDistribution/pull/198

[2017-07-07 11:42] #57 closed

[2017-07-12 08:27] harsha4030hari commented on #3
Even after Setting Android_Home in Eclipse.. Still i am getting same error..

Some one help

[2017-07-12 13:24] vikramvi opened #200 "does README misses installing flick gem ?"
@saikrishna321  Flick.java executes command **flick video ...** , which depends on flick gem https://github.com/isonic1/flick

isn't this be part of README as well ? I'm not getting without this gem installation how will it work.
gem install flick

Please clarify

Thanks,
Vikram

[2017-07-12 13:53] saikrishna321 commented on #200
Thanks for pointing @vikramvi. Needs to me mentioned in ReadMe

[2017-07-12 14:09] vikramvi commented on #200
strange that people are able to use framework recording feature without this gem, nobody raised query about this before ?

[2017-07-13 07:38] hemano commented on #196
@saikrishna321 Thanks Sai. Closing the issue..

[2017-07-13 07:38] #196 closed

[2017-07-13 07:45] hemano opened #201 "Need to modify reports, while using @DataProvider"
<img width="1210" alt="screen shot 2017-07-13 at 1 15 12 pm" src="https://user-images.githubusercontent.com/10948392/28155457-78524604-67cc-11e7-942f-39f4176b8c1a.png">

@saikrishna321
Logging to the reports happens outside the node. Can we make it happen inside the nodes?

[2017-07-14 06:50] saikrishna321 commented on #201
@SrinivasanTarget this involves lot of changes

https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/AppiumParallelTestListener.java#L101

we create the child node after the testMethod  execution, but in this case we need to create the node BeforeMethod and expose to users something as

[code]

[2017-07-18 07:51] saikrishna321 opened #203 "Support iOS Safari test"

[2017-07-19 12:08] shridharkalagi opened #204 "If a test passes in the retry, even the failed test is reported."
If a test fails in the first run and passes in the second run, both the first (failure) and second runs (pass) are logged in the report.
However, if the test passes in the retry, failure shouldn't be logged.

Saw this issue while running tests on Android Chrome with MAX_RETRY_COUNT =1

[2017-07-19 13:01] saikrishna321 opened #205 "AutomationName is set when running test for web"
when user provided the caps with browserName="chrome" framework should not set the AutomationName to UIAutomator2

[2017-07-19 13:29] SrinivasanTarget commented on #204
Great Start @shridharkalagi

[2017-07-20 12:20] shridharkalagi opened #207 "Unable to add SystemInfo in the Report Dashboard"
I'm running Web tests on Android chrome and I want to add some info in the report dashboard like  URL, environment, website version etc.

[2017-07-31 21:32] MuraliJallu commented on #98
Hi SaiKrishana how can i contact to you
my mail id qa.murali90@gmail.com please message me

[2017-08-01 04:07] SrinivasanTarget opened #210 "Reporting Improvements"
- [x] Finalise JSON Schema
- [x] Generate JSON data from Framework
- [x] Develop Basic Dashboard with pass, fail and execution time
- [ ] Parse JSON in Reporting framework
- [ ] Category wise reports
- [ ] Allow filters in reporting
- [ ] Dashboard Improvements
- [ ] Finalize Report Design
- [ ] TestWise Reports
- [ ] Remove ExtentReport code

[2017-08-01 04:50] SrinivasanTarget commented on #210
http://sb-admin-react.geekydev.com:3009/

[2017-08-01 05:53] saikrishna321 commented on #98
@MuraliJallu pls join the slack channel https://join.slack.com/t/appiumtestparallel/shared_invite/MjIxMjIwMzMyMTAyLTE1MDE1NjY3NTgtMWMzMjM4YTI0ZA

[2017-08-01 05:57] saikrishna321 commented on #210
<img width="1674" alt="50af5994-1ba4-11e7-81cc-0aad877885dc" src="https://user-images.githubusercontent.com/4045041/28811368-59ade200-76ac-11e7-84fd-cf6a5087ab86.png">

[2017-08-01 05:59] saikrishna321 commented on #210
Sample Json in Paralle Mode(Single Test on Multiple Devices)
[code]

[2017-08-01 07:22] saikrishna321 commented on #210
Sample Json(Distribute)

[code]

[2017-08-02 03:16] bsneha90 commented on #210
@saikrishna321  What will be the value of results if the test is skipped?

[2017-08-02 03:21] saikrishna321 commented on #210
"results": "Skip"

[2017-08-02 04:01] bsneha90 commented on #210
Can you also add the time taken by each test to execute in the report?

[2017-08-02 07:02] SrinivasanTarget commented on #210
http://reportportal.io/

[2017-08-02 07:07] saikrishna321 commented on #210
@bsneha90 i have updated the json for Parallel with execution time

Contract

[code]

[2017-08-02 13:01] saikrishna321 commented on #210
@bsneha90 with screenshotPath fix
(Parallel)
[code]

[2017-08-02 13:22] saikrishna321 commented on #210
(distribute)

[code]

[2017-08-03 10:02] SrinivasanTarget commented on #210
https://github.com/capitalone/Hygieia#team-level-dashboard

[2017-08-03 10:19] saikrishna321 commented on #210
https://github.com/pa11y/dashboard

[2017-08-03 10:21] saikrishna321 commented on #210
https://github.com/puikinsh/gentelella

[2017-08-04 13:34] #204 closed

[2017-08-05 14:18] saikrishna321 commented on #210
https://app.testobject.com/#/share/4959aac4-ffbf-4122-9298-2b893ce94000/appium

[2017-08-11 12:49] saikrishna321 commented on #207
https://github.com/saikrishna321/AppiumTestDistribution/pull/208

[2017-08-11 12:49] #207 closed

[2017-08-11 12:50] saikrishna321 commented on #176
closing as Inactive

[2017-08-11 12:50] #176 closed

[2017-08-11 12:51] saikrishna321 commented on #159
@RatkoD changed the implementation to pick device using system profiler. Please open new issue if it exists

[2017-08-11 12:51] #159 closed

[2017-08-14 03:40] saikrishna321 opened #214 "Merger Simulator.json into ios.json"

[2017-08-14 09:06] saikrishna321 commented on #205
Closing as its Merged to master

[2017-08-14 09:06] #205 closed

[2017-08-14 10:30] saikrishna321 commented on #214
https://github.com/saikrishna321/AppiumTestDistribution/pull/215

[2017-08-14 10:30] #214 closed

[2017-08-17 09:59] saikrishna321 opened #216 "Run test across simulator and devices in parallel"
with xcode-9 beta we can run parallel simulators and the framework should also be possible to run tests across iOS Simulators and Real Devices at the same time.

- [X] Accept array of application .app and .ipa
- [X] Trigger tests across simulators and devices in parallel

[2017-08-19 09:38] saikrishna321 commented on #216
[code]

[2017-08-19 09:38] saikrishna321 commented on #216
@SrinivasanTarget yet to test the same

[2017-08-19 16:20] hemano commented on #216
Is the condition, appium 1.6.6.beta latest with xcode-9 beta  necessary for iOS simulator executions?

[2017-08-19 16:47] SrinivasanTarget commented on #216
@hemano Yes it is necessary to execute a test in multiple sim's parallely

[2017-08-20 03:26] rahul-bhiwagade opened #218 "Less time consumption while developing Test Cases"
While I am in the process of developing test case, each time framework starts appium server for the devices connected then start running tests.

At the time of developing you need to run multiple times and above process is very time consuming.
Is there easy way around ???

[2017-08-21 06:52] saikrishna321 commented on #218
@rahul-bhiwagade you need to have Util.java(https://github.com/saikrishna321/PageObjectPatternAppium/blob/master/src/test/java/com/appium/config/Utils.java) and extend your Test under dev.

In next release we will have support to handle single appium server to handle multiple drivers. This will help solve more time on server start for each device

[2017-08-21 06:53] #218 closed

[2017-08-21 16:07] saikrishna321 commented on #216
https://github.com/saikrishna321/AppiumTestDistribution/pull/217

[2017-08-21 16:07] #216 closed

[2017-08-21 16:31] saikrishna321 commented on #163
https://github.com/saikrishna321/AppiumTestDistribution/blob/master/caps/capabilities.json

can pass capabilities from json file.

[2017-08-21 16:31] #163 closed

[2017-08-22 01:06] #173 closed

[2017-08-24 03:45] bsneha90 commented on #210
@saikrishna321 can the reports contain a field for run type, mentioning if it was Parallel/Distribute?

[2017-08-24 11:32] bsneha90 commented on #210
"totaltime": 1500154775 --> this is in seconds/ milli seconds.

if it is millis then it means "25002.57958333mins"

if it is secs then it means "25002579.583329998mins"

Both of which seems to be wrong.

[2017-08-25 07:32] saikrishna321 opened #220 "Cucumber runner is broken on master"
Example code is broken with master commit

https://github.com/saikrishna321/PageObjectPatternAppium

[2017-09-05 16:47] saikrishna321 commented on #210
@jaydeepc @harinee can you post the contract that supports report-mine

[2017-09-06 10:20] jaydeepc commented on #210
we are working with this below schema

{"report": {
"summary": {
"num_tests": 14,
"passed": 7,
"failed": 5,
"error": 1,
"skipped": 1,
"duration": 12
},
"tests": [
    {
        "testDetails": {
            "classname": "HomePageTest2",
            "endtime": 1501679741,
            "starttime": 1501679720,
            "results": "Fail",
            "logs": {
                "adbLogs": "adblogs/192

[2017-09-19 04:26] kirankalyan5 commented on #210
@saikrishna321 @SrinivasanTarget Can we have the model name in much readable format instead of **_GooglePixelC_Android_** to _**Google Pixel**_ (OS we already have it on the platform, so can we trim it here.)

This is currnet UI
![image](https://user-images.githubusercontent.com/13114538/30575674-168f390c-9d20-11e7-893f-2e179d3987dd.png)

[2017-09-19 09:29] saikrishna321 commented on #210
@kirankalyan5 why is this closed ?

[2017-09-21 09:55] reach2jeyan opened #225 "Question: Distributed Tests across multiple mac machines."
I am having a fully fledged suite for automated tests written using ruby with Appium for mobile automation.

I am running these suites in one simulator in one machine and it takes up a lot of time, around 1 hour to run 56 test cases(We have system test cases where multiple checks like database/Api/functional are integrated). We have more additional test cases adding to our way.

We are trying to i

[2017-09-21 10:00] saikrishna321 commented on #225
@reach2jeyan why on multiple mac machines? Why not on same machine?

[2017-09-21 10:06] reach2jeyan commented on #225
@saikrishna321 I am using Appium with xcode 8.2. It had been mentioned across that either of them do not support more than one simulator per session.

By running on same machines, do you mean creating multiple users on the same machine? I am sorry, I have very little idea on the same. I would be glad if you could guide

[2017-09-21 10:08] saikrishna321 commented on #225
@reach2jeyan update your xcode version to 9 which has been release and it supports parallel simulator in the same macHost and you dont need multiple accounts. This framework supports that

https://www.youtube.com/watch?v=sf0YARF5ppQ

[2017-09-21 10:10] reach2jeyan commented on #225
Thanks! By Parallel tests, do you mean running same tests on different simulators at same time? or different tests running on multiple simulator at the same time?

[2017-09-21 10:11] saikrishna321 commented on #225
Both, when you set the Runner=parallel it runs same test case in all devices, when you set the Runner=distribute then it runs different test on different devices.....

[2017-09-21 12:26] #225 closed

[2017-09-21 18:12] carla-sarappa opened #226 "org.testng.TestNGException: java.net.URISyntaxException on Windows"
Exception thrown when trying to use the project on a Windows machine.

What this is trying to do is get a pathname as a URI which is why it's failing in Windows.
The fix for this is to parse the pathname to be an actual URI with toURI().

[code]

[2017-09-21 18:14] SrinivasanTarget commented on #226
Yes we are aware of it. please exclude testng and add it seperately. Or Fix is already there in master, where you can point to master and give a try.

[2017-09-22 08:35] sudharsanAvula opened #227 "Platform' is not recognized as an internal or external command"
D:\test\Workspace2\AppiumTestDistribution-master>Platform="android" mvn cle
an -Dtest=Runner test
'Platform' is not recognized as an internal or external command,
operable program or batch file.

I Just started exploring on it. Could you please explain me how to execute scrips. Don't mind it's a question not an issue.

[2017-09-22 08:44] #227 closed

[2017-09-26 05:33] reach2jeyan commented on #225
@saikrishna321 Thanks! I am using Ruby+cucumber for my tests and I do not have a runner class and the config file that you have mentioned in your framework.

Do you have a plugin that supports ruby tests? or does this work if the `config` file is written as a `.yml` file in my tests?

[2017-09-26 05:34] saikrishna321 commented on #225
@reach2jeyan no this framework supports only java ...

Nope

[2017-09-26 05:35] reach2jeyan commented on #225
@saikrishna321 Okay! Thank you....

[2017-09-27 04:33] saikrishna321 commented on #226
@carla-sarappa can you pls test it with version 7.0.1

[2017-09-27 04:55] saikrishna321 commented on #4
Is implemented as part of 7.0.1

[2017-09-27 04:55] #4 closed

[2017-10-04 10:02] hemano opened #231 "Can we use this with https://github.com/appium/appium-docker-android?"
I want to execute the tests under PageObjectPatternAppium using appium-docker-android.

After watching the Conference session of @SrinivasanTarget on appium-docker-android, I'm hopeful for getting rid of all the nasty configurations for appium environment.

Since, AppiumTestDistribution takes care of Appium server by itself, hence for this we need to have  appium environment setup on the local mac

[2017-10-04 10:23] SrinivasanTarget commented on #231
https://github.com/saikrishna321/AppiumTestDistribution/ is for both android and iOS platforms whereas appium-docker-android is only for android due to apple and docker limitations. If your app is only for android feel free to use any of these.

[2017-10-04 10:33] SrinivasanTarget commented on #231
@hemano We will look into how we can integrate both the projects for android.

[2017-10-13 05:36] saikrishna321 opened #234 "remove UIAutomatorServer from device if SocketHang up"
At times, UIAutomator2 server throws socket hang up exception as server in the device stops responding

We need to remove the server.apk from specific device if its SocketHang alone so that appium can install the new one on next run

[2017-10-20 05:09] saikrishna321 opened #236 "Use existing iProxy"
Currently framework created a new WDA session for every test which leads in new iproxy session.

Allocate a specific WDA port to specific device and use the same WDA session through out the test execution. By this WDA redeploy would not happen and test execution time will improve

[2017-10-26 13:05] Kanchu8 opened #239 "Question : Continues script execution"
Hi Sai,

In Runner if we add 2 test script for parallel execution like .......

  tests.add("HomePageTest2");
  tests.add("HomePageTest1");

then is it excuse one after another or new session will get created for second script..?

I want my scripts to run one after another in parallel execution..but after first test case app get closed and new session started for second script?

[2017-10-27 12:38] hemano commented on #203
@saikrishna321 Can I help in implementing it?

[2017-10-27 12:40] saikrishna321 commented on #203
@hemano Happy for it 👍 Please go ahead... there is code for ios safari real device testing but haven't tested it completly.

[2017-10-30 08:04] hemano commented on #203
Ok, I'll search for it.

[2017-11-04 04:55] saikrishna321 commented on #239
@Kanchu8 After every test we create a new session, to have clean state on new test case ...

[2017-11-04 11:33] saikrishna321 commented on #236
Closing as its merged to master

[2017-11-04 11:33] #236 closed

[2017-11-05 17:35] saikrishna321 commented on #40
ab10af0

[2017-11-05 17:35] #40 closed

[2017-11-07 00:49] saikrishna321 commented on #113
@kskrishnan this is part of master now.Closing

[2017-11-07 00:49] #113 closed

[2017-11-07 00:50] #189 closed

[2017-11-09 10:48] Kanchu8 opened #245 "Run Project in debug mode"
I created a application using this framework and to run that test script I enter command as "Platform=android mvn -Dtest=Runner test". Can you please guide us how can we run our scripts in debug mode using breakpoints

[2017-11-09 10:48] #239 closed

[2017-11-09 10:57] saikrishna321 commented on #245
@Kanchu8 just have breakpoint in your Runner.class ans debug from intellji

[2017-11-13 16:34] 99heitor opened #246 "Support for Java 8 lambda step definitions for Cucumber"
Currently, it seems there's no way use the AppiumTestDistribution framework with lambda step definitions, as shown [here](https://cucumber.io/docs/reference/jvm#lambda-expressions-java-8).
I get the following exception when attempting to do so:

[code]

[2017-11-14 16:00] anand853 commented on #109
Im hitting the same error now..

[2017-11-14 16:05] saikrishna321 commented on #246
@99heitor will look into this

[2017-11-14 20:33] 99heitor opened #248 "Video log not working on version 7.0.1"
Even after running with VIDEO_LOGS="true" and installing all prerequisites, there are no video logs on failures.

I'm using version 7.0.1, which I can see was released a couple of months ago. I can see there's since been an open pull request #247 that's supposed to fix video recording and also a related closed pull request #127.

Does the issue really exist on version 7.0.1? If so, is there a more

[2017-11-14 20:46] 99heitor opened #249 "getSessionDetails().get("platformName") returns Null, causing NullPointerException on test failures."
[This line](https://github.com/saikrishna321/AppiumTestDistribution/blob/ae3d207584bd62732ca13eeeee814a489ecd8c4f/src/main/java/com/cucumber/listener/ExtentCucumberFormatter.java#L109) is not currently working on my tests. There's no attribute called "platformName" on the session, which gives me the following error when a scenario fails:
[code]
Keep in mind I'm on version 7.0.1 so the line numbers

[2017-11-14 21:01] 99heitor opened #250 "AppiumServerLogs link broken on ExtentReports"
[This link ](https://i.imgur.com/Gkqkoim.png) is currently broken on the Extent Reports html output. It seems to expect a [naming scheme that includes the device ID and a method name](https://github.com/saikrishna321/AppiumTestDistribution/blob/1e01d684bd3094b91a923ccdb0aed2f2ab6878c7/src/main/java/com/appium/manager/ReportManager.java#L53), but the only file in the folder `/appiumlogs` is called

[2017-11-14 23:46] saikrishna321 commented on #248
@99heitor this has been broken and this version PR(https://github.com/saikrishna321/AppiumTestDistribution/pull/247) will fix it along with appium_server logs. I will review the PR today and publish a version.

[2017-11-14 23:48] saikrishna321 commented on #249
Yes, your right. Appium changed the sessionDetails  rendering i have changed it for TestNG not for cucumber. Been a while looked at cucumber runner. PR is welcome on this change :)

[2017-11-15 18:37] 99heitor commented on #249
OK, I will open a pull request tomorrow with this change.

[2017-11-16 09:17] EtheriousNatsu opened #251 "dose it is have a doc url?"
do not open http://saikrishna321.github.io/AppiumTestDistribution

this url is not existed

[2017-11-16 09:23] saikrishna321 commented on #251
@EtheriousNatsu will check, you can refer the ReadME and wiki for more details

[2017-11-18 03:58] karthikbhatnagar opened #254 "Support for klov server"
Hi Sai

Are you planning to add support for klov server?

ExtentX is depreciated by the owner and klov will replace or already has.  I am using it for past few days and able to confirm its very stable and much faster..

[2017-11-18 04:03] SrinivasanTarget commented on #254
@karthikbhatnagar Would you like to raise a PR?

[2017-11-18 04:26] karthikbhatnagar commented on #254
for those who are lookingfor the server:

project url  https://github.com/anshooarora/klov
demo  http://klov.herokuapp.com

i will send in a pr soon

[2017-11-18 04:31] karthikbhatnagar commented on #254
@anshooarora please chime in if required.

[2017-11-18 05:20] #249 closed

[2017-11-18 18:30] dkjha52 opened #255 "Can we execute the parallel script on simulator and emulator"
Environment -
Xcode - 9.2
RUNNER=parallel
Platform=both
I have executed test against one android emulator and one iOS (11.2) simulator parallely. Observed that -
1. Creates two session, one for emulator and another for iOS simulator
2. Execution finished on android emulator but execution on iOS simulator is going on.
3. Once the execution finished on emulator, it starts new session again for iOS s

[2017-11-19 02:10] saikrishna321 commented on #255
Yes, it's definitely possible ... can you please tell which version ur using ? and also provide the logs

[2017-11-19 03:52] dkjha52 commented on #255
@saikrishna321 I am using master version. Please find the log below -
--------------------------------------------------------------------
administrators-MacBook-Pro-4:appiumtestdistribution administrator$ Platform="both" mvn clean -Dtest=Runner test
[INFO] Scanning for projects...
[INFO]

-------------------------------------------------------
 T E S T S
------------------------------------------

[2017-11-19 06:01] saikrishna321 commented on #255
will look into this .... is this complete log ??

[2017-11-19 12:51] saikrishna321 commented on #255
@dkjha52 i'm unable to reproduce. Pls look at the logs

https://gist.github.com/saikrishna321/21f528036b8793ca2c56854cd0a38574

Version used::
[code]

Can you pls with reproducing with https://github.com/saikrishna321/PageObjectPatternAppium/tree/single-server-session

[2017-11-19 13:56] dkjha52 commented on #255
@saikrishna321 I am able to reproduce this issue as per your details. Please note that I am executing scripts on One android emulator and one iOS simulator. Here is the complete log -
-----------------------------------------------
Nov 19, 2017 7:02:58 PM com.appium.manager.DeviceAllocationManager getDevices
INFO: All devices connected[emulator-5554, 9AA57F3D-57A3-4B9E-8303-09E455F22446]
creating

[2017-11-20 14:02] 99heitor opened #256 "adbExec forward --list fails with android test distribution"
The following error happens very often when executing Android tests, which causes all steps to skip:

[code]

Also, when all steps are skipped the report shows "Pass".

I noticed @saikrishna321 [raised a related issue with the Appium project here](https://github.com/appium/appium/issues/9392). Did you manage to solve it?

[2017-11-20 14:05] saikrishna321 commented on #256
follow that thread, it has the solution ... I updated developer tools and that fixed

[2017-11-20 15:52] carolhmj opened #257 "Test passes in report when all steps are skipped"
This happens when something fails before the test starts (errors with ADB or during Hooks). I am using the Cucumber framework with TestNG on version 7.0.1.
[I made the test example fail on Hooks to exemplify it.](https://imgur.com/6Ufu8XQ)

[2017-11-20 15:59] saikrishna321 commented on #257
will take a look .... what's the version ur using ??

[2017-11-20 18:33] 99heitor commented on #257
@saikrishna321 it's version 7.0.1 but in my tests it also happens on the latest build

[2017-11-20 19:59] 99heitor commented on #248
@saikrishna321 I am now on build c4ff66ccc7 and video logs are still not working. Maybe I'm looking at the wrong place. Where are the logs supposed to go?

[2017-11-20 20:44] 99heitor commented on #256
Unfortunately I had already tried updating developer tools. Seems like it wasn't enough in my case.

It usually happens after a lot of scenarios are executed (30+), and keeps on happening for the rest of the session. It's probably just adb's flakiness, and there's not much you could do.
Feel free to close the issue if you want, I'll update if I find a solution.

[2017-11-20 21:38] unlimUA opened #258 "How to run test on gradle?"

[2017-11-20 23:05] saikrishna321 commented on #248
when u have env as VIDEO_LOGS="true" and you should see videos on failures attached to report

[2017-11-21 07:00] saikrishna321 commented on #258
you can add the repository in your gradle

[code]

[2017-11-21 07:01] saikrishna321 commented on #257
@carolhmj @99heitor this happens when u run as cucumber alone ?

[2017-11-21 08:08] unlimUA commented on #258
I do that already.
how to run test with cmd from windows ?

[2017-11-21 08:11] saikrishna321 commented on #258
@SrinivasanTarget can you help on this....

[2017-11-21 08:12] SrinivasanTarget commented on #258
Sure @saikrishna321 will update in sometime

[2017-11-21 08:28] unlimUA commented on #258
@SrinivasanTarget thanks a lot!

[2017-11-21 14:04] carolhmj commented on #257
This happens when running with TestNG framework too.

[2017-11-21 17:47] dkjha52 commented on #255
Command Executed - Platform=both mvn clean -Dtest=Runner test

[2017-11-22 00:33] saikrishna321 commented on #255
Platform="both" INCLUDE_GROUPS="Parallel" mvn clean -Dtest=Runner test

Try executing only one test in parallel and make sure you don;t have usePreBuiltWDA=true in your capabitlies.json

[2017-11-22 00:34] saikrishna321 commented on #257
@carolhmj i can reproduce the issue.... will work on it ..

[2017-11-22 00:35] saikrishna321 commented on #250
As the framework moved towards single server session, we need to add the AppiumLogs to DashBoard

[2017-11-24 07:25] saikrishna321 commented on #257
<img width="1399" alt="screen shot 2017-11-24 at 7 29 26 am" src="https://user-images.githubusercontent.com/4045041/33199530-9b82c3bc-d0e8-11e7-8062-4d4dc8575d90.png">

<img width="1399" alt="screen shot 2017-11-24 at 7 24 23 am" src="https://user-images.githubusercontent.com/4045041/33199535-9f7e7434-d0e8-11e7-9296-461c7864d0a4.png">

[2017-11-24 07:26] saikrishna321 commented on #257
https://github.com/saikrishna321/AppiumTestDistribution/pull/259

[2017-11-24 08:26] saikrishna321 commented on #254
@karthikbhatnagar any updates ? if not  i will start working on this

[2017-11-25 13:40] saikrishna321 commented on #257
@carolhmj merged to master, current fix is for testNG .. Pls try with below version

[code]

[2017-11-26 08:46] dkjha52 commented on #255
@saikrishna321 I tried the command you mentioned. but getting the same result. However I observed one thing - if android executed quickly with fail status then this occurs. If android executed successfully and the same executed successfully on iOS also. Please look into this

[2017-11-26 17:27] shridharkalagi opened #260 "Exception handling - Throws null pointer if there are not devices connected"
This is my iOScapability
 "app": {
        "device":"./xyz.ipa"
      }
I'm running tests only on real devices. Null pointer exception is thrown if it's not connected as there is a simulator open in the background which makes device count as 1.

[2017-11-27 12:25] 99heitor commented on #256
I found out what my problem. I need some custom capabilities in my application that create a new adb port forward with every scenario. I was not removing these forwards when the scenario finished, so they stacked up until adb couldn't list them anymore running `adb forward --list`, causing the protocol fault I reported. Simply deleting the port forwards between scenarios using the @After tag on ho

[2017-11-27 12:25] #256 closed

[2017-11-28 04:34] saikrishna321 commented on #260
@shridharkalagi instead of throwing null, we need to handle the exception and give a valid message to user.

[2017-11-28 04:34] saikrishna321 commented on #257
@carolhmj ping

[2017-11-29 14:50] #257 closed

[2017-11-30 19:20] hemano commented on #203
@saikrishna321 Currently, I'm able to execute iOS Safari browser tests on a Simulator.

If I understand correctly, you wouldn't want the user to change capabilities.json file to execute browsers tests.
Instead, should I make use of BROWSER_TYPE AND APP_TYPE properties of config.properties as follows? And create the DesiredCapability object reading these properties values?
[code]
I'll go ahead acco

[2017-12-01 00:19] saikrishna321 commented on #203
@hemano we no more use _BROWSER_TYPE=safari APP_TYPE=web_ from config.properties, we pick it from capabilities.json.

FYI, as i mentioned above the code was implemented but not tested... I got time to test the code on my CI and real device Safari tests work well on multiple devices.

Safari simulators won't work on parallel as its a Apple bug.

[2017-12-01 04:58] hemano commented on #203
Thanks for the update. So can we close this issue? If not then can I look into the gap keeping us closing this issue? Or would you like me to update the ReadMe for this?

[2017-12-01 04:59] saikrishna321 commented on #203
Yah we can close this... Sure you can update the readme

[2017-12-01 05:00] #203 closed

[2017-12-01 05:08] saikrishna321 commented on #254
@karthikbhatnagar implementation is part of klov branch

give it a try

[code]

[2017-12-01 05:10] saikrishna321 commented on #51
moving to klov server, images are getting attached

[2017-12-01 05:10] #51 closed

[2017-12-03 05:11] hemano commented on #203
@saikrishna321
Could you please review it and add it to your wiki pages?

https://github.com/hemano/AppiumTestDistribution/wiki/Configurations-for-iOS-Safari-browser-test-run

[2017-12-04 15:35] pavanbachu0604 opened #262 "Unable to find the UDID of connected device using Java"
Unable to find the UDID of connected device using java, please find the [code](https://gist.github.com/pavanbachu0604/0e3d9f6a06fe455bea403e9f04cda2db) , I am able to pull the UDID using the command '"system_profiler SPUSBDataType | sed -n -E -e '/(iPhone|iPad|iPod)/" + ",/Serial/s/ *Serial Number: *(.+)/\1/p'"', but not able to pull the UDID using "idevice_id -l"

but while appium is running it i

[2017-12-04 15:54] saikrishna321 commented on #262
@pavanbachu0604 how is the issue related to this repo ?

[2017-12-04 20:45] pavanbachu0604 commented on #262
Wrong window .. can you close it ?

[2017-12-05 00:37] #262 closed

[2017-12-06 05:13] karthikbhatnagar commented on #254
Thanks Sai..  sorry, I have been so busy lately.  I tested and it looks good.

[2017-12-06 05:14] karthikbhatnagar commented on #254
BTW. I saw this

https://github.com/saikrishna321/AppiumTestDistribution/issues/210

Are you removing Extent support?

[2017-12-07 03:28] karthikbhatnagar commented on #254
Hi Sai
Please comment
We are using klov and  extent reports for mobile, web and other testin projects. Removing support will impact us.

[2017-12-07 03:29] karthikbhatnagar commented on #254
BTW I am closing this as this branch adds support for klov.

[2017-12-07 03:29] #254 closed

[2017-12-07 09:45] saikrishna321 commented on #254
No, that stream of work has gone on hold... no bandwidth

[2017-12-08 02:06] karthikbhatnagar commented on #254
Thanks.

[2017-12-08 02:08] karthikbhatnagar commented on #254
I have used other tools but klov makes the most sense and is easy to follow for everyone in our team. So you can create a plug-in for users who want to continue using Extentreports.

[2017-12-08 06:31] saikrishna321 commented on #254
Sorry, didn't get this

[2017-12-08 07:32] louis2610 commented on #248
@99heitor i also build c4ff66c,but video logs are still not working. @saikrishna321

[2017-12-08 10:18] saikrishna321 commented on #248
which platform are u trying to capture the video logs ??

[2018-01-08 11:27] ssrikantasahoo opened #270 "HI cant open simulator automatically need help...."
HI cant open simulator automatically need help....

[2018-01-08 11:31] saikrishna321 commented on #270
pls post what is the error ur getting ?

[2018-01-15 17:08] ssrikantasahoo opened #271 "Cant launch ios simulator"
unning com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
java.lang.IllegalArgumentException: No Android Device Connected
	at com.appium.android.AndroidDeviceConfiguration.getDeviceSerial(AndroidDeviceConfiguration.java:105)
	at com.appium.manager.DeviceAllocationManager.getAndroidDeviceSerial(DeviceAllocationManager.java:75)
	at com.appium.manager.DeviceAllocationManager.initi

[2018-01-16 08:57] saikrishna321 commented on #271
@ssrikantasahoo  error cleary says android devices are not connect

Can you pls tell the command ur using to run and what does adb devices return ?

[2018-01-17 12:05] shridharkalagi opened #272 "Unable to launch the android app without APP_PACKAGE"
Unable to launch the android app without APP_PACKAGE though it is not mandatory when apk file is there.

[2018-01-18 21:19] EzequielCamezzana92 opened #274 "How can I run with groups using testng runner?"
I have a Runner creating a new paralleThread(), so I assign a package into the parallelThread instance. but I can filter this package by groups.
So I tried to use a testng.xml whit this config:
[code]
But obviusly this group apply to the class runner and into the runner i do not have any test with this tag. so there is any way to set into the parallel thread the cases after filter with the groups.

[2018-01-20 01:02] saikrishna321 commented on #274
@EzequielCamezzana92 Pls run the command by setting them in environment variables
`INCLUDE_GROUPS="smoke" EXCLUDE_GROUPS="bugs" mvn clean -Dtest=Runner test `

[2018-01-21 18:51] shibupanda commented on #256
i am facing the exact issue so i wanted to know what the developer tools is. Are you talking about Android SDK?

[2018-01-30 04:38] DarshanLoga opened #276 "Suggest your framework for aws device farm"
Hi sai,
I'm new to the appium technology. Currently I'm automating the mobile app in aws device farm. Is your framework support it? . Please suggest your framework which one support from github. I'm using cucumber.

[2018-01-30 04:39] Logakarti commented on #276
Sorry I'm not using cucumber

[2018-01-30 17:27] SrinivasanTarget opened #277 "Make Appium Path Configurable for remote machines"

[2018-01-30 17:31] SrinivasanTarget opened #278 "Identify & refractor getDeviceName and getIOSDeviceProductTypeAndVersion"

[2018-01-30 17:33] SrinivasanTarget opened #279 "Fix/Handling of same UDIDs of Android Emu's on remote machines"

[2018-01-31 06:32] #278 closed

[2018-02-02 07:35] saikrishna321 opened #280 "Allocate remote machine ports to specific capabilties"

[2018-02-02 07:38] saikrishna321 opened #281 "Remote server port configuration"
If user starts the  RemoteAppiumManager on custom ports and not on default 4567. In such case we should accept the port from user

[2018-02-06 09:14] saikrishna321 commented on #280
https://github.com/saikrishna321/AppiumTestDistribution/pull/275/commits/95f40892f8182dc4c40aa1eb7c1395a7bfa17c24

[2018-02-06 09:14] #280 closed

[2018-02-08 18:06] Mayur5712 opened #283 "Getting exception while running the code on Windows PC."
I download the code, install the dependencies and tried to run the code, but when I try to run I got below error.

I tried to debug the issue and found that In CommandPromptUtil.class , getBufferedReader method "Cannot run the program /bin/sh : Create error process=2" exception is getitng.

java.io.IOException: Cannot run program "/bin/sh": CreateProcess error=2, The system cannot find the file sp

[2018-02-09 13:55] saikrishna321 commented on #283
@Mayur5712  can you raise this issue here

https://github.com/SrinivasanTarget/DeviceManager

com.thoughtworks.android.AndroidManager.startADB(AndroidManager.java:27)

This is different package

[2018-02-09 13:55] saikrishna321 commented on #283
@SrinivasanTarget ping

[2018-02-10 04:38] Mayur5712 commented on #283
Done, reported an issue.

On Fri, Feb 9, 2018 at 5:55 AM, Sai Krishna <notifications@github.com>
wrote:

--

Thanks and regards,
Mayur Waghmare
9689699906

[2018-02-18 06:55] saikrishna321 commented on #96
This is supported in remote-service branch

[2018-02-18 06:55] #96 closed

[2018-02-21 10:02] saikrishna321 opened #284 "Respect the key and value as appium does in 1.8.x beta"
[BaseDriver] Boolean capability passed in as string. Functionality may be compromised.
[BaseDriver] Boolean capability passed in as string. Functionality may be compromised.
[BaseDriver] Boolean capability passed in as string. Functionality may be compromised.
[BaseDriver] Boolean capability passed in as string. Functionality may be compromised.
[BaseDriver] Boolean capability passed in as string.

[2018-02-22 05:23] shridharkalagi opened #285 "Getting Null pointer exceptions while running only on Android"
Below is my hostmachines node in capability file and I'm running only on Android
 "hostMachines": [
    {
      "machineIP": "127.0.0.1",
      "simulators": [
        {
          "deviceName": "iPhone 6",
          "OS": "11.2"
        }
      ]
    }
  ]

Throws null pointer at DeviceAllocationManager.java:42

[2018-02-22 05:41] shridharkalagi commented on #285
getting null pointer as getdevices() throws [error](https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/utils/HostMachineDeviceManager.java#L38)

[2018-02-22 12:27] parul001 commented on #93
same problem is with my appium , main.js gives the above error when i try to build a appium local service. when i run path of main.js i.e.somewhat like this :C:/Users/parulb/AppData/Local/Programs/appium-desktop/resources/app/node_modules/appium/lib/main.js on console  its gives a dialog box with Microsoft  jScript compilation error . dn know what to do . Plzz help

[2018-02-22 12:30] parul001 commented on #93
hi,
with reference to above comment below are my  version deatils for appium n all :
+1: Appium :1.7
2. Nodejs version:9.5
3 : window 7
4 java client 5.0.4

[2018-02-22 12:38] parul001 opened #287 "configuration failure"
`	AppiumDriverLocalService service = AppiumDriverLocalService.buildService ( new AppiumServiceBuilder ( )
				.usingDriverExecutable ( new File ("C:\\Program Files\\nodejs\\node.exe") )
				.withAppiumJS ( new File (
				"C:/Users/parulb/AppData/Local/Programs/appium-desktop/resources/app/node_modules/appium/lib/main.js") )
				.usingPort ( 4723 )
				.withArgument ( GeneralServerFlag.LOG_LEVEL ,

[2018-02-22 12:42] saikrishna321 commented on #287
If you execute the below command in your command line whats your output

`
C:/Users/parulb/AppData/Local/Programs/appium-desktop/resources/app/node_modules/appium/lib/main.js
`

[2018-02-23 00:06] sarathsp23 commented on #287
@parul001 I had the same error while trying to execute, I then changed the path to be
C:/Users/<userName>/AppData/Roaming/npm/node_modules/appium/build/lib/main.js

[2018-02-23 07:15] parul001 commented on #287
@saikrishna321  when i execute the following command which is C:/Users/parulb/AppData/Local/Programs/appium-desktop/resources/app/node_modules/appium/lib/main.js  on command line  a  window dialog box opens with 1 error  and giving Microsoft JScript Compliation error . shown below:
![untitled](https://user-images.githubusercontent.com/20571722/36582425-70bf1fd0-1897-11e8-9997-ab592058e30e.png)

[2018-02-25 12:05] messianic commented on #287
@parul001 I think you are trying to launch appium using the js file, the nodejs executable path needs to be prefixed before this and it still wont work as wrong js file is referred. The correct one is under:
node_modules\appium\build\lib\main.js
rather than just:  node_modules\appium\lib\main.js

[2018-02-26 05:31] parul001 commented on #287
thanks

[2018-02-26 05:31] #287 closed

[2018-02-26 06:44] shridharkalagi commented on #285
Fixed in this [PR](https://github.com/saikrishna321/AppiumTestDistribution/pull/286)

[2018-02-26 09:03] mrpgupta opened #289 "Refactor the method name for getting Device Udid"
its bit confusing when we use following for getting Ud id for device:

"AppiumDeviceManager.**getDevice().getDevice()**.getUdid()"

[2018-02-26 09:06] SrinivasanTarget commented on #289
send us the exact link here

[2018-02-26 09:08] shridharkalagi opened #290 "Remove method which is no longer valid"
Below method is removed with remote service in place. It just returns a null as there is no setter for it  - AppiumDeviceManager.getDeviceUDID()

This is the method to get device UDID now AppiumDeviceManager.getDevice().getDevice().getUdid()

[2018-02-26 09:18] mrpgupta commented on #289
link [here](https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/AppiumDriverManager.java#L170)

[2018-02-26 09:19] SrinivasanTarget commented on #289
https://github.com/saikrishna321/AppiumTestDistribution/pull/291

[2018-02-26 16:52] #290 closed

[2018-02-27 14:51] saikrishna321 opened #294 "Appium Server starts locally when only remote machine is provided"

[2018-02-28 07:06] shridharkalagi opened #295 "iOS tests are failing as it is unable to get the OS version"
iOS tests are failing as it is unable to get the OS version [here](https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/utils/DesiredCapabilityBuilder.java#L125)

version of the device [here](https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/utils/DesiredCapabilityBuilder.java#L109) is "ProductVersion: 10.3.3" and i

[2018-02-28 07:26] SrinivasanTarget commented on #295
I don't think so we need this condition check going forward as server is
capable to handle it anyways. We should bluntly set both by def and Appium
base driver will handle it internally.

On 28-Feb-2018 12:36 PM, "Shridhar Kalagi" <notifications@github.com> wrote:

[2018-02-28 07:45] shridharkalagi commented on #295
@SrinivasanTarget However, we are setting the capabilities here. How will server handle this check?

[2018-02-28 07:58] SrinivasanTarget commented on #295
Based on iOS version, Appium base driver initialise iOS Driver or
XCUIDriver. It's smart enough but if we have a smart solution, we can go
head and adopt it for handling WDA port based on iOS version still.

On 28-Feb-2018 1:15 PM, "Shridhar Kalagi" <notifications@github.com> wrote:

[2018-02-28 08:17] shridharkalagi commented on #295
Ok and this issue is fixed in this [commit](https://github.com/SrinivasanTarget/DeviceManager/commit/24144005f576634accff2cff797d485f6b748ca6).

[2018-02-28 11:58] #295 closed

[2018-03-01 06:03] shridharkalagi opened #296 "All available Simulators list is fetched even if 'Simulators' node is not there in caps file"
All available Simulators list is fetched even if I'm trying to run only on real devices

[2018-03-04 18:45] pr4bh4sh opened #297 ""bootdevice.sh" does not wait for emulators to boot"
code:
[code]

Output:
[code]

Issues: (IMO)
1. Waiting for emulator boot should be blocking, `nohup` should not be part of [line](https://github.com/saikrishna321/AppiumTestDistribution/blob/b5f25197d7ed9b5519ce03799a4d7973b30699e1/bootdevice.sh#L6)
1. Since there are two emulators `wait-for-device` will not be able to check for boot status with the current implementation.

[2018-03-05 06:06] Kitty2014 commented on #3
add your full adb path
such as below
Process process = Runtime.getRuntime().
exec("/Users/XXX/Desktop/00Build_Android/android-sdk-macosx/platform-tools/adb pull /storage/emulated/0/Download/statistic.json ./actual/statistic.json");

[2018-03-06 05:44] sumeetp4 opened #298 "Do you have similar implementation in Nodejs using webdriverio?"
I need to implement same using javascript and node.js. Any help?

[2018-03-06 06:32] SrinivasanTarget commented on #298
@sumeetp4 Currently No. Feel free to build one keeping ATD as ref and we can help if any.

[2018-03-07 05:50] saikrishna321 commented on #298
@bsneha90 thoughts ?

[2018-03-07 09:20] hariharanwebmail commented on #298
No have to develop the same again on nodejs

[2018-03-07 10:28] Pushpank opened #299 "Can we run different script on multiple android devices and can we test syncing like chat (live update or message receive or not) by this project ?"

[2018-03-07 10:33] saikrishna321 commented on #299
Yes, we can run multiple scripts on multiple device, just give Runner=distribute in your config.properties

[2018-03-08 07:32] Pushpank commented on #299
Thank you for instant reply, one more thing how to specify that a particular test case run in 'A' device and another to 'B' device.

[2018-03-08 08:23] saikrishna321 commented on #299
No,we don't set the test cases to devices, we ideally let the framework decide to push the test to free device.

SkipIf(platform= "iOS") // if you want to skip a specific test case on certain platform then u need to use this annotation

[2018-03-08 09:03] Pushpank commented on #299
ohh, If we are using only android devices, is there any way to decide a  particular device or thread for a particular test. so we can test syncing

[2018-03-08 17:36] saikrishna321 commented on #299
No, thats not how test distribution should work on queues

[2018-03-09 16:52] arunaousula9421 opened #300 "Tests are not executing in Parallel"
Hi @saikrishna321, recently I have started using your amazing framework and was able to write couple tests. But when I run them on multiple devices they are not running in parallel instead they are running sequentially One after other device.

Here's is SetUp
capabilities.json

[code]

Utils Class

[code]

POM.xml
[code]
config.properties

[code]
Can you please let me know how to fix this issue an

[2018-03-09 17:00] SrinivasanTarget commented on #300
@arunaousula9421 Thanks for your feedback :)
Few things,
1) Can you follow our wiki [here](https://github.com/saikrishna321/AppiumTestDistribution/wiki/Configure-tests-for-TestNG) Unfortunately it's little outdated. You can expect an update in wiki in another few days.
2) Driver creation is handled inside the framework so you don't need to worry about it. Update your utils class as per wiki.
3) Pl

[2018-03-09 17:03] arunaousula9421 commented on #300
Thank You @SrinivasanTarget. Can you please let me is there any potential issue at the moment to run the tests in parallel.

[2018-03-09 17:05] SrinivasanTarget commented on #300
@arunaousula9421 As far as we know, there is no potential issues left out. If you figure out one feel free to raise here. Also dont forget to attach logs in form of gist.

[2018-03-09 17:08] arunaousula9421 commented on #300
@SrinivasanTarget Thank You. Only issue I found is tests were not running in parallel .. Rest everything looks amazing.

[2018-03-09 17:12] SrinivasanTarget commented on #300
@arunaousula9421 Please follow the instructions and give a try as i see the utils class shared above is not meant for parallel. Also share the logs here in form of gist for us to investigate further

[2018-03-09 18:06] saikrishna321 commented on #300
@arunaousula9421 as srini said we had all the driver creation, i'm interested to see how the Utils class is used?

[2018-03-09 18:58] arunaousula9421 commented on #300
@saikrishna321 Can you please let me know where I am doing wrong in order to execute the tests in parallel. Here is my example test which I am executing

[code]

[2018-03-09 20:10] arunaousula9421 commented on #300
@SrinivasanTarget @saikrishna321 I was finally able to resolve the issue. Here's what I have found.
When I have updated the dependency to v8.0.0 and updated capabilities.json as above, tests were running serially.

Now when I have moved back to previous version v7.0.0 and updated capabilities.json as [here](https://github.com/saikrishna321/PageObjectPatternAppium/blob/master/caps/capabilities.json

[2018-03-12 07:20] shridharkalagi opened #301 "Unable to run the tests with localhost IP"
Below is my capability file where i'm trying to run tests on localhost iOS simulators. However, tests are not starting with a null pointer [here](https://github.com/saikrishna321/AppiumTestDistribution/blob/8.0.0/src/main/java/com/appium/utils/DesiredCapabilityBuilder.java#L76)

Caps.json --
{
  "android": {
    "platformName": "android",
    "platformVersion": "7.0",
    "app": "./packages/test.a

[2018-03-12 12:41] shridharkalagi opened #302 "Tests run on the booted sims even if its not mentioned in the caps file"
I want to run tests on the below 2 sims. However, tests are being run on the other booted sims as well.

"simulators": [
        {
          "deviceName": "iPhone 7",
          "OS": "11.2"
        },
        {
          "deviceName": "iPhone SE",
          "OS": "11.2"
        }
      ]

[2018-03-12 16:24] saikrishna321 commented on #302
@shridharkalagi thats the expected behaviour ...

[2018-03-13 06:06] #302 closed

[2018-03-13 06:06] saikrishna321 commented on #284
fixed as part of 8.0.0

[2018-03-13 06:06] #284 closed

[2018-03-13 06:06] saikrishna321 commented on #289
as part of 8.0.0

[2018-03-13 06:06] #289 closed

[2018-03-13 06:07] saikrishna321 commented on #281
fixed as part of 8.0.0

[2018-03-13 07:22] mrpgupta opened #303 "While using updated Appium 1.8.0-beta3, getting error for 'webkitDebugProxyPort' must be of type number"
Error : [XCUITest] InvalidArgumentError: 'webkitDebugProxyPort' **must be of type number**

[link](https://github.com/saikrishna321/AppiumTestDistribution/blob/cfc635903a93bc91467a66db91994d8bd2255be2/src/main/java/com/appium/utils/DesiredCapabilityBuilder.java#L121)

[2018-03-13 10:18] #279 closed

[2018-03-13 10:18] #277 closed

[2018-03-14 02:40] saikrishna321 commented on #303
@mrpgupta webkitproxy has been broken on the latest ... will get it fixed and release a version today.

@SrinivasanTarget you want to take this

[2018-03-14 02:41] saikrishna321 opened #306 "project fails to run on gradle"
currently all the artifacts are generated inside target folder which holds good for maven, for gradle project its always build. we should make the artifact path configurable.

[2018-03-14 02:42] saikrishna321 commented on #300
@arunaousula9421 i can't reproduce this on version 8.0.0.

Can you post the server logs and video that would help

[2018-03-14 02:43] #270 closed

[2018-03-14 02:44] saikrishna321 commented on #248
Its broken again on 8.0.0 as we have remote execution.

[2018-03-14 06:44] hariharanwebmail commented on #306
Fixed by accepting OUTPUT_DIRECTORY as env parameter.

https://github.com/saikrishna321/AppiumTestDistribution/commit/e31a24c88e6c014b712995a70ed98cd4b6ccd34a

This helps in running on gradle build system. But for future need to consider someone giving absolute file path. Need to get rid of System.getenv("user.dir") from source code in these areas.

[2018-03-14 07:04] SrinivasanTarget commented on #303
@saikrishna321 There is a gap here when i'm fixing it. Let me close this today night. This needs a change in RemoteAppiumManager end too.

[2018-03-20 09:31] WenRui13 opened #308 "The test suite xml file desnt"com.appium.executor.MyTestExecutor#constructXmlSuiteForParallel" method"

[2018-03-20 09:45] WenRui13 commented on #308
my pom file is bellow
 <dependency>
          <groupId>com.github.saikrishna321</groupId>
          <artifactId>AppiumTestDistribution</artifactId>
          <version>8.0.0</version>
      </dependency>

my config file is bellow
RUNNER=parallel
APPIUM_JS_PATH=/usr/local/lib/node_modules/appium/build/lib/main.js
BROWSER_TYPE=chrome
APP_TYPE=NA
BUNDLE_ID=com.xstore.sevenFresh
FRAMEWORK=testng
#CAPS=

[2018-03-20 09:58] SrinivasanTarget commented on #308
@WenRui13 Thanks for bringing this to our notice and will look into this soon.

[2018-03-20 11:08] WenRui13 commented on #308
the implementation in the dependency source class is bellow:
[code]
but in the cloned project I see is：
[code]

[2018-03-21 06:04] saikrishna321 commented on #308
make sure classes files inside the package mentioned in the runner ends with Test as per maven/gradle standards

[2018-03-21 08:50] WenRui13 commented on #308
@saikrishna321 yes, I did it. but still can't get the right test suite file.

[2018-03-21 11:02] WenRui13 opened #309 "specify the bundleid in capabilities.json file and then test on pre-installed application can't work."
my capabilities.json:
[code]
my config file:

APPIUM_JS_PATH=/usr/local/lib/node_modules/appium/build/lib/main.js
#BROWSER_TYPE=chrome
APP_TYPE=NA
BUNDLE_ID=com.xstore.sevenFresh
FRAMEWORK=testng
#CAPS=./caps/capabilities.json
DEVICE_PLATFORM=device
APP_PACKAGE=com.xstore.sevenFresh

by review your source code ,if test on real device , the "app" capability and its subnode "devcie" is required. so

[2018-03-21 16:27] saikrishna321 commented on #309
try with below caps structure it should work

[code]

[2018-03-22 01:44] WenRui13 commented on #309
@saikrishna321 thanks,  I try it as above ,but the "app" capability is required. the log is bellow:

org.json.JSONException: JSONObject["app"] not found.
        at org.json.JSONObject.get(JSONObject.java:520)
        at org.json.JSONObject.getJSONObject(JSONObject.java:732)
        at com.appium.utils.CapabilityManager.isSimulatorAppPresentInCapsJson(CapabilityManager.java:74)
        at com.appi

[2018-03-22 08:36] saikrishna321 commented on #309
Will fix this, we shall release v 8.0.1 soon as we have issues around ios-webkit-proxy for iOS

[2018-03-22 08:58] WenRui13 commented on #309
Nice, thanks a lot !

[2018-03-22 11:09] saikrishna321 commented on #308
@WenRui13 do u also have ParallelDemoTest class in the same package. Can you please share screenshot of your project in intellji

[2018-03-22 11:34] saikrishna321 commented on #308
@WenRui13  works fine on my side.

[code]

[2018-03-22 12:16] #306 closed

[2018-03-23 03:10] WenRui13 commented on #308
of course. my project structure is
![image](https://user-images.githubusercontent.com/6370420/37809515-bdfacc50-2e8a-11e8-8e94-0d395c9d6263.png)

[2018-03-24 08:58] saikrishna321 commented on #309
@WenRui13 can you try with below version

[code]

[2018-03-26 03:17] WenRui13 commented on #309
nice ,works fine  on your fix-309 branch.

[2018-03-26 06:50] #309 closed

[2018-03-26 06:57] saikrishna321 commented on #308
can u pls give same project to reproduce this

[2018-03-26 07:10] WenRui13 commented on #308
@saikrishna321 yes ,this is my project [https://github.com/WenRui13/sevenfresh-ios-test](https://github.com/WenRui13/sevenfresh-ios-test) to reproduce this  issue. pls correct it if there is some  wrong configurations. tks a lot!

[2018-03-26 07:30] #285 closed

[2018-03-26 07:30] #274 closed

[2018-03-26 09:54] saikrishna321 commented on #308
@WenRui13 thanks for the sample repo. @SrinivasanTarget can u pls try to reproduce this, as i need a real device. It works fine with simulator and android devices attached.

Can you pls try having only bundleID

[2018-03-26 10:31] WenRui13 commented on #308
As above my mentioned , the  writeXmlClass  method in dependency  is different from your  source code whith verison 8.0.0,  Is it possible that this caused this issue?
 try having only bundleID, still the  same. Looking forward your great job，celebration work cheerful !

[2018-03-26 15:07] SrinivasanTarget commented on #308
@WenRui13 Can you invalidate cache and restart. Also try reimporting all maven plugins with latest dependency.

[2018-03-27 02:13] WenRui13 commented on #308
@SrinivasanTarget yes , I do that ,still the same.

[2018-04-02 03:46] WenRui13 opened #312 "can not get the version of ios real device"
Apr 02, 2018 11:44:47 AM com.appium.ios.IOSDeviceConfiguration startIOSWebKit
INFO: WebKit Proxy is started on device 9e418bd7c78d40fbe4f98d12d6b570821e97e909 and with port number 49775 and in thread 24
Process ID's:{22=24625, 23=24624, 24=24626}
java.lang.StringIndexOutOfBoundsException: String index out of range: -2
        at java.lang.String.substring(String.java:1967)
        at com.appium.ut

[2018-04-02 08:15] #312 closed

[2018-04-03 13:42] #303 closed

[2018-04-09 23:31] aoluwase opened #314 "I just cloned this project and i am getting this errors: please help me."
MGC000005627:PageObjectPatternAppium lummy$ Platform="android" mvn clean -Dtest=Runner test
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for com.pagepattern.appium:PagePatternAppium:jar:0.0.1-SNAPSHOT
[WARNING] 'dependencies.dependency.version' for log4j:log4j:jar is either LATEST or RELEASE (both of them are being deprecated

[2018-04-10 09:26] aoluwase commented on #314
@saikrishna321 I am not sure of what it means too.

[2018-04-10 09:47] saikrishna321 commented on #314
Can u try from branch called single-server

[2018-04-10 10:27] aoluwase commented on #314
Ok Let me try that

[2018-04-10 11:16] aoluwase commented on #314
Hi @saikrishna321,
This below is the error i am getting on the single-server branch:

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
java.lang.NullPointerException
        at com.appium.utils.HostMachineDeviceManager.filterByDevicePlatform(HostM

[2018-04-10 12:53] saikrishna321 commented on #314
@aoluwase let me re-visit the sample test and revert back

[2018-04-10 12:54] aoluwase commented on #314
@saikrishna321 . Ok thanks alot.

[2018-04-11 12:41] saikrishna321 commented on #294
fixed in master

[2018-04-11 12:41] #294 closed

[2018-04-11 12:42] #271 closed

[2018-04-12 08:42] saikrishna321 commented on #314
@aoluwase i'm looking at it now

[2018-04-12 11:41] aoluwase commented on #314
@saikrishna321 Maybe this will help you troubleshoot better. When i run mvn clean -Dtest=Runner test -DPlatform=android then i get dome error but i picked these out off the appium _log.txt:

2018-04-12 11:25:51:115 - warn: [BaseDriver] Falling back to MJSONWP desired capabilities
2018-04-12 11:25:51:118 - info: [BaseDriver] Session created with session id: 30d637c9-4364-466e-9e98-991221f33ec2
2018

[2018-04-12 11:44] saikrishna321 commented on #314
can you try with latest beta of appium server

[2018-04-12 12:42] aoluwase commented on #314
Please could you confirm the beta version?

[2018-04-12 13:24] aoluwase commented on #314
@saikrishna321 i think my appium version is Appium 1.7.2 and i think thats the latest.

[2018-04-12 15:36] aoluwase commented on #314
@saikrishna321 Thanks this now runs the Android test but ios only launches the apps on 2 simulators and shows the login page then stops and fail the test but Android runs the test  fully and passes.

Please whats the fix fir the iOS simulator test failing and also How can i set this frame work to run the iOS test on my real devices attached to the computer please? That will be my last request for

[2018-04-12 15:41] aoluwase commented on #314
when i use VIDEO_LOGS="true", where do i see the video logs please

[2018-04-12 16:14] SrinivasanTarget commented on #314
AFAIK logs are broken a bit now. we will fix the reports. Expect a release soon.

[2018-04-12 16:39] aoluwase commented on #314
Thanks for been a great source of help guys.
Please what do i need to change on the framework to run my ios tests on real devices? I have done my WebDriverAgent stuff setup already on my mac. @saikrishna321 @SrinivasanTarget

[2018-04-13 15:07] saikrishna321 commented on #314
@aoluwase please ask for any help, no worries 😸

You dont have do any changes to run on real devices, provided you have WDA installed on devices.

What is the error ur getting when running iOS tests ?

[2018-04-13 15:13] aoluwase commented on #314
@SrinivasanTarget Thanks for this help. The issues is even as i have WDA installed the test automatically fires up 2 ios simulators and starts running. and even when it runs on the simulators it only shows the log in page and then fails the 2 test unlike android that runs the full test.

How do i assure it runs on connected devices and also how can the full test run on ios as its failing after sho

[2018-04-13 15:27] saikrishna321 commented on #314
Just connect real devices and framework should look for real devices and prepare for iOS real device test.

what is the error your getting ?

[2018-04-13 15:58] aoluwase commented on #314
I plugged in my real device  and it didnt launch on the real device but luanches 2 ios simulators. Below is the logs:

MGC000005627:AppiumTestDistribution lummy$ mvn clean -Dtest=Runner test -DPlatform=ios
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for com.github.saikrishna321:AppiumTestDistribution:jar:8.0.0
[WARNING] 'bui

[2018-04-16 12:45] saikrishna321 commented on #314
for tests to run on real device you need to provide a debug IPA file. this project has not build test file to run on your device UDID. so make sure you have valid IPA file provided as part of app

[2018-04-16 13:11] aoluwase commented on #314
@saikrishna321 I am sorry for asking stupid questions as i am new to Appium. I really dont understand what you need me to do in order to make me run your framework to build the same app that it builds on the simulator to my real device.

Do you mean:
1- This framework has .app file which only can build to simulator?
2- I need to get my own debug IPA file and add it to the framework part of app for

[2018-04-16 14:36] saikrishna321 commented on #314
Yes

Yes

https://github.com/appium/VodQAReactNative

You need to build the above code base and get debug IPA file. Check with your developers to get this done.

[2018-04-16 14:51] aoluwase commented on #314
Wow Thanks. This will be of great help. I will do that now.

[2018-04-16 15:16] saikrishna321 commented on #314
Closing this issue for now

[2018-04-16 15:16] #314 closed

[2018-04-20 16:39] SudhiHathwar commented on #308
Hi @WenRui13,

I can see there were two packages with same name (com.xstore.qa) one was under src/main/java and the other package was src/main/test.

I tried after deleting / updating the package name under main/java and it worked fine for me.

Can you please try the same?

@saikrishna321 @SrinivasanTarget

[2018-04-29 14:12] SrinivasanTarget commented on #300
@arunaousula9421 Do you have data providers in your test?

[2018-04-29 14:51] SrinivasanTarget opened #317 "Tests with DataProvider on parallel mode is failing"

[2018-04-30 07:38] SrinivasanTarget commented on #317
@saikrishna321 looks like things are screwed up :)

[2018-04-30 08:07] saikrishna321 commented on #317
you mean normal test in distribute fails ?

[2018-04-30 09:00] SrinivasanTarget commented on #317
not normal in distribute mode... it fails only if you have above combinations

[2018-04-30 09:00] SrinivasanTarget commented on #317
might be a testNG issue too

[2018-05-01 10:50] shridharkalagi commented on #317
this happens only when `@DataProvider(parallel = true)` and `data-provider-thread-count` is greater than one in `testng.xml` I have created an Issue [here](https://github.com/cbeust/testng/issues/1775) with more details.

[2018-05-01 15:01] saikrishna321 commented on #317
@SrinivasanTarget  @shridharkalagi from testNg issue comments, its a bug at our end we had to handle the device pool correctly

[2018-05-01 15:27] shridharkalagi commented on #317
yes. For now, easy workaround would be to remove `parallel=true` for the dataprovider

[2018-05-02 13:00] saikrishna321 commented on #317
@shridharkalagi but does not solve the problem 🙅‍♂️

[2018-05-04 18:45] saikrishna321 opened #318 "fix styleCheck"
mvn clean site install -Dmaven.test.skip=true

[2018-05-04 22:30] saikrishna321 commented on #318
https://github.com/saikrishna321/AppiumTestDistribution/commit/28035237739a96178d893af71e02b73dbe416482

[2018-05-04 22:30] #318 closed

[2018-05-07 10:49] ThamaraiSelvi opened #319 ""'Platform' is not recognized as an internal or external command , operable program or batch file. " error message is displayed on execution."
D:\Android\PageObjectPatternAppium-single-server-session>mvn validate && Platfor
m="android" mvn clean -Dtest=RunnerCukes test
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building PagePatternAppium 0.0.1-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- cucumbe

[2018-05-07 10:51] saikrishna321 commented on #319
@SudhiHathwar how did u solve this on windows ?

[2018-05-07 11:46] SudhiHathwar commented on #319
I think the syntax have changed now, we should provide mvn clean test -Dtest=RunnerCukes test -DPlatform=android

And should add the property in maven surefire plugin.

 <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-plugin</artifactId>
                <version>2.14.1</version>
                <configuration>
                    <pro

[2018-05-07 13:27] ThamaraiSelvi commented on #319
@SudhiHathwar Thanks for the reply.

The above command with surefire configuration worked for me.

@saikrishna321 @SudhiHathwar
But facing below issues.
1. Feature tests are not executed.
2. **cucumber-jvm-parallel-plugin:4.2.0:generateRunners** plugin is not generated in below log.

=====================================================
D:\AndroidBusiness>mvn clean test -Dtest=RunnerCukes test -DP

[2018-05-08 06:09] saikrishna321 opened #320 "Fix Sample Test"
Currently sample test project does not have enough test and its broken. Needs a fix with the latest version.

https://github.com/saikrishna321/PageObjectPatternAppium

@shridharkalagi do you want to pick this ?

[2018-05-08 08:44] ThamaraiSelvi opened #321 "Tests are not executed and server is not initiated."
@saikrishna321 Can you please check this

1. Appium server is not started.
2. Feature tests are not executed.

=============================================================
D:\SulekhaAndroidBusiness>mvn clean test -Dtest=RunnerCukes test -DPlatform=andr
oid
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Android

[2018-05-08 11:12] #319 closed

[2018-05-08 15:46] saikrishna321 commented on #319
@ThamaraiSelvi did this work ? as i see u have closed?

[2018-05-11 06:13] shridharkalagi opened #322 "Tests not running when simulator is open and caps for simulator is not present"
`Device` is allocated for simulator as well even if 'simulators` object is not present in the capability file

[2018-05-11 08:38] saikrishna321 commented on #322
what is the solution your suggesting ?

[2018-05-11 10:49] ThamaraiSelvi commented on #321
@saikrishna321 Any update in this regards!

[2018-05-12 17:06] #321 closed

[2018-05-14 06:54] SrinivasanTarget commented on #322
@shridharkalagi we shouldn't depend on simulator object in caps file instead you should depend on the ipa/app/apk/zip file extensions...

[2018-05-14 09:18] saikrishna321 commented on #322
@shridharkalagi we should look for file extension and then based on that remove the corresponding device properties from the list.

Initial Device count: 5 includes  simulators and devices and if only IPA file is present then you need to remove the simulator objects.

@SrinivasanTarget Thoughts ?

[2018-05-14 20:05] saikrishna321 commented on #317
@SrinivasanTarget has this been tested ? if yes, can the branch get merged ?

[2018-05-15 05:01] SrinivasanTarget commented on #317
Not yet..will keep you posted

[2018-05-16 11:47] #322 closed

[2018-05-17 11:14] ThamaraiSelvi opened #329 "Appium Server not starting."
@saikrishna321 I was able to execute the sample project previously, where as now it's prompting me a new exception.

Do I need to change my path of APPIUM_JS_PATH?

Note: I was using the same path previously which was working fine.

**config.properties**
RUNNER=parallel
APPIUM_JS_PATH=C:/Users/thamaraiselvik/AppData/Roaming/npm/node_modules/appium/build/lib/main.js
BROWSER_TYPE=chrome
APP_TYPE=NA

[2018-05-18 05:08] saikrishna321 commented on #329
Whats in this log? Error is from java-client

[2018-05-18 05:32] ThamaraiSelvi commented on #329
@saikrishna321 Appium logs are not generated.
![image](https://user-images.githubusercontent.com/5635111/40217527-ed77441e-5a8a-11e8-8967-92eec37ed111.png)

[2018-05-18 05:43] saikrishna321 commented on #329
C:\Users\thamaraiselvik\AppData\Roam
ing\npm\node_modules\appium\build\lib\main.js running this from commandline, works?

[2018-05-18 05:51] ThamaraiSelvi commented on #329
@saikrishna321
![image](https://user-images.githubusercontent.com/5635111/40218141-95b33a32-5a8d-11e8-9b5f-b4ebea427c49.png)

[2018-05-21 06:29] #329 closed

[2018-05-21 06:36] ThamaraiSelvi opened #330 "Runs Cucumber Feature java.lang.NullPointerException exception displayed."
@saikrishna321 Can you please check this.

Parallel classes are generated but sceanrios are displayed as 0 in the log.
-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running StepDefinition.RunnerCukes
Configuring TestNG with: TestNG652Configurator
OUTPUT DIRECTORY :D:\Projects\PageObjectPatternAppium-single-server-session\

[2018-05-28 10:20] VPazzini commented on #330
Can you provide your pom.xml and RunnerCukes?

[2018-05-29 06:23] VPazzini opened #332 "How can we contribute to this project's wiki?"
@saikrishna321
Is there a way to make pull requests to this project's wiki?

[2018-05-29 09:27] saikrishna321 commented on #332
You can edit the wiki now ... Pls ping here once your done

[2018-05-29 11:02] VPazzini commented on #332
Do you want to take a look before I edit anything? I added some steps, pages and added missing configs to run it with Cucumber.
[https://github.com/VPazzini/AppiumTestDistribution-wiki]

[2018-05-29 14:26] saikrishna321 commented on #332
@VPazzini looks good to me :) you can update the wiki

[2018-05-30 00:48] garinhu opened #333 "how to set some environment in code? such as "Platform" or "VIDEO_LOGS""
when i using the program, found the code System.getenv("VIDEO_LOGS") or System.getenv("Platform") cannot be set
pls help me ,thanks

[2018-05-30 03:05] garinhu opened #334 "using the command “Platform="android" mvn clean -Dtest=Runner test” cannot ran the test script"

[2018-05-30 07:11] saikrishna321 commented on #334
can you please show what the error logs look like

[2018-05-30 07:15] VPazzini commented on #332
@saikrishna321 all done!

[2018-05-31 01:15] garinhu commented on #334
when ran the command, show error "Platform" is not internal or external commands.
i see get the  'Platform' environment variable in code, but how to set the Env.?

[2018-05-31 07:08] Siddh010 commented on #334
In Eclipse IDE you can setup in Run Configuration ->Environment Option.
I am not sure  through  terminal.

[2018-05-31 09:13] saikrishna321 commented on #334
We should provide mvn clean test -Dtest=Runner test -DPlatform=android

And should add the property in maven surefire plugin.

            <configuration>
                <properties>
                    <Platform>${Platform}</Platform>
                </properties>
            </configuration>

[2018-06-04 07:46] Muvidevlopers opened #338 "Could you please update project "PageObjectPatternAppium""
Could you please update project "PageObjectPatternAppium"

[2018-06-04 07:47] #338 closed

[2018-06-04 07:50] ssrikantasahoo opened #339 "Could you please update project "PageObjectPatternAppium""
Could you please update project "PageObjectPatternAppium" for 8.0.0

[2018-06-05 20:12] saikrishna321 commented on #339
@ssrikantasahoo  https://github.com/saikrishna321/AppiumTestDistribution/issues/320

i have no bandwidth to fix the tests. PR welcome 😄

[2018-06-05 20:12] saikrishna321 commented on #339
@shridharkalagi any updates  ?

[2018-06-06 11:54] #332 closed

[2018-06-07 10:01] VPazzini commented on #330
I would suggest to add this to the build in pom.xml:
`            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <version>3.1</version>
                <configuration>
                    <source>1.8</source>
                    <target>1.8</target>
                </configuration>
            </pl

[2018-06-08 09:20] ThamaraiSelvi commented on #330
@VPazzini
Thank you for your feedback. I've tried but it's not working. Updated logs.

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building PagePatternAppium 0.0.1-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-clean-plugin:2.5:clean (default-clean) @

[2018-06-09 02:28] ssrikantasahoo commented on #339
@saikrishna321 thank you. waiting foryour update.

[2018-06-09 10:40] shridharkalagi commented on #339
@ssrikantasahoo  single-server-session branch is updated on that repo.

[2018-06-09 11:05] saikrishna321 commented on #339
@shridharkalagi are all tests passing ?

[2018-06-09 11:05] saikrishna321 commented on #339
i think we need to update tests ?

[2018-06-09 11:15] shridharkalagi commented on #339
Tests are running. Only capabilities had to be updated. I will double check again and merge it to master.

[2018-06-09 11:50] saikrishna321 commented on #339
Kool ..Have u tested for both android n iOS ? when i asked tests all the tests in the branch ? not just the one with Parallel group

[2018-06-11 10:53] VPazzini commented on #330
can you paste here one of the cucumber tests, that you are trying to run?

[2018-06-11 18:54] SrinivasanTarget opened #341 "make server capabilities seeded in caps.json"
Update caps.json something like below and make server respect those caps,

[code]

[2018-06-11 18:55] SrinivasanTarget commented on #341
@SudhiHathwar would you like to pick this?

[2018-06-12 03:02] SudhiHathwar commented on #341
@SrinivasanTarget  Ok i can pick this.

[2018-06-12 16:04] SrinivasanTarget opened #342 "Cucumber Support/find issues"
Run cucumber features using ATD and report issues here,
**Check:**
1)Parallel/Distribute Mode
2)Reporting
3)Logs - Screenshot, Server, Device, video
4)Local and Remote devices using Remote Appium Manager

[2018-06-12 16:05] SrinivasanTarget commented on #342
@SudhiHathwar if you're interested.

[2018-06-13 05:15] saikrishna321 commented on #341
Thanks @SrinivasanTarget this is much needed.

[2018-06-14 08:55] ThamaraiSelvi commented on #330
@VPazzini  Yes I'm using the base of single-session branch only. And I'm just modifying w.r.t my project.
Herewith sharing a step definition and generated runner class in output folder.

===========Runner====================

package output;

import cucumber.api.CucumberOptions;
import cucumber.api.testng.AbstractTestNGCucumberTests;

@CucumberOptions(
        strict = false,
        features = {"

[2018-06-14 14:34] SNaishta opened #343 "JSON Error"
Hello,

Can you please help , I am getting the below error

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.appium.tests.Runner
org.json.JSONException: A JSONObject text must begin with '{' at 1 [character 2 line 1]
	at org.json.JSONTokener.syntaxError(JSONTokener.java:505)
	at org.json.JSONObject.<init>(JSONObj

[2018-06-14 15:49] saikrishna321 commented on #343
@SNaishta can you please refer https://github.com/saikrishna321/PageObjectPatternAppium/blob/master/caps/capabilities.json

[2018-06-15 08:04] SNaishta commented on #343
Many Thanks , Issue is resolved

[2018-06-15 08:04] #343 closed

[2018-06-20 06:14] ssrikantasahoo commented on #339
Hi @shridharkalagi could you please tell how we can run in iOS realdevice.

"iOS": {
    "platformName": "iOS",
    "app": {
      "simulator": "./build/WordPress.zip"
    },

as app path for simulator define.

[2018-06-20 07:30] saikrishna321 commented on #339
[code]

[2018-06-23 04:21] ThamaraiSelvi commented on #330
@VPazzini Any update in this regards. Is there any correction required?

[2018-06-23 07:50] VPazzini commented on #330
Hi @ThamaraiSelvi,

I am using something like this, can you try it?
I am not using cucumberoptions, and my class extends ExtentCucumberFormatter.

package com.test.cucumber.steps;

import com.cucumber.listener.ExtentCucumberFormatter;
import com.test.cucumber.pages.DetailsPage;
import cucumber.api.java.en.Then;
import cucumber.api.java.en.When;

import static com.appium.manager.AppiumDriverManager

[2018-06-25 13:59] saikrishna321 commented on #339
@ssrikantasahoo 'PageObjectPatternAppium' is updated to master

[2018-06-25 13:59] #339 closed

[2018-06-28 17:19] SrinivasanTarget opened #345 "Screenshot with frames not working in remote mode"

[2018-06-28 17:19] SrinivasanTarget commented on #345
@shridharkalagi FYA

[2018-06-30 17:13] SrinivasanTarget opened #346 "New ATD Dashboard"
* Remove extent and extentX
* Dashboard covering,
- Device level status
- Overall test status page
- IP level test status
- User captured screenshot views
- Stream test
- Live status updates

[2018-06-30 17:15] SrinivasanTarget commented on #346
@vamsib ping

[2018-07-03 06:37] himgupta13 opened #347 "Sample Project PageObjectPatternAppium not working"
Getting Null pointer exception while running sample test with below capabilities in capabilities.json:
`testRunner(com.appium.tests.Runner)  Time elapsed: 14.172 sec  <<< FAILURE!
java.lang.NullPointerException: null
        at com.appium.utils.CapabilityManager.isApp(CapabilityManager.java:94)
        at com.appium.manager.DeviceAllocationManager.<init>(DeviceAllocationManager.java:38)
        at

[2018-07-04 06:58] SudhiHathwar commented on #341
@SrinivasanTarget @saikrishna321 @shridharkalagi
Hi Guys,

The changes are pushed to a branch called serverCapabilities on ATD and RemoteAppiumManager Repo. Can you guys please check once?

If its good, i will raise the pull request .

[2018-07-04 11:50] SrinivasanTarget commented on #347
@himgupta13 Did you followed [this](https://github.com/saikrishna321/AppiumTestDistribution/wiki/Configure-tests-for-TestNG)?

[2018-07-04 11:52] himgupta13 commented on #347
As per the instructions,
My runner class:
[code]
config.properties file:
[code]

[2018-07-05 17:44] saikrishna321 commented on #347
@himgupta13 Runner is not able to find Test with TestNG can you please check the import in Runner class

[2018-07-07 12:49] SrinivasanTarget opened #349 "Replace Cucumber JVM plugin with Cucumber Road Runner"
https://github.com/RationaleEmotions/cucumber-roadrunner

[2018-07-09 15:41] saikrishna321 commented on #281
This is implemented in master

[2018-07-09 15:41] #281 closed

[2018-07-09 16:07] saikrishna321 commented on #255
Fixed in master

[2018-07-09 16:07] #255 closed

[2018-07-11 17:02] SrinivasanTarget opened #350 "Replace ExtentX with ReportPortal"

[2018-07-11 17:02] SrinivasanTarget commented on #350
https://github.com/saikrishna321/AppiumTestDistribution/tree/ReportPortal

[2018-07-11 17:03] SrinivasanTarget opened #351 "[Reporting] Widget to show no of devices connected"
https://github.com/saikrishna321/AppiumTestDistribution/issues/350

[2018-07-11 17:04] SrinivasanTarget opened #352 "[Reporting] List user captured screenshots in reports"
https://github.com/saikrishna321/AppiumTestDistribution/issues/350

[2018-07-11 17:05] SrinivasanTarget opened #353 "[Reporting] List Data Provider parameter against individual tests runs"
https://github.com/saikrishna321/AppiumTestDistribution/issues/350

[2018-07-11 17:07] SrinivasanTarget opened #354 "[Reporting] Fail safe when RP docker container creation fails or any other failures"
https://github.com/saikrishna321/AppiumTestDistribution/issues/350

[2018-07-11 17:08] SrinivasanTarget opened #355 "[Reporting] Attach on demand video logs"
https://github.com/saikrishna321/AppiumTestDistribution/issues/350

[2018-07-11 17:10] SrinivasanTarget opened #356 "[Reporting] Device UDID against individual test run"
https://github.com/saikrishna321/AppiumTestDistribution/issues/350

[2018-07-13 19:34] SrinivasanTarget opened #357 "[Reporting] Don't show retries failures as individual test skips"
https://github.com/saikrishna321/AppiumTestDistribution/issues/350

[2018-07-14 14:51] SrinivasanTarget opened #358 "[Reporting] Attach Appium Server Logs"
https://github.com/saikrishna321/AppiumTestDistribution/issues/350

[2018-07-15 07:00] SrinivasanTarget opened #359 "Parallel Mode execution is broken due to Atdhost and port entries feature"

[2018-07-16 16:49] SrinivasanTarget opened #362 "[Reporting] Display author of tests under description"
https://github.com/saikrishna321/AppiumTestDistribution/issues/350

[2018-07-16 19:12] SrinivasanTarget opened #363 "SkipIf annotation is broken on parallel mode"

[2018-07-19 18:12] SrinivasanTarget opened #364 "[Reporting] Include ADB logs in ReportPortal for Android Executions"

[2018-07-19 22:00] saikrishna321 commented on #352
https://github.com/saikrishna321/AppiumTestDistribution/pull/360

[2018-07-21 16:05] saikrishna321 commented on #334
@mariosneo

Run this command

mvn clean test -Dtest=RunnerCukes test -DPlatform=android

[2018-07-23 17:55] #320 closed

[2018-07-23 17:56] saikrishna321 opened #365 "Support report portal for cucumber-jvm"
https://github.com/reportportal/agent-java-cucumber

[2018-07-25 13:07] maozer1 opened #366 "getting null exception when running"
I'm running the test as is without changing anything, and can't find where the json/nullpointer having problem.
[code]
Any solution?

[2018-07-25 13:12] saikrishna321 commented on #366
make sure you capabilities.json is correct, refer https://github.com/saikrishna321/PageObjectPatternAppium/blob/master/caps/capabilities.json

[2018-07-25 13:31] maozer1 commented on #366
it is.
maybe its related to that the properties in config.properties greyed and unused?

[2018-07-25 14:30] maozer1 commented on #366
same:
[code]

[2018-07-25 15:31] saikrishna321 commented on #366
`
xcrun simctl list -j devices
`
what does this command  respond

[2018-07-25 23:01] spartanglady opened #367 "Unable to run the test from maven command line"
When I try to run the test as a suite from command line

Platform="android" mvn clean -Dtest Runner test

I'm getting the below error right after the app is lauched

**[HTTP] <-- GET /wd/hub/session/d52ad882-b95b-4f43-81bf-71fe79d608a9 200 3 ms - 1109
[HTTP] --> POST /wd/hub/session/d52ad882-b95b-4f43-81bf-71fe79d608a9/log {"type":"logcat"}
[debug] [MJSONWP] Calling AppiumDriver.getLog() with args

[2018-07-26 05:44] maozer1 commented on #366
Seems like the Xcode wasn't updated, i just updated and when running the command im getting:
[code]
when running the `Platform="android" mvn clean -Dtest=Runner test` again, I'm getting this:
[code]

[2018-07-26 06:35] saikrishna321 commented on #366
can u pls remove this from caps.json n try
,

    {

      "machineIP": "10.234.1.91",

      "simulators": [

        {

          "deviceName": "iPhone 6",

          "OS": "11.2"

        },

        {

          "deviceName": "iPhone 7",

          "OS": "11.2"

        }

      ]

    }

[2018-07-26 06:35] saikrishna321 commented on #367
can u pls share the dependency version ur using ?

[2018-07-26 06:45] maozer1 commented on #366
works! Thanks!! Amazing project!
how can I use a real device instead of simulator? and where should I set the udid I want to use by default? and not state in the mvn command?

[2018-07-26 07:51] saikrishna321 commented on #366
just connect the devices the framework will understand. .. u don't have to set any udid

[2018-07-26 07:51] #366 closed

[2018-07-27 08:52] SrinivasanTarget opened #368 "Refactor IWDP and suggest users to incorporate desired caps"
See here: https://www.google.com/url?q=https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/web/ios-webkit-debug-proxy.md%23running-ios-webkit-debug-proxy&sa=D&source=hangouts&ust=1532767756656000&usg=AFQjCNGAzPtjCft-LplRkG_39qJqNlryWA

Refractor and remove IWDP start stop code.

[2018-07-28 17:43] mariosneo commented on #334
Still running into an issue with the command mentioned.

Here is my output :

`C:\Users\Admin\PageObjectPatternAppium-master>mvn clean test -Dtest=RunnerCukes test -DPlatform=android
[INFO] Scanning for projects...
[INFO]
[INFO] --------------< com.pagepattern.appium:PagePatternAppium >--------------
[INFO] Building PagePatternAppium 0.0.1-SNAPSHOT
[INFO] --------------------------------[ jar ]---

[2018-07-30 17:29] spartanglady commented on #367
I believe its the problem in a specific version. I got it working on this version c511401d4392a485ee1fe2339ab0abf58c90aefb. But this 088478e376 is not working. If I'm pointing to the wrong one, can you tell the latest working version.

[2018-07-30 17:33] saikrishna321 commented on #367
can u pls post your capabilities.json

[2018-07-30 18:48] spartanglady commented on #367
{
  "android": {
    "platformName": "android",
    "platformVersion": "8.0",
    "app": "./build/abc.apk",
    "appWaitActivity": "com.xyz.abc",
    "deviceName": "android",
    "noSign": true
  },
  "iOS": {
    "platformName": "iOS",
    "app": {
      "simulator": "./build/abc.app"
    },
    "deviceName": "iPhone",
    "usePrebuiltWDA": true,
    "wdaLaunchTimeout": 80000,
    "wdaConnectionT

[2018-07-30 22:02] pawarvaibhav commented on #258
Any update on this one?

[2018-07-31 11:49] eyalpartner opened #369 "CAN'T Use AndroidDriver in this code"
My tests using Keycode event that only exist in AndroidDriver, Here you are using AppiumDriver that doesn't supports keycode events, What can you do in this matter ?

[2018-07-31 12:52] eyalpartner opened #370 "After clone the project nothing is working - Can't run testng.xml"
"C:\Program Files\Java\jdk1.8.0_141\bin\java.exe" -ea -Didea.test.cyclic.buffer.size=1048576 "-javaagent:C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2018.1.6\lib\idea_rt.jar=58115:C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2018.1.6\bin" -Dfile.encoding=UTF-8 -classpath "C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2018.1.6\lib\idea_rt.jar;C:\Program Fil

[2018-07-31 13:07] saikrishna321 commented on #367
@spartanglady can you try with below version

[code]

[2018-07-31 13:09] saikrishna321 commented on #334
@SudhiHathwar can you help here?

@mariosneo r u running from command line or IDE?

[2018-07-31 13:11] saikrishna321 commented on #369
@eyalpartner you need to TypeCast to AndroidDriver

((AndroidDriver) driver)

[2018-07-31 13:13] saikrishna321 commented on #370
You can't run testng.xml directly.

This is the entry file https://github.com/saikrishna321/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/ParallelThread.java

Example: https://github.com/saikrishna321/PageObjectPatternAppium

[2018-08-01 00:26] spartanglady commented on #367
This version is not working for me. Same error
java.lang.IllegalArgumentException: unexpected url: http://null:null/testresults

[2018-08-01 07:36] saikrishna321 commented on #367
@spartanglady will fix this today. Thanks for reporting. Meantime you can just add this to your capabilties.json

[code]

[2018-08-01 10:04] SrinivasanTarget commented on #367
https://github.com/saikrishna321/AppiumTestDistribution/commit/b7aa268ba8f7a002c90e1d2a5bbbea8d83dbd757

[2018-08-01 13:04] saikrishna321 opened #371 "Use default screen recording from appium for supported device/emulators"
@SrinivasanTarget we should start using default-appium video recording api

For Android:

https://github.com/mykola-mokhnach/java-client/blob/c31764c6ab599986d379d2224e6c7b09eb9e5134/src/main/java/io/appium/java_client/android/AndroidStartScreenRecordingOptions.java#L84

For iOS Simulator:
https://github.com/mykola-mokhnach/java-client/blob/c31764c6ab599986d379d2224e6c7b09eb9e5134/src/main/java/io

[2018-08-01 13:13] shridharkalagi commented on #369
Here is an example
`((AndroidDriver) AppiumDriverManager.getDriver()).longPressKey(new KeyEvent(AndroidKey.SPACE));`

[2018-08-01 15:02] mariosneo commented on #334
From command line

[2018-08-01 15:41] SrinivasanTarget commented on #365
https://github.com/saikrishna321/AppiumTestDistribution/issues/350

[2018-08-01 18:20] SrinivasanTarget opened #372 "Provide granular platform specific info"
`driver.getSessionDetails()`  - Have worst performance hits since it makes a API call to server
`driver.getCapabilities().getCapability("platfomName")` - return only iOS/Android. So we need to get browser info from `driver.getCapabilities().getCapability("browserName")` and then decide on web or native.

How about ATD giving something like this,
`ANDROID_WEB`
`ANDROID_NATIVE`
`iOS_WEB`
`iOS_NATIVE

[2018-08-02 12:46] SrinivasanTarget opened #373 "[Reporting] Add Device Name along with platform and UDID in description"
https://github.com/saikrishna321/AppiumTestDistribution/issues/350

[2018-08-02 17:33] spartanglady commented on #367
Thanks.

[2018-08-16 04:30] ssrikantasahoo opened #374 "Can not run test in real iOS device"
version:ef39d1cdd0686bb6050bf9836264580fb0101640

Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
org.json.JSONException: JSONObject["deviceManufacturer"] not found.
	at org.json.JSONObject.get(JSONObject.java:520)
	at org.json.JSONObject.getString(JSONObject.java:806)
	at com.thoughtworks.device.Device.<init>(Device.java:65)
	at com.thoughtworks.iOS.IOSManager.lambd

[2018-08-19 07:10] saikrishna321 commented on #374
@SrinivasanTarget ping

[2018-08-22 15:39] legendpc commented on #334
@mariosneo You can set environment variables for windows.

[2018-08-22 18:05] mariosneo commented on #334
Thanks for the answer @legendpc but I can run a single test using this [class ](https://github.com/saikrishna321/PageObjectPatternAppium/blob/master/src/test/java/com/appium/config/Utils.java) so I think is not an issue with the environment variables.

[2018-08-30 16:47] #356 closed

[2018-08-30 16:47] #357 closed

[2018-08-30 16:47] #359 closed

[2018-08-30 16:47] #362 closed

[2018-08-30 16:47] #355 closed

[2018-08-30 16:47] #363 closed

[2018-08-30 16:47] #364 closed

[2018-09-08 10:22] jacorgaz opened #376 "Getting message Operation timed out (Connection timed out) every time I launch test from terminal."
Hi,

When I try to run the test as a suite from command line (Latest Mojave beta version)

Platform="android" mvn clean -Dtest Runner test

I´m getting the below error:

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
java.net.ConnectException: O

[2018-09-08 11:11] saikrishna321 commented on #376
@jacorgaz is your RemoteAppiumManager.jar running in your remote machine?

[2018-09-08 11:28] jacorgaz commented on #376
@saikrishna321 I believe it is not, could you provide some info about where to download the RemoteAppiumManager.jar? Thank you

[2018-09-08 12:51] saikrishna321 commented on #376
https://github.com/saikrishna321/AppiumTestDistribution/wiki/Remote-Execution

[2018-09-10 16:42] jacorgaz commented on #376
@saikrishna321 It seems to be working but now I´m getting the following error:

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
OUTPUT DIRECTORY :/Users/javiercorroto/Documents/Appium/MyProject/target
     _  _       _          _  _             _

[2018-09-10 16:46] saikrishna321 commented on #376
https://github.com/saikrishna321/AppiumTestDistribution/issues/343

[2018-09-10 17:12] jacorgaz commented on #376
@saikrishna321 I had a look at the json as mentioned on #343 but i´m still getting the same error.

I just modify the machineIP and deviceName parameter in the json
[capabilities.txt](https://github.com/saikrishna321/AppiumTestDistribution/files/2367653/capabilities.txt)

[2018-09-10 17:35] saikrishna321 commented on #376
Which version r u using ?1

[2018-09-10 19:54] jacorgaz commented on #376
Ef39d1cdd0, should I change?

El El lun, 10 sept 2018 a las 19:35, Sai Krishna <notifications@github.com>
escribió:

[2018-09-10 21:16] saikrishna321 commented on #376
@jacorgaz your version looks fine. Try with below json

[code]
Refer sample:
https://github.com/saikrishna321/PageObjectPatternAppium

[2018-09-11 03:48] yuowo opened #377 "command not found: Platorm"
Platorm is not an executable command.
How to execute the right order？

[2018-09-11 16:56] spartanglady opened #378 "Extent Report is not displaying re-tried tests - MAX_RETRY_COUNT"
When we set the property MAX_RETRY_COUNT=2, the generated extent report is not displaying the results of the tests that failed and re-executed the second time. For example, if I had five tests in my suite of which one failed and it is re-executed the second time and it got passed. The extent report displays as if only 4 tests were executed in that suite and it ignores the test that was retried.

[2018-09-11 18:08] #367 closed

[2018-09-11 18:09] #352 closed

[2018-09-11 18:09] #353 closed

[2018-09-11 20:46] saikrishna321 commented on #378
@spartanglady we no more support ExtentReporting as they were resulting in false failures, current master support report portal.  Pls give it a try http://reportportal.io/

[2018-09-11 21:13] jacorgaz commented on #376
@saikrishna321 Still not luck. I have tried on my colleagues computer and it works. Everything is similar between the two machines except JDK version install. I´m starting to think is because I recently updated to Mojave, it should not be a problem. I´m gonna download the code into another mac machine with High Sierra and see if it works. I really appreciate your help on this matter. If you come a

[2018-09-11 21:21] saikrishna321 commented on #376
@jacorgaz which version of JDK you have ?

[2018-09-11 21:28] jacorgaz commented on #376
@saikrishna321  JDK 1.8.0_181, org.apache.maven.plugins 2.18.1, maven-compiler-plugin 1.8. Mojave latest beta.

[2018-09-11 21:33] jacorgaz commented on #376
I'm using intellij id community version, latest versionn

El El mar, 11 sept 2018 a las 23:21, Sai Krishna <notifications@github.com>
escribió:

[2018-09-11 21:38] saikrishna321 commented on #376
@jacorgaz that should work.

[2018-09-11 21:45] #369 closed

[2018-09-13 18:45] saikrishna321 opened #380 "Not able to cast driver to IOSDriver"
I have tested this with java-client 6.1.0 and was able to cast AppiumDriver to IOSDriver, but this issue is happening only when ATD is creating the driver session.

[code]

[2018-09-13 21:46] #380 closed

[2018-09-18 14:37] orvilia commented on #376
@saikrishna321 @jacorgaz Any Luck on this issue....I am still getting this error. Please help

[2018-09-19 00:28] orvilia commented on #376
@saikrishna321
I am using JDK1.8 and appium 1.9.0, maven 3.3.9.

Configuring TestNG with: org.apache.maven.surefire.testng.conf.TestNG652Configurator@2fc14f68
java.net.ConnectException: Operation timed out (Connection timed out)
	at java.net.PlainSocketImpl.socketConnect(Native Method)
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350)
	at java.net.AbstractPlainSocket

[2018-09-19 05:15] saikrishna321 commented on #376
@orvilia can you share your caps.json ?

[code]

[2018-09-19 06:27] saikrishna321 commented on #376
can u pls a new issue for this .. this is bug

[2018-09-19 06:35] orvilia commented on #376
@saikrishna321 Hey Buddy.....We fixed the issue...I would say its not a bug. We corrected the capabilities.json and it worked....Great work guys....

[2018-09-19 06:41] saikrishna321 commented on #376
can u post the corrected caps.json pls

[2018-09-19 06:44] orvilia commented on #376
@saikrishna321 Sure....Please find below

<-------JSON----->>>>

{
  "android": {
    "platformName": "android",
    "platformVersion": "7.0",
    "app": "/Users/saurabhdubey/com.bjs.autoapp/src/test/java/ApiDemos-debug.apk",
    "appPackage": "io.appium.android.apis",
    "deviceName": "android",
    "noSign": true
  },
  "iOS": {
    "platformName": "iOS",
    "app": {
      "simulator": "./buil

[2018-09-19 06:55] saikrishna321 commented on #376
@orvilia Thanks 👍

R u running both android and iOS or only Android ?

[2018-09-19 20:09] saikrishna321 opened #381 "iOS Object should be not be considered when running only android"
When running tests on android, iOS object is also mandatory in caps.json.

Configuring TestNG with: org.apache.maven.surefire.testng.conf.TestNG652Configurator@2fc14f68
capab path:/Users/com.bjs.autoapp/caps/capabilities.json
Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 1.763 sec <<< FAILURE!
testApp(test.Runner) Time elapsed: 1.176 sec <<< FAILURE!
java.lang.NullPointerExceptio

[2018-09-24 08:55] zuzeac opened #383 "SwipeTillTextExists infinite loop if text is not found"
Hello,
I was trying to find a solution to swipe until certain text exist in the page and I found your implementation from here:
PageObjectPatternAppium/src/test/java/com/appium/config/CommonAppiumTest.java
public void swipeLeftUntilTextExists(String expected) {
        do {
            swipeLeft();
        } while (!driver.getPageSource().contains(expected));
    }

Unfortunately if the text/eleme

[2018-09-24 10:35] saikrishna321 commented on #383
Just add an increment value break the loop after a certain count

[2018-09-24 10:35] #383 closed

[2018-09-25 09:30] ThanujaJ commented on #334
Is this issue resolved? Even am getting the same error

[2018-09-25 09:35] ssrikantasahoo commented on #374
@saikrishna321 @SrinivasanTarget  any update

[2018-09-25 09:38] ssrikantasahoo commented on #374
Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
org.json.JSONException: JSONObject["deviceManufacturer"] not found.
	at org.json.JSONObject.get(JSONObject.java:520)
	at org.json.JSONObject.getString(JSONObject.java:806)
	at com.thoughtworks.device.Device.<init>(Device.java:65)
	at com.thoughtworks.iOS.IOSManager.lambda$getDevices$2(IOSManager.java:41)
	at java.util.A

[2018-09-25 09:50] saikrishna321 commented on #374
@ssrikantasahoo can u pls use the latest commit from master

[2018-09-26 16:39] mariosneo commented on #334
@ThanujaJ
What is it your error exactly? What IDE are you using? I might can help

[2018-10-01 15:38] jacorgaz commented on #376
@saikrishna321 Sorry for answering with such a delay. It´s working with Android but if launching with iOS with @orvilia capabilities and with the one you provides the error  **JSONObject text must begin with '{' at 0 [character 1 line 1]** still persists. @orvilia do you have the same problem?

[2018-10-01 15:46] saikrishna321 commented on #376
@jacorgaz can you please post your caps.json and also the ATD version

[2018-10-01 15:53] jacorgaz commented on #376
@saikrishna321 <version>ef39d1cdd0</version>

<-------JSON----->>>>
{
  "android": {
    "platformName": "android",
    "platformVersion": "7.0",
    "app": "/Users/javiercorroto/Documents/Appium/ONCE/build/wordpress.apk",
    "appPackage": "org.wordpress.android",
    "deviceName": "android",
    "noSign": true
  },
  "iOS": {
    "platformName": "iOS",
    "app": {
      "simulator": "./build/Wo

[2018-10-01 15:59] saikrishna321 commented on #376
@jacorgaz try with latest master '690ed1b'

[2018-10-02 20:12] jacorgaz commented on #376
@saikrishna321 with '690ed1b'  i´m now getting **java.lang.IllegalArgumentException: Please set automationName as UIAutomator2 or Espresso to create Android driver** and for iOS **org.json.JSONException: A JSONObject text must begin with '{' at 0 [character 1 line 1]**

I´m going to describe all the steps done:

1. Follow prerequisites https://github.com/saikrishna321/AppiumTestDistribution/wiki/P

[2018-10-02 20:42] saikrishna321 commented on #376
you need to add automationName as UIAutomator2 in caps.json for android.

Can you please post complete exception pls ?

[2018-10-03 17:28] SrinivasanTarget opened #384 "Respect AVD android capability as like iOS simulators"
Change Capabilities.json contract to adopt this feature.

[2018-10-03 18:13] saikrishna321 commented on #384
@SrinivasanTarget can you please elaborate on this ?

[2018-10-03 18:30] saikrishna321 commented on #384
So how should the contract look like ?

[2018-10-03 18:51] SrinivasanTarget commented on #384
something like below,
[code]

[2018-10-04 12:02] AlphaQ1996 opened #385 "Not an Issue"
@saikrishna321
Hey first let me apologize for putting this message in issues but i could not find any other way.
So  i just graduated and started my first job which is a automation test engineer. I am learning appium but am completely confused with a lot of elements of it. I am currently pursuing a course in udemy but its not much help.Any advice would be appreciated.
sincerely,
Nathan Moniz

P.S.

[2018-10-07 07:18] saikrishna321 opened #389 "Azure to run android tests"

[2018-10-09 06:38] ssrikantasahoo opened #391 "How to run in saucelabs using username and access key"
How to run in saucelabs using username and access key

[2018-10-09 06:53] saikrishna321 commented on #391
@ssrikantasahoo Sauce should have its own mechanism to run parallel right ?

[2018-10-09 06:56] saikrishna321 commented on #385
@AlphaQ1996 Please use discuss.appium.io to ask all your questions and community will for sure help you.

[2018-10-09 06:56] #385 closed

[2018-10-09 08:38] saikrishna321 commented on #248
fixed in master

[2018-10-09 15:49] saikrishna321 opened #392 "Expose driver session to users"
@SrinivasanTarget

Was thinking if we expose the driver session based on the device UDID this would help users to interact with multiple applications

[2018-10-10 15:07] Shivashankarin91 opened #393 "Facing an issue while running through distribute"
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for com.pagepattern.appium:PagePatternAppium:jar:0.0.1-SNAPSHOT
[WARNING] 'dependencies.dependency.version' for log4j:log4j:jar is either LATEST or RELEASE (both of them are being deprecated) @ line 31, column 22
[WARNING] 'build.plugins.plugin.version' for org.apache.maven.plugins

[2018-10-10 16:57] saikrishna321 commented on #393
try with this version a79eff19f6

make sure your caps.json looks like this https://github.com/saikrishna321/AppiumTestDistribution/blob/master/caps/capabilities.json

[2018-10-11 07:59] Shivashankarin91 commented on #393
When I change the Appium distrubution Version as a79eff1 I am facing the below mentioned error
 [INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for com.pagepattern.appium:PagePatternAppium:jar:0.0.1-SNAPSHOT
[WARNING] 'dependencies.dependency.version' for log4j:log4j:jar is either LATEST or RELEASE (both of them are being deprec

[2018-10-11 09:11] Shivashankarin91 commented on #393
When I pulled from the latest project I am facing an issue as
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for com.pagepattern.appium:PagePatternAppium:jar:0.0.1-SNAPSHOT
[WARNING] 'dependencies.dependency.version' for log4j:log4j:jar is either LATEST or RELEASE (both of them are being deprecated) @ line 31, column 22
[WARNIN

[2018-10-11 10:11] saikrishna321 commented on #393
looks like Appium is not installed globally

[2018-10-11 15:19] Shivashankarin91 commented on #393
C:\Users\user\Documents\PageObjectPatternAppium-master>mvn validate && Platorm="
android" mvn clean -Dtest=RunnerCukes test
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for
com.pagepattern.appium:PagePatternAppium:jar:0.0.1-SNAPSHOT
[WARNING] 'dependencies.dependency.version' for log4j:log4j:jar is either LATEST
 or RELEASE (

[2018-10-11 15:47] saikrishna321 commented on #393
make sure you have Platform=android or ios or both set in your environment

[2018-10-12 12:30] Shivashankarin91 commented on #393
When I try to run through parallel I am facing the issue as mentioned below

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.appium.steps.RunnerCukes
Configuring TestNG with: TestNG652Configurator
java.io.IOException: Cannot run program "appium": CreateProcess error=2, The system cannot find the file specified

[2018-10-13 07:12] saikrishna321 commented on #384
@SrinivasanTarget until the emulators are booted we won't get the device UDID. So in this case appium will install the emulators and when driver creation is done we already have all the UDID's assigned to this sessions

[2018-10-15 07:06] SrinivasanTarget commented on #384
@saikrishna321 Lets discuss about this in Chicago. I believe its possible with lot of changes in existing code base 🏎

[2018-10-15 16:52] Shivashankarin91 commented on #393
Total Number of devices detected::2

***************************************************

starting running tests in threads
creating directory: Logs
Directory is created for device2108986504037ece
Directory is created for deviceemulator-5554
Oct 15, 2018 10:19:35 PM com.appium.manager.DeviceAllocationManager getDevices
INFO: All devices connected
creating directory: ADBLogs
...
... TestNG 6.11 by

[2018-10-15 17:29] #393 closed

[2018-10-15 17:33] Shivashankarin91 opened #395 "Error while running through Distribute"
Hi Sai, I have cloned your Page object Model project when I tired running through Distribute I am facing issue FOr detailed logs
Please find the error logs in the below mentioned link:

https://gist.github.com/Shivashankarin91/110e53476f566738000ae111e5db49f9

[2018-10-18 19:38] SrinivasanTarget opened #396 "Don't force users to use ReportPortal/ReportPortal.properties as resources"

[2018-10-18 19:39] saikrishna321 opened #397 "Support Allure reporting as default"

[2018-10-18 19:39] SrinivasanTarget commented on #389
@shridharkalagi FYA

[2018-10-18 19:50] SrinivasanTarget commented on #395
@shridharkalagi FYA

[2018-10-20 13:20] saikrishna321 opened #398 "hostMachines should accept list of machine IP"
Currently when we run tests in remote machines on the same simulators we tend to repeat the same Simulator Object. Instead user should be able to set list of IP's provided the same simulator's are going to run the tests.

[2018-10-23 10:27] Beni-Landmark opened #399 "Failure to find com.relevantcodes:extentreports:jar:2.41.0-SNAPSHOT"
Getting the error message
" [ERROR] Failed to execute goal on project PagePatternAppium: Could not resolve dependencies for project com.pagepattern.appium:PagePatternAppium:jar:0.0.1-SNAPSHOT: Failure to find com.relevantcodes:extentreports:jar:2.41.0-SNAPSHOT in https://jitpack.io was cached in the local repository, resolution will not be reattempted until the update interval of jitpack.io has el

[2018-10-29 15:21] saikrishna321 commented on #395
@Shivashankarin91 why is this reopened ?

[2018-10-31 07:03] JweelM opened #401 "Appium server not responding"
Environment
Appium version (or git revision) that exhibits the issue: 1.9.1
Desktop OS/version used to run Appium: v10.14
Node.js version (unless using Appium.app|exe): v11.0.0
Mobile platform/version under test: iOS 12.0
Real device or emulator/simulator: Real Device and Simulator
Appium CLI or Appium.app|exe: Appium.app

The problem
The Application is only opening but as per our xpath written in

[2018-10-31 07:06] JweelM opened #402 "No response from appium server"
Environment
Appium version (or git revision) that exhibits the issue: 1.9.1
Desktop OS/version used to run Appium: v10.14
Node.js version (unless using Appium.app|exe): v11.0.0
Mobile platform/version under test: iOS 12.0
Real device or emulator/simulator: Real Device and Simulator
Appium CLI or Appium.app|exe: Appium.app

[Xcode]
[Xcode] 2018-10-30 19:50:16.262904+0530 WebDriverAgentRunner-Runner

[2018-10-31 07:31] JweelM commented on #402
@SrinivasanTarget We have done the same.

[2018-10-31 07:36] JweelM commented on #401
@SrinivasanTarget Sorry for the inconvenience, but we are using unique ids not XPath.

[2018-10-31 07:44] Muvidevlopers opened #403 "Appium Server not responding"
Issue Details -
The Application is only opening but as per our Resource ID written in script for identifying element, the element is not being located and we are getting the following error log.

Environment
Appium version (or git revision) that exhibits the issue: 1.9.2-beta.2
Desktop OS/version used to run Appium: 10.13.6
Node.js version (unless using Appium.app|exe): 10.7.0
Mobile platform/vers

[2018-10-31 07:46] Muvidevlopers opened #404 "Unexpected Error from Appium server"
Issue Details -
The Application is only opening but as per our ID written in script, the element is not being located and we are getting the following error log.

Environment
Appium version (or git revision) that exhibits the issue: 1.9.2-beta.2
Desktop OS/version used to run Appium: 10.13.6
Node.js version (unless using Appium.app|exe): 10.7.0
Mobile platform/version under test: iOS 12.0
Real dev

[2018-10-31 09:15] Muvidevlopers commented on #404
@saikrishna321 @SrinivasanTarget could you please look into this and help us to resolve.

[2018-10-31 10:13] saikrishna321 commented on #404
@Muvidevlopers This issue is related to Appium please ask for help in discuss.appium.io. Issue not related to ATD

[2018-10-31 10:13] #404 closed

[2018-10-31 10:14] saikrishna321 commented on #403
#404

[2018-10-31 10:14] #403 closed

[2018-11-05 15:06] Pushpank opened #405 "There is no testng.xml file (pageObjectAppium) so how we run by group or testng"
In pageOnjectAppium Master testng.xml file is not present so how we can run our test according to testng annotations or by group?

[2018-11-15 12:17] #370 closed

[2018-11-22 07:06] SrinivasanTarget opened #408 "Local/Remote devices are not considered during Remote execution mode"
Broken in https://github.com/AppiumTestDistribution/AppiumTestDistribution/pull/400

We should be able to execute successfully in below variations,

[code]

[2018-11-22 07:06] SrinivasanTarget commented on #408
@VinayakaMayura FYA @ShamaUgale @saikrishna321 FYI

[2018-11-22 08:00] #408 closed

[2018-11-22 10:40] saikrishna321 commented on #398
Merged to master

[2018-11-22 10:40] #398 closed

[2018-11-24 10:42] saikrishna321 opened #411 "Support to run tests in Sauce cloud"

[2018-11-24 10:44] saikrishna321 opened #412 "Support to run test in Genymotion cloud"

[2018-11-25 17:51] SrinivasanTarget opened #413 "Publish ATD to Maven Central"

[2018-11-27 05:34] hhh3h opened #414 "Nothing is to be tested"
The testing by Cucumber is not executed.
I think "@smoke" must be tested but it is.
Please let me know what problem it is. T_T)

My IDE is Eclipse ...
man clean test -Dtest=RunnerCukes -DPlatform=android

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.test.cucumber.cukesrunner.RunnerCukes
Configuring TestNG wit

[2018-11-28 14:45] saikrishna321 commented on #414
@hhh3h you need to run this code

https://github.com/AppiumTestDistribution/PageObjectPatternAppium

[2018-11-28 17:55] saikrishna321 commented on #413
https://search.maven.org/search?q=a:AppiumTestDistribution

[2018-11-28 17:55] #413 closed

[2018-12-01 10:03] KumarKola opened #415 "Not able to run test cases in distribute with cucumber setup"
Hi @saikrishna321  and @SrinivasanTarget I am just trying to setup and  execute the page object pattern sample framework given on the ATD dashboard, i am able to run in parallel mode but not in distribute, I did debugging seems AndroidDeviceConfiguration class  getDevice is coming as null..

"C:\Program Files\Java\jdk1.8.0_151\bin\java" -ea -Didea.test.cyclic.buffer.size=1048576 "-javaagent:C:\Pro

[2018-12-01 14:48] saikrishna321 commented on #415
@KumarKola can you please try with the latest https://github.com/AppiumTestDistribution/PageObjectPatternAppium

[2018-12-01 20:05] KumarKola commented on #415
ok..I will try running with other device.

[2018-12-01 23:35] saikrishna321 commented on #415
https://github.com/AppiumTestDistribution/PageObjectPatternAppium/blob/master/caps/capabilities.json#L6

[2018-12-02 00:07] KumarKola commented on #415
I have tried changing the automation name earlier and i got the same error..

[2018-12-02 00:48] saikrishna321 commented on #415
@KumarKola

FAILED CONFIGURATION: @BeforeClass setUpClass
cucumber.runtime.CucumberException: Couldn't load plugin class: com.cucumber.listener.ExtentCucumberFormatter

Your pom.xml has incorrect values. Please refer the sample project https://github.com/AppiumTestDistribution/PageObjectPatternAppium

[2018-12-02 00:53] saikrishna321 commented on #415
I'm unable to reproduce, see full logs

https://gist.github.com/saikrishna321/0db7468d81aba43e0d019bb11451b750

[2018-12-02 02:14] KumarKola commented on #415
when i make automationName as UIautomator2 as i said one of my device is not responding because...

[JSONWP Proxy] Got an unexpected response: {"code":"ECONNRESET","errno":"ECONNRESET","syscall":"read"}
[debug] [UiAutomator2] [UIAutomator2] java.lang.SecurityException: Permission Denial: starting instrumentation ComponentInfo{io.appium.uiautomator2.server.test/android.support.test.runner.AndroidJU

[2018-12-02 02:56] KumarKola commented on #415
Here is my pom.xml the only difference is i added cucumber extent reports dependency...  <dependency>
            <groupId>com.vimalselvam</groupId>
            <artifactId>cucumber-extentsreport</artifactId>
            <version>2.0.5</version>
        </dependency>

**************************************************************************************
<project xmlns="http://maven.apache.org/POM/

[2018-12-02 03:00] KumarKola commented on #415
can you ping me your stepdef file ? I would like to know which class you are extending

[2018-12-02 09:33] saikrishna321 commented on #415
You need to raise this with appium. This error has nothing to do with parallel execution.

@KumarKola are you able to run single test without this framework with starting the server with AppiumServiceBuilder ?

[2018-12-03 09:46] narayan907 opened #416 "Command to run project using gradle"
Hi,
how to run project using gradle from command line,please can u update on this.

[2018-12-03 10:55] Shivashankarin91 opened #417 "Cant able to detect the android device"
Hi Sai,

I have imported the Page object model project when i tired to run its not runing through parallel mode
For details  information please find the screenshot
![screen shot 2018-12-03 at 4 21 04 pm](https://user-images.githubusercontent.com/26323957/49369673-016d0d80-f718-11e8-8068-cda16b2e5457.png)

[2018-12-03 11:08] Shivashankarin91 opened #418 "Cant able to detect the android device"

[2018-12-03 11:09] Shivashankarin91 commented on #418
Hi Sai,

I have imported the Page object model project when i tired to run its not runing through parallel mode
For details information please find the screenshot
![screen shot 2018-12-03 at 4 21 04 pm](https://user-images.githubusercontent.com/26323957/49370365-ef8c6a00-f719-11e8-8da4-6d651fc47c0c.png)

[2018-12-03 11:13] #417 closed

[2018-12-03 11:14] saikrishna321 commented on #418
I have seen this before, this is IDE issue. Try running it from command line it should work

[2018-12-03 15:42] #416 closed

[2018-12-05 07:32] SrinivasanTarget opened #419 "Throw valid error message instead of NPE when remote host is not running"

[2018-12-05 07:33] SrinivasanTarget commented on #419
@VinayakaMayura FYA

[2018-12-05 12:23] VinayakaMayura commented on #419
Working on it

[2018-12-05 15:46] KumarKola commented on #415
@saikrishna321  yes i am able to run and i am seeing this error while building the project..

Failed to execute goal com.github.temyers:cucumber-jvm-parallel-plugin:4.2.0:generateRunners (generateRunners) on project PagePatternAppium: Execution generateRunners of goal
 com.github.temyers:cucumber-jvm-parallel-plugin:4.2.0:generateRunners failed: Parser errors:
[ERROR] (113:0): unexpected end of fi

[2018-12-05 16:51] saikrishna321 commented on #415
@KumarKola  what is the command your using to run the test? Please provide full logs

[2018-12-05 16:56] KumarKola commented on #415
I am just trying to build the project and the command is --->mvn clean test -Dtest=RunnerCukes test -DPlatform=android

G:\PageObjectPatternAppium-master\PageObjectPatternAppium-master>mvn clean test -Dtest=RunnerCukes test -DPlatform=android
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for com.pagepattern.appium:PagePatternA

[2018-12-06 04:20] orvilia commented on #334
Please provide solution to this...Can somebody provide the solution for windows....We are stuck

[2018-12-06 06:30] vsgopinath commented on #396
Just want to know when this issue will be closed. I am facing problem in getting reports in ReportPortal.io

[2018-12-06 06:48] KumarKola commented on #415
Hi @saikrishna321  and @SrinivasanTarget  i configured the project from scratch again and seems its working fine until i started using cucumber scenario outlines... please see the below logs

"C:\Program Files\Java\jdk1.8.0_151\bin\java" -ea -Didea.test.cyclic.buffer.size=1048576 "-javaagent:C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2017.2.5\lib\idea_rt.jar=22979:C:\Program Files\

[2018-12-06 06:53] KumarKola commented on #415
mvn clean test -Dtest=RunnerCukes test -DPlatform=android

[2018-12-06 08:32] saikrishna321 commented on #396
what is the issue ur facing ??

[2018-12-06 10:06] saikrishna321 commented on #415
@KumarKola

This is a BUG can you please raise a new defect. If this issue is resolved

[2018-12-06 11:32] saikrishna321 commented on #334
@orvilia can you please try mvn clean -Dtest=Runner -DPlatform=android

[2018-12-06 13:07] KumarKola opened #420 "Cucumber Scenario out line features are not executing"
Hi @saikrishna321  and @SrinivasanTarget  when i am trying to run the feature files which has scenario outlines i think while adding each step its not parsing <""> symbols.. I have attached logs here.

"C:\Program Files\Java\jdk1.8.0_151\bin\java" -ea -Didea.test.cyclic.buffer.size=1048576 "-javaagent:C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2017.2.5\lib\idea_rt.jar=22979:C:\Prog

[2018-12-06 16:40] orvilia commented on #334
Hi,

We fixed the issue while providing system variable as Platform=android and running command “mvn clean -Dtest=Runner test”

But appium server is not starting. Do we need to set node.exe path somewhere for windows ??

Regards
Orivila

On 06-Dec-2018, at 5:03 PM, Sai Krishna <notifications@github.com<mailto:notifications@github.com>> wrote:

@orvilia<https://eur01.safelinks.protection.outlook.co

[2018-12-06 21:57] saikrishna321 commented on #334
What error r u getting?  You can set appium server path

https://github.com/AppiumTestDistribution/AppiumTestDistribution/blob/master/caps/capabilities.json#L27

[2018-12-09 17:12] #396 closed

[2018-12-12 10:21] amargvn opened #423 "Not able to execute all the test cases, only first test case is executing successfully in the suite"
I have 9 test cases, in the suite, while running the test cases using runner.java - Only first test case is executing successfully, rest of them all are failing.

**Note**: If i comment the test case #1 and run the suite also the first test case only executing successfully.
please help me to resolving the issue.

Note: I am executing on Windows machine.

[2018-12-15 02:13] saikrishna321 commented on #420
sorry, @KumarKola haven't got time to work on this. Happy to review PR if u can help on this

[2018-12-17 07:45] saikrishna321 commented on #423
@amargvn can u pls provide us the error logs and also which version you are using? Is the runner TestNG or Cucumber ?

[2018-12-17 07:57] saikrishna321 opened #425 "Default to appium screen recording instead of android and flick process"
Currently we use adb command to record screen for devices and flick for emulators, default to what appium record API

[2018-12-17 07:57] saikrishna321 opened #426 "video logs are not getting captured"

[2018-12-17 07:58] SrinivasanTarget commented on #425
https://github.com/AppiumTestDistribution/AppiumTestDistribution/issues/371

[2018-12-17 08:01] #425 closed

[2018-12-19 07:26] anandbagmar opened #427 "Have a "dry-run" type of capability"
It would be nice to have a dry-run type of capability - that just lists / shows which tests would be executed, which devices are available, etc. Maybe this could also create a basic report to give an indication how the end-results would look like

[2018-12-19 16:35] narayan907 commented on #373
Hi
sometimes the above test description doesn't comes on report portal

[2018-12-19 16:46] saikrishna321 commented on #373
@narayan907 yah this is known issue on report portal as the listeners don't have execution order.

[2018-12-19 16:49] narayan907 commented on #373
Hi Sai
then how can we solve this problem,since description is necessary

[2018-12-19 17:12] saikrishna321 commented on #427
I believe you want to know the tests which are tagged under specific group

This would be the connected devices or the devices the test would run

This is not possible because we dont know which test will be executed on which device

[2018-12-19 17:46] saikrishna321 commented on #373
@narayan907 is this happening all the time or just a race condition ?

[2018-12-19 17:49] narayan907 commented on #373
Its happening very often,most of the items i am not able to see for decscription for any of the test cases...but whenever it comes it comes for all testcases

[2018-12-19 17:52] saikrishna321 commented on #373
@narayan907 are u talking about the test description which is added from TestNG @Test annotation or Device Name along with platform and UDID  in reportportal ?

[2018-12-19 17:56] narayan907 commented on #373
ya...about Device Name along with platform and UDID

[2018-12-20 00:34] saikrishna321 commented on #373
@narayan907  this is something that needs to be reported to report-portal. We have a new dashboard which will be published with next release

[2018-12-20 00:34] #373 closed

[2018-12-20 02:13] anandbagmar commented on #427
its about which devices are available, NOT which test would run on which device
similarly in the report - its just test run metadata - not actual report

[2018-12-20 09:53] SrinivasanTarget opened #429 "iOS web schema is broken"

[2018-12-22 10:53] saikrishna321 commented on #427
@anandbagmar @SrinivasanTarget To start of i'm going to display in commandline and can look a report iteratively.

command: Platform=android mvn clean -Dtest=Runner test -Ddry-run=true

This is will results a build failure as i'm calling system.exit(0) to terminate the execution.

<img width="718" alt="screen shot 2018-12-22 at 4 20 06 pm" src="https://user-images.githubusercontent.com/4045041/503

[2018-12-23 10:09] saikrishna321 commented on #374
The framework will pick the UDID of the device automatically. Please update the version 9.1.0

[2018-12-23 11:06] orvilia commented on #374
Thanks !! Version 9.1.0 of ATD ???

[2018-12-23 11:54] saikrishna321 commented on #374
yes ATD version

[2018-12-23 12:15] orvilia commented on #374
I will just declare in POM right ??

[2018-12-23 13:03] saikrishna321 commented on #374
yup

[2019-01-04 16:00] #427 closed

[2019-01-08 17:31] ampc opened #437 "Cucumber runner build failure"
Cucumber runner fails on test execution

Log:
[code]

pom.xml

[code]

[2019-01-08 18:04] ampc commented on #437
There is a type on https://github.com/AppiumTestDistribution/PageObjectPatternAppium

[code]
*Platform*

[2019-01-08 18:04] #437 closed

[2019-01-11 14:31] viktorgogulenko commented on #384
Hey, guys! Is it possible to launch Android emulators automatically before the test? As I know Appium java-client is able to launch it with cap like "avd" value: "AVD_name".
Also I've tried to launch emulator manually and then run tests, but seems framework can't find emulators:

T E S T S
-------------------------------------------------------
Running com.appium.steps.RunnerCukes
Configuring Test

[2019-01-11 21:20] saikrishna321 commented on #384
@viktorgogulenko

Currently, we haven't implemented it.  Happy to review PR :)

If you are running the test from eclipse/intellji make sure the IDE can access the path and see ANDROID_HOME

[2019-01-16 14:51] orvilia commented on #396
As per your option provided in b008197, extent.html is not generating. How to make extent reports start working again.

[2019-01-16 14:54] orvilia opened #439 "How to make extent report start working again after making report portal optional."
As per your option provided in b008197, extent.html is not generating. How to make extent reports start working again.

[2019-01-17 12:48] Zarmeena opened #440 "Unable to generate Extent Report if runner is 'distribute'"
It is for the previous version of ATD in which report portal is not integrated

[2019-01-17 12:53] SrinivasanTarget commented on #440
@Zarmeena We have taken off the Extent Report support from our framework already. If you could build one locally at your end, you can add a custom listener to config.properties.

[2019-01-17 13:03] Zarmeena commented on #440
We will try implementing a custom listener  and get back to you.

[2019-01-19 13:09] saikrishna321 commented on #439
https://github.com/AppiumTestDistribution/AppiumTestDistribution/issues/440

[2019-02-08 21:16] KumarKola opened #441 "Distribute mode is working correctly with cucumber in real devices"
Hi SaiKrishna@saikrishna321 and @SrinivasanTarget i am trying to run test cases in distributed mode in real devices.. my android app is invoking in both devices but test cases are executing only one one device..

exapmple: I have 3 test cases set for distributed mode but all 3 cases are kept in pool for device 1 i dont see any activity in device 2 it just invoked the app.

[2019-02-10 11:06] saikrishna321 commented on #441
@KumarKola can u pls the logs and also which version of ATD are u using

[2019-02-13 15:30] narayan907 opened #442 "Port Issue when running in distributed mode"
I am getting this issues when running in distributed mode, I think its not get free port to start appium session, please help to solve this issue.
org.openqa.selenium.WebDriverException: Could not proxy command to remote server. Original error: Error: connect ECONNREFUSED 127.0.0.1:34361
Build info: version: '3.12.0', revision: '7c6e0b3', time: '2018-05-08T14:04:26.12Z'
System info: host: 'qa-auto

[2019-02-13 16:05] saikrishna321 commented on #442
@narayan907 Pls post full logs

[2019-02-13 16:20] narayan907 commented on #442
2019-02-13 20:21:35
org.openqa.selenium.WebDriverException: Could not proxy command to remote server. Original error: Error: connect ECONNREFUSED 127.0.0.1:34361
Build info: version: '3.12.0', revision: '7c6e0b3', time: '2018-05-08T14:04:26.12Z'
System info: host: 'qa-automation', ip: '127.0.1.1', os.name: 'Linux', os.arch: 'amd64', os.version: '4.15.0-42-generic', java.version: '1.8.0_191'
Driver

[2019-02-13 16:28] saikrishna321 commented on #442
@narayan907 This is not full logs from ATD

[2019-02-13 16:35] narayan907 commented on #442
[consoleText.txt](https://github.com/AppiumTestDistribution/AppiumTestDistribution/files/2861242/consoleText.txt)
please look into test case "loginAsGuest"

[2019-02-13 17:41] saikrishna321 commented on #442
This is something to do with UIAutomator2 server stopped responding. Not related to ATD

[2019-02-13 17:43] narayan907 commented on #442
but from the error it looks like the port is not available.

[2019-02-17 09:53] saikrishna321 commented on #442
@narayan907 I'm sure it's not _port is not available_ issue. ATD gets free ports from the machine

[2019-02-17 09:53] #442 closed

[2019-02-22 12:25] sivaganesh1988 opened #443 "Getting Null pointer when running against real ios device"
Getting below error when executing scripts. I am using version 10 of ATD

Java.lang.NullPointerException
	at java.util.Hashtable.put(Hashtable.java:460)
	at java.util.Properties.setProperty(Properties.java:166)
	at com.appium.executor.MyTestExecutor.writeTestNGFile(MyTestExecutor.java:289)
	at com.appium.executor.MyTestExecutor.constructXmlSuiteForDistributionMethods(MyTestExecutor.java:281)
	at c

[2019-02-22 12:47] sivaganesh1988 commented on #443
Closing the issue.  Issue was i didnt update the config.properties file.

[2019-02-22 13:33] saikrishna321 commented on #443
What was missing in the properties ?

Will fix the error message

[2019-02-22 18:24] sivaganesh1988 commented on #443
RUNNER_LEVEL=methods
SUITE_NAME=testApp
CATEGORY=sanity

These were missing in the config file. Also I have few queries is there a tag I can use in stackoverflow for the questions ?

[2019-02-26 15:47] rameshgit96 opened #444 "Purpose of iOSFlow/AndroidFlow/ViewFactory/DeviceInterface"
Hi, I'm having trouble understanding the purpose of iOSFlow.java, AndroidFlow.java, ViewFactory.java, and DeviceInterface.java. Could you please explain to me the purpose of each file?

[2019-02-26 21:46] rameshgit96 commented on #444
My understanding is that some functionalities differ in the manner of step execution across iOS and Android devices, and as a result, the functionalities are addressed in iOSFlow.java for iOS devices and AndroidFlow.java for Android devices. However, I would appreciate it if I can get more info on the above 4 files.

[2019-03-23 21:24] spartanglady commented on #443
Hey Guys, I was trying to migrate from Extent Report to Report Portal. Now I'm pointing to the latest version of ATD and when I try to run the tests, I'm getting null pointer exception. Not sure if I have to add any new config parameters. I have added the reportportal.properties file..

-------------------------------------------------------
 T E S T S
---------------------------------------------

[2019-03-23 23:19] saikrishna321 commented on #443
config.properties should have SUITE_NAME=testApp and CATEGORY=sanity or can be set via Env

[2019-03-24 04:35] spartanglady commented on #443
Works Now Thank you

[2019-03-26 19:23] #441 closed

[2019-03-26 19:24] KumarKola commented on #441
Its working fine, it was config issue in my system

[2019-03-28 16:04] KumarKola opened #445 "How to Integrate the appium test distribution project in jenkins ?"
Hi @saikrishna321  and @SrinivasanTarget  I would like to add the pageObjectPattern project into CICD pipeline, Is there any specific setup that needs to be configured ? could you provide the steps if you have any. Thank you.

[2019-03-28 21:33] saikrishna321 commented on #445
@KumarKola Nope, ATD will run like any other test in CI. What have you tried so far?

[2019-03-29 05:48] KumarKola commented on #445
I tried usual way by creating a freestyle project and providing this command---->mvn validate && Platform="android" mvn clean -Dtest=RunnerCukes test. But I see this error in the console------>'Platform' is not recognized as an internal or external command,
operable program or batch file.

I have given this code in my pom.xml

![image](https://user-images.githubusercontent.com/45509929/55212039-b9

[2019-03-31 08:52] saikrishna321 commented on #445
Yah, i think u need to set Platform as env in your jenkins

[2019-03-31 16:47] #444 closed

[2019-03-31 16:48] saikrishna321 commented on #443
@sivaganesh1988 @spartanglady Fixed this in 10.0.1. Defaulting the values and also the RUNNE_LEVEL has been made optional

[2019-03-31 16:48] #443 closed

[2019-03-31 16:48] saikrishna321 commented on #423
closing as inactive

[2019-03-31 16:48] #423 closed

[2019-03-31 16:48] saikrishna321 commented on #419
@VinayakaMayura ping

[2019-03-31 16:49] #418 closed

[2019-03-31 16:50] saikrishna321 commented on #405
@Pushpank ATD handles the execution on runtime, INCLUDE_GROUPS="yourgroups" mvn clean -Dtest=Runner test

This will trigger the grouped tests

[2019-03-31 16:50] #405 closed

[2019-03-31 16:52] saikrishna321 commented on #300
closing as inactive

[2019-03-31 16:52] #300 closed

[2019-03-31 17:14] saikrishna321 commented on #419
closing as merged https://github.com/AppiumTestDistribution/AppiumTestDistribution/commit/718ebac915699170dac3107d33dfb8db10eaadc4

[2019-03-31 17:14] #419 closed

[2019-04-02 21:12] KumarKola commented on #445
I tried that but seeing the same error---'Platform' is not recognized as an internal or external command,
operable program or batch file.

when i use this command--->mvn clean test -Dtest=RunnerCukes test -DPlatform=android
I am seeing this error... Running com.appium.steps.RunnerCukes
Configuring TestNG with: TestNG652Configurator
Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 1.

[2019-04-09 11:19] narayan907 opened #446 "Not able to run test on real ios device"
Hi Sai,

I have few doubts please can u help with that,
1.do we need to mention devicenames if are using real ios devices.
2.what else do we need for real devices, any settings

[2019-04-10 05:43] narayan907 commented on #446
Last login: Tue Apr  9 19:35:24 on ttys000
jakka:~ user$ appium-doctor
info AppiumDoctor Appium Doctor v.1.9.0
info AppiumDoctor ### Diagnostic for necessary dependencies starting ###
info AppiumDoctor  ✔ The Node.js binary was found at: /usr/local/bin/node
info AppiumDoctor  ✔ Node version is 10.15.3
info AppiumDoctor  ✔ Xcode is installed at: /Users/user/Downloads/Xcode.app/Contents/Developer
in

[2019-04-11 09:12] saikrishna321 commented on #446
You need to give the simulator name and OS which is present in your machine.

Nope, for real devices ATD will pick the device properties from idevice. Make sure idevice list can display the UDIDS.

[2019-04-12 17:15] rameshgit96 opened #447 "Execution Time of Tests on both Android and iOS"
Is there any difference between the execution time of a test case on ios and the execution time of the same test case on android?

On my dashboard, I notice that iOS takes a longer time to execute the same test case than on android. It takes double the time...

[2019-04-12 20:11] saikrishna321 commented on #447
Yes, iOS test are slower than Android. Depends on many facts like what locator strategy your using if it's xpath for sure that's gone by very slow or how large your app Dom is.

This is more a Appium question

[2019-04-12 20:11] #447 closed

[2019-04-18 15:10] #446 closed

[2019-04-18 18:39] MummanaSubramanya commented on #445
@saikrishna321 worked !!

[2019-04-18 19:01] saikrishna321 commented on #445
Would b great if you can post the solution might help others

[2019-04-19 10:22] MummanaSubramanya opened #448 "NullPointer Exception when using Before and After Annotation"
I want to do some post steps after every test so I tried implementing Aftertest but I ended up in getting below exception.

 java.lang.NullPointerException
	at com.appium.utils.Helpers.isRetry(Helpers.java:77)
	at com.appium.manager.AppiumParallelMethodTestListener.afterInvocation(AppiumParallelMethodTestListener.java:129)
	at org.testng.internal.invokers.InvokedMethodListenerInvoker$InvokeAfterIn

[2019-04-19 11:04] MummanaSubramanya commented on #445
In macbook testsuite executes with out any issue but the issue is with windows environment.
To run on windows
We should add the property in maven surefire plugin:

            <configuration>
                <properties>
                    <Platform>${Platform}</Platform>
                </properties>
            </configuration>

 and then run below commands as
1) setx -m Platform "android"
2) m

[2019-04-19 11:05] MummanaSubramanya commented on #445
Would be great if you could update README.md for windows :)

[2019-04-19 11:22] saikrishna321 commented on #448
Can you post an example of your implementation?

[2019-04-19 12:42] KumarKola commented on #445
@mummanaSubramanya could you please suggest me how you connected your device to Jenkins which is running on AWS instance?

[2019-04-19 15:40] MummanaSubramanya commented on #445
well we have local Jenkins instance so it was easy :).

I understand your concern. I have an idea for you:

1) connect the devices to your local machine and assign public IP to it. Take help of your IT team.
2) follow this https://github.com/AppiumTestDistribution/AppiumTestDistribution/wiki/Remote-Execution in your project and in the capabilities mention the public Ip of your local machine.
3) Bu

[2019-04-19 17:05] KumarKola commented on #445
@mummanaSumbramanya where should I run the appiumremote manager jar? In local machine?

[2019-04-20 13:23] saikrishna321 commented on #445
Are the devices connected to the machine which u have access ?

[2019-04-20 13:27] KumarKola commented on #445
I have a machine sitting in my local and I will connect devices to that system. But Jenkins is on AWS so the part I am not sure is how to connect my local machine to Jenkins, which will execute Jenkins command and run cases on tablet devices.

[2019-04-20 15:28] saikrishna321 commented on #445
Can your AWS Jenkins ping your local?Is there any tunnel open

[2019-04-20 17:25] saikrishna321 commented on #445
@MummanaSubramanya Do you mind helping to update the readMe?

[2019-04-22 16:51] rameshgit96 opened #449 "Retry Count Issue"
Suppose I am running 8 test scripts and I want to run multiple iterations (say 2)of the same 8 test scripts. This means totally 16 test flows.

Android: It shows 8 skipped tests and the remaining 8 tests.
Why does it skip the 8 tests rather than re-running the 8 tests?

iOS: It does not work. It only runs the 8 test scripts and does not re-iterate.

What could be the issue? Should I add any parame

[2019-04-22 17:26] saikrishna321 commented on #449
RETRY only works when a test fails. It retries the failed test

[2019-04-23 18:49] rameshgit96 commented on #449
I see. Is there a way to run all the tests over multiple iterations even if all tests pass? Is there a parameter that I can add to config.properties for this?

[2019-04-24 04:39] saikrishna321 commented on #449
No not within the framework.

[2019-04-24 04:39] #449 closed

[2019-04-24 06:32] avyasbms commented on #397
Any updates on this?

[2019-04-24 21:53] avyasbms commented on #397
Have any pointers as to where I start looking?

[2019-04-29 20:14] KumarKola commented on #445
@saikrishna321  No configuration is present for that. is there any alternative solution for that? If i use emulators will that be a easier to integrate it with jenkins ?

[2019-04-30 04:57] saikrishna321 commented on #445
I'm afraid not!!

[2019-04-30 04:57] #445 closed

[2019-04-30 05:01] KumarKola commented on #445
Ok, so then there's no other way to integrate with Jenkins! ?

[2019-04-30 05:28] saikrishna321 commented on #445
You can integrate with Jenkins for sure. In your case either the devices should be hooked to Jenkins or emulators running in Jenkins instance or ur Jenkins machine be able to ping ur system where the devices are connected.

[2019-05-06 09:14] narmadha956 opened #450 "Testng annotations @Before and @After annotations not invoked for @Test"
Any of the TestNg annotations are not getting invoked from Tests file.

Example Used:
    @AfterClass
    public void testing()
    {
                 System.out.print("After Class");
    }

https://gist.github.com/narmadha956/11039ed2efa772e89f07973d38e4bee9

[2019-05-06 09:15] narmadha956 commented on #450
@saikrishna321 @VinayakaMayura  FYI

[2019-05-06 09:40] saikrishna321 commented on #450
Can u show the implementation ?

[2019-05-06 20:31] KumarKola commented on #445
@saikrishna321 I have configured jnlp node setup now I am able to get the pings from Jenkins. Could you please suggest me how to proceed further. Thanks.

[2019-05-07 04:49] narmadha956 commented on #450
Implementation is just a print command in @AfterClass like in the example above. The method is not getting invoked. Only @Test methods are invoked. Tried multiple @After and @Before

[2019-05-07 06:17] narmadha956 commented on #450
My test cases were in group, so @AfterGroups worked, others were not supposed to work.

[2019-05-07 06:17] #450 closed

[2019-05-14 19:28] KumarKola opened #453 "Not able to run remotely"
@saikrishna321  I have configured a local machine as JNLP node jenkins is able to ping to that, when i give the local machine IP in capabilities.json its throwing me this error.

"C:\Program Files\Java\jdk1.8.0_151\bin\java" -ea -Didea.test.cyclic.buffer.size=1048576 "-javaagent:C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2017.2.5\lib\idea_rt.jar=44307:C:\Program Files\JetBrains\Int

[2019-05-14 19:31] KumarKola commented on #453
Capabilities.json-------

{
  "android": {
    "platformName": "android",
    "platformVersion": "7.0",
    "app": "C://dispatch//XXXXX.apk",
    "automationName":"UIAutomator2",
    "appPackage":"XXXXXXXXXXXXXXXX",
    "appActivity":"XXXXXXXXXXXXXXXX",
    "appWaitActivity": "XXXXXXXXXXXXXXXXXXXXXXXX",
    "deviceName": "android",
    "fullReset":false,
    "newCommandTimeout":"90000",
    "noSig

[2019-05-14 21:48] saikrishna321 commented on #453
Is the RemoteAppiumManager.jar running on ur machine ?

[2019-05-14 21:56] KumarKola commented on #453
@saikrishna321  I have fixed that issue, its related to machine IP. Its able to detect the devices but not able to intialized android driver

[INFO]
[INFO] --- maven-surefire-plugin:2.18.1:test (default-test) @ 5g_home_install ---
[INFO] Surefire report directory: C:\jenkins_slave\workspace\NTS.HFVB.VPM.AUTOMATION.PROGRESSION-SIT\target\surefire-reports

-------------------------------------------

[2019-05-15 07:09] saikrishna321 commented on #453
https://javarevisited.blogspot.com/2013/02/java-net-ConnectException-Connection-refused.html?m=1

[2019-05-17 04:19] KumarKola commented on #453
@saikrishna321 Jnlp node and remote appium manager both are running in one machine, I am able to run the scripts when I turn off VPN, but when I am VPN it's not able to create android driver session getting the above pasted error. I can't connect without VPN because Jenkins cant ping the node. could you please suggest a way out? Much appreciated.

[2019-05-17 08:09] saikrishna321 commented on #453
@KumarKola Could be your behind a proxy ?

[2019-05-20 08:51] ValerioDR opened #456 "SimulatorManager does not find any simulators"
Running my tests for iOS caused the exception **java.lang.RuntimeException: Device Not found with deviceName-iPhone X osVersion-12.2 osType-iOS**  which confused me because exactly this device was opened.

So i debugged the code and found the error, at least for my system.
Running the command **xcrun simctl list -j devices** gives me a response of the following kind:

[code]

Whats causing the err

[2019-05-20 09:11] VinayakaMayura commented on #456
Can you share your capabilites.json file?

[2019-05-20 09:14] ValerioDR commented on #456
[code]

[2019-05-20 09:38] VinayakaMayura commented on #456
Can you verify below two things
1. What is your Xcode version
2. Provide the appiumServerPath like below
[code]

[2019-05-20 09:41] ValerioDR commented on #456
Still the same error.
XCode version is 10.2.1

[2019-05-20 09:42] VinayakaMayura commented on #456
In Simulator the OS version should be changed to 10.2.1 then

[2019-05-20 09:47] ValerioDR commented on #456
Mh, i dont think that makes any sense. The OS version of my simulator is iOS 12.2.
The XCode version is not connected with my simulator version, which is proven by the command  **xcrun simctl list** which gives me the list of all availabel simulators on my system.

For example the iOS 12.2 simulators:
[code]

Nevertheless, i tried your advice, but unfortunately, it didn't work.

[2019-05-20 10:00] VinayakaMayura commented on #456
Please let me know which version of ATD you are using.

Also i noticed, you have provided iPhoneX and iPhoneXS in capabilities but iPhoneXS is not booted

[code]

[2019-05-20 10:07] ValerioDR commented on #456
Also with removed iPhone XS capability i get the same Device not found error.
Im using ATD 10.0.1

[2019-05-20 13:14] saikrishna321 commented on #456
@ValerioDR Can you please post the complete exception?

[2019-05-20 13:38] ValerioDR commented on #456
[code]

I fixed it on my system by changing the device decoding to the following:

[code]

Maybe the key format changed due to simctl updates. At least the above code is working for me when i start the tests from the IDE.

[2019-05-21 09:53] saikrishna321 commented on #456
@ValerioDR Thanks for the logs and your solution. Will be happy to accept a PR.

[2019-05-26 20:10] rameshgit96 opened #458 "Running From Jenkins"
How can we run this ATD project from Jenkins?

[2019-05-27 10:05] saikrishna321 commented on #458
@rameshgit96 Nothing different from the way you run from commandline. What have you tried till now ?

[2019-05-27 10:05] saikrishna321 commented on #456
@shridharkalagi @VinayakaMayura Do you wanna pick this and fix?

[2019-05-27 10:32] rameshgit96 commented on #458
I am getting an exception:
java.io.IOException: Cannot run program "appium": error=2, No such file or directory

Parallel
No Devices Connected

[2019-05-27 11:16] saikrishna321 commented on #458
which means Appium is not installed nor set in path

[2019-05-27 15:01] rameshgit96 commented on #458
By that do you mean that Appium must be set as anOS environment variable?

[2019-05-27 16:47] saikrishna321 commented on #458
I mean is appium installed globally in jenkins ?

[2019-05-27 20:05] cesar-montoya commented on #309
hi, is this still an issue? I am able to replicate it on 10.0.1

[2019-05-27 20:56] rameshgit96 commented on #458
Yes, I think what you mean is if appium is installed globally in the same machine as the one in which Jenkins exists. If that's the case, then yes.

[2019-05-27 21:18] cesar-montoya opened #459 "Unable to launch already installed app on iOS"
Logs:

Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
required key [app] not found
Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 5.418 sec <<< FAILURE! - in com.appium.tests.Runner
testRunner(com.appium.tests.Runner)  Time elapsed: 0.136 sec  <<< FAILURE!
org.everit.json.schema.ValidationException: #: Capability json provided is missing the above s

[2019-05-27 21:35] saikrishna321 commented on #459
Thanks for reporting. This is a bug and will fix it soon.

[2019-05-28 12:00] saikrishna321 commented on #459
@cesar-montoya As workaround can you please provide the _app_ capability and try with _bundleId_

[2019-05-28 14:57] cesar-montoya commented on #459
@saikrishna321
I tried this:
"app": "com.x.x.x",

but I got this error:
expected type: JSONObject, found: String

[2019-05-28 15:55] saikrishna321 commented on #459
@cesar-montoya Thanks for looking at this. Will get the fix by EOD.

Question: So you have the app installed on the device and you don't have the IPA path in the caps?

[2019-05-28 16:03] cesar-montoya commented on #459
@saikrishna321 yes, exactly.   I removed the IPA path from the caps as I want to run the installed version of the app. I have the IPA / APK files as a workaround.
Thank you so much for fixing it, I really appreciate it.

[2019-05-29 04:52] saikrishna321 commented on #459
@cesar-montoya Can you try with this version

[code]

[2019-05-29 08:13] saikrishna321 commented on #458
Can you run command _appium_ in jenkins and paste the output

[2019-05-29 10:52] saikrishna321 commented on #448
Closing as inactive.

[2019-05-29 15:04] cesar-montoya commented on #459
@saikrishna321  I have tried it with the below capabilities:
    "autoGrantPermissions": "true",
    "autoAcceptAlerts": "true",
    "platformName": "iOS",
    "bundleId": "com.*.*.was",
    "deviceName": "iphone",
    "wdaLaunchTimeout": 80000,
    "wdaConnectionTimeout": 80000,
    "preventWDAAttachments": false,
    "clearSystemFiles": true,
    "shouldUseSingletonTestManager": false,
    "simp

[2019-05-29 15:34] saikrishna321 commented on #459
@cesar-montoya Thanks for testing. Can you please try the below version? Please full exception logs
[code]

[2019-05-29 15:41] cesar-montoya commented on #459
2019-05-29 15:39:47:845 [Appium] Welcome to Appium v1.13.0
2019-05-29 15:39:47:846 [Appium] Non-default server args:
2019-05-29 15:39:47:847 [Appium]   address: 127.0.0.1
2019-05-29 15:39:47:847 [Appium]   port: 32519
2019-05-29 15:39:47:847 [Appium]   logFile: /Users/cesarmontoya/Desktop/QA/Automationn/target/appiumlogs/appium_logs.txt
2019-05-29 15:39:47:847 [Appium]   relaxedSecurityEnabled: tr

[2019-05-29 15:42] cesar-montoya commented on #459
May 29, 2019 11:39:48 AM com.appium.manager.DeviceAllocationManager allocateDevice
INFO: Allocated Device com.appium.manager.AppiumDevice@22efb8b9 for Execution
org.json.JSONException: JSONObject["ios"] not found.
        at org.json.JSONObject.get(JSONObject.java:520)
        at org.json.JSONObject.getJSONObject(JSONObject.java:732)
        at com.appium.capabilities.DesiredCapabilityBuilder.desi

[2019-05-29 15:56] saikrishna321 commented on #459
Please refer to the sample caps.json. You're missing the "iOS" object

https://github.com/AppiumTestDistribution/AppiumTestDistribution/blob/master/caps/capabilities.json#L11-L24

[2019-05-29 16:00] cesar-montoya commented on #459
@saikrishna321 I am not :(
 "iOS": {
    "platformName": "iOS",
    "noReset": "true",
    "bundleId": "com.*.*.*",
    "autoGrantPermissions": "true",
    "autoAcceptAlerts": "true",
    "deviceName": "iPhone",
    "wdaLaunchTimeout": 80000,
    "wdaConnectionTimeout": 80000,
    "preventWDAAttachments": false,
    "clearSystemFiles": true,
    "shouldUseSingletonTestManager": false,
    "simpleI

[2019-05-29 16:28] saikrishna321 commented on #459
Can you please post your execution command and full caps.json file

[2019-05-29 17:30] #448 closed

[2019-06-01 07:37] saikrishna321 commented on #459
@cesar-montoya Fix is in master. Can you please validate

[2019-06-01 07:37] #459 closed

[2019-06-03 20:45] saikrishna321 commented on #391
@ssrikantasahoo This is implementation in master

[2019-06-03 20:45] #391 closed

[2019-06-03 20:46] saikrishna321 commented on #389
Closing as running tests in azure

[2019-06-03 20:46] #389 closed

[2019-06-04 08:14] MummanaSubramanya commented on #411
any update about this I can see PR has been merged. May be "how to use" documentation would be appreciated. Thank you :)

[2019-06-04 14:18] rameshgit96 commented on #458
/bin/sh -c appium
/bin/sh: appium: command not found
Build step 'Execute shell' marked build as failure

[2019-06-04 15:51] saikrishna321 commented on #458
/bin/sh: appium: command not found

So appium is not installed on the machine or not set to PATH

[2019-06-04 16:29] rameshgit96 opened #477 "Running Tests On Specific Devices"
How can I run tests on specific devices by specifying the UDID's?

[2019-06-04 22:11] saikrishna321 commented on #477
You can set udids in env comma separated as UDIDS="udid2,udid2"1

[2019-06-05 15:13] rameshgit96 commented on #477
This works for Android as well, correct? By specifying the IMEI number or serial number? Would this be the right order?
CONFIG_FILE="config2.properties" Platform="android" UDIDS="<IMEI/Serial#>" mvn clean -Dtest=Runner test

It builds success but doesn't run any tests. Would that be the right format?

[2019-06-05 16:25] saikrishna321 commented on #477
it's the serial number and it works for Android as well

[2019-06-05 20:25] rameshgit96 commented on #477
Ok, I entered the above command. However, it runs tests on all the devices. I tried placing UDIDS="udid" before CONFIG_FILE, after CONFIG_FILE, before mvn.

However, it doesn't work.

[2019-06-06 11:32] saikrishna321 commented on #477
@rameshgit96 Sorry, my bad it should be _udids_

`CONFIG_FILE="config2.properties" Platform="android" udids="<Serial>" mvn clean -Dtest=Runner test`

[2019-06-06 15:21] rameshgit96 opened #487 "Runtime - OutOfMemoryError"
Exception in thread "ThreadedStreamConsumer" java.lang.OutOfMemoryError: GC overhead limit exceeded
	at org.apache.maven.plugin.surefire.booterExcepticon in thread "Thread-lient.output.ForkClien2" java.lang.OutO
Exception: java.lang.OutOfMemoryError thrown from the UncaughtExceptionHandler in thread "ThreadedStreamConsumer"
fMemoryError: GC overhead limit exceeded

[2019-06-06 15:26] rameshgit96 commented on #487
I am getting the above Exception when I am running the tests on 2 devices in parallel. I have run 48 tests on both tests in parallel. Please let me know if you need more information.

[2019-06-06 15:33] rameshgit96 commented on #477
Thank you. It worked.

[2019-06-06 15:34] rameshgit96 commented on #458
When I type in "appium -v" in the machine's command line, it shows the appium version. Is there a specific path for a variable "appium"?

[2019-06-06 17:37] #477 closed

[2019-06-06 17:38] saikrishna321 commented on #487
Can u pls post full logs and what happens when this exception is hit ?

[2019-06-08 12:24] saikrishna321 commented on #411
@MummanaSubramanya Please keep your capabilties.json as below.

`
CLOUD_USER=sauceuser CLOUD_PASSWORD=saucepassword mvn clean -Dtest=Runner test
`

[code]
Add this to your pom.xml

[code]

[2019-06-09 08:03] sachinahuja90 commented on #19
Hi Vinit,

Could you please share the exact code to add Listeners in TestNG.xml programmatically.

I am using Selenium and want to create testNG.xml as run time which would include Listeners.

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
 	<suite name="Suite">
	<listeners>
		<listener class-name="TestListener"/>
	</listeners>

		<test name="Reg

[2019-06-10 16:15] rameshgit96 opened #488 "Specific Test Cases - Capability"
Suppose I have 10 tests in my test suite. Is there a capability to run only specific tests on all devices in parallel(e.g: tests 3,4,8 only)?

[2019-06-10 18:18] saikrishna321 commented on #488
Yes, you can mention the TestClass names as List in your Runner class. The below code will only execute the given tests

[code]

[2019-06-11 04:38] KumarKola commented on #453
Hi @saikrishna321, Yes its behind the proxy and I am able to run now. I needed to raise a request to get that bypassed.  Can I use a cucumber reporting format? or which reporting format other than plain testng? what are the config changes needed for that? Thanks a lot for all the support.

[2019-06-11 04:58] saikrishna321 commented on #453
Glad it works now. Sorry I didn't get ur last question

[2019-06-11 05:03] KumarKola commented on #453
@saikrishna321 for reporting purpose can I use the Cucumber report? what are the other reporting formats that ATD supports? right now I see the emailable-report.html but, I would like to use cucumber reports or any other supported reports.

[2019-06-11 05:10] #415 closed

[2019-06-12 01:56] sumitbera opened #490 "Reduce the size of logs displayed in console"
@saikrishna321  Can we reduce the size of logs being printed in the console. Sometimes it's difficult to read them in a CI environment.
It would be nice to have only info instead of debug logs.

[2019-06-12 16:14] rameshgit96 commented on #487
I have edited my issue with the most recent exception. What happens is that the test flows stop on all 6 devices. I am running 42 tests in parallel on 6 android devices. Is there a way to resolve this by increasing the heap size, etc?

[2019-06-12 17:03] saikrishna321 commented on #487
https://stackoverflow.com/questions/37335/how-to-deal-with-java-lang-outofmemoryerror-java-heap-space-error

[2019-06-17 16:10] rameshgit96 commented on #488
Ok, thank you!

[2019-06-17 17:14] #488 closed

[2019-06-17 17:25] rameshgit96 opened #493 "ADB Logs Missing"
When I run a test on 2 devices, a adb logs (.txt) file for  both devices is created. However, for one of the .txt files for a device is empty.

So, basically, only the adb logs for one out of the 2 devices exists. The other file for the other device is empty.

[2019-06-19 15:17] WasiqB opened #494 "Migrate from info.cukes to io.cucumber dependencies."
Following dependencies are moved from `info.cukes` group id to `io.cucumber` group id:
- `cucumber-java`
- `cucumber-junit`
- `cucumber-testng`

While updating these dependencies, it was observed that there was compilation errors were encountered.

[2019-06-20 14:40] WasiqB opened #495 "Solve Maven warnings"
Need to solve Maven warnings encountered.

[2019-06-21 04:51] SrinivasanTarget opened #496 "Gauge Integration with ATD"

[2019-06-21 04:53] SrinivasanTarget opened #497 "Reporting using Grafana & InfluxDB"
Ref: http://www.testautomationguru.com/selenium-webdriver-real-time-test-metrics-using-grafana-influxdb/

Share Reporting Template for ATD at the end.

[2019-06-22 16:33] #260 closed

[2019-06-24 10:07] rameshgit96 commented on #493
Can someone please look into this? Thank you.

[2019-06-24 16:59] rameshgit96 opened #499 "Running tests on Chrome and Safari"
What are the requirements to run appium tests on safari and chrome in terms of changes to capabilities.json, config.properties, etc.?

[2019-06-24 18:50] saikrishna321 commented on #499
Just set browser and capability

[2019-06-25 00:18] KumarKola opened #500 "Not able to generate cucumber reports"
Hi @saikrishna321 and @SrinivasanTarget   could you please help me in setting up the cucumber report? we need to give the plugin details in cucumber runner file but I am not able to do that. Let me know how to provide the plugin details. I see a ATD dashboard i have set it up in my local but how to post the test results into it ? Thanks in advance.

[2019-06-27 02:39] zarashima opened #501 "How to set capabilities for multiple Android devices"
How to set capabilities for multiple Android devices in `capabilities.json` file?

[2019-06-27 06:02] saikrishna321 commented on #501
You don't have to set for multiple devices. The frameworks will create multiple sessions with different UDID on run time

[2019-06-27 07:38] zarashima commented on #501
@saikrishna321 : Thanks, it's my mistake not reading the user guide carefully.

[2019-06-27 07:38] #501 closed

[2019-06-29 06:38] VinayakHM commented on #3
Try to Run eclipse from command prompt it will work.
you will run adb from command prompt.

[2019-06-29 13:00] saikrishna321 commented on #411
Support for ios and android on sauce cloud is on master.

[2019-06-29 13:00] #411 closed

[2019-06-30 04:38] zarashima commented on #493
Meet the same issue from my side

[2019-06-30 12:20] zarashima commented on #499
@saikrishna321 : Can you elaborate more about this?

[2019-06-30 12:33] saikrishna321 commented on #499
Set _browserName_ capability to chrome or safari, if it's safari real device make sure u set IWDP capability to true

[2019-06-30 18:33] rameshgit96 commented on #499
Thanks Sai. I simply took out "app" capability and inserted "browserName": "Chrome". It worked. However, I will try on Safari and confirm that it works.

[2019-07-01 08:36] zarashima opened #504 "Issue when executing on cloud devices"
So far I've made correct configurations to execute tests on Sauce based on this [guide](https://github.com/AppiumTestDistribution/AppiumTestDistribution/wiki/Configure-test-for-Cloud-Sauce), and when calling this command:

`CLOUD_USER=myuser CLOUD_KEY=mypass mvn clean -Dtest=Runner test`

The following error is generated:
[code]

Is there anything wrong from my side or from the given document?

[2019-07-01 08:53] saikrishna321 commented on #504
You need to set Platform if ur running android, iOS or both as Platform=android or Platform=iOS or Platform=both
[code]

[2019-07-01 09:16] WasiqB commented on #504
@saikrishna321 , we can make **Android** as the default platform property which will be picked if platform environment variable is not provided. What's your thoughts on this?

[2019-07-01 15:08] anandbagmar opened #505 "Getting the url of the reportportal launch from test execution"
ATD should be able to provide the link of the launch added in reportportal for the test execution

[2019-07-01 16:36] SrinivasanTarget commented on #505
Didn't get what URL are you expecting to be exposed? Can you please add more details?

[2019-07-01 22:28] saikrishna321 commented on #504
Yes, we can default android provided it's windows machine

[2019-07-02 05:08] anandbagmar commented on #505
Sorry was vague. Let me elaborate on this:
- when we run a suite of tests using ATD, the reports are generated within a "new launch" in reportportal.io
- as there could be many such suites running (from CI / local), there will be many "launch" reports in reportportal
- It would help to know under which "launch", and where, can I find my suite results.

See the below screenshot for ex:
<img width="

[2019-07-02 06:16] zarashima commented on #499
Thanks got it worked. So in case I want to change desired capabilities in run-time, is it possible to change capabilities directly from code?

[2019-07-02 06:20] zarashima opened #506 "Capability json provided is missing the above schema"
I seem to pass a correct desired capabilities in .json file to execute tests on iOS device, e.g:
[code]

When I execute my tests, the following error is displayed:
[code]

Is there anything wrong here?

[2019-07-02 07:16] saikrishna321 commented on #499
U can't update capability on runtime

[2019-07-02 07:25] saikrishna321 commented on #506
Which version of ATD ?

[2019-07-02 07:32] zarashima commented on #506
I'm using `10.0.1` version

[2019-07-02 10:01] zarashima commented on #506
So is is an issue from ATD?

[2019-07-02 11:00] zarashima commented on #505
You can combine multiple parameters from ReportPortal itself to build generated launch URL. They expose many properties and can be retrieved in a form of `System.getProperty(rp.property)` for customization, refer here:
https://github.com/reportportal/reportportal/issues/247

So applied in Java it will be:

[code]

[2019-07-02 12:21] saikrishna321 commented on #506
Can you please post full logs

[2019-07-02 12:52] zarashima commented on #506
More logs are shown below:

[code]

[2019-07-02 22:06] saikrishna321 commented on #506
This is my capabilities.json
[code]

Can you try with below

[code]

[2019-07-03 02:20] zarashima commented on #506
Hi,

It works now. I miss "device" node in "app" node, so that's why. Thanks for your help.

Regards

[2019-07-03 06:08] #506 closed

[2019-07-03 07:37] zarashima opened #507 "Extension for other cloud services"
Hi,

Is there any extension point from ATD that I can use to write my own integration with other cloud services besides Sauce and BrowserStacks such as pCloudy, Kobiton, v.v...?

Regards

[2019-07-03 07:56] saikrishna321 commented on #507
@zarashima current implementation is tested with sauce and browserstack. But the implementation should work for any cloud.

@zarashima Can you please test with pClody and Kobiton?

You need to just change the machineIP to the respective cloud URL and also the desired capability for devices in the capabilities.json

Happy to review a PR if any changes are needed

[2019-07-03 13:41] #499 closed

[2019-07-03 15:04] zarashima commented on #507
@saikrishna321 Thanks for your information. Will try and inform you soon :)

[2019-07-03 20:29] saikrishna321 commented on #371
Closing as it been merged to master

[2019-07-03 20:29] #371 closed

[2019-07-03 20:29] saikrishna321 commented on #426
Fixed in master

[2019-07-03 20:29] #426 closed

[2019-07-03 21:45] #210 closed

[2019-07-03 21:49] #378 closed

[2019-07-03 22:03] #297 closed

[2019-07-04 08:30] #245 closed

[2019-07-04 09:10] saikrishna321 commented on #350
Done

[2019-07-04 09:10] #350 closed

[2019-07-04 09:10] #299 closed

[2019-07-04 09:24] saikrishna321 commented on #95
No more valid with latest appium

[2019-07-04 12:23] #377 closed

[2019-07-04 12:24] saikrishna321 commented on #134
We deprecated ExtentReports. Pls use Reportportal

[2019-07-04 12:24] #134 closed

[2019-07-04 13:29] rameshgit96 opened #508 "Issue After Changing to Java-Client-7.0.0"
When I change to Java - Client - 7.0.0,
I get an exception after running the test from command line: java.lang.NoSuchFieldError: RELAXED_SECURITY

[2019-07-04 14:26] zarashima opened #509 "How to configure for execution of a specific test method?"
Hi,

Based on this [guide](https://github.com/AppiumTestDistribution/AppiumTestDistribution/wiki/Configure-tests-for-TestNG), so in case I want to execute only a specific test method in a test package, then how can I define it?

Thanks

[2019-07-04 16:12] saikrishna321 commented on #509
Currently ATD does not support this. Can add it as feature request

[2019-07-04 19:28] saikrishna321 commented on #508
@rameshgit96 Looks like u still the old dependencies in your project space. Please clear cache and restart IDE and make sure you have the latest java-client

[2019-07-04 19:28] #508 closed

[2019-07-04 19:29] saikrishna321 commented on #504
closing as the original issue is resolved

[2019-07-04 19:29] #504 closed

[2019-07-04 21:31] #493 closed

[2019-07-04 21:34] saikrishna321 commented on #493
Please try with latest master commit.

_app_ contract has been changed for android object.

https://github.com/AppiumTestDistribution/AppiumTestDistribution/blob/master/caps/capabilities.json#L8-L9

[code]

[2019-07-05 04:48] zarashima commented on #509
@saikrishna321 : Thanks for your information. Another question sound unrelated to this but how can I specify test execution order as well? Example I have the following code:
[code]

Upon execution, the tests in "NormalTest" package is always executed first due to its package's name ordering from the list of added tests I believe so. How can I let "MySetupTest" always start first from ATD?

Regards

[2019-07-05 06:12] saikrishna321 commented on #509
I'm afraid you can't do that!! Looking at your file name as setup Test are you running some test data setup ?

[2019-07-05 07:30] zarashima commented on #509
Just an example. I can name it to be a different one, but then there will be cases the test's name is not meaningful.

[2019-07-05 08:55] anandbagmar commented on #505
Thanks @zarashima - that worked - well almost - I had to make slight tweaks - as in my case the rp.endpoint and rp.project did not come up as system properties. But other than that, this worked great.

[2019-07-05 11:50] saikrishna321 commented on #509
To run specific methods I would recommend tag the methods with groups and execute INCLUDE_GROUPS="test1,test2" mvn clean -Dtest=Runner test

[2019-07-05 15:22] saikrishna321 commented on #505
PR merged to master. https://github.com/AppiumTestDistribution/AppiumTestDistribution/pull/511

[2019-07-05 15:22] #505 closed

[2019-07-05 15:47] zarashima commented on #509
Thanks . Made a slight tweak to call our customized mvn commands from my project to adapt with this for now. Hoping for this enhancement soon :)

[2019-07-05 18:48] saikrishna321 commented on #456
Fix in master

[2019-07-05 18:48] #456 closed

[2019-07-05 18:49] saikrishna321 commented on #439
ExtentReport is removed. Pls use report portal

[2019-07-05 18:49] #439 closed

[2019-07-07 02:58] zarashima commented on #507
Additional question: Can I pass some special desired capabilities supported by cloud services to config.properties file?

[2019-07-07 07:50] saikrishna321 commented on #507
Yes you can!!1

[2019-07-08 03:37] zarashima opened #513 "org.json.JSONException: JSONObject["ios"] not found."
- ATD version: 8f1e2e1156 from this PR: https://github.com/AppiumTestDistribution/AppiumTestDistribution/issues/493
- Capabilities:
[code]

Upon executing this ATD version for iOS, I observe the following error:
[code]
However when I revert ATD version to be 10.0.1, then iOS devices execution work fine. So is there something wrong with my capabilities on iOS device? Or is it an issue from that spe

[2019-07-08 08:07] saikrishna321 commented on #513
@zarashima Looks like something is broken at the DeviceManager from iOS side. Can you please confirm which version of xcode and deviceOS version?

As workaround can you change "iOS" to "ios" in your capability.json

[code]

[2019-07-08 08:53] zarashima commented on #513
Here is my version:
- Xcode: 10.2.1
- iOS: 12.4

I've changed from 'iOS' to 'ios', observe the similar issue:

[code]

[2019-07-10 02:38] zarashima commented on #513
Any other info? :)

[2019-07-10 04:24] saikrishna321 commented on #513
Working on it today!! Will keep the ticket updated

[2019-07-10 13:17] yair22 opened #516 "Unable to map elements from IDE"
I'm using the page object pattern to test my app.
Everything was working fine until I updated Appium to a version above 1.9.
Ever since the driver.getPageSource() returns a "Not implemented" exception and i'm unable to access any of the elements in the app - The elements are accessible via the inspector.

[2019-07-10 13:20] rameshgit96 opened #517 "Integration with SeeTest"
Can the ATD framework be integrated with See-Test?

[2019-07-10 21:00] #226 closed

[2019-07-10 21:00] #234 closed

[2019-07-10 21:00] #246 closed

[2019-07-10 21:00] #276 closed

[2019-07-10 21:00] #251 closed

[2019-07-10 21:00] #283 closed

[2019-07-10 21:00] #296 closed

[2019-07-10 21:00] #298 closed

[2019-07-10 21:00] #333 closed

[2019-07-10 21:00] #330 closed

[2019-07-10 21:00] #347 closed

[2019-07-10 21:00] #349 closed

[2019-07-10 21:00] #351 closed

[2019-07-10 21:00] #354 closed

[2019-07-10 21:00] #258 closed

[2019-07-10 21:00] #376 closed

[2019-07-10 21:00] #399 closed

[2019-07-10 21:00] #414 closed

[2019-07-10 21:00] #346 closed

[2019-07-10 21:00] #334 closed

[2019-07-10 21:00] #374 closed

[2019-07-10 21:00] #440 closed

[2019-07-10 22:00] #106 closed

[2019-07-10 22:00] #177 closed

[2019-07-10 22:00] #181 closed

[2019-07-10 22:00] #185 closed

[2019-07-10 22:00] #188 closed

[2019-07-10 22:00] #194 closed

[2019-07-10 22:00] #150 closed

[2019-07-10 22:00] #200 closed

[2019-07-10 22:00] #220 closed

[2019-07-11 04:36] saikrishna321 commented on #516
How is this issue with ATD framework ?

[2019-07-11 04:37] #412 closed

[2019-07-11 04:41] saikrishna321 commented on #513
@zarashima I'm unable to reproduce this. Can you please join the slack group

https://join.slack.com/t/appiumtestparallel/shared_invite/enQtMjIxMjIwMzMyMTAyLTI2NzAyM2E5ZjJkZmJkYzg2MzQxZjBkZjkzYTliOWEzNmQyYWY2MGEyMGY2MGY4MDI2YjU5ZDBmZjRlNGJmZTU

[2019-07-11 04:42] saikrishna321 commented on #201
Closing - As extent report no longer exists in the repo

[2019-07-11 04:42] #201 closed

[2019-07-11 11:12] zarashima commented on #513
Will do later, but first are you using this ATD version: 8f1e2e1? And can you post for me your current working desired capabilities?

[2019-07-11 15:06] saikrishna321 commented on #513
https://github.com/AppiumTestDistribution/AppiumTestDistribution/blob/master/caps/capabilities.json

This issue seems like a real device problem and I don't hold one to debug.

[2019-07-11 15:07] saikrishna321 commented on #516
Closing as not ATD issue

[2019-07-11 15:07] #516 closed

[2019-07-12 02:03] zarashima commented on #513
OK wait let me try once again from my side first

[2019-07-12 18:43] saikrishna321 commented on #513
@zarashima Can you try with the below version

[code]

[2019-07-12 22:12] #500 closed

[2019-07-13 02:37] zarashima commented on #513
@saikrishna321 : Sure let me try it

[2019-07-15 02:43] zarashima commented on #513
I've confirmed it's working for iOS. Let me try again to see if adb log files are generated correctly for more than one device.

[2019-07-15 04:25] saikrishna321 commented on #513
Thanks for confirming. Closing as fixed. Please raise another issue is adb log issue exists

[2019-07-15 04:25] #513 closed

[2019-07-17 20:21] #453 closed

[2019-07-19 16:25] KumarKola opened #522 "Not able to generate Cucumber overview html report in project directory"
Hi @saikrishna321  I am able generate cucumber.json files and cucumber html files individually but i am not able to get the overview report.html.

![image](https://user-images.githubusercontent.com/45509929/61550373-44b68b00-aa20-11e9-8cb4-f595643343fb.png)

This the POM.XML

<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

[2019-07-20 06:45] saikrishna321 commented on #522
https://github.com/damianszczepanik/cucumber-reporting#usage

You can write a simple merge code in your Runner.java class after the execution

[2019-07-22 14:35] KumarKola commented on #522
Hi @saikrishna321  thanks for the help, able to do that now Closing this issue.

[2019-07-22 14:35] #522 closed

[2019-08-08 10:27] eridaputra commented on #258
Any update on this? currently I'm on a project using gradle and need to run parallel too 🙇

[2019-08-08 10:39] eridaputra opened #526 "Can we run ATD using gradle?"
Hi, I really interested on this ATD. But currently I'm on a project using gradle instead of maven. Can I use this on my project? If yes, then how do we do that?

Thanks!

[2019-08-12 17:11] #458 closed

[2019-08-14 15:13] rameshgit96 commented on #493
Sorry for the late reply. I'll try this and get back to you

[2019-08-15 13:15] rameshgit96 opened #531 "Running tests over WiFi"
Using this framework, is it possible to run tests in parallel (both Android and iOS) over WiFi without having to connect via USB?

[2019-08-15 15:31] shibupanda opened #532 "Integration with pCloudy.com"
Assigned my self as I will refactor our(Pcloudy design) to support ATD.
@saikrishna321 could you please mark this as an enhancement. Thanks

[2019-08-15 15:45] saikrishna321 commented on #531
@rameshgit96 if "adb" and "idevice" can pick the devices, Yes

[2019-08-15 15:45] saikrishna321 commented on #532
Thanks for supporting @shibupanda

[2019-08-16 09:28] saran1992 opened #533 "Getting null pointer in Before methods"
This is my test class. Am I missing anything?

public class LoginTests{

	LoginPage login;

	@BeforeClass
	public void dataSetup() throws IOException, InterruptedException {
		login = new LoginPage(AppiumDriverManager.getDriver());
		login.login("Login URL");
	}

	@Test(groups = "Parallel")
	public void loginWithValidUser() throws InterruptedException, IOException {
		login = new LoginPage(AppiumD

[2019-08-17 17:40] saikrishna321 commented on #533
You can't use @BeforeClass in your test as ATD implements ITestListners you need to create your Listener and add it from config.properties

[2019-08-18 09:06] saran1992 commented on #533
Thanks for the quick response @saikrishna321
If possible, can you please post any example in this thread where driver is invoked in before method using ATD?

[2019-08-18 09:21] yair22 opened #534 "ExtentReport.html not created"
Running TestNg tests and the target folder is filled but no report is generated.
Is testNG only supposed to run with the reportPortal?

[2019-08-18 17:56] #487 closed

[2019-08-18 18:19] saikrishna321 commented on #533
@saran1992 I found something needs to be changed to get this working.

Marking this as a bug

[2019-08-18 18:20] saikrishna321 commented on #534
@yair22 Yes, we currently only support report portal. Do you any downside of using RP and prefer extent-reports?

[2019-08-19 08:15] yair22 commented on #534
@saikrishna321 Yes, we are already implementing an older version of the ATD using extent report for Android combining it with other resources in our environment. We would have liked to use the current ATD under the same environment for iOS producing the same sort of reports. Considering that RP also requires a docker env on top on what we already have, the integration to our existing environment w

[2019-08-20 04:33] saikrishna321 commented on #534
@yair22 Can you please show the extent report sample which you are using with ATD version?

@SrinivasanTarget

[2019-08-20 09:08] yair22 commented on #534
We are using ATD version 7.03 and extent reports version 3.1.2.
Not sure what you mean by report sample, do you mean a screen shot of one of our reports?

[2019-08-20 18:44] saikrishna321 commented on #534
Yes

[2019-08-21 09:10] yair22 commented on #534
![Screen Shot 2019-08-21 at 12 08 06 (2)](https://user-images.githubusercontent.com/52748208/63418939-93cf5180-c40c-11e9-9b08-22d77252bd6e.png)

[2019-08-21 09:10] yair22 commented on #534
![Screen Shot 2019-08-21 at 12 08 41](https://user-images.githubusercontent.com/52748208/63419003-b1042000-c40c-11e9-851f-a12e54326b1c.png)

[2019-08-21 09:16] yair22 commented on #534
![Screen Shot 2019-08-21 at 12 15 21](https://user-images.githubusercontent.com/52748208/63419468-8b2b4b00-c40d-11e9-8d8a-4ca025d3821b.png)

[2019-08-26 10:38] rameshgit96 commented on #531
Thank you

[2019-08-26 10:39] rameshgit96 commented on #493
Yes, this worked with <version>c5c657c32f</version>
successfully.

[2019-08-26 12:51] rameshgit96 opened #539 "Uninstall an App"
I understand that by providing the path to the .apk/.ipa file in the **capabilities.json** file, the framework will automatically install the app. But how would I go about uninstalling the app, because **driver.removeApp(<packageName>)**
does not remove the app successfully in my scripts.

Does the framework push the file first and then install, or, does it only install?

[2019-08-26 13:35] rameshgit96 commented on #539
Issue resolved - it worked. I accidentally included the appActivity name instead of the appPackage name.

I also used this code snippet which might come in handy for those looking to uninstall their app:
if(driver.isAppInstalled(<packageName>))
driver.removeApp(<packageName>);

[2019-08-26 14:02] #539 closed

[2019-08-26 14:02] #531 closed

[2019-08-26 14:04] saikrishna321 commented on #272
Fixed in master

[2019-08-26 14:04] #272 closed

[2019-08-26 14:09] saikrishna321 opened #540 "Queue Listeners"
If users want to add their listeners which hold reports and global setup we need to tell TestNG to load ATD listeners first and follow the user given Listeners.

https://rationaleemotions.com/listener_order/

[2019-08-26 14:10] saikrishna321 commented on #533
@saran1992 Fix is master

Currently, we only support using @BeforeMethod and @AfterMethod for setting test status and any setup that needs to be setUp globally will get into Listeners which be part of #540

https://github.com/AppiumTestDistribution/PageObjectPatternAppium/blob/13c01f46ab584f0a5266932623e4e6098e5cddd0/src/test/java/com/appium/tests/LoginTest.java#L20-L24

[2019-08-26 15:47] #495 closed

[2019-08-27 12:06] saran1992 commented on #533
Hi @saikrishna321 ,

The fix works fine when we run a single class from Runner.java
However, when there are multiple classes added, we get the following exception:

org.openqa.selenium.NoSuchSessionException: Session ID is null. Using WebDriver after calling quit()

org.openqa.selenium.NoSuchSessionException: Session ID is null. Using WebDriver after calling quit()?

Driver info: driver.version: A

[2019-08-28 04:49] anandbagmar commented on #392
Hi @saikrishna321 , @SrinivasanTarget - here are some thoughts on the expectations of this functionality:

From a user perspective, I think the following will help:

- Each test specifies how many drivers it needs, and max time it can wait for them to be available
-- If those many drivers are not available, within the specified time, then fail the test
- If available, return a list of drivers, wit

[2019-08-28 18:42] ramgiteng opened #541 "IOS Device Logs"
Is it possible to get iOS device logs during test execution similar to "adblogs" that get generated for Android?

Is there a folder that stores logs for each iOS device in that manner?

[2019-08-28 20:53] saikrishna321 commented on #541
We have not implemented this feature. I don't have an iOS device to test and implement. Happy to review PR

[2019-08-29 08:39] saikrishna321 commented on #533
What's happening in this ??

[2019-08-29 08:59] saran1992 commented on #533
public LoginPage(AppiumDriver<MobileElement> driver) {
		PageFactory.initElements(new AppiumFieldDecorator(driver), loginPageObjects);
	}

[2019-08-29 14:51] pr4bh4sh commented on #541
@rameshgit96  would https://appiumpro.com/editions/55 help

[2019-08-29 16:01] rameshgit96 commented on #541
Thank you Sai.

Thank you Prabhash. I will tar a look at this and get back to you.

[2019-08-30 18:09] siva90144 opened #543 "failed to execute goal due to com.pagepattern.appium:PagePatternAppium:jar:0.0.1-SNAPSHOT"
Just cloned this project: https://github.com/AppiumTestDistribution/PageObjectPatternAppium

and executed below goal.
mvn goal: clean test -Dtest=RunnerCukes test -DPlatform=android

The POM for com.github.AppiumTestDistribution:DeviceManager:jar:17b2681e6a is missing, no dependency information available
[WARNING] The POM for com.github.everit-org.json-schema:org.everit.json.schema:jar:1.11.1 is m

[2019-09-01 18:30] saikrishna321 commented on #533
@saran1992 I'm unable to reproduce.

[2019-09-01 18:31] saikrishna321 commented on #543
Looks like you have issues downloading dependency

[2019-09-01 23:15] siva90144 commented on #543
I tried on different machines .... but getting the same error.

[2019-09-08 23:43] #358 closed

[2019-10-03 07:52] bhimudev opened #555 "Terminal hanging if the tests run for more than an hour"
Hello,

I have close to 60-70 tests in the project each test takes 4-5 mins to run, total time taken by the test to run completely is around 2.5-3 hrs.

The tests are running fine when they are executed form the run configuration, but the test were executed form terminal using Platform=android mvn clean -Dtest=Runner test, the terminal hanging after the test were executed for around 50-60 min.

Te

[2019-10-06 12:27] saikrishna321 commented on #555
@bhimudev Maybe something to do with your machine cpu usage.

[2019-10-07 14:21] zarashima commented on #541
Another quick way I can think of is executing `idevicesyslog` command from [libimobiledevice](https://github.com/libimobiledevice/libimobiledevice). This command retrieves logs from iOS devices which is similar to `adb logcat`. So we can store its output to a file. Can try and do PR later

[2019-10-09 17:16] sri102info opened #559 "No Device Connected, couldn't fetch the devices connected and appium server is not starting"
I'm trying to configure the AppiumTestDistribution in my framework to support for Appium Server Management.

My Pom.xml:
`<properties>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
		<maven.compiler.source>1.6</maven.compiler.source>
		<maven.compiler.target>1.6</maven.compiler.target>
	</properties>
<dependencies>
		<dependency>
			<groupId>com.App</groupId>
			<artifactId>

[2019-10-10 09:56] saikrishna321 commented on #559
@sri102info I'm unable to reproduce this.

[2019-10-10 09:57] saikrishna321 commented on #559
Can you try with this repo - https://github.com/AppiumTestDistribution/PageObjectPatternAppium

[2019-10-14 11:41] #526 closed

[2019-10-15 07:18] saran1992 opened #560 "Getting NullPointerException after OS update (Mojave 10.14.6)"
On updating my MAC OS(10.14.6), existing code stopped working. Please find the error log,

java.lang.NullPointerException
	at com.appium.manager.AppiumParallelMethodTestListener.isCloudExecution(AppiumParallelMethodTestListener.java:86)
	at com.appium.manager.AppiumParallelMethodTestListener.onTestSkipped(AppiumParallelMethodTestListener.java:214)
	at org.testng.internal.Invoker.runTestListeners(I

[2019-10-15 09:12] ullasgm commented on #560
Facing the same issue in macOS Catalina 10.15.
ATD Version 11.0.1

We are able to run android tests in older version of ATD(11.0.0) in the same OS. However, iOS is failing on both the versions.

[2019-10-16 20:09] saikrishna321 commented on #560
@saran1992  Are you using Before Annotations?

@ullasgm What is the issue that your facing?

[2019-10-17 11:51] ullasgm commented on #560
@saikrishna321 I was using Before Annotations so I was getting that error, I removed that I tried and it's working fine.

But with Before Annotations I am getting Null pointer exception.

But i wanted to use Before Annotations.

[2019-10-17 11:55] saran1992 commented on #560
@saikrishna321  Yes
There seems to be an issue when I use @BeforeMethod in my tests

[2019-10-23 06:50] narmadha956 opened #563 "ATD 11.0.1 not supporting chrome 77"
ATD version : 11.0.1
Appium : 1.15.1

Even on manually updating chromedriver to 77, ATD 11.0.1 is using chromedriver 75.
Also, on using ATD 11.0.0, chromedriver 77 is used but "Cannot call non W3C standard command while in W3C mode" error is thrown even though in logs I can see w3c is set to false.

Could you please provide a solution, I'm unable to execute on chrome 75 and above.

Attaching 11.0.

[2019-10-23 13:10] Zarmeena opened #564 "Unable to generate Parallel**IT.java class automatically for executing Cucumber tests"
We are trying to invoke Cucumber feature files using: mvn clean -Dtest=RunnerCukes test -DPlatform=android, but the 'output' package is not getting refreshed. Initially it was working fine.

Version of AppiumTestDistribution jar used: 9.1.0

[2019-10-23 20:10] saikrishna321 commented on #564
@Zarmeena Thanks for reporting. Cucumber runner is currently broken and there is an open issue for this. I'm happy to review a PR

[2019-10-23 20:29] saikrishna321 commented on #563
https://github.com/appium/java-client/issues/1242

[2019-10-24 10:08] vannt1991 commented on #543
i have the same issue when run sample **PagePatternAppium** project in Windown 10, any one have solution to work through with this issue? please help us. Thanks!

[2019-10-24 11:37] saikrishna321 commented on #543
Platform=android  should be set as env

[2019-10-24 16:38] vannt1991 commented on #543
Thanks for reply, after research i just fixed issue, but now i have another problem when i tries to run PagePatternAppium project in Windown 10 with Appium v1.15.1, here is error log afer run comman in terminal in Intelliji. You can see full logs [**here**](https://notepad.vn/dpvybuo86)

`java.lang.NullPointerException
        at com.appium.manager.TestLogger.isNativeAndroid(TestLogger.java:160)

[2019-10-25 08:47] vannt1991 commented on #543
@saikrishna321 here is my sample project, i'm working on Windown 10 with Appium v1.15.1, please help me review and give me a advice, thanks so much for your effort.

[2019-10-26 11:38] narmadha956 commented on #563
I have tried both the solutions, using java client master-SNAPSHOT in pom and also setting w3c to false, I send "w3c" : "false" in web capabilities.json. Both didn't work, got same error with ATD 11.0.0 - "Cannot call non W3C standard command while in W3C mode"

And with 11.0.1, got the same error "[WD Proxy] Got an unexpected response with status 500: {"value":{"error":"session not created","mess

[2019-10-27 11:04] saikrishna321 commented on #534
Expected: Create a ATD-Extent plugin to support this. As we currently support queueing of Listeners

[2019-10-27 17:01] saikrishna321 commented on #563
@narmadha956 This is not ATD issue. Can you share your pom.xml

[2019-10-27 17:01] #563 closed

[2019-10-31 04:35] narmadha956 commented on #563
@saikrishna321  Thanks. If anything is missing in pom please let me know.

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://maven.apache.org/POM/4.0.0"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <groupId>***********

[2019-10-31 05:24] saikrishna321 commented on #563
Change to this

[code]

[2019-10-31 05:41] narmadha956 commented on #563
I've tried this already. Doesn't work, getting same exception.

org.openqa.selenium.UnsupportedCommandException: unknown command: Cannot call non W3C standard command while in W3C mode

[2019-10-31 06:08] saikrishna321 commented on #563
Check ur dependencies and also look at capabilities as in the java-client issue

[2019-10-31 06:46] narmadha956 commented on #563
Could you pls help on how to set chrome options in capabilities.json file. Directly setting "W3C":false, doesn't work.

Need to set this :
(ChromeOptions chromeOptions = new ChromeOptions();
chromeOptions.setExperimentalOption("w3c", false);
capabilities.merge(chromeOptions);

Capabilities.json file :
{
  "android": {
    "platformName": "android",
    "platformVersion": "8.0",
    "browserName":

[2019-10-31 22:13] saikrishna321 commented on #560
@ullasgm Whats ur use case of BeforeMethod ? The reason is current master supports custom listeners config where implement IMethodListener

[2019-11-01 11:21] vigneshfreshworks opened #568 "Not able to execute Tests on saucelabs cloud devices"
I have tried the exact capabilities mentioned here :

https://github.com/AppiumTestDistribution/AppiumTestDistribution/wiki/Configure-test-for-Cloud-Sauce

Note : I managed to run tests on saucelabs without ATD, capabilities i used ,

caps.setCapability("appiumVersion", "1.15.0");
		caps.setCapability("testobject_api_key","XXX");
		caps.setCapability("platformVersion","8");
		caps.setCapability("b

[2019-11-03 10:04] saikrishna321 commented on #568
@vigneshfreshworks Can you pls post the entire log as gist

[2019-11-04 06:25] vigneshfreshworks commented on #568
-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.appium.tests.Runner
Configuring TestNG with: TestNG652Configurator
Nov 01, 2019 4:27:30 PM com.appium.schema.CapabilitySchemaValidator validateRemoteHosts
INFO: ATD is Running on ondemand.eu-central-1.saucelabs.com
      _   _         _            _   _

[2019-11-04 06:46] vigneshfreshworks commented on #568
https://gist.github.com/vigneshfreshworks/74caf9106efaa91aa8a6b3c537c271e3

@saikrishna321  please find the logs

[2019-11-04 14:54] Zarmeena commented on #564
Hi Sai, Could you try fixing this issue?

[2019-11-04 16:38] saikrishna321 commented on #568
@vigneshfreshworks Looks like ur keys are not authorized to cloud

[code]

[2019-11-07 16:07] phoebusliang opened #570 "Can't run test as parallel"
Preparation:
1. Update the capabilities.json and update the hostMachines as:
  "hostMachines": [
    {
      "machineIP": "127.0.0.1",
      "appiumServerPath": "/usr/local/lib/node_modules/appium/build/lib/main.js",
      "simulators": [
        {
          "deviceName": "iPhone 11 Pro Max",
          "OS": "13.1"
        },
        {
          "deviceName": "iPhone 11 Pro",
          "OS": "13.1

[2019-11-07 19:44] rameshgit96 commented on #563
@narmadha956, I am experiencing the exact same issue, "Cannot call non W3C standard command while in W3C mode". I am not sure how to add the chromeoptions key in the capabilities.json file, although many sources online suggest that we script in code.

[2019-11-07 19:59] rameshgit96 commented on #563
Hey @narmadha956, can you add this to your json file?

"chromeOptions":{"w3c":false}

[2019-11-11 20:39] saikrishna321 commented on #570
Can you post the logs?

[2019-11-12 14:58] phoebusliang commented on #570
[debug] [iOS] Deleting '/pathto/Logs'. Freeing 3.1M.
[debug] [iOS] Finished clearing log files
[debug] [IOSSimulatorLog] Stopping iOS log capture
[debug] [BaseDriver] Event 'quitSessionFinished' logged at 1573570362201 (22:52:42 GMT+0800 (China Standard Time))
[debug] [W3C (407cedf8)] Received response: null
[debug] [W3C (407cedf8)] But deleting session, so not returning
[debug] [W3C (407cedf8)] R

[2019-11-12 15:00] phoebusliang commented on #570
The logfile will be removed after finish running. It seems all tests passed but not running as parallel.

[2019-11-13 11:58] rameshgit96 opened #571 "Execute Mobile Command on Native Apps Real Device"
Hi,

I am trying to run mobile execute commands: driver.execute(mobile:startLogsBroadcast); and driver.execute(mobile:stopLogsBroadcast); as seen in

http://appium.io/docs/en/commands/mobile-command/
https://appiumpro.com/editions/55

However, I do not notice any corresponding logs in the Appium logs when I run ATD from the command line. I do get appium logs in the command line but nothing related

[2019-11-13 20:07] rameshgit96 opened #572 "Latest Appium Driver - Java Client 7.3.0"
Hi, I updated Java-Client from 7.0.0 to 7.3.0 in order to use Appium driver to invoke "getEvents" method from the new Events API introduced by the Appium team.

As follows,
driver.getEvents()

With the current Appium Driver in ATD, this method cannot invoke this method.

Is there a way to ensure that the ATD framework utilises the updated Appium driver (java-client 7.3.0)?

Thanks.

[2019-11-13 20:26] rameshgit96 commented on #572
Also, when I try to run ATD from command line, I am getting an error "java.lang.NoSuchFieldError: RELAXED_SECURITY"

The above happened after upgrading to Java Client - 7.3.0

[2019-11-18 11:59] vigneshfreshworks commented on #568
Hi @saikrishna321  I have added the API keys using capability "test_object_api_key", still getting the same error.

do u have different solution for this   ?

[2019-11-18 19:31] pavanbachu06 opened #573 "Parallel Execution on Android and IOS"
Is it possible to execute a single test case in parallel on both iOS and Android connected devices? If so, I currently have a framework which is written on JUnit, what all do I need to modify so as to implement a parallel runner?

[2019-11-18 21:33] saikrishna321 commented on #573
@pavanbachu06 Yes, you can! ATD uses TestNg and not JUnit

[2019-11-19 14:32] saikrishna321 commented on #568
let me try creating a free account and give it a try. Will keep you posted

@WasiqB

[2019-11-26 20:45] pavanbachu06 commented on #573
Do I need to move my testing framework to testNG in order to use ATD?

[2019-11-27 15:55] rameshgit96 opened #574 "Simultaneous App Launch - Real Devices"
Suppose I'm running my tests on 10 devices.

I notice that the app takes a certain amount of time to launch on one device compared to another. Is it possible for the framework to launch the app at the same time on all devices?

[2019-11-29 08:07] hongbiangoal commented on #560
same~~