[2019-11-29 08:19] hongbiangoal opened #575 "demo's errored is 'no device connected'"
Mac 10.14.6， atd11.0.1，
when set Platform = android,  error occur
when set Platform = both,  nullpointexception

[2019-11-30 19:38] saikrishna321 commented on #575
Please provide more info with logs.

[2019-11-30 19:40] saikrishna321 commented on #574
@rameshgit96 ATD just sends the command to appium to create the driver instance. There can be multiple reasons for the difference in the launch of app btw devices like device slowness, adb

[2019-11-30 19:40] saikrishna321 commented on #573
@pavanbachu06  Yes!!

[2019-11-30 19:42] saikrishna321 commented on #570
Appium logs are should be stored in your target folder and complete logs should be printed after the run.

[2019-12-01 23:30] rameshgit96 commented on #574
I see. But when ATD sends the command to appium, is this a parallel or sequential process? I mean, suppose there are 5 devices.
Does the framework send 5 commands to Appium for creating 5 driver instances for the 5 devices simultaneously, or, does this process happen one after the other? Thanks.

[2019-12-02 05:50] hongbiangoal commented on #575
Platform = both:
LocalAppiumManagerAppium Server Started at......http://127.0.0.1:44167/wd/hub
java.lang.IllegalArgumentException: ItemID should not be null
	at rp.com.google.common.base.Preconditions.checkArgument(Preconditions.java:122)
	at com.epam.reportportal.service.LaunchImpl.finishTestItem(LaunchImpl.java:247)
	at com.epam.reportportal.testng.TestNGService.finishTestMethod(TestNGService.ja

[2019-12-02 05:51] hongbiangoal commented on #575
Platform = android:
ATD is Running on 127.0.0.1
      _   _         _            _   _               _
   __| | (_)  ___  | |_   _ __  (_) | |__    _   _  | |_    ___
  / _` | | | / __| | __| | '__| | | | '_ \  | | | | | __|  / _ \
 | (_| | | | \__ \ | |_  | |    | | | |_) | | |_| | | |_  |  __/
  \__,_| |_| |___/  \__| |_|    |_| |_.__/   \__,_|  \__|  \___|

  _   _             ____

[2019-12-02 07:00] saikrishna321 commented on #574
At the stage of creating the driver instance, its already in parallel thread process.

[2019-12-02 07:01] saikrishna321 commented on #575
@hongbiangoal Are you using `@BeforeMethod` in your tests?

[2019-12-06 09:20] hongbiangoal opened #579 "What's the max Appium's Verssion is supported?"
What's the max Appium's Verssion is supported?
1.15.1 or 1.16 is error

[2019-12-06 09:21] hongbiangoal commented on #575
it seems appium not right

[2019-12-06 09:21] #575 closed

[2019-12-10 05:59] #579 closed

[2019-12-10 06:01] hongbiangoal commented on #579
1.15.1 ：on real ios phone is ok~，  but simulator is error  too

[2019-12-12 14:43] #555 closed

[2019-12-16 11:07] #559 closed

[2019-12-17 14:44] rameshgit96 opened #587 "Runner Parameters"
CONFIG_FILE="config.properties" udids=<udid> INCLUDE_GROUPS=<testcasename> Platform=<OSname> mvn clean -Dtest=Runner test

Is there a way we can modify the runner command by adding more parameters like number of iterations, etc.?

[2019-12-23 05:35] narmadha956 commented on #563
Hey @rameshgit96 ,

Sorry seems like I forgot to reply. This worked, thanks a lot !

[2019-12-23 14:54] rameshgit96 commented on #563
You're welcome

[2019-12-31 09:52] #543 closed

[2020-01-02 11:38] #534 closed

[2020-01-10 16:55] #564 closed

[2020-01-19 13:17] #571 closed

[2020-01-19 21:17] #572 closed

[2020-01-25 15:34] #568 closed

[2020-02-05 01:27] Anum-Zargar commented on #109
I am getting the same error.Can anyone help me please.Its urgent :-
The ANDROID_HOME environment variable is not set to the Android SDK root directory path. ANDROID_HOME is required for compatibility with SDK 23+. Checking along PATH for adb.

[2020-02-05 21:02] #573 closed

[2020-02-05 21:02] #570 closed

[2020-02-07 08:02] #574 closed

[2020-02-22 15:39] #587 closed

[2020-02-27 22:49] omoomoniyi commented on #109
I am also experiencing same Issues, I have set ANDROID_HOME to its path but I keep hitting this error message

"An unknown server-side error occurred while processing the command. Original error: Could not find 'adb.exe' in PATH. Please set the ANDROID_HOME or ANDROID_SDK_ROOT environment variables to the corect Android SDK root directory path."

[2020-03-12 17:40] suaadBatis commented on #109
still, this issue displayed with appium 1.16.0

[2020-03-13 07:44] divyaramachandran-thermo opened #653 "Unable to download"
Is there anything else i have to add dependency apart from what you have mentioned in your GIT repo

<dependency>
    <groupId>com.github.AppiumTestDistribution</groupId>
    <artifactId>AppiumTestDistribution</artifactId>
    <version>latest_commit</version>
</dependency>

[INFO] Scanning for projects...
[INFO]
[INFO] --------------< com.pagepattern.appium:PagePatternAppium >--------------
[INFO]

[2020-03-23 22:10] Jitu1888 opened #655 "Appium is getting stuck after getting "Exception occurred while trying to close the client""
Please find the logs below:
[debug] [AndroidDriver] The overall screen recording duration is 182s so far
[debug] [AndroidDriver] Starting the next 180s-chunk of screen recording in order to achieve 1800s total duration
[debug] [ADB] Building screenrecord process with the command line: adb -P 5037 -s HNB3KA2L shell screenrecord --time-limit 180 /sdcard/1583996093333.mp4
[debug] [ADB] Running ‘/User

[2020-04-01 19:35] chuklov opened #657 "iOS 13.X "No Device connected" when running Appium from Itellij IDEA."
I'm having an issue with running automation scripts over Appium server and Intellij IDEA. I have no issue with running these tests on iOS 12.X and 11.X, however, on 13.x it says "No Device Connected"

Starting Appium desktop and Start Inspection session find the device and working fine. Also all webdrivers from xcode also installed and no issues. The only issue is to find a device from Intellij ID

[2020-04-06 18:01] KumarKola opened #661 "Not able to run cucumber scenarios in Host Machines"
Hi,

@saikrishna321 @SrinivasanTarget
I am trying to run the test cases remotely using ATD Remote and when i change the Host machine IP in Caps.json file getting the below error. It was working fine with 10.0.1 ATD version but with 11.0.0 its not.

Apr 06, 2020 1:53:36 PM com.appium.schema.CapabilitySchemaValidator validateRemoteHosts
INFO: ATD is Running on 204.61.68.244
Apr 06, 2020 1:53:41 PM c

[2020-04-08 15:27] saikrishna321 commented on #657
Make sure Intellij IDEA has access to the PATH and ANDROID_HOME.

[2020-04-08 16:02] chuklov commented on #657
@saikrishna321 It has, otherwise it won't work at all, however, it's not a case. All the tests and versions are working fine, but 13.X  is not working at all.

[2020-04-12 06:49] chuklov commented on #657
If I'm doing everything by this article https://medium.com/2359media/tutorial-automated-testing-on-ios-with-appium-test-ng-and-java-on-mac-bc115d0ec881  I can connect any IOS device.

The issue is in your project to correctly detect devices.  Which class responsible for this that I can check it?

[2020-04-16 13:57] chuklov commented on #657
Guys, I have found that you still not supporting new iPhones and the issue with ios 13 could be due to the following class:
IOSDeviceConfiguration {
public final static int IOS_UDID_LENGTH = 40;
}

with new devices, it should be 24 chars.

Please fix it as I need it ASAP.
Thanks

[2020-04-29 13:42] anandbhagwat opened #667 "Cannot resolve com.github.AppiumTestDistribution:AppiumTestDistribution:latest_commit"
Git clone :
git clone https://github.com/AppiumTestDistribution/PageObjectPatternAppium.git
 @saikrishna321

[2020-04-29 13:44] saikrishna321 commented on #667
U need to add the commit number from master

[2020-04-30 03:02] rameshgit96 opened #668 "Simultaneous Launch and Test Execution"
Suppose I launch a test across 5 Real Android devices. What I notice is that the app gets launched at different times on each device. However, what I am expecting is that the app gets launched at the same time on each device and proceed with the test execution simultaneously.

Is there any overhead in the framework that can be reduced or perhaps is there a workaround that can be done to ensure tha

[2020-05-02 00:24] fadly-mahendra commented on #109
I got this same error

[2020-05-12 19:48] anandbhagwat opened #673 "How to Run Runner Class with Platform Name? Getting java.lang.IllegalArgumentException: Please execute with Platform environment:: Platform=android/ios/both mvn clean -Dtest=Runner test"
I am trying to run from IDE itself, When I run the RUnner class below:

`public class RunnerClass {

    @Test()
    public void testApp() throws Exception {
        ATDRunner parallelThread = new ATDRunner();
        List<String> tests = new ArrayList<>();
        tests.add("MyTest");
        System.setProperty("Platform", "android");
        parallelThread.runner("com.org.tests",tests);
    }

}

[2020-05-12 19:49] anandbhagwat commented on #673
Hi @saikrishna321 , Can you please help, Like how to add Platform in above code just to run from IDE itself?
I want to debug my code

[2020-05-12 20:52] saikrishna321 commented on #673
You can go to run configuration in ur IDE and set the environment

[2020-05-19 09:53] #653 closed

[2020-05-30 01:56] #655 closed

[2020-06-01 12:42] rameshgit96 opened #679 "New Desired Capabilities"
Suppose I have included "networkType" capability (specific to emulators only) in capabilities.json . Will the framework be able to pick up this capability?

[2020-06-03 05:41] saikrishna321 commented on #679
yes

[2020-06-04 08:14] chuklov commented on #657
Does anyone work on this project or it went to garbage?

[2020-06-04 08:17] chuklov commented on #668
Based on Java lang it is not possible as you running each test on a different Thread. Thread are living in JVM and each has different living time. Start of each will be define by JVM.

There is nothing much you can do on it.

[2020-06-04 15:25] rameshgit96 commented on #668
@chuklov: I see. Thank you.

[2020-06-04 15:25] rameshgit96 commented on #679
Thank you Sai.

[2020-06-04 15:25] #679 closed

[2020-06-08 15:41] metalimangal opened #683 "New iOS Devices with 25 digit Udid is not supported"
The new iOS Udid has 24 characters in udid, which is different from the 40 digits udid in previous iOS Phones.

Verified in the ATD code, where we have only public final static int IOS_UDID_LENGTH = 40; as the ios udid variable mentioned for adding the iOS device, which doesn't run automation in the current iOS device.

[2020-06-10 04:47] anandbagmar commented on #683
@metalimangal  - please share the class where you see the below:
`public final static int IOS_UDID_LENGTH = 40;`

Also, share what version of ATD are you using

[2020-06-10 05:09] saikrishna321 commented on #683
This has been fixed! Can you please tell the ATD version?

[2020-06-10 05:22] metalimangal commented on #683
Hi, This issue has been observed in 11.0.1 version of ATD. I have seen this in IOSDeviceConfiguration.java, also, IOS_UDID_LENGTH was being used for iOS and Android device validation in other files i.e. DeviceByHost.java, DesiredCapabilityBuilder.java and AndroidDeviceConfiguration.java

[2020-06-10 10:21] Jitu1888 opened #686 "Recording during failure is locking the thread."
Any script fails during dumping the video thread is getting locked.

[2020-06-11 23:05] rameshgit96 opened #687 "Test Execution Speed"
Sorry if this sounds more like an Appium- related question.

With 5 iOS devices in parallel and 5 Android devices in parallel, I notice that the iOS test takes much longer than the Android test. Is this something that is common with Appium testing on real devices or something specific to this framework?

Also, all my locator strategies for iOS are of type accessibility and iOS predicate string. So

[2020-06-12 19:16] #661 closed

[2020-06-23 05:09] Jitu1888 commented on #686
Any update ???

[2020-06-23 15:51] saikrishna321 commented on #686
Can you please provide a sample code snippet. I’m unable to reproduce

[2020-06-24 07:19] chuklov commented on #657
Hello, tree months past and there is no reply to this topic, are you guys working on it or not?

[2020-06-24 07:22] chuklov commented on #683
That is exactly what my topic is about: https://github.com/AppiumTestDistribution/AppiumTestDistribution/issues/657

No one fix it and it still doesn't work.

[2020-06-25 05:10] saikrishna321 commented on #657
@chuklov You should understand the project is open sourced and we drive it in free time, we are not getting paid to maintain the project. BTW I don't have a real iOS device. Feel free to send a PR if you think this is blocking and we are happy to review and merge the PR. I might find sometime this week will try giving a fix, but it would be helpful for someone to test it on real device.

[2020-06-25 05:38] chuklov commented on #657
@saikrishna321   Hi Sai,  I understand all that, if you want I can do a zoom session with you and get it to work. I cannot find where it fails as it not even get to the point IOSDeviceConfiguration.
Let me know if this is an option for you and we can arrange some hour for it.
You can contact me on my email chuklov@gmail.com

[2020-06-25 09:04] saikrishna321 commented on #657
https://github.com/AppiumTestDistribution/DeviceManager/blob/master/src/main/java/com/github/iOS/IOSManager.java#L76
This function fails to grab the UDID of the device. The fix should be done here and update DeviceManager in ATD

[2020-06-27 03:18] #657 closed

[2020-06-28 03:33] chuklov commented on #657
@saikrishna321
I have tested with a new version and now non of the versions can run a test. It is stuck and not moving at all.

[debug] [GENERIC] Calling AppiumDriver.getStatus() with args: []
[debug] [GENERIC] Responding to client with driver.getStatus() result: {"build":{"version":"1.17.0"}}
Jun 28, 2020 6:27:48 AM com.appium.manager.LocalAppiumManager startAppiumServer
INFO: LocalAppiumManagerA

[2020-06-28 03:36] saikrishna321 commented on #657
Which line in your code fails?

[2020-06-28 03:43] chuklov commented on #657
here is full output:

Jun 28, 2020 6:40:16 AM com.appium.utils.ConfigFileManager <clinit>
INFO: Using config file from [./configs/config.properties]
Jun 28, 2020 6:40:16 AM com.appium.utils.ConfigFileManager <clinit>
SEVERE: Error while loading config file: ./configs/config.properties (No such file or directory)
Jun 28, 2020 6:40:16 AM com.appium.schema.CapabilitySchemaValidator validateRemoteHost

[2020-06-28 03:44] chuklov commented on #657
It's not failing, it just stuck

[2020-06-28 08:45] saikrishna321 commented on #657
@chuklov CI is [Green](https://dev.azure.com/saikrishna321/ATD/_build/results?buildId=1348&view=results). Can you provide a repo to reproduce this error.

[2020-06-28 09:02] chuklov commented on #657
I cannot provide a repo of my tests as it is restricted by Company policy.

However, look at this output of tests without phone connected.

/Library/Java/JavaVirtualMachines/jdk1.8.0_241.jdk/Contents/Home/bin/java -agentlib:jdwp=transport=dt_socket,address=127.0.0.1:51654,suspend=y,server=n -ea -Didea.test.cyclic.buffer.size=1048576 -javaagent:/Users/admin/Library/Caches/IdeaIC2019.3/groovyHotSwap

[2020-06-28 09:51] saikrishna321 commented on #657
Looks like your client code is failing even before starting the driver instance. Try creating a sample or reproduce it in https://github.com/AppiumTestDistribution/PageObjectPatternAppium

[2020-06-28 11:38] chuklov commented on #657
I cannot build the project you have provided link to:
Could not find artifact com.github.AppiumTestDistribution:AppiumTestDistribution:pom:fix-533-SNAPSHOT in jitpack.io (https://jitpack.io)

Regarding my project: ios 12.2 works fine on
        <dependency>
            <groupId>com.github.saikrishna321</groupId>
            <artifactId>AppiumTestDistribution</artifactId>
            <version> 11.0

[2020-06-28 16:00] saikrishna321 commented on #657
It fails when you have iOS 12 and 13 connected or only single device which is iOS 13?

[2020-06-28 17:05] Jitu1888 commented on #686
Thanks SaiKrishna , Can you please let me know where are recording code written.

[2020-06-29 05:08] saikrishna321 commented on #657
I'm able run against iOS 13 without any issues

[2020-06-30 07:30] Jitu1888 commented on #686
its really urgent help. if you tell me where the recording command is called? @saikrishna321

[2020-06-30 07:36] Jitu1888 commented on #686
[Output2.txt](https://github.com/AppiumTestDistribution/AppiumTestDistribution/files/4850128/Output2.txt)
line no :9999,please open this file in xcode. @saikrishna321

[2020-06-30 07:47] saikrishna321 commented on #686
Check this: https://stackoverflow.com/questions/37335/how-to-deal-with-java-lang-outofmemoryerror-java-heap-space-error

This has nothing to do with ATD

[2020-06-30 09:50] Jitu1888 commented on #686
Thanks for the quick reply, can you tell me where the recording code is been called.

[2020-06-30 09:53] saikrishna321 commented on #686
https://github.com/AppiumTestDistribution/AppiumTestDistribution/blob/master/src/main/java/com/video/recorder/AppiumScreenRecorder.java#L53

[2020-06-30 14:19] chuklov commented on #657
Sorry, had no time to work on this. I have checked and I have the following issue:
version = 11.0.1 - iOS 12.X works fine and iOS 13.X No Device Connected
version = bef9b5ac70 - I cannot run the project at all. It fails long before my code

it comes to this part of Runner -> runner = parallelThread.runner("com.appium.tests", tests);
` @Test
    @SkipIf(platform = "android")
    @Parameters({ "sbmV

[2020-07-01 04:37] saikrishna321 commented on #657
@chuklov

How are you getting this value?

[2020-07-01 04:44] chuklov commented on #657
It comes from configuration as a String.

[2020-07-01 04:46] saikrishna321 commented on #657
Can you share the configuration?

[2020-07-01 05:48] saikrishna321 commented on #560
Fixed in version v11.0.2

[2020-07-01 05:48] #560 closed

[2020-07-01 05:49] saikrishna321 commented on #540
Fixed in v11.0.2

[2020-07-01 05:49] #540 closed

[2020-07-01 05:49] saikrishna321 commented on #533
Fixed in v11.0.2

[2020-07-01 05:49] #533 closed

[2020-07-01 05:52] #509 closed

[2020-07-01 06:14] chuklov commented on #657
![Screen Shot 2020-07-01 at 9 13 35](https://user-images.githubusercontent.com/10007866/86209387-2e470800-bb7b-11ea-97ba-15c29f17cfc4.png)
![Screen Shot 2020-07-01 at 9 13 24](https://user-images.githubusercontent.com/10007866/86209389-3010cb80-bb7b-11ea-80e9-43345d46b6c0.png)

I have attached 2 screens of configuration.

[2020-07-03 06:08] Jitu1888 opened #702 "How to run invocationCount for a particular test case."

[2020-07-03 06:08] Jitu1888 commented on #702
@saikrishna321  How to run invocationcount for a particular test case.

[2020-07-03 09:40] saikrishna321 commented on #702
@Jitu1888 What is the use case by adding this in ATD?

[2020-07-03 09:40] #686 closed

[2020-07-03 10:13] Jitu1888 commented on #702
I was adding a timeout also for that reason invocationcount was not working.

[2020-07-04 15:28] saikrishna321 commented on #702
@Jitu1888 Sorry, I still don't get what is the use case for u to use invocationCount.

What is the error you are getting?

[2020-07-05 14:00] #667 closed

[2020-07-07 04:54] chuklov commented on #657
I can see that on the regular start I have the same errors but it works:

`
[debug] [GENERIC] Responding to client with driver.getStatus() result: {"build":{"version":"1.17.1"}}
[HTTP] <-- GET /wd/hub/status 200 6 ms - 68
[HTTP]
Jul 07, 2020 7:50:42 AM com.appium.manager.LocalAppiumManager startAppiumServer
INFO: LocalAppiumManagerAppium Server Started at......http://127.0.0.1:39463/wd/hub
Jul 07,

[2020-07-18 22:20] #673 closed

[2020-07-27 03:12] sharath2106 commented on #497
Hi @SrinivasanTarget

I'd like to work on this if no one has picked this up.

[2020-07-27 10:56] SrinivasanTarget commented on #497
@sharath2106 sure feel free to pick this up.

[2020-07-31 10:00] narmadha956 opened #718 "Unable to execute after upgrading to appium 1.18.0"
Hi @saikrishna321 ,

I'm using ATD 11.0.2

The tests are running fine on 1.17.0, however on upgrading to 1.18.0, the tests are not executing.

Getting Type Error.

Could you please take a look ?

PFB detailed logs
--------------------------------------------------------------------------------------------------------------------

/Library/Java/JavaVirtualMachines/jdk1.8.0_201.jdk/Contents/Home/bin

[2020-07-31 10:06] saikrishna321 commented on #718
Update your node.js

[2020-07-31 10:52] narmadha956 commented on #718
@saikrishna321  I'm using 12.6.1, any suggestions on which version would fix this ?

[2020-07-31 11:56] saikrishna321 commented on #718
Make sure you have the right node path set

[code]

[2020-07-31 15:42] narmadha956 commented on #718
Problem was due to multiple node versions installed and triggering from IDE. I tried on node version 14, and executed from terminal and works fine.

Thank you.

[2020-07-31 15:42] #718 closed

[2020-08-04 06:35] chuklov commented on #657
I'm trying again to run the project on iOS 13 and I have No Devices Connected event with the new version:

   <repositories>
	<repository>
	    <id>jitpack.io</id>
	    <url>https://jitpack.io</url>
	</repository>
</repositories>

<dependency>
    <groupId>com.github.AppiumTestDistribution</groupId>
    <artifactId>AppiumTestDistribution</artifactId>
    <version> bef9b5ac70 </version>
</dependenc

[2020-08-04 07:40] chuklov opened #722 "AppiumTestDistribution version bef9b5ac70 failed to run on any device"
I am having an issue running tests, any test after moving to a new version. New version needed to run test on iOS 13.X and on a new devices.
Here is the failure:
`
[debug] [GENERIC] Calling AppiumDriver.getStatus() with args: []
[debug] [GENERIC] Responding to client with driver.getStatus() result: {"build":{"version":"1.17.1"}}
[HTTP] <-- GET /wd/hub/status 200 7 ms - 68
[HTTP]
Aug 04, 2020 10:07

[2020-08-06 09:13] anvitan-anu opened #723 "Facing isCloudExecution when running android execution"
I have recently updated the ATD version from 11.0.1 to 11.0.2, after that i am facing Null Pointer Exception in iscloudexecution method and i was using the real devices, and no cloud devices.
I have attached the output in the output.txt file

[output.txt](https://github.com/AppiumTestDistribution/AppiumTestDistribution/files/5033849/output.txt)

[2020-08-11 05:16] #668 closed

[2020-08-11 06:48] saikrishna321 commented on #722
Can you please try with
[code]

[2020-08-11 06:49] saikrishna321 commented on #723
@anvitan-anu Can you please share your capabilities.json?

[2020-08-11 06:50] saikrishna321 commented on #723
@WasiqB

[2020-08-11 06:59] anvitan-anu commented on #723
This is the capabilities.json
{
"android": {
"platformName": "android",
"platformVersion": "8.1.0",
"browserName": "android.browser.app",
"app": {
"local": "android.temp.app"
},
"deviceName": "android",
"noSign": true,
"automationName": "UIAutomator2",
"newCommandTimeout": 600,
"adbExecTimeout": 60000,
"skipServerInstallation": false,
"noReset": false,
"autoGrantPermissions": true,
"appPackage": "

[2020-08-11 07:09] saikrishna321 commented on #723
Can you try with this version

[code]

[2020-08-11 08:26] anvitan-anu commented on #723
@saikrishna321 Even after updating the AppiumTestDistribution version i face the same issue as mentioned earlier

[2020-08-11 08:33] saikrishna321 commented on #723
Can you share the error logs now

[2020-08-11 08:37] anvitan-anu commented on #723
@saikrishna321 Error logs

java.lang.NullPointerException
        at com.appium.manager.AppiumParallelMethodTestListener.isCloudExecution(AppiumParallelMethodTestListener.java:80)
        at com.appium.manager.AppiumParallelMethodTestListener.afterInvocation(AppiumParallelMethodTestListener.java:138)
        at org.testng.internal.invokers.InvokedMethodListenerInvoker.invokeListener(InvokedMethodL

[2020-08-11 08:38] saikrishna321 commented on #723
Can you share full logs in gist

[2020-08-11 09:51] anvitan-anu commented on #723
@saikrishna321 https://gist.github.com/anvitan-anu/c42d1fc6c8cda26403b7e2eceb339b53 please refer the complete logs

[2020-08-11 10:35] chuklov commented on #722
Hi Sai,

Just tried and I have the following crash after parallelThread.runner

`[debug] [GENERIC] Calling AppiumDriver.getStatus() with args: []
[debug] [GENERIC] Responding to client with driver.getStatus() result: {"build":{"version":"1.17.1"}}
[HTTP] <-- GET /wd/hub/status 200 5 ms - 68
[HTTP]
Aug 11, 2020 1:33:40 PM com.appium.manager.LocalAppiumManager startAppiumServer
INFO: LocalAppiumMana

[2020-08-11 11:31] saikrishna321 commented on #723
@anvitan-anu Can you please fix the report portal issue and let me know - https://gist.github.com/anvitan-anu/c42d1fc6c8cda26403b7e2eceb339b53#file-result-txt-L655

[2020-08-12 05:05] saikrishna321 commented on #722
@chuklov For some reason the driver creation is failing [here](https://github.com/AppiumTestDistribution/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/AppiumDriverManager.java#L60-L84) Can you keep breakpoints and check what is failing.

Have to pair on fixing this. Please send me zoom details to saikrishna321@yahoo.com

[2020-08-12 06:21] chuklov commented on #722
@saikrishna321
Version 11.0.2 also has an issue with starting Android tests. It is not failing but it stuck after the Appium Driver Manager and not going anywhere for hours.

[2020-08-12 06:28] chuklov commented on #722
Here is an iOS failure:
![Screen Shot 2020-08-12 at 9 27 00](https://user-images.githubusercontent.com/10007866/89982337-3451fd80-dc7e-11ea-94af-10368c8dbd2c.png)

[2020-08-12 12:23] anvitan-anu commented on #723
@saikrishna321 the report portal issue is from report portal package, which is not responsible for this issue.

[2020-08-13 04:14] saikrishna321 commented on #723
@anvitan-anu Can you please debug and check if the session creation is failing - https://github.com/AppiumTestDistribution/AppiumTestDistribution/issues/722#issuecomment-672636725

[2020-08-13 13:13] saikrishna321 commented on #722
@chuklov I'm unable to reproduce this problem. Can you please try to replicate with the sample project - https://github.com/AppiumTestDistribution/PageObjectPatternAppium

[2020-08-13 13:22] saikrishna321 commented on #532
@shibupanda Any help needed in this space?

[2020-08-13 13:32] shibupanda commented on #532
Hi @saikrishna321 Sorry for inconvenience.
I have already refactored pCloudy design I wait for the stabilisation.
Now I think need to add those capability.

I need your help here as we are exposing username and apikey also as a capability.
So if we'll use `CLOUD_USER=browserstack_user CLOUD_KEY=browserstack_password mvn clean -Dtest=Runner test`  this way  then in pCloudy case this value needs to

[2020-08-13 13:57] saikrishna321 commented on #532
@shibupanda I'm happy to help. Can we connect over zoom?

[2020-08-13 18:41] chuklov commented on #722
With simple project issue is not replicated. Only with ATD

On Thu, Aug 13, 2020, 16:13 Sai Krishna <notifications@github.com> wrote:

[2020-08-13 19:01] chuklov commented on #722
Did you open the project I have sent to you as I could replicate it on my
machine after I copy it from the google drive?

On Thu, 13 Aug 2020 at 21:41, Alexander Chadfield <alexchadfield@gmail.com>
wrote:

[2020-08-16 03:24] saikrishna321 commented on #722
@chuklov Yes I did and I was able to reproduce the issue. I see there is a dependency conflict due to which WebDriverManager creation fails quietly and hits the afterInvocation and as the session is not created it fails with NullPointer.

From our side we will improve better Logging and Exception Handling. You need to find out which version of the dependency is conflicting in your project.

[2020-08-19 06:41] #687 closed

[2020-08-31 08:50] anvitan-anu commented on #723
@saikrishna321 Session is getting created

[2020-09-15 10:00] geeethub opened #746 "Plugin execution not covered by lifecycle configuration: com.github.temyers:cucumber-jvm-parallel-plugin:4.2.0:generateRunners (execution: generateRunners, phase: validate)"
On cloning the project I see the following error in pom.xml
[code]
<img width="991" alt="Screen Shot 2020-09-15 at 18 59 15" src="https://user-images.githubusercontent.com/54137657/93196627-a3db7100-f785-11ea-9b08-8bab19c706e4.png">

[2020-09-15 10:06] geeethub opened #747 "CustomListener class not found"
The class LoginTest imports class `CustomListener` from the package `com.appium.config` but there is no class called `CustomListener` in the package `com.appium.config`
<img width="299" alt="Screen Shot 2020-09-15 at 19 04 55" src="https://user-images.githubusercontent.com/54137657/93197293-688d7200-f786-11ea-91b9-f4374f1a411f.png">

[2020-09-18 15:30] anvitan-anu commented on #723
@saikrishna321 few times it works few times it doesn't on android and ios as well any update on this

[2020-10-04 14:06] xiaohanyu commented on #747
Same problem here.

[2020-10-09 05:45] metalimangal opened #756 "Support for Headspin cloud server"
Hi, we have seen that we are adding a cloud support url format for the clouds being supported by ATD in CloudAppiumManager.java file

    @Override
    public String getRemoteWDHubIP(String host) {
        String url = "https://{0}:{1}@{2}/wd/hub";
        return format(url, getenv("CLOUD_USER"), getenv("CLOUD_KEY"), host);
    }

The following is the url for headspin, which we would need to add a

[2020-10-10 14:50] saikrishna321 commented on #756
@metalimangal Thanks for opening this issue. We can certainly add headspin support to ATD. How are device capabilities picked in headspin cloud?

[2020-10-11 11:00] chuklov commented on #722
@saikrishna321  This issue can be closed.

[2020-10-11 11:00] #722 closed

[2020-10-11 11:15] chuklov opened #757 "Failed to create session with iOS 12.2 after update to Appium 18.3"
I have an issue with running tests on iOS 12.2 after I have updated to Appium server 18.3 and Appium Desktop 18.2
Appium Desktop works fine and can connect.
New project for Appium also works fine.
Connection to iOS 13.6 and 14 also works fine.
Xcode installation of WebDriver works fine.

Issue only on my old project. Here is the error output:

`
[DevCon Factory] Releasing connections for bd3ccfde1

[2020-10-12 09:07] chuklov opened #758 "ATD running single instance with iOS 13.6 and above"
Hi, I have a few iPhones with version iOS 13.6 and 14.0 and I cannot run both. Only one will run tests.
What logs are you need to check it?

Also ofter when 2 phones are connected test are being stopped as session was closed. If only one phone is connected it works fine.

Thanks

[2020-10-12 13:09] saikrishna321 commented on #758
@chuklov Please give the logs when you trigger the test. Also the capabilites.json. When you cannot run both --> what happens

[2020-10-12 13:11] saikrishna321 commented on #757
Not ATD Issue. Please make sure WDA can build successfully

[2020-10-12 13:21] chuklov commented on #757
Hi Sai, as I said, everything works fine, build in Xcode, build and run tests on a separate project, only on ATD project this phone getting this error.

[2020-10-12 13:24] chuklov commented on #758
@saikrishna321 can you please specify what logs I should upload?
When 2 phones connected only one running tests. Second remains untouched. Its randomly choosing which will be used.

[2020-10-12 14:29] saikrishna321 commented on #757
@chuklov But the error is not related to ATD. It's throwing from appium server. You need to check what different you are doing in ATD project and other one.

[2020-10-13 06:58] chuklov commented on #758
Capabilities.json

`{
  "android": {
      "--relaxed-security": true,
      "--session-override": true,
      "platformName": "android",
      "platformVersion": "6",
      "browserName": "chrome",
      "deviceName": { "Huawei": "LCL0218529000550",
                      "SamsungS7": "ce11160b8bca471305",
                      "LG-G4":  "LGH81598bce4d",
                      "LG-G5":  "LGH8603852

[2020-10-13 07:12] chuklov commented on #758
Looks like I have mistaken, when I have 2 phones it is going one after another. I have about 30 tests and first phone will run all 30 tests and only after the second will start execute them.
Thus, I do not see separation by Threads in this case.

[2020-10-13 07:15] chuklov commented on #758
Here is the log file [https://drive.google.com/file/d/1GyT9pRqQSmnN_9gKk3dc44njJNSD5PfP/view?usp=sharing](url)

[2020-10-13 07:50] metalimangal commented on #756
@saikrishna321 This is how we add capabilities for headspin, as you can see, we do not require any additional parameters to be added for CLOUD USER and CLOUD KEY, we only have a URL to be added, which would help us access one api key for a particular device

import io.appium.java_client.MobileElement;
import io.appium.java_client.android.AndroidDriver;
import junit.framework.TestCase;
import org.j

[2020-10-13 09:10] Sivasankaramalan opened #759 "Scripts are failing in Android Version 10"
Issue:
The app is not launching in Android 10 and failing entire scripts while running parallel and Alone on Android 10 device/emulator

Android version
 10

Logs:
`<-- POST /wd/hub/session 400 44838 ms - 922
[HTTP]
Oct 13, 2020 2:28:40 PM org.openqa.selenium.remote.ErrorCodes toStatus
INFO: HTTP Status: '400' -> incorrect JSON status mapping for 'unknown error' (500 expected)
org.openqa.selenium.

[2020-10-20 13:23] metalimangal commented on #756
Hi, please let me know if there is any update or any additional details required

[2020-10-23 02:38] NewBigBug opened #762 "test stop at " Allocated Device com.appium.manager.AppiumDevice@4e59fa94 for Execution""
i use atd run my test,but it aways stay at "Allocated Device com.appium.manager.AppiumDevice@4e59fa94 for Execution" ,i can't find any exception in the log. please help me
`[Appium] Non-default server args:
[Appium]   address: 127.0.0.1
[Appium]   port: 15341
[Appium]   logFile: D:\Code\Java\PipiRunner\target\appiumlogs\appium_logs.txt
[Appium]   relaxedSecurityEnabled: true
[Appium] Appium REST h

[2020-10-23 11:07] metalimangal commented on #723
Verified this issue, I am getting null pointer exception in AppiumDeviceManager.getAppiumDevice(), in the after invocation step of AppiumParallelMethodTestListener.

public void afterInvocation(IInvokedMethod iInvokedMethod, ITestResult iTestResult) {
        try {
            if (!isCloudExecution() && !isRetry(iTestResult)) { ----------------> Null pointer exception here
                HashMap<

[2020-10-30 13:56] priyankshah217 opened #775 "AfterInvocation called without running actual tests"
Found unusual patten while running test using ATD. So as per behaviour, just after installing app in android/ios it immediately called afterInvocation(AppiumParallelMethodTestListner.class). Because of this issue it launches app and immediately closed it and it retry again.

Please find below logs

https://gist.github.com/priyankshah217/b418f12d407e53f349fb8461e0d7f867

Full Appium logs of run,
ht

[2020-11-17 06:59] nwintop opened #782 "In windows, not able to run test (testNG runner) . error: [java.io.IOException: Cannot run program "/bin/sh": CreateProcess error=2,],error 2:[java.lang.NullPointerException at com.appium.manager.TestLogger.isNativeAndroid(],[Exception in thread "Thread_0" java.lang.IllegalArgumentException: ItemID should not be null]"
Nov 17, 2020 12:12:01 PM com.appium.utils.ConfigFileManager <clinit>
INFO: Using config file from [./configs/config.properties]
Nov 17, 2020 12:12:02 PM com.appium.schema.CapabilitySchemaValidator validateRemoteHosts
INFO: ATD is Running on 127.0.0.1
      _   _         _            _   _               _
   __| | (_)  ___  | |_   _ __  (_) | |__    _   _  | |_    ___
  / _` | | | / __| | __| | '__

[2020-11-19 10:00] nwintop commented on #782
this was the code issue now it handled for both mac and windows. fixed now.

[2020-11-19 10:00] #782 closed

[2020-11-22 03:23] #746 closed

[2020-11-23 01:20] emmahuang commented on #747
same problem, any solution?

[2020-11-23 05:00] saikrishna321 commented on #775
@priyankshah217 Did the PR fix this issue?

[2020-11-23 05:01] saikrishna321 commented on #759
@Sivasankaramalan This issue is not related to ATD. Appium server is not getting response back from UIAutomator2 server running inside the device

 Original error: Could not proxy command to remote server. Original error: Error: socket hang up Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:17:03' System info: host: 'Dracarys', ip: '2401:4900:2770:2656:8435:a49f:9e51:

[2020-11-23 05:01] #759 closed

[2020-11-23 05:12] priyankshah217 commented on #775
@saikrishna321 yes that issue is resolved now.

[2020-11-23 06:00] Sivasankaramalan commented on #759
Thanks for the Update @saikrishna321

[2020-11-23 10:15] #775 closed

[2020-11-24 05:56] #747 closed

[2020-11-25 04:52] saikrishna321 commented on #758
@chuklov Can you please test with master commit. This issue is fixed

[2020-11-25 10:18] aman13garg opened #787 "Failed to create session with IOS 14.2 and macOS Sur."
When I am opening WebDriverAgent project In Xcode and do signing with developer account then it shows build succeeded manually. When I execute the script through project it is erroring out with code 65.

I tried lots of thing available on internet. Still not able to resolve. it is opening the simulator and installing the app but not opening the app.

attached logs for reference

[RemoteTestNG] det

[2020-11-25 10:23] aman13garg commented on #787
Further logs 👍

org.openqa.selenium.SessionNotCreatedException: Unable to create a new remote session. Please check the server log for more details. Original error: An unknown server-side error occurred while processing the command. Original error: Unable to launch WebDriverAgent because of xcodebuild failure: xcodebuild failed with code 65
xcodebuild error message:

Build info: version: '3.141.59

[2020-11-26 05:01] saikrishna321 commented on #787
@aman13garg Can you set  "usePrebuiltWDA": false and then try

[2020-11-26 05:02] saikrishna321 commented on #762
@NewBigBug Can you please give a sample repo to reproduce

[2020-11-26 17:27] aman13garg commented on #787
@saikrishna321 when I try with false then it uninstall already installed WebDriverAgent agent.

[RemoteTestNG] detected TestNG version 7.0.1
Nov 26, 2020 10:47:02 PM com.appium.utils.ConfigFileManager <clinit>
INFO: Using config file from [./configs/config.properties]
Nov 26, 2020 10:47:02 PM com.appium.schema.CapabilitySchemaValidator validateRemoteHosts
INFO: ATD is Running on 127.0.0.1
      _

[2020-11-26 17:28] aman13garg commented on #787
Mac OS 11.0.1... RUNNING ON SIMULATOR 14.2 XCODE 12.2 Appium 1.19.0 Carthage 3.6.0.

[2020-12-02 05:05] SrinivasanTarget opened #798 "Integrate ATD as service"

[2020-12-02 05:16] SrinivasanTarget opened #799 "Cucumber Reporting"
- Add device logs, etc

[2020-12-02 05:18] SrinivasanTarget opened #800 "Move-away from static device list to dynamic device pool"
Currently, we fetch the complete device list upfront and store it in a hashmap well before the execution starts rather than having a dynamic pool of devices so anyone can remove or add a new device during the execution

[2020-12-02 07:28] priyankshah217 commented on #800
@SrinivasanTarget @saikrishna321 one enhancement would consider like, if during execution if 2 or more tests failed due to device specific issue. ATD just simply remove that device from available list to prevent same failures. Would like to discuss more on that idea. May be redis or distributed cache can be used.

[2020-12-02 10:22] WasiqB commented on #800
one idea would be to do health check on device before running the test on that device. and if the check fails, we'll remove that device from the list of runnable devices.

Health check can be:
- Battery check
- Storage check, etc.

[2020-12-08 10:50] chuklov commented on #758
@saikrishna321  Just tested with version 11.0.2 and I do not see any changes. If I have 1 test to run it will run on 1 device instead of 3 I have connected.

[2020-12-08 10:59] saikrishna321 commented on #758
@chuklov  Can you try with version

[code]

[2020-12-08 11:01] chuklov commented on #758
Could not find artifact
com.github.saikrishna321:AppiumTestDistribution:pom:5d9c2c476c in
bintray-epam-reportportal (https://dl.bintray.com/epam/reportportal)

On Tue, 8 Dec 2020 at 12:59, Sai Krishna <notifications@github.com> wrote:

[2020-12-08 11:02] saikrishna321 commented on #758
https://jitpack.io/#AppiumTestDistribution/AppiumTestDistribution/5d9c2c476c Try adding jitpack repo

[2020-12-08 11:18] chuklov commented on #758
New version totally broke my project
Compilation failed: errors: 80; warnings: 33

Previous version has no problems at all.

On Tue, 8 Dec 2020 at 13:02, Sai Krishna <notifications@github.com> wrote:

[2020-12-08 12:39] saikrishna321 commented on #758
What errors?

[2020-12-09 07:20] chuklov commented on #758
[image: image.png]

On Tue, 8 Dec 2020 at 14:40, Sai Krishna <notifications@github.com> wrote:

[2020-12-10 01:19] saikrishna321 commented on #723
Please try the latest v12.0.0

[2020-12-11 03:35] saikrishna321 commented on #758
@chuklov Please re-attached.  I can compile with v12.0.0

[2020-12-20 13:28] #757 closed

[2020-12-23 10:37] jitesh-badgujar opened #809 "Need to create driver with locale specific desired capabilities from scenario/test."
I have few tests which needs to be executed on different language and locale combinations.

But before the test starts, the driver is already initialised with capabilities from caps/capabilities.json.

Is there any way how I can get AppiumDriverManager.getDriver() during my test execution with desired capabilities object/json provided by given/current test/scenario?

This works if I provide langua

[2020-12-23 10:39] jitesh-badgujar commented on #809
FYI: @saikrishna321

[2020-12-23 10:42] priyankshah217 commented on #809
@saikrishna321 @SrinivasanTarget so basically in cucumber example table, we need to provide locale language and based on that it should set capability. But Problem lies here is it initialise driver before it.

[2020-12-23 12:17] SrinivasanTarget commented on #809
@priyankshah217 @jitesh-badgujar Quick solution that I could think of is adding a java annotation called `@DesiredCapabilities` and tag the appropriate test, ATD will pick the capabilities and apply it for that driver instance for that specific test.

[2020-12-23 17:25] saikrishna321 commented on #809
@SrinivasanTarget Annotations will work on TestNG how about cucumber?

[2020-12-23 19:01] SrinivasanTarget commented on #809
Wont listener's in cucumber don't give any information about test method? Let's check if they provide some way to hook in.

[2021-01-14 12:05] anandbagmar commented on #532
Hey @shibupanda , were you able to get this working?

[2021-01-24 01:38] ganjarpanji opened #817 "Installation on existing basedriver and gradle"
Currently im using tech stack for my ui test as follows :
- appium
- no cucumber
- TestNg
- gradle
is  it possible to integrate ATD to test that have existing `BaseDriver` ? my test is not using cucumber, is the `testrunner` also needed as cukes? any sample of the integrated basedriver appium with ATD?
and how i would run my test using ATD from gradle? thanks in advance!

[2021-01-24 17:52] saikrishna321 commented on #817
What do we mean by basedriver? Can you please be more specific?

[2021-01-25 02:46] ganjarpanji commented on #817
hi @saikrishna321 thanks for your response, basically i have a specific class that initiates the appium session before and we name it as `BaseDriver`

[2021-01-25 04:08] saikrishna321 commented on #817
@ganjarpanji
1. ATD handles the driver session and you don't need to initiate any appium session at your end.
2.  If you have data set for each test you need to use @BeforeTest https://github.com/AppiumTestDistribution/PageObjectPatternAppium/blob/3e781f323437c25d14c218ef8b0550d56c2337f6/src/test/java/com/appium/tests/ScrollTest.java#L19
3. If you need to have custom listener refer this - https://

[2021-01-25 04:10] #817 closed

[2021-02-02 04:26] #787 closed

[2021-02-02 04:26] #762 closed

[2021-02-21 23:27] #723 closed

[2021-02-21 23:27] #758 closed

[2021-02-22 06:06] NewBigBug opened #827 "Use @BeforeSuite while get NullPointerException in TestExecutionContext.java:28"
I add the @BeforeSuite in my test file, but when run test ,i got this error:

java.lang.NullPointerException
	at com.context.TestExecutionContext.<init>(TestExecutionContext.java:28)
	at com.appium.manager.AppiumParallelTestListener.beforeInvocation(AppiumParallelTestListener.java:72)
	at org.testng.internal.invokers.InvokedMethodListenerInvoker.invokeListener(InvokedMethodListenerInvoker.java:56)

[2021-03-03 16:05] anvitan-anu commented on #723
The issue still persist on latest v12.0.0 ATD as well

[2021-03-04 08:20] anvitan-anu opened #831 "Facing isCloudExecution when running android execution"
@saikrishna321 I have re-opened the issue

https://github.com/AppiumTestDistribution/AppiumTestDistribution/issues/723

[2021-03-04 08:25] anvitan-anu commented on #831
@saikrishna321 I have attached the logs for ATD latest v12.0.0

https://gist.github.com/anvitan-anu/7b9d5d920b046ff65010025070f83585

[2021-03-05 12:32] saikrishna321 commented on #831
@anvitan-anu Can you share the appium server logs pls and the capabilites.json

[2021-03-12 14:36] anvitan-anu commented on #831
Capabilities.json

`
{
  "android": {
    "platformName": "android",
    "platformVersion": "8.1.0",
    "browserName": "android.browser.app",
    "app": {
      "local": "android.temp.app"
    },
    "deviceName": "android",
    "noSign": true,
    "automationName": "UIAutomator2",
    "newCommandTimeout": 600,
    "adbExecTimeout": 60000,
    "skipServerInstallation": false,
    "noReset": false

[2021-03-16 07:11] SrinivasanTarget opened #832 "Add Appium Server logs in reportportal dashboard"

[2021-03-22 09:34] Sai417 opened #834 "No devices connected, But when running through eclipse working."
I have given capabilities to iOS device like this, but showing no devices connected!
"iOS": {
"platformName": "iOS",
"deviceName": "SaiPad",
"bundleID": "com.XYZ",
"xcodeSigningId": "iPhone Developer",
"platformVersion": "13.6.1",
"udid": "XXXX-2E",
"wdaLaunchTimeout": 80000,
"wdaConnectionTimeout": 80000,
"preventWDAAttachments": true,
"clearSystemFiles": true,
"shouldUseSingletonTestManager": fa

[2021-03-22 12:37] Sai417 commented on #834
when I add simulator it is working and able to do it in simulator.
but my requirement is to done in real device, couldn't able to do it.
Please check , Many Thanks!

[2021-03-22 17:19] saikrishna321 commented on #834
Make sure your terminal can detect iOS device with command - https://github.com/AppiumTestDistribution/DeviceManager/blob/master/src/main/java/com/github/iOS/IOSManager.java#L20-L21

[2021-03-22 19:43] Sai417 commented on #834
Please ,can we have a call, im new to Appium, could able to do it.
@saikrishna321

[2021-03-26 06:02] rakshitars opened #835 "Facing issue in using the chromeDriver based on the chrome version on android device."
I see that the public method, startAppiumDriverInstance() inside AppiumDriverManager takes care of the compatible chromeDriver versions for chrome version on any device. Not sure of how exactly I can use this.

[2021-03-31 00:27] ramgiteng opened #837 "Unable to Test on Real iPhoneXR - No Devices Connected"
Hi,

I am experiencing an issue with executing tests on a real iPhone XR. As soon as I trigger the command to test on a real iPhoneXR device, I am getting the display "Parallel No Devices Connected".

**Details**:
ATD Version: 11.0.1
Appium Version: 1.15.1
Real Device: iPhone XR
OS Version: 13.3
Example command: CONFIG_FILE="config.properties" udids="(iPhoneXRUDID)" Platform="ios" mvn clean -Dtest

[2021-03-31 04:53] saikrishna321 commented on #837
@ramgiteng This issue has been fixed. Please try version ATD 12.0.0

[2021-03-31 06:08] #834 closed

[2021-03-31 10:42] ramgiteng commented on #837
Sure, I will try it out and confirm. Thanks.

[2021-03-31 11:29] ramgiteng commented on #837
After upgrading to 12.0.0 in pom.xml, I am experiencing issues with running tests in iOS devices - WDA gets uninstalled and xcodebuild error code 65 appears. However, when I downgrade back to 11.0.1, WDA gets installed on the devices and iOS tests run smoothly.

Do I need to set any special configurations like upgrading XCode or reinstalling WDA manually for running tests on real iOS devices when

[2021-03-31 14:17] SandeepAppium opened #838 "Not able to run tests in browser stack"
AppiumTestDistribution - 11.0.1
Attached the capabilites and Error

<img width="772" alt="caps" src="https://user-images.githubusercontent.com/81696352/113158734-aac95d00-9259-11eb-80c5-ca27c9d308ed.png">
<img width="772" alt="caps" src="https://user-images.githubusercontent.com/81696352/113158741-ac932080-9259-11eb-85a7-878dfa1f9e34.png">

Please do check and let me know, if i miss any thing.
If

[2021-03-31 18:22] saikrishna321 commented on #838
@SandeepAppium What is the error your are getting?

[2021-03-31 18:47] SandeepAppium commented on #838
<img width="946" alt="Screenshot 2021-03-31 at 6 52 57 PM" src="https://user-images.githubusercontent.com/81696352/113195203-9ef09180-927f-11eb-9e2d-70f020352d66.png">
@saikrishna321 Sorry, added image

[2021-03-31 19:10] saikrishna321 commented on #838
Try v 12.0.0 for cucumber fixes

[2021-03-31 19:12] saikrishna321 commented on #837
Xcode error 65 means it's a signing error on wda

[2021-04-01 03:43] SandeepAppium commented on #838
getting Error here, configFileManager = ConfigFileManager.getInstance();
getInstance method is removed, im using that method in my framework.
@saikrishna321

[2021-04-01 04:02] saikrishna321 commented on #838
@SandeepAppium Not sure why you want to use the instance of the FileManager. Please find out alternative ways

[2021-04-01 04:38] SandeepAppium commented on #838
@saikrishna321 Thanks ,Got it. found one more issue while running Utils.
java.lang.NoSuchMethodError: org.testng.remote.AbstractRemoteTestNG.addListener(Lorg/testng/ISuiteListener;)V
	at org.testng.remote.AbstractRemoteTestNG.run(AbstractRemoteTestNG.java:128)
	at org.testng.remote.RemoteTestNG.initAndRun(RemoteTestNG.java:230)
	at org.testng.remote.RemoteTestNG.main(RemoteTestNG.java:76)

<img wi

[2021-04-01 05:22] saikrishna321 commented on #838
There is a dependency clash. Show your Pom.xml

[2021-04-01 07:00] SandeepAppium commented on #838
Yeah Got it Thanks @saikrishna321
One more issue, When i remove ./configs/config.properties and Make the capabilities of browser stack, It is running
When i add ./configs/config.properties and try to run,it is throwing error
cofig.properties file
<img width="342" alt="Screenshot 2021-04-01 at 12 24 07 PM" src="https://user-images.githubusercontent.com/81696352/113255203-2a503e00-92e5-11eb-8b4d-a4e

[2021-04-01 08:46] saikrishna321 commented on #838
See if this helps - https://github.com/AppiumTestDistribution/AppiumTestDistribution/blob/master/azure-pipelines.yml#L201

[2021-04-01 11:13] SandeepAppium commented on #838
Not working, same issue

[2021-04-02 01:34] saikrishna321 commented on #838
@SandeepAppium WHat is the command your using to run when switching between config?

[2021-04-02 01:41] saikrishna321 commented on #831
@anvitan-anu Why are you giving "browserName": "android.browser.app" with app capabilities as well?

[2021-04-02 01:57] saikrishna321 commented on #831
@anvitan-anu Try with below caps

[code]

[2021-04-02 01:58] saikrishna321 commented on #395
Fixed in v12.0.0

[2021-04-02 01:58] #395 closed

[2021-04-02 01:59] saikrishna321 commented on #250
Moved away from ExtentReports

[2021-04-02 01:59] #250 closed

[2021-04-02 02:02] saikrishna321 commented on #809
@priyankshah217 @jitesh-badgujar This can be solved by creating a appium plugin that can override the createSession. This is only supported in Appium v2.0

[2021-04-02 21:58] ramgiteng commented on #837
Yes, it was an Appium-specific issue. I rebuilt and installed WDA on the device. It worked. Thank you.

[2021-04-02 21:58] #837 closed

[2021-04-03 02:12] saikrishna321 commented on #532
@shibupanda Any updates on this?

[2021-04-03 03:55] shibupanda commented on #532
@saikrishna321 Sorry for late. Was deployed in some other projects. Now I came back will take this in current sprint for sure. I will connect you in Appium slack if any help required.

[2021-04-03 05:10] SandeepAppium commented on #838
Resolved, issue is because i have changed the Runner name by mistake.
What all values should i keep in runner , Apart from Distribute.

[2021-04-03 08:13] SandeepAppium commented on #838
i have added 3 test cases in Runner, but only one test case is executing, remaining are not executing.
Should i need to add the test cases name os something any where, which i have missed.

I can see only one test case present in parallel.xml
Attached screenshot
<img width="1438" alt="Screenshot 2021-04-03 at 1 37 42 PM" src="https://user-images.githubusercontent.com/81696352/113472674-666cd580-94

[2021-04-03 08:19] saikrishna321 commented on #838
The test files should be ending with Tests

[2021-04-03 08:48] SandeepAppium commented on #838
Parallel.xml is creating automatically, Should i need to keep in Runner as **Test.java

[2021-04-03 09:13] SandeepAppium commented on #838
Cases are executing based on the name
Example : EnterWrongUserIdTest test case is executing, if i change the test case name to xyz.java, this test case also not executing.

[2021-04-03 10:15] SandeepAppium opened #840 "How can we run the test cases in package level from runner instead of classes"
Want to run the test cases of two packages, how can i run?

[2021-04-03 10:18] #840 closed

[2021-04-03 10:48] saikrishna321 commented on #838
Yes, you need to rename your tests files to end with "Test"

[2021-04-03 11:03] SandeepAppium commented on #838
Got it, Many Thanks :)

[2021-04-03 16:55] #838 closed

[2021-04-08 02:10] saikrishna321 commented on #835
Fixed in v12.0.2

[2021-04-08 02:10] #835 closed

[2021-04-12 12:13] SandeepAppium opened #845 "can we run test cases parallel in browserstack"
able to run the test cases in Distribute in browser stack.
Able to run parallel in local but not in browserstack.
When i run using distribute, every time creating new device for each test case, taking lot of time.
@saikrishna321

[2021-04-12 12:17] SandeepAppium commented on #845
Logs:
java.lang.NullPointerException
	at com.appium.device.DevicesByHost.lambda$getAppiumDevice$9(DevicesByHost.java:71)
	at java.util.stream.ReferencePipeline$2$1.accept(ReferencePipeline.java:174)
	at java.util.ArrayList$ArrayListSpliterator.tryAdvance(ArrayList.java:1361)
	at java.util.stream.ReferencePipeline.forEachWithCancel(ReferencePipeline.java:126)
	at java.util.stream.AbstractPipeline.c

[2021-04-12 18:14] saikrishna321 commented on #845
We only create session.

[2021-04-12 18:15] saikrishna321 commented on #845
BS parallel is not supported

[2021-04-14 08:59] SandeepAppium commented on #845
if i have 10 test cases,it is creating 10 sessions in browser stack.
All the test cases cant be run in single session?

[2021-04-14 12:15] saikrishna321 commented on #845
We maintain single server session and multiple client sessions as you have multiple devices. So every device will have its own driver session

[2021-04-14 14:58] #845 closed

[2021-04-14 14:58] SandeepAppium commented on #845
Thanks @saikrishna321

[2021-04-14 17:52] saikrishna321 commented on #800
@priyankshah217 @WasiqB With Appium 2.0 support and with plugin https://github.com/SrinivasanTarget/appium-device-plugin going forward ATD will not maintain the device pool. Plugin will maintain that.

Can you please create issues here [https://github.com/SrinivasanTarget/appium-device-plugin](url) so we can implement idea regards to device pool list

[2021-05-03 16:56] vmaramreddy1 opened #849 "Adb command to fetch the chrome version did not work"
In HostMachineDeviceManager.java file , to fetch the chrome version on windows environment we are executing the following command `adb -s udid shell dumpsys package com.android.chrome | grep version name `. this command resulting empty string in windows. It should be changed to `adb -s udid shell "dumpsys package com.android.chrome | grep version name"`. Notice that I have wrapped the entire comma

[2021-05-03 16:58] vmaramreddy1 commented on #849
@WasiqB or @saikrishna321 could you please verify and fix it accordingly ?

[2021-05-04 02:03] saikrishna321 commented on #849
@vmaramreddy1 Thanks for reporting. Happy to review a PR. Could you create a fix for this please? I don't hold a windows machine to test this.

[2021-05-04 06:00] vmaramreddy1 commented on #849
Hi @saikrishna321 , Could you please review this PR https://github.com/AppiumTestDistribution/AppiumTestDistribution/pull/850/files and merge ?

[2021-05-05 09:10] vmaramreddy1 commented on #849
@saikrishna321 , Please check the below PR and merge the code
https://github.com/AppiumTestDistribution/AppiumTestDistribution/pull/851/commits

[2021-05-05 09:11] vmaramreddy1 commented on #849
@saikrishna321 , corresponding to the PR that I have raised earlier, please look at the followed commit id: https://github.com/AppiumTestDistribution/AppiumTestDistribution/pull/851/commits/8c9b8f023549c659add681adb309f436eab66db7

[2021-05-05 10:30] chuklov commented on #849
@saikrishna321  Why do we have this check for iOS devices?  It crashes test now
`
May 05, 2021 1:20:07 PM com.appium.device.HostMachineDeviceManager getChromeVersionsFor
INFO: Chrome not found on device - '00008020-000539502252002E'
java.util.NoSuchElementException: No value present
	at java.util.OptionalInt.getAsInt(OptionalInt.java:118)
	at com.appium.device.HostMachineDeviceManager.getPathForCh

[2021-05-05 11:00] saikrishna321 commented on #849
@chuklov Thanks for reporting. This is a issue. We can fix as part of this PR

[2021-06-03 06:43] Sai417 opened #858 "issue with integrating with jenkins"
Im using two projects, one is for framework and other is for test scripts
Test scripts is using the jar of the framework.

it is working fine in my local, but when i integrate it with jenkins, not able to add the framework project jar to the test scripts projects.
when i run the framework project jar is storing in this folder : /Users/user/.jenkins/workspace/MobileAutomation/target/mobileframework

[2021-06-03 09:32] Sai417 commented on #858
i have changed the goals and options in jenkins as Platform=android mvn clean -Dtest=Runner test
<img width="1056" alt="Screenshot 2021-06-03 at 2 58 59 PM" src="https://user-images.githubusercontent.com/36687547/120622216-3d65c280-c47c-11eb-8f7f-06f972c91c1e.png">
getting this error

Executing Maven:  -B -f /Users/sujithreddy/.jenkins/workspace/MobileTestScripts/pom.xml Platform=android mvn clean

[2021-06-04 18:56] Sai417 commented on #858
@saikrishna321 pls help me on this

[2021-06-09 07:59] Mukkesh20 opened #860 "IOS Simulator: Getting No chrome browser found on device issue"
Hi @saikrishna321 , Getting below error while running the test on iOS Simulator.

Command to trigger the test - Platform="ios" mvn clean -Dtest=Runner test

Capabilities -

[debug] [BaseDriver]     "platformName": "ios",
[debug] [BaseDriver]     "appium:useJSONSource": true,
[debug] [BaseDriver]     "appium:webkitDebugProxyPort": 57554,
[debug] [BaseDriver]     "appium:app": "/Users/user/Downloads

[2021-06-09 08:10] saikrishna321 commented on #860
This issue is fixed in master. Please use the master commit

[2021-06-09 08:28] Mukkesh20 commented on #860
Hi @saikrishna321 .. Currently I'm using saikrishna321 maven dependency -

<dependency>
		   <groupId> com.github.saikrishna321 </groupId>
		   <artifactId >AppiumTestDistribution </artifactId>
		   <version>12.0.2</version>
</dependency>

Can i get maven dependency for the latest commit. I used the below dependencies one by one but it throws "Missing artifact com.github.AppiumTestDistribution:App

[2021-06-09 11:02] Mukkesh20 opened #861 "How to use latest commit for maven dependency"
Hi @saikrishna321 .. Currently I'm using saikrishna321 maven dependency -

com.github.saikrishna321 AppiumTestDistribution 12.0.2
Can i get maven dependency for the latest commit. I used the below dependencies one by one but it throws "Missing artifact com.github.AppiumTestDistribution:AppiumTestDistribution:jar:latest_commit" error.

1. com.github.AppiumTestDistribution AppiumTestDistribution lat

[2021-06-09 11:10] #861 closed

[2021-06-11 01:02] #827 closed

[2021-06-11 01:02] #831 closed

[2021-06-14 05:05] Sai417 commented on #858
@saikrishna321  can you pls help me with the command to use in jenkins

[2021-06-14 09:46] #858 closed

[2021-06-14 09:46] Sai417 commented on #858
Closing

[2021-06-18 10:27] SandeepAppium opened #864 "How to add the child element in the pagefactory"
i have a scenario where the elements are present in grid, and multiple grids are present.
SessionList is the Grid under the grid there are multiple sessions present and id are different in android & ios

Current im doing, like this
@AndroidFindBy(id ="sessionList")
@iOSXCUITFindBy(id = "session-cell")
public List<MobileElement> sessionList;

from screenflows, im returning the element based on the

[2021-06-23 09:31] SandeepAppium commented on #864
@saikrishna321 pls help

[2021-06-23 09:39] saikrishna321 commented on #864
https://github.com/AppiumTestDistribution/PageObjectPatternAppium/blob/master/src/test/java/com/appium/page/objects/WelcomePageObjects.java#L58-L59

@SandeepAppium Check this

[2021-06-25 04:54] Sai417 commented on #864
How can we handle one element will be list and other will a mobile element.

[2021-06-25 08:30] SandeepAppium commented on #864
How can we handle if parent is list and child one is normal mobile element not list
@saikrishna321

[2021-07-12 11:34] chetanJTH commented on #673
will you please let me know the reason for an issue I am getting.
please check the image.
I just have executed the command: `Platform="android" mvn clean -Dtest=Runner test`

![image](https://user-images.githubusercontent.com/48850556/125280841-2778d680-e333-11eb-8e65-76201f58f0cd.png)

[2021-07-12 18:31] saikrishna321 commented on #673
Please re-open a new issue with details on exception and also which version of ATD ur using.

[2021-07-13 04:00] chetanJTH commented on #673
@saikrishna321 what is ATD?

[2021-07-13 04:01] saikrishna321 commented on #673
AppiumTestDistribution

[2021-07-13 04:02] chetanJTH commented on #673
@saikrishna321 how would i check version?

[2021-07-13 04:04] chetanJTH commented on #673
@saikrishna321 it's 12.0.2

[2021-07-13 04:05] saikrishna321 commented on #673
Please raise a new issue with full logs and details

[2021-07-13 04:07] chetanJTH commented on #673
does it store adb logs anywhere becasue it's not even starting appium.

[2021-07-13 04:27] chetanJTH opened #868 "How to Run Runner Class with Platform Name?"
I have downloaded zip and all dependency from pom.xml.
when I run the command `Platform=android mvn clean -Dtest=Runner` it gives an error.
please check the image to know about an error.

![image](https://user-images.githubusercontent.com/48850556/125390254-2e015f80-e3c0-11eb-85b0-5255daaad061.png)

environment
ATD Version: 12.0.2
appium version: 1.20
os: windows 10
Real Device: realme
Example com

[2021-07-14 04:01] chetanJTH commented on #673
@saikrishna321 created a new ticket. please reply there.

[2021-07-14 04:06] saikrishna321 commented on #868
Can you please share the logs

[2021-07-14 04:48] chetanJTH commented on #868
appium does not even start. how would I get logs? @saikrishna321

[2021-07-17 06:39] chetanJTH commented on #868
@saikrishna321: will you please help me to understand this issue?

[2021-07-17 06:52] saikrishna321 commented on #868
Sorry for delay response. You need to run the command from the root of the project. Please refer the azure yaml file

[2021-07-17 06:58] chetanJTH commented on #868
I am not getting the azure yaml file but I am running the test from the root of the project @saikrishna321

[2021-07-17 07:00] saikrishna321 commented on #868
Run the command from command line and not from IntelliJ and give a try

[2021-07-17 07:07] chetanJTH commented on #868
from which folder or file i should run the command? @saikrishna321

[2021-07-17 07:16] saikrishna321 commented on #868
From the root of the project

[2021-07-19 04:58] chetanJTH commented on #868
@saikrishna321: 'Platform' is not recognized as an internal or external command

![image](https://user-images.githubusercontent.com/48850556/126105248-935106db-4127-4df7-9e38-4cc578f741b5.png)

[2021-07-21 01:24] #849 closed

[2021-07-21 05:52] chetanJTH commented on #868
@saikrishna321 please check

[2021-07-22 08:46] chuklov opened #871 "ATD 12.0.2 doesn't work with iOS"
HI All,

I would like to check with you guys if you are going to fix this issue
 com.appium.device.HostMachineDeviceManager **getChromeVersionsFor**
INFO: Chrome not found on device - 'bd3ccfde1c14ef869656292b0460da522728aedc'
java.util.NoSuchElementException: No value present

`
    private Function<Device, AppiumDevice> getAppiumDevice(String machineIP) {
        return device -> {
            A

[2021-07-22 18:38] saikrishna321 commented on #871
This issue is fixed on master. Please use the latest commit from master.

[2021-07-22 18:39] saikrishna321 commented on #871
Add the below dependencies in your pom.xml (Master)

<dependency>
    <groupId>com.github.AppiumTestDistribution</groupId>
    <artifactId>AppiumTestDistribution</artifactId>
    <version>latest_commit</version>
</dependency>
<repositories>
        <repository>
            <id>jitpack.io</id>
            <url>https://jitpack.io</url>
        </repository>
</repositories>

Replace the latest_commit

[2021-07-22 18:41] saikrishna321 commented on #868
Please set Platform as environment. google to find out on how to set environment variables for windows

[2021-07-23 03:59] chetanJTH commented on #868
@saikrishna321 please check

![image](https://user-images.githubusercontent.com/48850556/126735828-f42e7735-0610-41b1-ac5a-6175e834ff2b.png)
![image](https://user-images.githubusercontent.com/48850556/126735861-9f2c330f-f8cf-4c7b-be92-57d3039e1cee.png)

[2021-07-23 04:22] shridharkalagi opened #872 "Run parallel tests on Sauce Labs"
How do I run tests in parallel on Sauce Labs? I tried with `Parallel` runner and ended on the same error as [here](https://github.com/AppiumTestDistribution/AppiumTestDistribution/issues/845). Is there a workaround to run all my tests on both Android and iOS platforms in Parallel?

[2021-07-23 04:46] saikrishna321 commented on #871
@chuklov Fixed in v12.0.3. Please take the latest

[2021-07-23 04:46] #871 closed

[2021-07-23 04:49] saikrishna321 commented on #872
@shridharkalagi We only support Distribute mode for clouds. If you want to Distribute all your test across android and Distribute all the test across iOS. If yes, then you need to have two runners and then trigger them in parallel in your CI.

[2021-07-23 05:22] #872 closed

[2021-07-23 07:27] saikrishna321 commented on #868
You need to set Platform=android in env

[2021-07-28 05:04] chetanJTH commented on #868
@saikrishna321 I have set the platform as an android in env and getting the same error.

[2021-07-28 05:44] chetanJTH commented on #868
@saikrishna321 please check logs. i was able to run through cmd. i want to understand this framework. i don't get why app keep launching.

<script src="https://gist.github.com/chetanJTH/82a6a3dae84cdc8bb14e66abb63b913e.js"></script>

[2021-07-28 19:11] saikrishna321 commented on #868
Logs looks fine. What you mean by app keeps launching? Can you please elaborate

[2021-07-29 04:16] chetanJTH commented on #868
my mistake. the app was launching before every test class. can we stop that? and how can we run test through testNG.xml?

[2021-08-19 06:28] chetanJTH commented on #868
@saikrishna321 i am getting issue while running test from testNG.xml

[code]

[2021-08-19 06:41] saikrishna321 commented on #868
@chetanJTH ATD takes care of orchestrating the runner. So you entry should always be the runner. Not through TestNG.xml. You are using ATD incorrectly. Please refer ReadMe and wiki.

It will great if you can use the Discussion.

[2021-08-19 06:41] #868 closed

[2021-08-20 01:48] saikrishna321 commented on #860
Fixed in v12.0.3

[2021-08-20 01:48] #860 closed

[2021-08-23 03:07] saikrishna321 commented on #756
@metalimangal We have support in master now.

[2021-09-08 05:51] SandeepAppium opened #889 "How can i run the test cases with different users"
How can i run the test cases with different users, My application will allow one login at a time.
Want to run the test cases parallelly.

Can you please share any doc to setup the reportportal setup.

Thanks!
@saikrishna321

[2021-09-08 05:52] #864 closed

[2021-09-16 10:55] deepakarorawins opened #890 "How to get distributed execution at class level using ATD"
Parallel will run all the tests across device- which helps you to get the device coverage
Distribute will distribute all the tests across devices which help you faster execution

Can we restrict distribution at class level (to run whole class on one device and other class on another device) ?
How using ATD ?

[2021-09-19 02:24] saikrishna321 commented on #890
Yes, set RUNNER_LEVEL="parallel" this will run tests at class level

[2021-09-21 06:16] #889 closed

[2021-09-22 01:16] deepakarorawins commented on #57
@saikrishna321 @qileilove Did we get this framework to run on grid?

[2021-09-22 03:32] saikrishna321 commented on #57
@deepakarorawins you are commenting on very old issue. Please raise a new issue on what scenario are you trying to do ?

[2021-09-22 03:48] deepakarorawins commented on #57
Ok I'll raise a new issue. Thank you.

[2021-09-22 12:00] deepakarorawins commented on #890
Now, I've noticed that there is no effect for my listener which I've added in config.properties.
I was following  "PagePatternAppium" then I tried putting config.properties at different places, it never get picked up.
Could you please suggest right step to provide custom listener if I'm doing it wrong ?

![image](https://user-images.githubusercontent.com/30565176/134339399-7db988ad-b40e-487f-9b10-

[2021-09-23 10:06] saikrishna321 commented on #890
@deepakarorawins Thanks for reporting. Looks like a bug. Let me investigate on it.

[2021-09-27 08:26] deepakarorawins commented on #890
I tried to fix and raised a PR: -  [ https://github.com/AppiumTestDistribution/AppiumTestDistribution/pull/891]( https://github.com/AppiumTestDistribution/AppiumTestDistribution/pull/891)

It says...
First-time contributors need a maintainer to approve running workflows. Learn more.
1 failing, 4 cancelled, and 5 successful checks

[2021-10-03 03:00] saikrishna321 commented on #890
@deepakarorawins Thanks for the contribution. I have merged the PR and make a release soon.

[2021-10-22 22:36] abubakarafzal opened #899 "Not able to install dependencies with the sample project PageObjectPatternAppium"
Clone the repo and open in IntelliJ.  Use the command mvn clean install and always face the error

`Failure to find com.epam.reportportal:agent-java-cucumber6:pom:5.0.0-RC-1 in https://jitpack.io was cached in the local repository, resolution will not be reattempted until the update interval of jitpack.io has elapsed or updates are forced`

![image](https://user-images.githubusercontent.com/493850

[2021-11-01 19:17] ganjarpanji commented on #899
im facing the same issue

[2021-12-07 17:39] Jitu1888 opened #908 "headspin : TestExecutionContext thread id and Appium driver thread id are different"

[2021-12-07 18:09] Jitu1888 commented on #908
AppiumParallelTestListener :

 TestExecutionContext testExecutionContext =
                new TestExecutionContext(iInvokedMethod.getTestMethod().getMethodName());
        testExecutionContext.addTestState("appiumDriver",AppiumDriverManager.getDriver());
        testExecutionContext.addTestState("deviceId",
                AppiumDeviceManager.getAppiumDevice().getDevice().getUdid());
        queu

[2021-12-07 18:14] Jitu1888 commented on #908
@saikrishna321

[2021-12-07 18:39] Jitu1888 commented on #908
It's working now sorry, but wanted to know why we have added the above code?

[2021-12-07 18:39] #908 closed

[2021-12-22 23:15] EINBOX opened #912 "Is it possible to use this in webdriverio tests?"
Hello,
I have a requirement that I want to run tests on iOS and on Android in parallel, can you guide me to use this appium test distribution?
Is it OK if we do configuration? As below
const host = '127.0.0.1'; const port = 4730; config.capabilities = [ { services: [ ['appium', { args: { debugLogSpacing: true, }, command: 'appium', }, ], ], specs: [ "./test/specs/test.spec.js" ], maxInstances: 2,

[2021-12-29 12:19] Siddh010 opened #914 "java.nio.file.InvalidPathException: Illegal char <:> at index 2: bs://<app_url>"
ATD version 12.0.3
Issue while reading app url for browserstack

Capabalities:
{
  "android": {
    "automationName": "UIAutomator2",
    "project": "ATD",

    "app": {
      "local": "https://github.com/shridharkalagi/AppiumSample/raw/master/VodQA.apk",
       "cloud": "bs://2523e1fed2854215d12ccb6a190ba1wb1a5ee279"
    },
    "noSign": true
  },
  "iOS": {
    "platformName": "iOS",
    "app":

[2021-12-30 03:20] saikrishna321 commented on #914
@Siddh010 I don't have a windows machine to test this. Can you please debug and raise a PR happy to help.

[2022-01-03 02:38] saikrishna321 commented on #912
@EINBOX This supports only java client. If you want to try with WDIO look at something similar at server side which support from appium 2.0 https://github.com/AppiumTestDistribution/appium-device-farm

[2022-01-04 08:35] Siddh010 commented on #914
I am getting this issue with [PageObject ](https://github.com/AppiumTestDistribution/PageObjectPatternAppium)  project and not with AppiumTestDistribution

[2022-01-12 15:53] ramgiteng opened #919 "Request: To Upgrade Log4J Version"
Hello,
**Request**: To Upgrade Log4J version
Due to the recent Log4J Security Vulnerability (https://logging.apache.org/log4j/2.x/security.html) and since I am adding your dependency in pom.xml, would it be possible to update the log4j dependency to **Log4j 2.17.1** and release a new version of ATD? I currently have ATD version 12.0.0.
Thanks.

[2022-01-19 13:00] SandeepAppium opened #921 "How to disable Debug logs"
Hi @saikrishna321 im using APIs in my automation script, but geting DEBUG logs.
How to stop getting debug logs
<img width="350" alt="Screenshot 2022-01-19 at 6 30 27 PM" src="https://user-images.githubusercontent.com/81696352/150135557-34857924-5cd6-4a94-bed8-86373002ea19.png">

Thanks!

[2022-02-19 16:15] Siddh010 opened #926 "CaptureScreenshot for BDD Cucmber framework"
While taking screen shot using PageObject Sample in Sauce Lab for Android /iOS devices   I am getting below error. Alos  do we have feature to log screen shot in reportportal using cucmber  type framework?

In  Step definition  I have used code to capture screenshot
new ScreenShotManager().captureScreenShot("login");

Error message
FAILED: runScenario("As a valid user i should be able to add comme

[2022-02-21 04:54] Siddh010 commented on #914
I changes json  Key value for app and now fixed from  "cloud": "bs://c45ee418d63142cea1f2989h561fc970cf05a5a7d" to "device ": "bs://c45ee418d63142cea1f288e561fc934398f05a5a7d"

[2022-03-17 16:03] Jitu1888 commented on #702
Suppose I am running a test method using invocation count ,  @Test(invocationCount = 500,groups = {"i-ctuScript", "a-RcRegression","i-RcPlayerAuth"})
        public void ctuResgAddCashDrop() {}. ThreadId will be same when the test case will run multiple times

[2022-03-17 19:02] Jitu1888 commented on #702
sorry , closing it. it was code side issue

[2022-04-16 04:08] #899 closed

[2022-04-19 13:59] AnilPatidar opened #938 "Headspin session is not being created , bundleid for ios and 'app' option is required for reinstall for android"
due to these changes, Headspin execution is not happening because , it does not take bundleId in the capabilities, before these changes we used have "appium:bundleId": "valid id" in the capabilities . please check the issue, after reverting back to old version, our execution worked fine

**android :**  org.openqa.selenium.SessionNotCreatedException: Unable to create a new remote session. Please ch

[2022-04-19 15:36] saikrishna321 commented on #938
Can you please share your capabilities.json file

[2022-04-20 07:01] AnilPatidar commented on #938
{
   "android":{
      "platformName":"android",
      "platformVersion":"7.1.1",
      "browserName":"android.browser.app",
      "noSign":true,
      "autoAcceptAlerts":true,
      "automationName":"UIAutomator2",
      "newCommandTimeout":600000,
      "adbExecTimeout":60000,
      "androidInstallTimeout":600000,
      "skipServerInstallation":false,
      "noReset":false,
      "autoGrantPermi

[2022-04-20 07:19] AnilPatidar commented on #938
@saikrishna321 can we have new ATD version , the last release was  on 23 Jul 2021 and later we pushed so many changes, like headspin support etc.

[2022-04-20 07:20] saikrishna321 commented on #938
Will make a release tonight

[2022-04-25 16:38] saikrishna321 commented on #938
@anandbagmar Any idea on this issue ?

[2022-04-26 03:23] anandbagmar commented on #938
@AnilPatidar - can you please check once with the latest ATD version - 723c15c425 and let us know if you still see the same problem?

[2022-04-27 09:19] AnilPatidar commented on #938
Sure let me try it

[2022-04-28 11:59] #912 closed

[2022-04-28 11:59] #919 closed

[2022-04-28 11:59] #921 closed

[2022-06-12 19:32] #926 closed

[2022-07-06 12:40] AppiumUser321 opened #961 "How to configure Lamda Test using this appium distribution framework"
@saikrishna321 Pls help in configuring Lamda Test for my project
Below details added
**In Json file added the host machine**
  "hostMachines": [
    {
      "isCloud": true,
      "machineIP": "mobile-hub.lambdatest.com/wd/hub"
    }

**And running the command**
Platform=android CLOUD_USER=LTUserName CLOUD_KEY=LTKey mvn clean -Dtest=Runner test

**Getting the below error while running the script**

[2022-07-08 10:58] saikrishna321 commented on #961
@AppiumUser321 We don't support LamdaTest parallel run yet. Please raise a PR. Happy to review and merge.

[2022-07-12 08:22] AppiumUser321 commented on #961
@saikrishna321 i have tried , but not able to doit. can you pls help me.
im new to automation.

[2022-09-13 19:22] Jitu1888 opened #978 "If instrument crashes and appium driver didnt start."
When I am going through the code for AppiumDriverManager.java: previously we were throwing exceptions when the driver failed. But now we are not throwing any exception for that reason execution is getting stuck. Because in  getNextAvailableDevice you guys are making the thread suspend.

[2022-09-13 19:23] Jitu1888 commented on #978
@saikrishna321  Can you please help us with this part urgently?

[2022-09-13 19:25] saikrishna321 commented on #978
Thanks for raising the issue. As you have already spotted the issue can u please raise a PR and I will review

[2022-09-13 19:53] Jitu1888 commented on #961
@AppiumUser321 i can help u out

[2022-09-21 03:17] #938 closed

[2022-09-26 12:55] vidyasagarpesala opened #980 "Retry feature is not working"
setRetryAnalyzer() is not being called as annotation.getRetryAnalyzerClass() returns org.testng.internal.annotations.DisabledRetryAnalyzer so it's not going inside the if condition of RetryListener class

 @Override
    public void transform(ITestAnnotation iTestAnnotation,
                          Class aClass, Constructor constructor, Method method) {
        Class<? extends IRetryAnalyzer> ret

[2022-10-12 13:40] SrinivasanTarget opened #983 "Support latest java client"

[2022-10-12 13:41] SrinivasanTarget opened #984 "Support Appium 2.0 Plugins"

[2022-10-17 07:07] AnilPatidar commented on #984
Hi @SrinivasanTarget , I am very excited and happy to see that we are finally starting the work on Appium 2.0, can you please   disclose the date on which we can expect ATD be on Appium 2.0. :)

[2022-10-19 05:16] SrinivasanTarget opened #986 "Expose APPIUM_HOME to be configurable"

[2022-10-19 05:25] SrinivasanTarget opened #987 "Remove devicemanager dependency and utilise device farm api's"

[2022-10-20 13:27] AnilPatidar opened #988 "Suddenly downloading of the jar stopped working from jitpack for atd"
Execution failed for task ':compileJava'.

     Required by:
         project :

[2022-10-21 09:28] #988 closed

[2022-10-21 09:29] AnilPatidar commented on #988
Issue was at [jitpack](https://jitpack.io/) level

[2022-11-02 13:16] SrinivasanTarget opened #990 "Create serverArguments in caps.json to handle plugins and its plugin args"
https://github.com/AppiumTestDistribution/AppiumTestDistribution/blob/master/src/main/java/com/appium/manager/LocalAppiumManager.java#L67

[2022-11-02 13:26] SrinivasanTarget opened #991 "Cleanup iOS WebkitProxy"

[2022-11-02 13:31] SrinivasanTarget opened #992 "Cleanup MongoDB related code snippets"